{if $eventsCount}
	<div class="plus_white plus_events">
    	<a class="plus_white_link" href="#">+{$eventsCount}</a>
    </div>
{/if}
    
<div class="plus_white_container" style="display: none;">
	<div class="plus_white_block">
	<a class="check_all" href="#">Отметить все</a>
	<span class="close_btn"></span>
    <ul>   	
    {foreach from=$events item=event name=events}
        <li class="none" id="evt{$event.id}">
            <div class="plus_white_comments_user">
            	<a href="/backoffice/task/card/{$event.task_id}/">{$event.manager_family} {$event.manager_name}</a>
            	<span>{$event.date_start|date_format:"%d %B %Y"} в {$event.date_start|date_format:"%H:%M:%S"}</span>
            </div>
            <p>
            	{$event.title}
            	<input type="checkbox" class="deativate_event" name="event[{$event.id}]" value="{$event.id}" /> ОК
            </p>
            <div class="plus_white_commnets_add">
            	<a href="/backoffice/task/card/{$event.task_id}/">{$event.task_name}</a>
            </div>
        </li>
    {/foreach}
    {*if $commentsCount > 10}
    	<li class="none">
            <div class="plus_white_comments_user"></div>
            <p>И ещё {$commentsCount - 10}</p>
            <div class="plus_white_commnets_add"></div>
        </li>
    {/if*}
    </ul>
    </div>
</div>