<table>
	<tr>
		{foreach from=$table->getFields() item=field}
			<th>{$field->getViewname()}</th>
		{/foreach}
	</tr>
	<tr>
		{foreach from=$table->getFields() item=field}
			{if !$field->isHidden()}
			<th>{$field->renderFilter()}</th>
			{/if}
		{/foreach}
	</tr>
	{foreach from=$table->getRows() item=row}
	<tr>
		{foreach from=$table->getFields() item=field}
			<td>{$field->renderCell($row)}</td>
		{/foreach}
	<tr>
	{/foreach}
</table>
{if $pages}
<nav>
<title>Смотри также:</title>
{foreach from=$pages item=page key=url}
<a href="{$baseURL}/{$url}">{$page.title}</a>
{/foreach}
</nav>
{/if}