{{if items}}
{{items}}
<div class="serp-item">
	<div class="title"><a href="{{url}}">{{highlight value="{{title}}" words="{{words}}" }}</a></div>
	<div class="content">{{if id}}<a href="{{url}}">
		<img class="thumb" src="{{module.image.getimage src="goods.thumb.{{id}}.150x150" name="{{thumb}}"}}" alt="{{title}}" title="{{title}}" /></a>
		{{endif}}{{highlight value="{{text}}" words="{{words}}" }}
		
	{{if price}}<br><br><span class="searched-price">{{price}} руб.</span>{{endif}}
	</div>
</div>
<div style="clear:both;" />
{{/items}}
{{else}}
<div class="empty-result">К сожалению, ничего не найдено</div>
{{endif}}