{if $fieldDataError}<div class="home_eror" style="margin-bottom:10px;">
<ul>{foreach from=$fieldDataError item=error}<li>{$error}</li>{/foreach}</ul>
</div>{/if}
{if $saved}<div class="home_success" style="margin-bottom:10px;">Сохранено</div>{/if}

<div class="home_messages">
<form action="{$formURL}" method="post" enctype="multipart/form-data" onsubmit="return checkFieldForm(this);">
<input type="hidden" name="id" value="{$data.id}" />
<table>
<tr>
	<td class="name">Таблица</td>
	<td class="form"><select name="data[obj_id]">
	{html_options options=$tables selected=$data.obj_id}
	</select></td>
</tr>
<tr>
	<td class="name">Название поля в таблице</td>
	<td class="form"><input type="text" name="data[name]" value="{$data.name}" id="FieldName"/></td>
</tr>
<tr>
	<td class="name">Имя-отображение</td>
	<td class="form"><input type="text" name="data[viewname]" value="{$data.viewname}" /></td>
</tr>
<tr>
	<td class="name">Подсказка</td>
	<td class="form">
		<input type="text" name="data[hint]" value="{$data.hint}" />
		<div class="field_hint">Будет отображаться под элементом редактирования</div>
	</td>
</tr>
<tr>
	<td class="name">Тип поля</td>
	<td class="form">
	<select name="data[type]" id="FieldType">
	{html_options options=$fieldTypes selected=$data.type}
	</select>
	</td>
</tr>
{$details}

<tr>
	<td class="name">SQL-фильтр</td>
	<td class="form"><input type="text" name="data[filter]" value="{$data.filter|escape}" /></td>
</tr>

<tr>
	<td class="name">Показывать только при редактировании</td>
	<td class="form"><input type="checkbox" name="data[hidecolumn]" {if $data.hidecolumn}checked="checked"{/if} /></td>
</tr>
<tr>
	<td class="name"><span title="Это поле является URL-полем для данной таблицы">URL</span></td>
	<td class="form"><input title="Это поле является URL-полем для данной таблицы" type="checkbox" name="data[is_url_field]" {if $data.is_url_field}checked="checked"{/if} /></td>
</tr>
<tr>
	<td class="name">Выравнивание</td>
	<td class="form">
		<select name="data[align]">{html_options options=$aligns selected=$data.align}</select>
	</td>
</tr>
</table>
<div class="sep">
    <input class="home_but_save" type="submit" value="" />
    {if $data.id} или <input type="submit" onclick="return deleteFieldConfirm();" name="delete_this_record" value="Удалить" />{/if}
</div>
</form>
</div>
<script>
{literal}
$('#FieldType').change(function() {
	var tr = this.parentNode.parentNode;
	var data = {
		target: 'getDetails', 
		type_id : this.value, 
		table_id : $('input[name="data[obj_id]"]').eq(0).val() 
	}
	$.get(window.location.pathname, data, function (html) {
		$('form tr.uploaded').remove();
		$(tr).after(html);
	});
});
function loadParentTableSortFieldSelect(select) {
	var tableID = $(select).val();
	$.get(window.location.pathname, {target:'getTableFields', table_id: tableID}, function (html) {
		var fields = eval('(' + html + ')');
		$('#SortColumn > input').remove();
		$('#SortColumn > select').remove();
		var select = $('<select>').attr('name', 'data[sort_column]');
		for(var i = 0; i < fields.length; i++) {
			var option = $('<option>').attr('value', fields[i].id).text(fields[i].viewname);
			select.append(option);
		}
		$('#SortColumn').prepend(select);
	});
}
function checkFieldForm(form) {
	var fieldName = $('#FieldName');
	var fieldNameRexexp = /^[-\w]+$/;
	if(!fieldName.val().match(fieldNameRexexp)) {
		fieldName.focus();
		addError(fieldName, "Имя не должно быть пустым и может содержать только цифры, латинские буквы, минус и символ нижнего подчеркивания");
		return false;
	}
	return true;
}
function addError(element, errorText) {
	var errorElement = $(element).parent().children('label.error');
	if(!errorElement.length) {
		var errorElement = $('<label>').addClass('error').appendTo($(element).parent());
	}
	errorElement.text(errorText);
}
function deleteFieldConfirm() {
	return confirm("Вы действительно хотите удалить это поле?");
}

function addMDFTable() {
	var container = $('.add-table').eq(0).clone();
	container.find('.table select option').removeAttr('selected');
	container.find('.field').hide();
	container.find('.options').hide();
	$('.add-table:last').after(container);
}
function loadMDFTableFields(select) {
	select = $(select);
	var tableID = select.val();
	$.get(window.location.pathname, {target:'getTableFields', table_id: tableID}, function (html) {
		var fields = eval('(' + html + ')');
		
		var fieldsSelect = select.parents('.add-table').find('.field select').eq(0);		
		fieldsSelect.children().remove();
		for(var i = 0; i < fields.length; i++) {
			var option = $('<option>').attr('value', fields[i].id).text(fields[i].viewname);
			fieldsSelect.append(option);
		}
		select.parents('.add-table').children().show();
		enumerateMDFields();
	});
}
function enumerateMDFields() {
	$('.add-table').each(function(number) {
		var selName = 'data[_md][tables][' + number + ']';
		$(this).find('.table select').attr('name', selName);
		
		var fieldName = 'data[_md][fields][' + number + ']';
		$(this).find('.field select').attr('name', fieldName);
		
		var checkboxName = 'data[_md][notnull][' + number + ']';
		$(this).find('.options input[type="checkbox"]').eq(0)
			.attr('name', checkboxName)
			.attr('id', 'md_notnull_' + number);
		
		$(this).find('.options label').eq(0).attr('for', 'md_notnull_' + number);
		
		var checkboxName = 'data[_md][tree][' + number + ']';
		$(this).find('.options input[type="checkbox"]').eq(1)
			.attr('name', checkboxName)
			.attr('id', 'md_tree_' + number);
		
		$(this).find('.options label').eq(1).attr('for', 'md_tree_' + number);
		
		
	});
}
{/literal}
</script>
{literal}<style>
label.error {display:block; color:red;}
</style>{/literal}