<tr class="uploaded">
<td class="name" style="vertical-align:top;">Связные таблицы</td>
<td class="form">
	{foreach from=$md_fields item=md_field key=number}
	<div class="add-table {if $md_field.id}real{/if}">
		<div class="table">
			<label>Выберете таблицу:</label><br />
			<select name="data[_md][tables][{$number}]" onchange="loadMDFTableFields(this);">
				<option value="0">Не выбрано</option>
				{html_options options=$tables selected=$md_field.table_id}
			</select>
		</div>
		<div class="field">
			<label>По какому полю сортировать:</label><br />
			<select name="data[_md][fields][{$number}]">
			{foreach from=$md_field.table_fields item=table_field}
			 <option value="{$table_field.id}" {if $table_field.id == $md_field.table_sort_field_id}selected="selected"{/if}>{$table_field.viewname}</option>
			{/foreach}
			</select>
		</div>
		<div class="options">
			<input type="checkbox" name="data[_md][notnull][{$number}]" value="1" {if $md_field.notnull}checked="checked"{/if}/>
			<label>Запретить пустые значения</label><br />
			<input type="checkbox" name="data[_md][tree][{$number}]" {if $md_field.tree}checked="checked"{/if}/>
			<label>Показывать в виде дерева</label>
		</div>
	</div>
	{/foreach}
	<div class="add_ico" style="clear:both;"><a href="#" onclick="addMDFTable(); return false;">Добавить таблицу</a></div>
</td>
</tr>