<tr class="uploaded">
<td class="name">Родительская таблица</td>
<td class="form"><select name="data[param]" onchange="loadParentTableSortFieldSelect(this);">
{html_options options=$tables selected=$data.param}
</select></td>
</tr>
<tr class="uploaded">
<td class="name">Сортировать по полю:</td>
<td class="form" id="SortColumn">
	<!-- input type="text" name="data[sort_column]" value="{$data.sort_column}"/-->
	{if isset($parent_table_fields)}<select name="data[sort_column]">
	{foreach from=$parent_table_fields item=pField}
	<option value="{$pField.id}" {if $data.sort_column == $pField.name}selected="selected"{/if}>{$pField.viewname}</option>
	{/foreach}
	</select>{/if}
</td>
</tr>
<tr class="uploaded">
<td class="name">Дополнительные опции</td>
<td class="form">
	<input type="checkbox" name="data[_descendant][notnull]" {if $data._descendant.notnull}checked="checked"{/if} id="NotnullOption"/>
	<label for="NotnullOption">Запретить пустые значения</label>
	<input type="checkbox" name="data[_descendant][tree]" {if $data._descendant.tree}checked="checked"{/if} id="TreeOption"/>
	<label for="TreeOption">Показывать в виде дерева</label>
	<input type="checkbox" name="data[_descendant][sections]" {if $data._descendant.sections}checked="checked"{/if} id="SectionsOption"/>
	<label for="SectionsOption" title="Если таблица имеет поле потомок на другую таблицу, то записи будут разделяться по секциям">Разделить на секции</label>
</td>
</tr>