<tr class="uploaded" valign="top">
	<td class="name" style="vertical-align:top;">Размер изображений:</td>
	<td class="form"><select name="data[param]">
		<option value="">Не изменять</option>
		<option value="3" {if $data.param == 3}selected="selected"{/if}>Врисовать в прямоугольник</option>
		<option value="4" {if $data.param == 4}selected="selected"{/if}>Обрезать под размеры прямоугольника</option>
	</select>
	<p>
	<label>Размеры прямоугольника:</label><br /><br />
	<input type="text" name="data[_image][width]" value="{$data._image.width}" style="width:50px;"/> 
	на 
	<input type="text" name="data[_image][height]" value="{$data._image.height}"style="width:50px;"/>
	px.
	</p>
	</td>
</tr>