<tr class="uploaded">
<td class="name">Редатировать время</td>
<td class="form"><input type="checkbox" name="data[param]" value="time" {if $data.param}checked="checked"{/if}/></td>
</tr>
<tr class="uploaded">
<td class="name">Маска для даты</td>
<td class="form">
	<input type="text" name="data[param2]" value="{$data.param2|escape}"/>
	<div class="field_hint">Маска в формате, пригодном для использования функцией strftime()</div>
</td>
</tr>