<tr class="uploaded">
	<td class="name">Указатель на поле:</td>
	<td class="form">
	<select name="data[param]">
	{html_options options=$vdFieldPairs selected=$data.param}
	</select>
	</td>
</tr>
<tr class="uploaded">
	<td class="name">Осуществить связь по полю:</td>
	<td class="form">
	<select name="data[param2]">
	{html_options options=$selectedTableFields selected=$data.param2}
	</select> => ID
	</td>
</tr>