<tr class="uploaded">
<td class="name">Тип перечисления:</td>
<td class="form"><select name="data[param]">
{html_options options=$enums selected=$data.param}
</select></td>
</tr>
<tr class="uploaded">
<td class="name">Дополнительные опции</td>
<td class="form">
	<input type="checkbox" name="data[_enums][notnull]" {if $data._enums.notnull}checked="checked"{/if} id="NotnullOption"/>
	<label for="NotnullOption">Запретить пустые значения</label>
</td>
</tr>