<tr>
	<td class="name">Параметр 1</td>
	<td class="form">
	<input type="text" name="data[param]" value="{$data.param}" />
	</td>
</tr>
<tr>
	<td class="name">Параметр 2</td>
	<td class="form">
	<input type="text" name="data[param2]" value="{$data.param2}" />
	</td>
</tr>