<div class="plus">
        <div>
            <div>
                <ul>
                    {if $userTasksCounter.new_fire}<li><a class="red" href="/backoffice/task/mylist/?fire=1&new=1&worker_id={$workerID}">+{$userTasksCounter.new_fire}</a></li>{/if}
                    {if $userTasksCounter.new}<li><a class="green" href="/backoffice/task/mylist/?new=1&worker_id={$workerID}">+{$userTasksCounter.new}</a></li>{/if}
                    <li><a href="/backoffice/task/mylist/">{$userTasksCounter.total}</a></li>
                    <li class="none"><a href="/backoffice/task/edit/">+</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    {if $commentsCount}
    <div class="plus_white">
    	<a class="plus_white_link" href="#">+{$commentsCount}</a>
    </div>
    {/if}
    
    <div class="plus_white_container" style="display: none;">
        <div class="plus_white_block">
        	<a href="#" class="check_all">Отметить все</a>
			<span class="close_btn"></span>
    <ul>   	
    {foreach from=$comments item=comment name=comments}
        <li class="none">
            <div class="plus_white_comments_user"><a href="#">{$comment->getCommentatorName()}</a><span>{$comment->getTime()|date_format:"%d %B %Y"} в {$comment->getTime()|date_format:"%H:%M:%S"}</span></div>
            <p>{$comment->getTextPreview()}</p>
            <label><input type="checkbox" class="deativate_comment" name="comment[{$comment->getID()}]" value="{$comment->getID()}" /> Прочитал</label>
            <div class="plus_white_commnets_add"><a href="/backoffice/task/card/{$comment->getTaskID()}/">{$comment->getTaskName()}</a></div>
        </li>
    {/foreach}
    {if $commentsCount > 10}
    	<li class="none">
            <div class="plus_white_comments_user"></div>
            <p>И ещё {$commentsCount - 10}</p>
            <div class="plus_white_commnets_add"></div>
        </li>
    {/if}
    </ul>
        </div>
    </div>