<div class="c2 green">
	<form id="GroupEditForm" enctype="multipart/form-data" method="post" action="{$form.action}">
	{foreach from=$form.ids item=id}
	<input type="hidden" value="{$id}" name="_item[{$id}]">
	{/foreach}
	<input type="hidden" value="{$field.name}" name="_field_name">
	<table>
	<tr>
		<td width="150"><b>{$field.name}</b></td>
		<td>{$field.edit_html}</td>
	</tr>
	<tr>
		<td class="bott"><label><input type="image" name="imageField" src="/cms/images.old/save.jpg"></label></td>
		<td class="bott"></td>
	</tr>
	</table>
	</form>
</div>