		<div id="index-slider" class="sliderTopShadow sliderBottomShadow">
			<span class="borders"></span>
			<a class="special-offer" href="#"></a>
			<a href="#" class="prev"></a>
			<a href="#" class="next"></a>
			<div class="slide-overlay">
				<div class="slides">
					<ul>
					{{slides}}
						<li>
							<div class="slide">
								{{content}}
							</div>
						</li>
					{{/slides}}
					</ul>
				</div>
			</div>
		</div>