<h1>Настройки модуля {$module->getTitle()}</h1>
<div class="home_messages">
	<form action="" method="post">
	<table>
		{foreach from=$fields item=field key=fieldName}
		<tr>
			<td class="name">{$field.title}</td>
			<td class="form">
				{if $field.type == 'string' or $field.type == 'int'}
				<input type="text" name="config[{$fieldName}]" value="{$field.value|escape}" />
				{/if}
				{if $field.type == 'enum'}
				<select name="config[{$fieldName}]">
				{html_options options=$field.values selected=$field.value}
				</select>
				{/if}
				{if $field.type == 'text'}
					<textarea rows="auto" cols="auto" name="config[{$fieldName}]">{$field.value}</textarea>
				{/if}
			</td>
		</tr>
		{/foreach}
		<tr><td colspan="2"><input type="submit" name="save" value="Сохранить" /></td></tr>
	</table>
	</form>
</div>

{literal}<style>
.home_messages td.name {width: 130px;}
</style>{/literal}