{$tableHTML}
{* <table class="pretty">
	<tr>
		<th>Название</th>
		<th>Описание</th>
		<th>Действия</th>
	</tr>
	{foreach from=$modules item=module}
	<tr>
		<td>{$module->getTitle()}</td>
		<td>{$module->getDescription()}</td>
		<td>
			{if isset($installed[$module->getName()])}
			<a href="{$basePath}/remove/{$module->getName()}">Удалить</a>
			<a href="{$basePath}/config/{$module->getName()}">Настроить</a>
			{else}
			<a href="{$basePath}/install/{$module->getName()}">Установить</a>
			{/if}
		</td>
	</tr>
	{/foreach}
</table>
*}