<h1>Шаблоны модуля {$module->getTitle()}</h1>

<p><a href="#" onclick="newTemplate(); return false;">Создать новый</a></p>
<div id="EditForm">
	<form action="" method="post" onsubmit="return validateTemplateForm(this);">
		<input type="hidden" name="template[id]" value="" />
		<p>
			<label>Название шаблона:</label><br />
			<input type="text" name="template[name]" value="" />
		</p>
		<p>
			<label>Содержимое шаблона:</label><br />
			<textarea name="template[content]" class="htmlcode"></textarea>
		</p>
		<p>
			<input type="submit" name="save" value="Сохранить" />
			<input type="submit" name="delete" value="Удалить" />
			<button onclick="$('#EditForm').hide(); return false;">Отмена</button>
		</p>
	</form>
</div>
<table class="pretty">
	<tr>
		<td>id</td>
		<td>name</td>
		<td>content</td>
	</tr>
	{foreach from=$templates item=template}
	<tr>
		<td><a href="#" class="edit_module_template" title="Редактировать шаблон">{$template.id}</a></td>
		<td>{$template.name|escape}</td>
		<td>{$template.content|escape}</td>
	</tr>
	{/foreach}
</table>

<script>
var basePath = '{$basePath}';
var moduleName = '{$module->getName()}';
{literal}

function newTemplate() {
	var form = $('#EditForm');
	form.find('input[type="text"]').val('');
	form.find('textarea').val('');
	form.find('input[name="delete"]').hide();
	window.codeEditors[0].setValue("");
	form.show();
	window.codeEditors[0].refresh();			
	form.focus();
}

function editTemplate(data) {
	var form = $('#EditForm');
	form.find('input[name="template[id]"]').val(data.id);
	form.find('input[name="template[name]"]').val(data.name);
	form.find('textarea').val(data.content ? data.content : "");
	form.find('input[name="delete"]').show();
	window.codeEditors[0].setValue(data.content ? data.content : "");
	form.show();
	window.codeEditors[0].refresh();			
	form.focus();
}

$('a.edit_module_template').click(function () {
	var id = parseInt(this.textContent);
	var url = basePath + '/template/' + moduleName + '/' + id + '/';
	$.get(url, function (html) {
		var data = eval('(' + html + ')');
		
		if(data.error) {
			alert(data.error);
		} else {
			editTemplate(data);
		}
	});
	return false;
});

function validateTemplateForm(form) {
	form = $(form);
	var name = form.find('input[name="template[name]"]');
	if(name.val().length == 0) {
		alert("У шаблона должно быть имя");
		name.focus();
		return false;
	}
	
	return true;
}
{/literal}
</script>