/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/

.uploadify {
	position: relative;
}
.uploadify-button {
	display: inline-block;
	width: 24px;
	height: 24px;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	width: 100%;
	background: url(uploadifySelectSprite.png) left top no-repeat;
}
.uploadify:hover .uploadify-button {background-position: left bottom;}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	display: inline-block;
	background-color: #f4e6c4;
	border-radius: 7px;
	font: 11px Tahoma;
	color: #5c5d5f;
	height: 8px;
	overflow: hidden;
	margin-top: 5px;
	margin-right: 3px;
	max-width: 350px;
	padding: 0 8px 16px 8px;
	line-height: 24px;
	word-wrap: break-word;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url(uploadifyCancel.png) center center no-repeat;
	float: right;
	margin-top: 6px;
	height:	12px;
	text-indent: -9999px;
	width: 12px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	display: none;
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}

.uploading-files-wrap {
	margin: 10px 0;
}