<ul>
	{foreach from=$menu item=item}
	<li>
		<a {if $item.active}class="active"{/if} href="{$item.href}" title="{$item.table_name}">{$item.title}</a>
		{if isset($item.children)}{$item.children}{/if}
	</li>
	{/foreach}
</ul>