/* ----------- plugin::scroll ----------- */
.scroll, .scroll-horizontal, .scroll-pane, .scroll-wrap{
    position:relative;
    overflow:hidden;
    zoom:1;
}
.scroll-wrap, .scroll, .scroll-horizontal{ width:100%; height:100%; }
.scroll-pane{ padding-right:7px; }
.scroll-horizontal .scroll-pane{ padding-right:0; padding-bottom:0px; }
.scroll-track{
    position:absolute;
    top:0; bottom:0;
    right:0;
    width:7px;

    z-index:1;
}
.touch .scroll-track{ }
.scroll-horizontal .scroll-track{
    bottom: 5px;
    height: 15px;
    position: fixed;
    right: 10px;
    top: auto;
    width: auto;

    opacity:0.5;

    -webkit-transition:opacity .5s;
    -moz-transition:opacity .5s;
    -ms-transition:opacity .5s;
    -o-transition:opacity .5s;
    transition:opacity .5s;
}
.scroll-horizontal .scroll-track:hover{
    opacity: 1;

}
.scroll-track .scroll-drag{
    position:relative;
    width:100%; margin-top:0;
    background:red;
    border-radius:10px;
}
.scroll-horizontal .scroll-track .scroll-drag{
    height:15px; margin-left:0;
    margin-top:0 !important;
    width:auto;
}
.scroll.hover > .scroll-track,
.scroll.mousedown > .scroll-track,
.scroll-horizontal.mousedown > .scroll-track,
.scroll-horizontal.hover > .scroll-track{  }
.touch.hover > .scroll-track{ }
.user-select-none, .user-select-none *{
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.scroll.mousedown > .scroll-track .scroll-drag, .scroll-horizontal.mousedown > .scroll-track .scroll-drag{background:red;  }
.touch-true{ overflow:auto !important }
.scroll.scroll-off > .scroll-track, .scroll-horizontal.scroll-off > .scroll-track{ display:none; }
/* ----------- end::scroll ----------- */
.scroll-horizontal.mousedown .scroll-track {
    opacity: 1;
}