.table-center{
    margin-left: 306px;
    position: relative;
}
.table-center-line{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 11px;
   background: url("/cms/images/st/table-center-line.png") repeat-y 0 0;
    z-index: 1;
}
.table-cente-wrap{
    overflow: auto;
    position: relative;
    overflow-y: hidden;
}
#new-table  input[type="checkbox"],.bg_nr51 input[type="radio"] {
    vertical-align: middle;
}
#new-table  .st .st_info_block label{
    top: 0 !important;
    vertical-align: baseline;
}
#new-table .st .st_info_block img{
    vertical-align: middle;
}
#new-table .st .st_block_top .st_info_block .insade_block_nr2 span img {
    cursor: pointer;
    margin: 0 0 2px 5px;
}
#new-table  .st .st_block_top .st_info_block .insade_block_nr3{
    padding-top: 8px;
    background: url("/cms/images/project_block_dat_sep.gif") no-repeat scroll 50% -12px transparent;
}
.sort-sort{
    zoom: 1;
    position: relative;
}
.sort-sort:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.sort-btn{
    position: relative;
    float: right;
    margin-left: 7px;
    text-transform: uppercase;
    color: #fff;
    font-size: 9px;
    text-decoration: none;
    font-family: Tahoma,sans-serif;
    text-shadow: 0 0 1px rgba(17, 65, 112, 0.8),0 0 1px rgba(17, 65, 112, 0.8),0 0 1px rgba(17, 65, 112, 0.8),0 0 1px rgba(17, 65, 112, 0.8);
    width: 108px;
    height: 33px;
    line-height: 28px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    background: url("/cms/images/st/sort-btn.png") no-repeat 0 0;
    font-weight: bold;
    display: inline-block;
}
.sort-btn:hover{
    background-position: 0 100%;
}
#new-table .sep{
    margin: 17px 0 15px;
}
.select-wrap{
    color: #000000;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 11px;
    padding-top: 5px;
}
.select-wrap select{
    border-color: #AAADB2 #E3E3EB #E3E3EB;
    height: 22px;
    margin-right: 6px;
    vertical-align: middle;
    width: 158px;
    padding-left: 3px;
    color: #000;
    font-size: 11px;
    font-family: Arial,sans-serif;
}
.select-wrap input{
    border-color: #AAADB2 #E3E3EB #E3E3EB;
    height: 20px;
    margin: 0 3px;
    text-align: center;
    vertical-align: middle;
    width: 24px;
    color: #000;
    font-size: 11px;
    font-family: Arial,sans-serif;
}
.select-wrap select.sort-select{
    margin-left: 42px;
    width: 248px;
}
.st .st_block_top {
    overflow: hidden;
    padding: 20px 2% 15px;
}
input.dp{
    background: url("/cms/images/st_block_data.gif") no-repeat scroll 100% 50% transparent;
    border: 0 none;
    color: #000000;
    cursor: pointer;
    float: left;
    font: 11px/14px Arial,Helvetica,sans-serif;
    margin-top: 8px;
    padding-right: 15px;
    text-align: left;
    width: 90px;
}
#new-table .events-pro td{
   background: #f8f7ef;
    font-size: 12px;
    color: #00174a;
    font-family: Arial,sans-serif;
    height: 41px;
}
.events-item{
    display: inline-block;
    text-align: center;
width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -ms-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
}
.events-item i{
    display: block;
    font-style: normal;
}
.events-item i span{
    font-style: normal;
    color: #0034a7;
    font-size: 12px;
    font-family: Arial,sans-serif;
    border-bottom: 1px dotted #0034a7;
    cursor: pointer;
}
.events-item.active{
    background: #0034a7;
    color: #fff;
    position: relative;
}
.events-item.active i span{
    color: #fff;
    border-bottom-color: transparent;
}
.st .st_table table.nr1 td div i{
    font-style: normal;
    color: #7d7d7d;
    font-family: Tahoma,sans-serif;
    font-size: 9px;
}
.url-hidden{
    display: none;
}
.nr1.active .url-hidden{
    display: block;
}
#new-table .st .st_table table.nr2 td{
    color: #9aa4af;
    font-size: 12px;
}
#new-table .st .st_table td{
    height: 41px;
}
#new-table  .two-td td{
    padding: 0;
    border-left: 1px solid #B8C8D9;
}
#new-table  .two-td td:first-child{
    padding: 0 40px 0 19px;
}
.star {
    padding: 5px;
    text-align: center;
    padding-left: 0 !important;
}
.star div{
    display: block;
    padding: 0 !important;
    font-style: normal;
    color: #00174a;
    font-size: 12px;
    font-family: Arial,sans-serif;
}
#new-table .st .st_table .data td{
   height: 58px;
}
#new-table .st .st_table .total td{
    height: 52px;
}
#new-table .two-td td.star-wrap{
    width: 29px;
}
.star-wrap-bg{
   background: #ccff8f;
}
#new-table .two-td td.red-border{
    -webkit-box-shadow: 0px 0px 0px 4px #ff3700 inset;
    -moz-box-shadow: 0px 0px 0px 4px #ff3700 inset;
    -ms-box-shadow: 0px 0px 0px 4px #ff3700 inset;
    box-shadow: 0px 0px 0px 4px #ff3700 inset;
}
.events-item-hint{
    position: absolute;
    left: 34px;
    top:-16px;
    background: #f8f7ef;
    border: 1px solid #c8d5e2;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(33, 44, 66, 0.75);
    -moz-box-shadow: 0px 2px 6px 0px rgba(33, 44, 66, 0.75);
    -ms-box-shadow: 0px 2px 6px 0px rgba(33, 44, 66, 0.75);
    box-shadow: 0px 2px 6px 0px rgba(33, 44, 66, 0.75);
    padding: 17px 19px 9px;
    width: 368px;
    z-index: 1;
    display: none;
    text-align: left;
    cursor: default;
}
.events-item-hint h3{
    color: #000000;
    margin: 0;
    padding: 0 90px 18px 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    font-family: Tahoma,sans-serif;
}
.close-hint{
    background: url("/cms/images/st/close-hint.png") no-repeat scroll 100% 50% transparent;
    color: #4A5F85;
    cursor: pointer;
    font-family: Tahoma,sans-serif;
    font-size: 11px;
    padding-right: 16px;
    position: absolute;
    right: 20px;
    top: 12px;
    z-index: 1;
}
.close-hint span{
    border-bottom: 1px dashed #4a5f85;
}
.events-item-hint p{
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background: #f4e6c4;
    margin: 0 0 10px;
    padding: 4px 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000000;
}
.events-item-hint p a{
    color: #000000;
    font-size: 12px;
    font-family: Tahoma,sans-serif;
    text-decoration: underline;
}
.events-item-hint p.warn{
    background: #f4d7c4;
}
.events-item-hint p.warn a{
    color: #740000;
}
.arr-hint{
    background: url("/cms/images/st/arr-hint.png") no-repeat scroll 0 -1px transparent;
    height: 27px;
    left: -14px;
    position: absolute;
    top: 17px;
    width: 15px;
}
.pos-right .events-item-hint{
    right: 34px;
    left: auto;
}
.pos-right .events-item-hint .arr-hint{
    background-position: 100% -1px;
    left: auto;
    right: -14px;
}
.events-item-body{
    overflow: auto;
    max-height: 450px;
}
@media only screen  and (max-width: 1280px),
only screen and (max-device-width: 1280px){
    .events-item-hint{
	width: 310px;
	padding: 7px 9px 1px;
    }
    .close-hint{
	right: 8px;
	top: 4px;
    }
}
@media only screen  and (max-width: 1154px),
only screen and (max-device-width: 1154px){
    .events-item-hint{
	width: 210px;
	padding: 7px 9px 1px;
    }
    .close-hint{
	right: 8px;
	top: 4px;
    }
}

/*03.03.2013++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#new-table .st .st_table td {
    height: 31px;
}
#new-table .st .st_table .total td{
    height: 35px;
}
.st .st_table table.nr1 {
    width: 272px;
}
.table-center {
    margin-left: 272px;
    position: relative;
}
.st .st_table table.nr2 td{
    padding: 0 1px 0 0;
    min-width: 13px;
}
.st .st_table table.nr2 td.month_end {
    padding: 0;
}
.st .st_table table.nr2 tr.total td div {
    background: url("../st_total.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font: 10px/20px arial;
    height: 20px;
    text-align: center;
    width: 18px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}
.events-item {
    border-radius: 12px 12px 12px 12px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin: 0 -4px;
    text-align: center;
    width: 24px;
}
#new-table .st .st_table table.nr2 td {
    color: #9AA4AF;
    font-size: 11px;
}
.st .st_table table.nr2 tr.data td span {
    color: #000000;
    font: 10px arial;
}
#new-table .two-td td:first-child {
    padding: 0 20px 0 9px;
}
.st .st_table table.nr1 td {
    padding: 0 20px 0 9px;
}
#new-table .two-td td.star-wrap {
    width: 23px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
#new-table label {display:inline;}
span.green {border:none; background:none;}
#new-table .two-td td:first-child >div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 204px;
}
