<ul class="breadcrumbs">
	{foreach from=$breadcrumbs item=page name=breadcrumbs}
	{if !$smarty.foreach.breadcrumbs.last}
	{if !isset($page.dependentTables)}
	<li>
		<a href="{$baseURL}{$page.href}">{$page.title}</a>
		{if isset($page.fieldViewname)}<span class="hint">{$page.fieldViewname}</span>{/if}
	</li>
	<li class="delimeter">/</li>
	{else}
	<li class="dependency">
		<a href="{$baseURL}{$page.href}">{$page.title}</a>
		<ul>
		{foreach from=$page.dependentTables item=table}
		{if !isset($table._fields)}
			<li><a href="{$baseURL}{$page.href}{$page.rowID},{$table.id},{$table.fid}/">{$table.viewname}</a></li>
		{else}
			<li>
				<span>{$table.viewname}</span>
				<ul>
					{foreach from=$table._fields item=field}
					<li><a href="{$baseURL}{$page.href}{$page.rowID},{$table.id},{$field.id}/">{$field.name}</a></li>
					{/foreach}
				</ul>
			</li>
		{/if}
		{/foreach}
		</ul>
	</li>
	<li class="delimeter">/</li>
	{/if}
	{else}
	<li class="end">{$page.title}{if isset($page.fieldViewname)}<span class="hint">{$page.fieldViewname}</span>{/if}</li>
	{/if}
	{/foreach}
</ul>
<br clear="all" />