<div class="but_top">
{if isset($operations.record.edit)}{$operations.record.edit->setImageSource("/cms/images.old/record.jpg")->renderLink(null)}{/if}
</div>
<div class="table">
<!--блок с таблицей -->                             
<div class="table_top"><div>
{if $paginator->getPagesCount() > 1}<p class="lefter" id="pagenator_up">Страницы: {$paginator->getPaginator()}</p>{/if}
<p class="righter">Выводить по: {$paginator->getOnpageSelector()}</p>
</div></div>
                      
<table cellspacing="0" class="td30" id="ItemListTable">
<!-- Названия столбцов -->
 <tr class="th">
	<th width="20"></th>
	{foreach from=$data.fields item=field}{if $field->isVisible()}
	<th align="center"><a href="{$urlBuilder->orderBy($field)}">{$field->getViewname()}</a></th>
	{/if}{/foreach}
	<td align="center" class="width124">{if $has_hidden_fields}<a href="{$urlBuilder->showHiddenColumns()}"><img src="/cms/images/btn6.png" /></a>{/if}</td> 
 </tr>
 <!--  Фильтры -->
 <tr id="form-filters">
    <td><input type="checkbox" name="check_all" class="check_all_rows" /></td>
    {foreach from=$data.fields item=field}{if $field->isVisible()}
    <td>{$field->renderFilter()}</td>
    {/if}{/foreach}
    <td align="center" class="width124"></td> 
 </tr>
<!-- Данные -->
{include file="table/table-datarows.html"}
<!-- Итого -->
<tr >
	<td><input type="checkbox" name="check_all" class="check_all_rows" /></td>
    <td><b><small>Итого</small></b></td>
    {foreach from=$data.fields item=field}{if $field->isVisible() && !($field instanceof IdField)}
    <td><b><small>{$field->total()}</small></td>
    {/if}{/foreach}
    <td align="center" class="width124"></td> 
 </tr>
</table>

<!-- Групповые операции -->
<table cellspacing="0">
  <tr class="end">
    <td colspan="8">
	   	<div class="groupSelectActionButton" id="GroupSelectContainer">
		   	<img height="22" width="38" alt="С отмеченными:" title="С отмеченными" src="/cms/images.old/arrow_ltr.png" class="selectallarrow">
			<select id="section={$section.id}&page={$page.id}&pagenumber={$pageNumber}&onpage={$onPage}">
				<option selected="selected">Ничего не делать</option>
				<optgroup label="Изменить значение:">
				<!-- Сюда вставить возможные операции -->		
				{foreach from=$data.fields item=field}
				{if $field->isEditable()}<option value="{$field->getName()}">{$field->getViewname()}</option>{/if}
			    {/foreach}
			    </optgroup>
			    {if !$isRecycle}<option value="recycle" >Поместить в корзину</option>{else}<option value="recycle-restore" >Восстановить из корзины</option>{/if}
			    <option value="delete" class="delete">Удалить</option>
			    <optgroup label="Выполнить операцию:">
			    	{foreach from=$operations.table item=operation}
			    	{if $operation->showInGroupSelect()}
						<option value="{$operation->getName()}" class="operation">{$operation->getTitle()}</option>			    	
			    	{/if}
			    	{/foreach}
			    </optgroup>			    
			</select> 
		</div>
    </td>
  </tr>
</table>

<div class="table_bott">
	<div>
		{if $paginator->getPagesCount() > 1}<p class="lefter" id="pagenator_down"> Страницы: {$paginator->getPaginator()}</p>{/if} 
		 
		<p class="righter">
			{if !$isRecycle}<a href="{$baseURL}/section/{$section.id}/{$page.id}/{$dependencyURL}recycle/">показать удаленные</a>
			{elseif $isRecycle}<a href="{$baseURL}/section/{$section.id}/{$page.id}/{$dependencyURL}">показать нормальные</a>{/if}
		</p>

	</div>
</div>

</div>

<div style="display:none;" id="PageNumber">{$paginator->getCurrentPageNumber()}</div>
<div style="display:none;" id="OnPage">{$paginator->getOnPage()}</div>
<div style="display:none;" id="PageID">{$page.id}</div>
<div style="display:none;" id="MoveToPage">
	<label for="MoveToPageSelect">Переместить выбранный элемент на страницу:</label><br />
	<select id="MoveToPageSelect">
	{section name=pagesOptions start=0 loop=$paginator->getPagesCount() max=100}
		<option value="{$smarty.section.pagesOptions.index}" {if $smarty.section.pagesOptions.index == $paginator->getCurrentPageNumber()}selected="selected"{/if}>{$smarty.section.pagesOptions.index + 1}</option>
	{/section}
	</select>
	<a href="#" onclick="this.parentNode.style.display='none'; return false;">Не переносить</a>
</div>
<!--конец блока с таблицей -->

<!--блок с кнопками -->
<div class="button">
	{foreach from=$operations.table name=tableOperations item=operation}
	{$operation->renderLink()}
	{/foreach}	
	{if isset($operations.record.edit)}{$operations.record.edit->setImageSource("/cms/images.old/record.jpg")->renderLink(null)}{/if}
</div>
<!--конец блока с кнопками -->

<!-- Форма группового изменения значения одного поля -->
<div id="EditSingleFieldForm"></div>

<!-- Список зависимых таблиц -->
<div id="Dependencies">
	<ul>
	{if $dependTables}{foreach from=$dependTables item=item key=tableID}
		<li id="table_{$item.id}_field_{$item.fid}">
			<a href="#">{$item.viewname}</a>
			{if isset($item._fields)}<ul>{foreach from=$item._fields item=field}
			<li id="table_{$item.id}_field_{$field.id}"><a href="#">{$field.name}</a></li>
			{/foreach}</ul>{/if}
		</li>
	{/foreach}{/if}
	</ul>
	<div class="arrow"></div>
	<div class="close"><a href="#" >закрыть</a></div>
</div>