<div class="home_but_top">
{if isset($operations.record.edit)}{$operations.record.edit->setImageSource("/cms/images/home_but_add.gif")->renderLink(null)}{/if}
</div>
                
<div style="overflow:hidden"><div class="bg_nr6">
    <div class="bg_top">
        <div class="bg_top_left">
            <div class="bg_top_right">
                <div class="bg_bottom">
                    <div class="bg_bottom_left">
                        <div class="bg_bottom_right">
                        	<div class="home">
                            
                       <div style="overflow:auto">
                       <table id="ItemListTable">
                            <tr class="paginator">
                                <td colspan="111">
                  <div class="paginatot_left">Страницы: {$paginator->getPaginator()}</div>
                  <div class="paginatot_right">Выводить по: {$paginator->getOnpageSelector()}</div>
                                </td>
                            </tr>
                            <!-- Названия столбцов -->
                            <tr class="title">
                                <td class="td1"></td>
                                {foreach from=$data.fields item=field}{if $field->isVisible()}
                                <td><a href="{$urlBuilder->orderBy($field)}">{$field->getViewname()}</a></td>
                                {/if}{/foreach}
                                <td class="td8"><a href="#">{if $has_hidden_fields}<a href="{$urlBuilder->showHiddenColumns()}"><img src="/cms/images/btn6.png" /></a>{/if}</a></td>                                
                            </tr>
                            <!--  Фильтры -->
                            <tr class="form" id="form-filters">
                                <td class="td1"><div><input type="checkbox" name="check_all" id="CheckAll" /></div></td>
                                
                                {foreach from=$data.fields item=field}{if $field->isVisible()}
                                <td><div>{$field->renderFilter()}</div></td>
                                {/if}{/foreach}
                                
                                <td class="td8"><div></div></td>
                            </tr>
                            <!-- Данные -->
                            {include file="table/table-datarows-modern.html"}
                            <tr class="price">
                                <td colspan="111">
                                <!-- Совершенно непонятно, зачем это -->
                  				<!-- div>Всего: <span>280 р.</span></div -->
						        <div class="groupSelectActionButton" id="GroupSelectContainer" style="display:none;">
								   	<img height="22" width="38" alt="С отмеченными:" title="С отмеченными" src="/cms/images.old/arrow_ltr.png" class="selectallarrow">
									<select id="">
										<option selected="selected">Ничего не делать</option>
										<optgroup label="Изменить значение:">
										<!-- Сюда вставить возможные операции -->		
										{foreach from=$data.fields item=field}
										{if $field->isEditable()}<option value="{$field->getName()}">{$field->getViewname()}</option>{/if}
									    {/foreach}
									    </optgroup>
									    {if !$isRecycle}<option value="recycle" >Поместить в корзину</option>{else}<option value="recycle-restore" >Восстановить из корзины</option>{/if}
									    <option value="delete" class="delete">Удалить</option>
									</select> 
								</div>
                                </td>
                            </tr>
                            <tr class="paginator">
                                <td colspan="111" class="bottom">
				                  <div class="paginatot_left">Страницы: {$paginator->getPaginator()}</div>
				                  <div class="paginatot_right">
				                  {if !$isRecycle}<a href="{$urlBuilder->set('recycle', 1)}">показать удаленные</a>
								  {elseif $isRecycle}<a href="{$urlBuilder->set('recycle', 0)}">показать нормальные</a>{/if}
				                  </div>
                                </td>
                            </tr>
                        </table></div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></div>
 

<!-- Блок с кнопками (операции) -->
<div class="home_but_bottom">
     {foreach from=$operations.table name=tableOperations item=operation}
{$operation->renderLink(null)}
{/foreach}	
{if isset($operations.record.edit)}{$operations.record.edit->setImageSource("/cms/images.old/record.jpg")->renderLink(null)}{/if}
</div>
    
<!-- Список зависимых таблиц -->
<div id="Dependencies">
<ul>
{if $dependTables}{foreach from=$dependTables item=item key=tableID}
	<li id="table_{$item.id}_field_{$item.fid}">
		<a href="#">{$item.viewname}</a>
		{if isset($item._fields)}<ul>{foreach from=$item._fields item=field}
		<li id="table_{$item.id}_field_{$field.id}"><a href="#">{$field.name}</a></li>
		{/foreach}</ul>{/if}
	</li>
{/foreach}{/if}
</ul>
<div class="arrow"></div>
<div class="close"><a href="#" >закрыть</a></div>
</div>

<!-- Форма группового изменения значения одного поля -->
<div id="EditSingleFieldForm"></div>

{literal}
<script>
RowsSelector.url = window.location.pathname + '?tbl_action=field_control';
</script>
{/literal}