{foreach from=$data.rows item=cols}
 <tr class="tr-data" rel="item_{$cols.id}">
 	<td class="td1"><input type="checkbox" name="item[{$cols.id}]" class="itemCheckbox" value="{$cols.id}"/></td>
 	{foreach from=$data.fields item=field key=key name=columns}{if $field->isVisible()}
 	<td align="{$field->getAlign()}">
 	<div>{$field->renderCell($cols)}</div>
 	</td>
 	{/if}{/foreach}
 	
 	<td class="td8">
 	{foreach from=$operations.record item=operation name=operations}
 	{$operation->renderLink($cols)}
 	{/foreach}
 	</td>
 </tr>
{/foreach}