{foreach from=$data.rows item=cols}
 <tr class="tr-data" rel="item_{$cols.id}">
 	<td><input type="checkbox" name="item[{$cols.id}]" class="itemCheckbox" value="{$cols.id}"/></td>
 	{foreach from=$data.fields item=field key=key name=columns}{if $field.visible}
 	<td {if $smarty.foreach.columns.first}class="first"{/if} align="{if isset($field.align)}{$field.align}{/if}">
 		{$cols[$field.name]}
 	</td>
 	{/if}{/foreach}
 	
 	<td class="width124">
 	{foreach from=$cols._operations item=operation}
 		<a href="{$operation.url}" 
 			title="{$operation.title|escape}"
 			{if $operation.css_class}class="{$operation.css_class}"{/if} 
 			{if $operation.confirm}onclick="return confirm('{$operation.confirm}');"{elseif $operation.onclick}onclick="{$operation.onclick}"{/if}
 		>{if $operation.img}<img src="{$operation.img}" />{else}{$operation.title|escape}{/if}</a>
 	{/foreach} 	
 	</td>
 </tr>
{/foreach}