<div class="but_top">
<!-- Операция add - операция добавления нового элемента. Должна  -->
{if isset($operations.table.add)}
{assign var=operation value=$operations.table.add}
<a href="{$operation.url}" {if $operation.css_class}class="{$operation.css_class}"{/if} title="{$operation.title}" target="_self">{if $operation.img}<img src="{$operation.img}" border="0">{else}{/if}</a>
{/if}
</div>

<!--блок с таблицей --> 
<div class="table">

<!-- Пагинатор -->
<div class="table_top"><div>
{if $paginator.pagesCount > 1}
	<p class="lefter" id="pagenator_up">Страницы: {$paginator.html}</p>
{/if}
<p class="righter">Выводить по: {$paginator.onpageHTML}</p>
</div></div>
                      
<table cellspacing="0" class="td30" id="ItemListTable">

 <!-- Названия столбцов -->
 <tr class="th">
	<th width="20"></th>
	{foreach from=$data.fields item=field}{if $field.visible}
	<th align="center"><a href="{$urls.orderby[$field.name]}">{$field.viewname}</a></th>
	{/if}{/foreach}
	<td align="center" class="width124">{if $has_hidden_fields}<a href="{$urls.show_hidden}"><img src="/cms/images/btn6.png" /></a>{/if}</td> 
 </tr>
 
 <!--  Фильтры -->
 <tr id="form-filters">
    <td><input type="checkbox" name="check_all" class="check_all_rows" /></td>
    {foreach from=$data.fields item=field}{if $field.visible}
    <td>{$field.filter_html}</td>
    {/if}{/foreach}
    <td align="center" class="width124"></td> 
 </tr>
 
<!-- Данные -->
{include file="table/table-array-datarows.html"}

<!-- Итого -->
<tr >
	<td><input type="checkbox" name="check_all" class="check_all_rows" /></td>
    <td><b><small>Итого</small></b></td>
    {foreach from=$data.fields item=field}{if $field.visible && $field.name != 'id'}
    <td><b><small>{$field.total_value}</small></td>
    {/if}{/foreach}
    <td align="center" class="width124"></td> 
 </tr>
</table>

<!-- Групповые операции -->
{if $enableGroupOperations}
<table cellspacing="0">
  <tr class="end">
    <td colspan="8">
	   	<div class="groupSelectActionButton" id="GroupSelectContainer">
		   	<img height="22" width="38" alt="С отмеченными:" title="С отмеченными" src="/cms/images.old/arrow_ltr.png" class="selectallarrow">
			<select>
				<option selected="selected">Ничего не делать</option>
				{if $operations.group}{foreach from=$operations.group item=operation key=operationName}
					{if $operationName == '_group'}
						<optgroup label="{$operation.title}">
							{foreach from=$operation item=op key=opName}
							{if $opName != 'title'}
								<option value="{$op.url}" data-name="{$opName}" data-confirm="{$op.confirm}" data-ajax="{$op.ajax}" {if $op.css_class}class="{$op.css_class}"{/if}>{$op.title}</option>
							{/if}
							{/foreach}
						</optgroup>
					{else}
						<option value="{$operation.url}" data-confirm="{$operation.confirm}" data-ajax="{$operation.ajax}" {if $operation.css_class}class="{$operation.css_class}"{/if}>{$operation.title}</option>
					{/if}				
				{/foreach}{/if}
			</select>
		</div>
    </td>
  </tr>
</table>
{/if}

<div class="table_bott">
	<div>
		{if $paginator.pagesCount > 1}<p class="lefter" id="pagenator_down"> Страницы: {$paginator.html}</p>{/if} 
		 
		<p class="righter">
		{if $recycleEnable}
			{if !$isRecycle}<a href="{$urls.show_recycled}">показать удаленные</a>
			{elseif $isRecycle}<a href="{$urls.show_normal}">показать нормальные</a>{/if}
		{/if}
		</p>
		
	</div>
</div>

</div>

<div style="display:none;" id="PageNumber">{$paginator.pageNumber}</div>
<div style="display:none;" id="OnPage">{$paginator.onPage}</div>
<div style="display:none;" id="PageID">{$page.id}</div>
<div style="display:none;" id="MoveToPage">
	<label for="MoveToPageSelect">Переместить выбранный элемент на страницу:</label><br />
	<select id="MoveToPageSelect">
	{section name=pagesOptions start=0 loop=$paginator.pagesCount max=100}
		<option value="{$smarty.section.pagesOptions.index}" {if $smarty.section.pagesOptions.index == $paginator.pageNumber}selected="selected"{/if}>{$smarty.section.pagesOptions.index + 1}</option>
	{/section}
	</select>
	<a href="#" onclick="this.parentNode.style.display='none'; return false;">Не переносить</a>
</div>
<!--конец блока с таблицей -->

<!--блок с кнопками -->
<div class="button">
	{foreach from=$operations.table item=operation}
	<a href="{$operation.url}" {if $operation.css_class}class="{$operation.css_class}"{/if} title="{$operation.title}" target="_self">{if $operation.img}<img src="{$operation.img}" border="0">{else}{/if}</a>
	{/foreach}
</div>
<!--конец блока с кнопками -->

<!-- Форма группового изменения значения одного поля -->
<div id="EditSingleFieldForm"></div>

<!-- Список зависимых таблиц -->
<div id="Dependencies">
	<div class="arrow"></div>
	<div class="close"><a href="#" >закрыть</a></div>
	<ul></ul>
</div>