{foreach from=$data.rows item=cols}
 <tr class="tr-data" rel="item_{$cols.id}">
 	<td><input type="checkbox" name="item[{$cols.id}]" class="itemCheckbox" value="{$cols.id}"/></td>
 	{foreach from=$data.fields item=field key=key name=columns}{if $field->isVisible()}
 	<td {if $smarty.foreach.columns.first}class="first"{/if} align="{$field->getAlign()}">
 	{$field->renderCell($cols)}
 	</td>
 	{/if}{/foreach}
 	
 	<td class="width124">
 	{foreach from=$operations.record item=operation name=operations}
 	{$operation->renderLink($cols)}
 	{/foreach} 	
 	</td>
 </tr>
{/foreach}