{{sites}}
<div class="block">
<div class="img"><img src="{{image}}" alt="{{name}}"></div>
<div class="yndx-gl-block">
	<ul class="tabs">
		<li><a class="yndx active" href="#"></a></li>
		<li><a class="gl" href="#"></a></li>
	</ul>
	<div class="panes">
		<div class="pane active">
			<ul>
				{{queries.yandex}}
				<li>{{name}}<sup>{{position}}</sup></li>
				{{/queries.yandex}}
			</ul>
		</div>
		<div class="pane">
			<ul>
				{{queries.google}}
				<li>{{name}}<sup>{{position}}</sup></li>
				{{/queries.google}}
			</ul>
		</div>
	</div><!-- .panes -->
</div><!-- .yndx-gl-block -->
<div class="description">{{annotation}}</div>
</div><!-- .block -->
{{/sites}}