<ul id="theme-request">
	{{items}}
	<li>
		<a class="block" href="{{href}}">
			<div class="icon {{css_class}}"></div>
			<p class="title">{{name}}</p>
			<p class="description">{{annotation}}</p>
		</a><!-- .block -->
	</li>
	{{/items}}
</ul>