{{categories}}
<div class="b-catalog-wrapper">
  <h4>{{title}}</h4>
				<ul class="b-catalog-list">
                        {{_children}}
                        {{if !ext_url}}
					<li class="b-item">
						<a title="{{title}}" class="b-name" href="{{url}}">
                                <img title="{{title}}" src="/cms/cms-images/kresla_categories/{{id}}_image_{{image}}" alt="{{title}}">
                                {{title}}
						</a>
                            <div class="b-amount">{{spellcount value="{{_goods_count}}" words="{{titles}}"}}</div>
                            <div class="b-price">от {{numberFormat value="{{_cheapest_price}}"}} {{spellcount value="{{_cheapest_price}}" words="рубль,рубля,рублей" nodigit="1"/}}</div>
					</li>
					{{endif}}
                        {{/_children}}
				</ul>
			</div><!-- .b-catalog-wrapper -->
{{/categories}}