										<form id="GoodCommentsForm" method="post">
											<div class="b-rightText">
												Обращаем ваше внимание, что отзывы проходят модерацию, во избежание рекламы. Поэтому ваш отзыв появится на сайте через какое-то время.
												<br><br>
												Спасибо за понимание и что выбрали «Кресла От и До».
											</div>
											<div class="b-content">
												{{errors_html}}
												<div class="b-addReview-form">
													<label>Представьтесь, пожалуйста:</label>
													<input type="text" name="name" value="{{name}}" data-validate="required">
													<label>Адрес эл. почты:</label>
													<input type="text" name="email" value="{{email}}" data-validate="email">
													<label>Ваш отзыв:</label>
													<textarea name="text">{{text}}</textarea>
													<input type="submit" value="Отправить отзыв">
												</div>
											</div>
										</form>