{{comments}}
<div class="b-review">
	<div class="b-name">{{name}} <span>написал <span class="time">{{ dateToInterval date="{{date}}" }}</span></span></div>
	<div class="b-text">{{ escape value="{{text}}" }}</div>
</div>
{{/comments}}