<!--noindex-->
		<p class="b-filter-text">Найти {{if tablefilter_active}}идеальный стол{{else}}идеальное кресло{{endif}} стало еще легче с нашим новым сервисом:</p><!--/noindex-->
		
			{{if tablefilter_active}}
		   <div class="divh3">Поиск <span class="active filter-toggler table-toggle">стола</span></div>
		   
<div id="tables-filter">
	{{tablefilter}}
</div>
{{else}}
			   <div class="divh3">Поиск <span class="active filter-toggler kreslo-toggle">кресла</span></div>
<!--noindex-->
<form id="SearchForm" method="get" {{if tablefilter_active}}class="hidden"{{endif}} action="/catalog/search/">
	<input type="hidden" name="p" value="1" /><!-- номер страницы начинается с 1 -->
	<div class="b-filter">
		<div class="b-filter-resulSearch">Найдено <span>67</span> моделей. <a href="#">Показать</a></div><!-- .b-filter-resulSearch -->

		
		<div class="b-filter-price">
			<div class="b-filter-inputs">
				<span>от</span>
				<input type="text" class="amount-min amount-min-price" name="price_min" value="{{price.min.current}}"/>
				<span>до</span>
				<input type="text" class="amount-max amount-max-price" name="price_max" value="{{price.max.current}}"/>
			</div>
			<label>Цена:</label>
			<div class="b-slider-scale">
				<span class="ui-slider-min amount-slider-min-price">{{price.min.default}}</span>
				<span class="ui-slider-medium"></span>
				<span class="ui-slider-max amount-slider-max-price">{{price.max.default}}</span>
			</div>
			<div class="b-slider"><div class="ui-handle"></div></div><!-- .price-filter -->
		</div><!-- .b-filter-price -->

		<div class="b-checkbox">
			<div class="b-title">
				<a class="b-title-name" href="#">Категория кресла</a>
				<div class="b-hint"><div><b>Категория кресла</b> — это категории, на которые мы разбили все наши кресла для вашего удобства. Благодаря им вы с легкостью можете искать кресла именно для руководителей или для персонала, а может и вовсе домой или детское кресло.</div></div>
			</div>
			<br>
			<div class="b-filterContent">
				<div class="b-list">
					{{categories}}
					
					{{if show_in_filter}}
					<label>
						<input type="checkbox" name="categories[]" value="{{id}}" {{if _selected}}checked="checked"{{endif}}>
						<span>{{title}}</span>
					</label>
					{{endif}}
					{{/categories}}
				</div>
			</div>
		</div><!-- .checkbox-block -->

		<div class="b-checkbox">
			<div class="b-title">
				<a class="b-title-name" href="#">Материал обивки</a>
				<div class="b-hint"><div><b>Материал обивки</b> —  вы можете выбрать конкретную обивку и подобрать кресло по вашему вкусу.</div></div>
			</div>
			<br>
			<div class="b-filterContent">
				<div class="b-list">
					{{upholstery_types}}
					{{if title!= "Прочие"}}
					<label>
						<input type="checkbox" name="upholstery_type[]" value="{{id}}" {{if _selected}}checked="checked"{{endif}}>
						<span>{{title}} <span class="icon {{code}}"></span></span>
						
					</label>
					{{endif}}
					{{/upholstery_types}}
				</div>
			</div>
		</div><!-- .checkbox-block -->

		<div class="b-checkbox b-colors">
			<div class="b-title">
				<a class="b-title-name" href="#">Цвета</a>
				<div class="b-hint"><div><b>Цвета</b> — позволят Вам подобрать кресло по цвету, выбрав цвет вы увидите кресла изготавливаемые именно в конкретном цвете.</div></div>
			</div>
			<br>
			<div class="b-filterContent">
				<div class="b-list">
					{{colors}}
					{{if !parent}}
					<label>
						<input type="checkbox" name="colors[]" value="{{id}}" {{if _selected}}checked="checked"{{endif}}>
						<span>{{title}}<span class='icon {{class_name}}'></span></span>
					</label>
					{{endif}}
					{{/colors}}
					
					<span class="sinonimus">
						{{colors}}
						{{if parent}}
						<label>
							<input type="checkbox" name="colors[]" value="{{id}}" {{if _selected}}checked="checked"{{endif}}>
							<span>{{title}}<span class='icon {{class_name}}'></span></span>
						</label>
						{{endif}}
						{{/colors}}
					</span>
					
					
					<label><a class="b-moreItems" href="#"><span>Еще ХХ цветов</span></a></label>
				</div>
			</div>
		</div><!-- .checkbox-block -->
		<script>
			window.CountSin = {{CountSin}};
		</script>
		<div class="b-checkbox">
			<div class="b-title">
				<a class="b-title-name" href="#">Подлокотники</a>
				<div class="b-hint"><div><b>Подлокотники</b> — существуют разной формы и из разных материалов. Металлические, деревянные, пластиковые - с мягкими накладками и без накладок. А также существуют модели без подлокотников.</div></div>
			</div>
			<br>
			<div class="b-filterContent">
				<div class="b-list">
					{{arm_types}}
					<label>
						<input type="checkbox" name="arm_type[]" value="{{id}}" {{if _selected}}checked="checked"{{endif}}>
						<span>{{title}}</span>
					</label>
					{{/arm_types}}
				</div>
			</div>
		</div><!-- .checkbox-block -->
		
		<div class="b-checkbox">
			<div class="b-title">
				<a class="b-title-name" href="#">Материал крестовины</a>
				<div class="b-hint"><div><b>Материал крестовины</b> —  это из чего сделано основание кресла. Пластик представлен разных цветов. Дерево- деревянные крестовины имеют металлическое основание. Металл- металлические крестовины бывают с разным напылением (хром, алюминий).</div></div>
			</div>
			<br>
			<div class="b-filterContent">
				<div class="b-list">
					{{cross_types}}
					<label>
						<input type="checkbox" name="cross_type[]" value="{{id}}" {{if _selected}}checked="checked"{{endif}}>
						<span>{{title}}</span>
					</label>
					{{/cross_types}}
				</div>
			</div>
		</div><!-- .checkbox-block -->

		<div class="b-checkbox b-sizes">
			<div class="b-title"><a class="b-title-name" href="#">Габариты</a></div>
			<br>
			<div class="b-filterContent">
				<div class="m-wide">
					<div class="b-filter-inputs">
						<span>от</span>
						<input type="text" class="amount-min" name="width_min" value="{{width.min.current}}"/>
						<span>до</span>
						<input type="text" class="amount-max" name="width_max" value="{{width.max.current}}"/>
					</div>
					<span>Ширина<span class="icon size1"></span></span>
					<div class="b-slider-scale">
						<span class="ui-slider-min">{{width.min.default}}</span>
						<span class="ui-slider-medium"></span>
						<span class="ui-slider-max">{{width.max.default}}</span>
					</div>
					<div class="b-slider"><div class="ui-handle"></div></div><!-- .price-filter -->
				</div>

				<div class="m-deep">
					<div class="b-filter-inputs">
						<span>от</span>
						<input type="text" class="amount-min" name="deep_min" value="{{deep.min.current}}"/>
						<span>до</span>
						<input type="text" class="amount-max" name="deep_max" value="{{deep.max.current}}"/>
					</div>
					<span>Глубина<span class="icon size2"></span></span>
					<div class="b-slider-scale">
						<span class="ui-slider-min">{{deep.min.default}}</span>
						<span class="ui-slider-medium"></span>
						<span class="ui-slider-max">{{deep.max.default}}</span>
					</div>
					<div class="b-slider"><div class="ui-handle"></div></div><!-- .price-filter -->
				</div>

				<div class="m-height">
					<div class="b-filter-inputs">
						<span>от</span>
						<input type="text" class="amount-min" name="height_min" value="{{height.min.current}}"/>
						<span>до</span>
						<input type="text" class="amount-max" name="height_max" value="{{height.max.current}}"/>
					</div>
					<span>Высота<span class="icon size3"></span></span>
					<div class="b-slider-scale">
						<span class="ui-slider-min">{{height.min.default}}</span>
						<span class="ui-slider-medium"></span>
						<span class="ui-slider-max">{{height.max.default}}</span>
					</div>
					<div class="b-slider"><div class="ui-handle"></div></div><!-- .price-filter -->
				</div>
			</div>
		</div><!-- .b-sizes -->

		<div class="b-checkbox">
			<div class="b-title">
				<a class="b-title-name" href="#">Ограничения по весу</a>
			</div>
			<br>
			<div class="b-filterContent">
				<div class="b-list">
					<label>
						<input type="checkbox" name="weight_limit[]" value="lt120" {{if weight_limit.lt120}}checked="checked"{{endif}}>
						<span>До 120 кг</span>
					</label>
					<label>
						<input type="checkbox" name="weight_limit[]" value="gt120" {{if weight_limit.gt120}}checked="checked"{{endif}}>
						<span>Свыше 120 кг</span>
					</label>
				</div>
			</div>
		</div><!-- .checkbox-block -->
		
		<div class="b-checkbox">
			<div class="b-title">
				<a class="b-title-name" href="#">Ярлык</a>
			</div>
			<br>
			<div class="b-filterContent">
				<div class="b-list">
					{{labels}}
					<label>
						<input type="checkbox" name="label[]" value="{{id}}" {{if _selected}}checked="checked"{{endif}}>
						<span class="{{class_name}}">{{title}}</span>
					</label>
					{{/labels}}
				</div>
			</div>
		</div><!-- .checkbox-block -->

		<div class="b-checkbox m-bottomCheckbox">
			<div class="m-hintLabel">
				<label><input type="checkbox" name="back_adjust" value="1"> Только с регулировкой угла спинки</label>
				<div class="b-hint"><div><b>Регулировка угла наклона</b> — позволяет фиксировать спинку кресла под разным углом по отношению к сиденью.</div></div>
			</div>
		</div><!-- .checkbox-block -->

		
			<input type="submit" value="">
		
	</div><!-- .b-filter -->
</form>
<script>
	$(function () {
		formCatalog = new Catalog();
		formCatalog.importFormData($('#SearchForm'));
	});
</script>
				<!--/noindex-->
				{{endif}}