<h3 class="sel-t">Декор</h3>
<div class="select-block-mat">
									<img src="/img/sc1.gif" width="10" height="32" alt="" class="sc1">
									<img src="/img/sc2.gif" width="10" height="32" alt="" class="sc2">
									<img src="/img/sc3.gif" width="10" height="32" alt="" class="sc3">
									<img src="/img/sc4.gif" width="10" height="32" alt="" class="sc4">
									<ul class="sel-tabs">
										{{arms}}
										{{if type_id == 3}}
								    	<li class="selectable {{if _selected == 1}}selected{{endif}}">
											<label for="sss{{id}}">
												<img height="54" width="54" class="ss" src="/img/_ss3{{if on_order}}_onorder{{endif}}.png">
												<img height="54" width="54" class="ss {{if _selected == 1}}hidden{{endif}}" src="/img/_ss4{{if on_order}}_onorder{{endif}}.png">
												<img src="{{image}}" width="54" height="54" alt="{{title}}" title="{{title}}">
												<span alt="{{title}}" title="{{title}}"></span>
											</label>
								  			<input type="radio" {{if _selected == 1}}checked="checked"{{endif}} name="arm_id" id="sss{{id}}" value="{{id}}" >
										</li>
										{{endif}}
										{{/arms}}
									</ul>
								</div><!-- .select-block-mat -->
								<div class="ar-sel"><img src="/img/ar.gif" width="14" height="14" alt=""></div>