<div class="one-sel selectable {{if _rows.0._selected == 1}}selected{{endif}}">
  {{_rows}}
	<label for="s{{id}}">
	{{if type_id !=7 }}
      <img height="54" width="54" class="ss" src="/img/_ss1{{if on_order}}_onorder{{endif}}.png">
	  <img height="54" width="54" class="ss {{if _selected == 1}}hidden{{endif}}" src="/img/_ss2{{if on_order}}_onorder{{endif}}.png">
	  {{endif}}
	  <img src="{{image}}" width="54" height="54" alt="{{title}}" title="{{title}}"/>
	<span title="{{title}}"></span>
  	</label>									
	<input type="radio" name="upholstery_id" id="s{{id}}" value="{{id}}" rel="{{price}}" {{if _selected == 1}}checked="checked"{{endif}}/>
  {{/_rows}}
</div><!-- .one-sel selectable -->
<div class="b-priceBlock">
  {{if _price_old}}
  <!-- У нас скидка! -->
  <div class="b-priceBlock-old">
    <span>{{_price_old}} руб.</span>
    <span>{{_title}} </span>
  </div>
  
  <div class="b-priceBlock-new">
	<span>{{_price}} руб.</span>
	<div class="b-priceBlock-descr">Акция! Купив сейчас, вы сэкономите {{_price_diff}} руб.!</div>
  </div>
  {{else}}
  <!-- Цена стандартная -->
  <div class="b-priceBlock-new">
    <span>{{_price}} руб.</span>
    <span>{{_title}} </span>
  </div>
  {{endif}}
</div><!-- .b-priceBlock -->