<div class="select-block-mat">
									<img src="/img/sc1.gif" width="10" height="32" alt="" class="sc1">
									<img src="/img/sc2.gif" width="10" height="32" alt="" class="sc2">
									<img src="/img/sc3.gif" width="10" height="32" alt="" class="sc3">
									<img src="/img/sc4.gif" width="10" height="32" alt="" class="sc4">
									<ul class="sel-tabs">
										{{_rows}}
								    	<li class="selectable {{if _selected == 1}}selected{{endif}}">
											<label for="s{{id}}">
											{{if type_id !=7 }}
												<img height="54" width="54" class="ss" alt="" src="/img/_ss1{{if on_order}}_onorder{{endif}}.png">
												<img height="54" width="54" alt="" class="ss {{if _selected == 1}}hidden{{endif}}" src="/img/_ss2{{if on_order}}_onorder{{endif}}.png">
											{{endif}}	
												<img src="{{image}}" width="54" height="54" alt="{{title}}" title="{{title}}">
												<span title="{{title}}"></span>
											</label>
								  			<input type="radio" {{if _selected == 1}}checked="checked"{{endif}} rel="{{price}}" name="upholstery_id" id="s{{id}}" value="{{id}}">
										</li>
										{{/_rows}}
									</ul>
								</div><!-- .select-block-mat -->
								<div class="ar-sel"><img src="/img/ar.gif" width="14" height="14" alt=""></div>

								<div class="b-priceBlock">
									  {{if _price_old}}
  <!-- У нас скидка! -->
  <div class="b-priceBlock-old">
    <span>{{_price_old}} руб.</span>
    <span>{{_title}} </span>
  </div>
  
  <div class="b-priceBlock-new">
	<span>{{_price}} руб.</span>
	<div class="b-priceBlock-descr">Акция! Купив сейчас, вы сэкономите {{_price_diff}} руб.!</div>
  </div>
  {{else}}
  <!-- Цена стандартная -->
  <div class="b-priceBlock-new">
    <span>{{_price}} руб.</span>
    <span>{{_title}} </span>
  </div>
  {{endif}}
								</div><!-- .b-priceBlock -->
                 				<div class="clear"></div>
                 				
                 	