 <ul class="b-catalog-list">
 {{goods}}
                      	<li class="b-item">
                          {{if _label}}
                          <span class="{{_label.class_name}}"><span></span>{{_label.title}}</span>
                          {{endif}}
                           <a class="b-name" href="/catalog/{{_url}}" title="{{title}}"><img src="{{module.image.getimage src="goods.thumb.{{id}}.150x150" name="{{thumb}}"}}" alt="{{title}}" title="{{title}}">
                        {{title}}</a>
                          <div class="b-price">{{ numberFormat value="{{price}}" }} руб.</div>
							<div class="b-line"></div>
                          {{if _upholstery_types}}                          
							<div class="b-matitials">
                              {{_upholstery_types}}
                              <span title="{{title}}"  class="icon {{code}}"></span>
                              {{/_upholstery_types}}
							</div>
                          {{endif}}
 


                            {{if _t_colors}}                          
							<div class="b-colors">
                              {{_t_colors}}
                              <span title="{{title}}"  class="table-color {{class_name}}"></span>
                              {{/_t_colors}}
							</div>
							{{else}}
								<div class="b-colors">
                              {{_colors}}
                              <span title="{{title}}"  class="icon {{class_name}}"></span>
                              {{/_colors}}
							</div>
                          	{{endif}}

						</li>
                      {{/goods}}
 </ul>
 
 <div class="b-catalog-table" style="display:none;">
 <table>
<thead><tr><th></th>{{if haveback}}<th>Cпинка</th>{{endif}}<th>Ширина x Глубина x Высота</th><th></th></tr></thead>
<tbody>
 {{goods}}

								<tr>
									<td>
										<div class="b-item">
											<a class="b-pic" href="/catalog/{{_url}}"><img title="{{title}}" src="{{module.image.getimage table="goods" field="thumb" id="{{id}}" size="70x70" file="{{thumb}}"}}" alt="{{title}}"></a>
											<div class="b-content">
											 <a class="b-name" href="/catalog/{{_url}}">{{title}}</a>
												{{if _upholstery_types}}                          
							<div class="b-matitials">
                              {{_upholstery_types}}
                              <span  title="{{title}}" class="icon {{code}}"></span>
                              {{/_upholstery_types}}
							</div>
                          {{endif}}
												{{if _colors}}                          
							<div class="b-colors">
                              {{_colors}}
                              <span  title="{{title}}" class="icon {{class_name}}"></span>
                              {{/_colors}}
							</div>
                          {{endif}}
											</div><!-- .b-content -->
										</div><!-- .b-item -->
									</td>
									{{if haveback}}
									<td>
										<p>{{if back_height}} {{back_height}}см{{endif}}</p>
										<p>{{if back_adjust==1}}<span class="icon regulation"></span>Регулируемая{{else}}Не регулируемая{{endif}}</p>
									</td>
									{{endif}}
									<td>
										{{width}} см x {{deep}} см x <br>{{if height_min == height_max}}{{height_max}}{{else}} {{height_max}} &#247; {{height_min}}{{endif}}см
									</td>
									<td>
										<div class="b-price">{{ numberFormat value="{{price}}" }} руб.</div>
										<p> {{if weight_limit}}<span class="icon weight"></span> {{weight_limit}}кг{{endif}}</p>
									</td>
								</tr>
 
 {{/goods}}
 </tbody>
 </table>
 </div>
