{{if goods}}
<h2>{{blockName}}</h2>
	<ul class="b-catalog-list">
		{{goods}}
		<li class="b-item">
			<a class="b-name" href="/catalog/{{_url}}" title="{{title}}">
				<img src="{{module.image.getimage src="goods.thumb.{{id}}.150x150" name="{{thumb}}"}}" alt="{{title}}" title="{{title}}">
				{{title}}
			</a>
			<div class="b-price">{{PriceFormat value="{{price}}" }} руб.</div>
			<div class="b-line"></div>
			<a href="/catalog/{{_category_url}}/" class="b-category">{{_category_name}}</a>
		</li>
		{{/goods}}
	</ul>
{{endif}}