
<div class="readySet">
	
	<div class="divh3">Быстрый переход к&hellip;</div>
	{{if colors}}
	<div class="divh3">цвету:</div>
	<ul>
		{{colors}}
		<li><a href="{{path}}">{{anchor}}</a></li>
		{{/colors}}	
	</ul>
	{{endif}}
	
	{{if types}}
	<div class="divh3">типу обивки:</div>
	<ul>
		{{types}}
		<li><a href="{{path}}">{{anchor}}</a></li>
		{{/types}}
	</ul>
	{{endif}}


</div>

<script>
$(function() {
	var a = $('.readySet');
	var ul = a.find('ul');
	var lilimit = Math.ceil(10/ul.length);
	var l = false;
	ul.each(function(i) {
		var li = $(this).find('li');
		if(li.length>lilimit) {
			l = true;
			li.each(function(i){
				if(i>lilimit) {
					$(this).css('display','none');
				}
			});
		}
	});
	if(l) {
		var n = $('<a>', {
			id: 'readySet-more',
			class: 'more',
			html: 'Показать все'
		}).on('click', function(e) {
			e.preventDefault();
			a.find('li').css('display', 'block');
			$(this).remove();
			return false;
		});
		n.appendTo(a);
	}

});
</script>