<div class="b-recentlyViewed{{if is_good_page}} m-product{{endif}}">
						<h3>Вы смотрели</h3>
						{{if items_visible}}
						<div class="b-list">
							{{items_visible}}
							<div class="b-item">
								<a title="{{title}}" href="/catalog/{{_url}}"><img title="{{title}}" src="{{module.image.getimage src="goods.thumb.{{id}}.70x70" name="{{thumb}}"}}" alt="{{title}}"></a>
								<div class="b-content">
									<a href="/catalog/{{_url}}" class="b-name">{{title}}</a>
									<span class="b-price">{{NumberFormat value="{{price}}" }} руб.</span>
									<b class="b-time">{{dateToInterval date="{{_time}}" }}</b>
									<div class="b-colors">
										{{ _colors }}
										<span title="{{title}}" class="icon {{class_name}}"></span>
										{{ /_colors }}
									</div>
									<div class="b-materials">
										{{_upholstery_types}}
										<span title="{{title}}" class="icon {{code}}"></span>
										{{/_upholstery_types}}
									</div>
								</div>
							</div><!-- .b-item -->
							{{/items_visible}}
							
							{{if more_count}}
							<div class="b-more-wrap">
								<a class="b-more" href="#">Еще {{more_count}} недавно просмотренных</a>
							</div>
							{{endif}}
						</div><!-- .b-list -->
						
						<ul class="b-catalog-list" style="display:none;">
							{{items_invisible}}
	                      	<li class="b-item">
	                          {{if _label}}
	                          <span class="{{_label.class_name}}"><span></span>{{_label.title}}</span>
	                          {{endif}}
	                          
	                          <a class="b-name" href="/catalog/{{_url}}" title="{{title}}"><img src="{{module.image.getimage src="goods.thumb.{{id}}.150x150" name="{{thumb}}"}}" alt="{{title}}" title="{{title}}">{{title}}</a>
	                          <div class="b-price">{{ numberFormat value="{{price}}" }} руб.</div>
								<div class="b-line"></div>
	                          {{if _upholstery_types}}                          
								<div class="b-matitials">
	                              {{_upholstery_types}}
	                              <span class="icon {{code}}"></span>
	                              {{/_upholstery_types}}
								</div>
	                          {{endif}}
	                          {{if _colors}}                          
								<div class="b-colors">
	                              {{_colors}}
	                              <span class="icon {{class_name}}"></span>
	                              {{/_colors}}
								</div>
	                          {{endif}}
							</li>
							{{/items_invisible}}
                      	</ul>
                      
						{{ endif }}
					</div><!-- .b-recentlyViewed -->