{{if goods}}
<ul class="b-catalog-list b-catalog-to-left">
{{goods}}
	<li class="b-item">
		{{if _label}}<span class="{{_label.class_name}}"><span></span>{{_label.title}}</span>{{endif}}
		
		<a class="b-name" href="/catalog/{{_url}}" title="{{title}}" >
			<div class="img-wrap">
				<img title="{{title}}" src="{{module.image.getimage src="goods.thumb.{{id}}.150x150" name="{{thumb}}"}}" alt="{{title}}">
			</div>
			{{title}}
		</a>
		<div class="b-price">{{price}} руб.</div>
		<div class="b-line"></div>
		
		{{if _upholstery_types}}                          
		<div class="b-matitials">
		{{_upholstery_types}}
			<span title="{{title}}" class="icon {{code}}"></span>
		{{/_upholstery_types}}
		</div>
        {{endif}}
        
		{{if _colors}}                          
		<div class="b-colors">
		{{_colors}}
			<span title="{{title}}" class="icon {{class_name}}"></span>
		{{/_colors}}
		</div>
		{{endif}}
	</li>
{{/goods}}
</ul>
{{endif}}