
<div class="table-filter-item">
	<div class="table-filter-item-left">
		<span>Цена</span>	
	</div>
	<div class="table-filter-item-right">
		{{prices}}
			{{if active}}<span  class ="active"> {{title}}<a class="reset-table-filter" href="{{reset_url}}" title="Сбросить">x</a></span>
			{{elseif chosen || inactive}}<span>{{title}}</span> 
			{{else}}<a href="{{url}}">{{title}}</a> {{endif}} 
		{{/prices}}
	</div>
</div>
<div class="clear"></div>
<div class="table-filter-item">
	<div class="table-filter-item-left">
		<span>Тип</span>
	</div>
	<div class="table-filter-item-right">
		{{types}}
			{{if active}}<span  class ="active"> {{title}}<a class="reset-table-filter" href="{{reset_url}}" title="Сбросить">x</a></span>
			{{elseif chosen || inactive}}<span>{{title}}</span> 
			{{else}}<a href="{{url}}">{{title}}</a> {{endif}} 			
		{{/types}}
	</div>
</div>
	{{if shapes}}
		<div class="clear"></div>
		<div class="table-filter-item">
			<div class="table-filter-item-left">
				<span>Форма</span>
			</div>
			<div class="table-filter-item-right">
				{{shapes}}
					{{if active}}<span  class ="active"> {{title}}<a class="reset-table-filter" href="{{reset_url}}" title="Сбросить">x</a></span>
					{{elseif chosen || inactive}}<span>{{title}}</span> 
					{{else}}<a href="{{url}}">{{title}}</a> {{endif}} 			
				{{/shapes}}
			</div>
		</div>
	{{endif}}
<div class="clear"></div>
<div class="table-filter-item">
	<div class="table-filter-item-left">
		<span>Цвет</span>	
	</div>
	<div class="table-filter-item-right">
		{{colors}}
			{{if active}}<span  class ="active table-color-label"> {{title}}<span class="table-color  {{class_name}}"></span><a class="reset-table-filter" href="{{reset_url}}" title="Сбросить">x</a></span>
			{{elseif chosen || inactive}}<span class="table-color-label">{{title}}<span class="table-color  {{class_name}}"></span></span> 
			{{else}}<a class="table-color-label" href="{{url}}">{{title}}<span class="table-color  {{class_name}}"></span></a> {{endif}} 
		{{/colors}}
	</div>
</div>
<div class="clear"></div>
<div class="table-filter-item">
	<div class="table-filter-item-left">
		<span>Размер</span>	
	</div>
	<div class="table-filter-item-right">
		{{sizes}}
			{{if active}}<span  class ="active"> {{title}}<a class="reset-table-filter" href="{{reset_url}}" title="Сбросить">x</a></span>
			{{elseif chosen || inactive}}<span>{{title}}</span> 
			{{else}}<a href="{{url}}">{{title}}</a> {{endif}} 
		{{/sizes}}
	</div>
</div>
<div class="clear"></div>
<div class="table-filter-item">
	<div class="table-filter-item-left">
		<span>Материал</span>	
	</div>
	<div class="table-filter-item-right">
		{{materials}}
			{{if active}}<span  class ="active"> {{title}}<a class="reset-table-filter" href="{{reset_url}}" title="Сбросить">x</a></span>
			{{elseif chosen || inactive}}<span>{{title}}</span> 
			{{else}}<a href="{{url}}">{{title}}</a> {{endif}} 
		{{/materials}}
	</div>
</div>
<div class="clear"></div>
{{show_reset}}




