<!DOCTYPE HTML5>
<html>
	<head>	
		<title>Страница не найдена</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		{literal}
		<!--[if IE 8]>
		<style type="text/css">
		  	.new-project .topic-block:after {margin-bottom: -19px;}
		</style>
		<![endif]-->
		{/literal}
	</head>
<body>
	<div id="conteiner">
    <div class="indexTOP">
      
      <div class="RightColumTop">
        <div class="RightTopPhone">
          <div class="TopPhone">
            Единая справочная служба:<br />
            <img src="/img/phone.jpg" alt="(495) 678-3999" /><br /> 
            <br>
           
		

          </div>
          
          <img src="/img/creslo2.png" class="creslo2" alt="" />
        </div>  

		<!-- КОРЗИНА В ШАПКЕ -->
        <div class="cart-top-sub" id="Basket">
	<noindex>				
					<img src="/img/cleft.png" width="13" height="86" alt="" class="im-left">
					<div class="cart-content">
						<p><a rel="nofollow" href="/basket/" class="cart-title">Корзина</a></p>
												
											</div>
					<img src="/img/cright.png" width="13" height="86" alt="" class="im-left">			
</noindex>				
</div><!-- .cart-top-sub -->
        
        <div class="menuBlok">
          <ul>
        <div class="menuBlok">
					<ul>
                      <li><a href="/catalog/">Каталог</a>  </li><li><a href="/about/">О компании</a>  </li><li><a href="/shops/">Где купить</a>  </li><li><a href="/customers/delivery/">Доставка и оплата</a>  </li>


					</ul>
				</div>
          </ul>
        </div>
        
      </div>
      <div class="LeftIndexColumTop"> 
        <a href="/"><img src="/img/Logo.gif" alt="" /></a><br />
        <ul class="miniMenu">
          <li><a href="/"><img src="/img/m1.gif" alt="" /></a></li>
          <li><a href="mailto:info@kresla-otido.ru"><img src="/img/m2.gif" alt="" /></a></li>
          <li {%{isActive sitemap select}%}><a href="/sitemap/"><img src="/img/theTree.gif" alt="" /></a></li>
        </ul>
      </div>      
    </div>
    <div class="clear"></div>

    
    <div class="MiddelStandartBlok">
    	<div class="MiddelLeft"></div>
    	<div class="MiddelRight content">
		Страница не найдена
		</div>
		</div>
		</div>
		
		
		
		
		
		{if $smarty.const.APPLICATION_ENV == 'development'}
		<p><strong>{$exception->getMessage()|replace:"\n":"<br />"}</strong></p>
		<pre>{$exception->getTraceAsString()}</pre>
		{/if}
	
</body>
</html>