{if $user}
<div class="wellcome">
	<span class="wcText">Здравствуйте, &nbsp;</span><span class="iam">{$user->getFullName()}</span>
</div>
<div class="logout"><a href="{$baseURL}/auth/logout">Выйти</a></div>
{/if}