.new-project {
	position: relative;
	float: left;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 454px;
}
.new-project h2 {
	margin-bottom: 10px;
}
.new-project .show-description {
	
}
.new-project .topic-block {
	position: absolute;
	width: 230px;
	box-shadow: #a8a8a8 0px 0px 30px;
	behavior: url(/css/PIE.htc);
}
.new-project .topic-block.active {z-index: 2;}
.new-project .topic-block:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: -40px;
	width: 39px;
	height: 225px;
	background: url({url_prefix}/topicBlockRightShadow.png) left top no-repeat;
}
.new-project .topic-block:after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: -23px;
	margin-right: -10px;
	width: 229px;
	height: 24px;
	background: url({url_prefix}/topicBlockBottomShadow.png) left top no-repeat;
}
.new-project .project-block {
	position: relative;
	margin: 41px 0 0 28px;
	padding: 30px 40px;
	width: 330px;
	background: #fff;
}
.new-project .project-block.active {z-index: 2;}
.new-project .project-block h1 {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	color: #036280;
}
.new-project .project-block p {margin-bottom: 25px; font: 13px Arial;}
.new-project .detail {font: 12px/1.4 Arial;}
.new-project .detail span {text-decoration: underline;}
.new-project .detail:hover span {text-decoration: none;}
.new-project .detail:after {
	content: '→';
	margin-left: 5px;
	color: #333333;
}
.new-project .clip {
	position: absolute;
	right: 50%;
	margin-right: -14px;
	margin-top: 16px;
	width: 36px;
	height: 52px;
	background: url({url_prefix}/newProjectClip.png) no-repeat;
	z-index: 3;
}
.new-project .show-description {
	display: inline-block;
	float: right;
	margin-top: 5px;
	margin-right: 70px;
	font: italic 12px Arial;
}
.new-project .show-description span + span {display: none;}
.new-project .show-description.active span:first-child {display: none;}
.new-project .show-description.active span + span {display: inline;}
.new-project .show-description span {border-bottom: 1px dotted #005b7f;}
.new-project .show-description:hover span {border-bottom: none;}
.new-project .show-description:after {
	content: '↓';
	font-size: 14px;
}