{if $error}<div class="home_eror" style="margin-bottom:10px;">{$error}</div>{/if}
<div class="home_messages">
<form action="{$formURL}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$record.id}" />
<table>
<tr>
	<td class="name">Раздел</td>
	<td class="form">
		<select name="section_id" onchange="loadPages(this);">
		{foreach from=$sections item=section}
		<option value="{$section.id}" {if $section.id == $record.section_id}selected="selected"{/if}>{$section.name}</option>
		{/foreach}
		</select>
	</td>
</tr>
<tr>
	<td class="name">Страница</td>
	<td class="form">
		<select name="page_id" id="PagesSelect">
		{foreach from=$pages item=page}
		<option value="{$page.id}" {if $page.id == $record.page_id}selected="selected"{/if}>{$page.viewname}</option>
		{/foreach}
		</select>
	</td>
</tr>
<tr>
	<td class="name">Пользователь</td>
	<td class="form">
	<select name="user_id">
	{foreach from=$employees item=user}
		<option value="{$user.id}" {if $user.id == $record.user_id}selected="selected"{/if}>{$user.login}</option>
	{/foreach}
	</select>
	</td>
</tr>
</table>
<div class="sep">
    <input class="home_but_save" type="submit" value="" />
     или <input type="submit" name="delete" value="Удалить" onclick="return confirm('Вы действительно хотите удалить запись?');"/>    <!-- input class="home_but_del" type="submit" name="delete" value="" / -->
</div>
</form>
</div>

{literal}
<script>
function loadPages(selectObject) {
	var data = {
		target: 'getPages', 
		section_id: selectObject.value
	};
	
	$('#PagesSelect option').remove();
	$.get(window.location.pathname, data, function(html) {
		var pages = eval('(' + html + ')');		
		for(var i = 0; i < pages.length; i++) {
			var option = $('<option>').attr('value', pages[i].id).text(pages[i].viewname);
			$('#PagesSelect').append(option);
		}
	});
}
</script>
{/literal}