<!--noindex-->				
					<img src="/img/cleft.png" width="13" height="86" alt="" class="im-left">
					<div class="cart-content">
						<p><a rel="nofollow" href="/basket/" class="cart-title">Корзина</a></p>
						{{if goodsCount}}
						<p>Товаров: <span>{{goodsCount}}</span>  &nbsp;На сумму: <span>{{PriceFormat value="{{totalCost}}" }} руб.</span></p>
						{{else}}
						<p>В корзине нет товаров</p>
						{{endif}}
					</div>
					<img src="/img/cright.png" width="13" height="86" alt="" class="im-left">			
<!--/noindex-->				