  <div style="position:relative;padding-top:20px;padding-bottom:20px;">

    <div class="CatalogOrderForms">
      <div class="catalog-forms-wrap">
      <h2 class="catalogZagolovok">Оформление заказа</h2>
      <div class="order-info">
        <div class="num"><b>Номер заказа:</b> {{order.name}}</div>
        <div class="date"><b>Дата заказа:</b> {{ DateFormat date="{{order.date}}" format="%d %B %Y" rumonth="1" }}</div>
      </div>

        <div class="tabs">
          <div class="tab tab-ind active" onclick="basket.switchForm('individual');return false;" ><span>Физическое лицо</span></div>
          <div class="tab tab-jur" onclick="basket.switchForm('juridical');return false;"><span>Юридическое лицо</span></div>
        </div>

        <div class="tabs-content">
          
            <form class="form" action="/basket/order_save/" method="POST" id="OrderForm" enctype="multipart/form-data">
              <input type="hidden" name="client_type" value="individual" id="client_type">
              <div class="f-row">
                <div class="f-col-33">
                  <label>Ваше имя <span class="required">*</span></label>
                  <input type="text" name="client_name" value="">
                </div>
                <div class="f-col-33">
                  <label>Номер телефона <span class="required">*</span></label>
                  <input type="text" name="client_phone_number">

                </div>
                <div class="f-col-33" >
                  <label>Моб. телефон </label>
                  <input type="text" name="client_cellphone" value="">
                </div>

                <div class="f-col-33 juridical">
                  <label>Название компании <span class="required">*</span><span class="label-note">(с указанием формы собственности)</span></label>
                  <input type="text" name="company_name" value="">
                </div>
                <div class="f-col-33 juridical">
                  <span class="label-note">&nbsp;</span>
                  <label>ИНН</label>
                  <input type="text" name="company_inn" value="">
                </div>
                <div class="f-col-33 juridical">
                  <span class="label-note">&nbsp;</span>
                  <label>КПП </label>
                  <input type="text" name="company_kpp" value="">
                </div>


                <div class="f-col-33">
                  <label>Доставка</label>
                  <div class="select-style">
                  <select class="select-delivery" name="delivery_type_id" id="DeliveryType">
                    {{deliveryTypes}}
                <option value="{{id}}">{{title}}</option>                
              {{/deliveryTypes}}
                  </select>
                  </div>
                <span class="delivery-cost" id="DeliveryPrice">{{deliveryPrice}}</span>
                 <script>
                deliveryTypes = {{deliveryTypesJson}};
              </script>
                </div>
                <div class="f-col-33">
                  <label>Способо оплаты</label>
                  <div class="select-style">
                  <select class="select-delivery" name="payment_type_id" id="PaymentType">
                     {{paymentTypes}}
                <option value="{{id}}">{{title}}</option>
              {{/paymentTypes}}
                  </select>
                  </div>
                </div>
                <div class="f-col-33">
                  <label>Электронная почта </label>
                  <input type="text" name="client_email" value="">
                </div>
                <div class="f-col-100">
                  <label>Адрес доставки </label>
                  <input type="text" name="delivery_address" value="">
                </div>
                <div class="f-col-100">
                  <label>Комментарий к заказу </label>
                  <input type="text" name="comment">
                </div>
                <div class="f-col-33">
                <div class="juridical">
                  <label>Прикрепить файл</label>
                  <div class="input-file">
                    <input type="file" name="attach" value="">
                  </div>
                  </div>
                  <div class="col-mg"></div>
                  <label>Промо-код</label>
                  <input type="text" name="promocode" value="">
                </div>
                <div class="f-col-33">
                  <div class="cost-wrap">
                    <span>Итого к оплате<br/>(с учетом доставки)</span>
                    <span class="cost" id="TotalCost">{{totalCostWithDelivery}}</span>
                    <span>руб.</span>
                    <input type="hidden" name="BaseCost" id="BaseCost" value="{{totalCost}}">
                  </div>
                </div>
                <input type="hidden" name="assembly" value="0">
                <input type="hidden" name="lifting" value="0">
                <div class="f-col-33">
                <div class="col-mg-lg" class="juridical"></div>
                  <a id="MakeOrderButton"   href="javascript:void(0);" onclick="basket.submitOrderForm();"><img src="/img/placeorderbut.gif" width="329" height="86" alt="" /></a>
                </div>
              </div>
              <span class="note">После нажатия на кнопку "Оформить заказ" с Вами свяжется наш менеджер для уточнения условий заказа, доставки и оплаты.</span>
              <input type="submit" value="*" style="display:none;"/>
            </form>
          </div>
 

        

      </div>
    </div>
</div>
<style>
.juridical {
  display:none;
}
.red {
  color:red;
}
.error_box {
  font-size: 10px;
  color:red;
      position: absolute;
    
    margin-top: 5px;
    /*margin-left: 10px;*/
}
</style>