<table><tr>
{foreach from=$projectAccessTypes item=accessType key=projectTypeName}
<td>
<table>
<tr><th style="text-align:left;">{$accessType.title}</th></tr>
{foreach from=$accessType.rows item=item  key=key}
<tr><td>
	<input type="checkbox" name="project_access[{$item.id}]" id="{$projectTypeName}_{$item.name}" {if $projectAccess[$item.id]}checked="checked"{/if}/>
	<label for="{$projectTypeName}_{$item.name}" >{$item.title}</label>
</td></tr>
{/foreach}
<tr><td>-------------</td></tr>
{foreach from=$logins item=item  key=key}
<tr><td>
	<input type="checkbox" name="login_access[{$projectTypeName}][{$item.id}]" id="{$projectTypeName}_logins_{$item.id}" {if $loginsAccess[$projectTypeName][$item.id]}checked="checked"{/if}/>
	<label for="{$projectTypeName}_logins_{$item.id}" >{$item.title}</label>
</td></tr>
{/foreach}
</table>
</td>
{/foreach}
</tr></table>