{foreach from=$tables item=table}
	<tr class="data">
	<td ><span class="table-name">{$table.name}</span></td>
	<td align="center"><input type="checkbox" name="access[{$table.id}][read]" {if $access[$table.id].read}checked="checked"{/if}/></td>
	<td align="center"><input type="checkbox" name="access[{$table.id}][write]" {if $access[$table.id].write}checked="checked"{/if}/></td>
	<td align="center"><input type="checkbox" name="access[{$table.id}][delete]" {if $access[$table.id].delete}checked="checked"{/if}/></td>
	</tr>
{/foreach}