{if isset($projectAccessTypes)}{include file="access-projects.html"}{/if}
<table>
<tr valign="top">
	<td>
		<h3>Доступ к объектам:</h3>
		<table class="access_table">
		<tr>
			<th></th>
			<th width="40">Чтн</th>
			<th width="40">Зап</th>
			<th width="40">Удал.</th>
		</tr>
		<tr>
			<th></th>
			<th width="40"><input class="selectAll" type="checkbox" value="0"/></th>
			<th width="40"><input class="selectAll" type="checkbox" value="1"/></th>
			<th width="40"><input class="selectAll" type="checkbox" value="2"/></th>
		</tr>
		{foreach from=$tables item=table}
			<tr class="data" id="t{$table.id}">
			<td ><span class="table-name">{$table.name}</span></td>
			<td align="center"><input type="checkbox" name="access[{$table.id}][read]" {if $access[$table.id].read}checked="checked"{/if}/></td>
			<td align="center"><input type="checkbox" name="access[{$table.id}][write]" {if $access[$table.id].write}checked="checked"{/if}/></td>
			<td align="center"><input type="checkbox" name="access[{$table.id}][delete]" {if $access[$table.id].delete}checked="checked"{/if}/></td>
			</tr>
		{/foreach}
		</table>
		{if isset($group)}
		<div class="field_access">
			<h3>Запретить доступ к полям:</h3>
			<ul>{include file="denied-fields.html"}</ul>
			<div id="AddFieldContainer">
				<select name="field[table_id]" onchange="loadTableFields(this);">
					<option value="">Выбрать</option>
					{html_options options=$tablePairs}
				</select>
				<br /><button onclick="denyField(this); return false;">Запретить</button>
			</div>
		</div>
		{/if}
	</td>
	<td>
		<h3>Доступ к Разделам и страницам:</h3>
		<table class="access_table">
		<tr>
			<th></th>
			<th width="40">Чтн</th>
			<th width="40">Зап</th>
			<th width="40">Удал.</th>
		</tr>
		<tr>
			<th></th>
			<th width="40"><input class="selectAll" type="checkbox" value="0"/></th>
			<th width="40"><input class="selectAll" type="checkbox" value="1"/></th>
			<th width="40"><input class="selectAll" type="checkbox" value="2"/></th>
		</tr>
		{foreach from=$areas item=section}
			<tr class="data section" id="s{$section.id}">
			<td ><span class="table-name"><strong>{$section.name}</strong></span></td>
			<td align="center"><input type="checkbox" name="section_access[{$section.id}][read]" {if $sectionAccess[$section.id].read}checked="checked"{/if}/></td>
			<td align="center"><input type="checkbox" name="section_access[{$section.id}][write]" {if $sectionAccess[$section.id].write}checked="checked"{/if}/></td>
			<td align="center"><input type="checkbox" name="section_access[{$section.id}][delete]" {if $sectionAccess[$section.id].delete}checked="checked"{/if}/></td>
			</tr>
			{if isset($section.pages)}{foreach from=$section.pages item=page}
			<tr class="data" rel="{$section.id}">
			<td > -- <span class="table-name" title="{$page.obj_id}">{$page.viewname}</span></td>
			<td align="center"><input type="checkbox" name="page_access[{$page.id}][read]" {if $pagesAccess[$page.id].read}checked="checked"{/if}/></td>
			<td align="center"><input type="checkbox" name="page_access[{$page.id}][write]" {if $pagesAccess[$page.id].write}checked="checked"{/if}/></td>
			<td align="center"><input type="checkbox" name="page_access[{$page.id}][delete]" {if $pagesAccess[$page.id].delete}checked="checked"{/if}/></td>
			</tr>
			{/foreach}{/if}
		{/foreach}
		</table>
	</td>
</tr>
</table>