{foreach from=$deniedFields item=field}
<li>
	<span class="table_name">{$field.table_name}</span>.<span class="field_name">{$field.viewname}</span>
	<a href="#" onclick="allowField({$group.id}, {$field.id}); return false;"><img src="/cms/images.old/trash.png" /></a>
</li>
{/foreach}