{literal}
<style>
table.access_table {
	width:auto;
}
table.access_table td {
	border-bottom:1px solid #BAC1C9;
}
table span.table-name {
	cursor:pointer;
}
table span.table-name:hover {
	font-weight:bold;
}
#AccessTables td {
	vertical-align: top;
}
</style>
{/literal}
<br clear="all" />
{if $errors}<div class="home_error"><ul>
{foreach from=$errors item=error}
<li>{$error}</li>
{/foreach}</ul>
</div>{/if}
<div class="home_messages">
<form action="{$formURL}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$group.id}" />
<table>
<tr>
	<td class="name">Название</td>
	<td class="form"><input type="text" name="group[name]" value="{$group.name}" /></td>
</tr>
<tr>
	<td class="name">Родительская группа</td>
	<td class="form"><select name="group[parent_id]">
	<option value="">Не выбрано</option>
	{html_options options=$groups selected=$group.parent_id}
	</select></td>
</tr>
</table>
<div class="sep" id="AccessTables">
{include file="access.html"}
</div>
<div class="sep">
    <input class="home_but_save" type="submit" value="" />
    {if $group.id} или <input type="submit" name="delete" value="Удалить" />{/if}
    <!-- input class="home_but_del" type="submit" name="delete" value="" / -->
</div>
</form>
</div>
{literal}
<script>
$('input.selectAll').click(function() {
	var number = this.value;
	if($(this).is(':checked')) {
		$(this).parent().parent().siblings('.data').each(function () {
			$(this).find('input').eq(number).attr('checked', 'checked');
		});
	} else {
		$(this).parent().parent().siblings('.data').each(function () {
			$(this).find('input').eq(number).removeAttr('checked');
		});
	}
});

$('span.table-name').click(function () {
	var tr = $(this).parent().parent();
	var checked = tr.find('input:checked');
	var check = false;
	var tableID = $(this).attr('title');
	var changeTableAccess = false;
	var isSectionSelector = $(this).parent().parent().hasClass('section');
	if(!isNaN(tableID) || isSectionSelector) {
		if(isSectionSelector) {
			changeTableAccess = confirm("Изменить доступ к соответствующим таблицам?"); 
		} else {
			var tableName = $('#t' + tableID + ' span.table-name').text();
			changeTableAccess = confirm("Изменить доступ к соответствующей таблице \"" + tableName + '"');
		}
	}
	if(checked.length == 3) {
		tr.find('input').removeAttr('checked');
		if(changeTableAccess) {
			$('#t' + tableID).find('input').removeAttr('checked');
		}
		check = false;
	} else {
		tr.find('input').attr('checked', 'checked');
		if(changeTableAccess) {
			$('#t' + tableID).find('input').attr('checked', 'checked');
		}
		check = true;
	}
	
	if(isSectionSelector) {
		var sectionID = tr.attr('id').replace('s', '');
		if(check) {
			$('tr[rel="' + sectionID + '"]').find('input').attr('checked', 'checked');
		} else {
			$('tr[rel="' + sectionID + '"]').find('input').removeAttr('checked');
		}
		
		if(changeTableAccess) {
			var spans = $('tr[rel="' + sectionID + '"]').find('span.table-name').each(function() {
				var tableID = $(this).attr('title');
				if(check) {				
					$('#t' + tableID).find('input').attr('checked', 'checked');
				} else {
					$('#t' + tableID).find('input').removeAttr('checked');
				}
				
			});
		}
		
	}
	
});

function loadTableFields(select) {
	var value = $(select).val();
	var urlRegexp = /^(.*)group\/(\d+).*$/;
	var m = urlRegexp.exec(window.location.pathname);
	var url = m[1];
	var groupID = m[2];
	$.get(url + 'field_access/' + groupID + '/', {get_fields: 1, table_id: value}, function(html) {
		var fields = eval('(' + html + ')');
		$(select).siblings('select').remove();
		var IDSelect = $('<select>').attr('name', 'field[id]');
		for(var i = 0; i < fields.length ; i++) {
			var option = $('<option>').attr('value', fields[i].id).text(fields[i].viewname).appendTo(IDSelect);
		}
		$(select).after(IDSelect);
	});
}

function denyField(button) {
	var selects = $(button).siblings('select');
	console.log(selects);
	
	var urlRegexp = /^(.*)group\/(\d+).*$/;
	var m = urlRegexp.exec(window.location.pathname);
	var url = m[1];
	var groupID = m[2];
	
	var postData = {
		deny_field: true, 
		group_id : groupID
	}
	postData[selects[0].getAttribute('name')] = selects[0].value;
	postData[selects[1].getAttribute('name')] = selects[1].value;
	
	$.post(url + 'field_access/' + groupID + '/', postData, function(html) {
		$('.field_access ul').html(html);
	});
	
}

function allowField(groupID, fieldID) {
	var urlRegexp = /^(.*)group\/(\d+).*$/;
	var m = urlRegexp.exec(window.location.pathname);
	var url = m[1];
	
	var postData = {
		allow_field: true, 
		group_id: groupID, 
		field_id: fieldID
	}
	
	$.post(url + 'field_access/' + groupID + '/', postData, function(html) {
		$('.field_access ul').html(html);
	});
}
</script>
{/literal}