{literal}
<style>
ul.groupList {
	font: bold 18px Tahoma,Geneva,sans-serif;
}
ul.groupList > li {
	margin-bottom:18px;
}
ul.groupList > li > ul {margin-left:10px;}
ul.groupList > li > ul > li {
	list-style:circle inside none;
}
ul.groupList > li > ul > li.add_another {
	list-style-type: disc;
	color:#AAA;
}
ul.groupList > li > ul > li.add_another a {
	color:#AAA;
}
ul.userList li.superuser {
	color:red;
	list-style:disc inside none;
}
div.addGroup {
	margin-top:20px;
	font: bold 18px Tahoma,Geneva,sans-serif;
}
div.addGroup a{
	text-decoration: none;
	border-bottom:1px dashed #013466;
}
div.addGroupForm, .addUserForm {
	margin-top:4px;
	display:none;
}
</style>
{/literal}
<br clear="all" />
<ul class="groupList">
	{foreach from=$groups item=group}
	<li>
		<a href="{$baseURL}group/{$group.id}/">{$group.name}</a>
			<ul class="userList">
			{foreach from=$group._users item=user}
			<li {if $user.superuser}class="superuser" title="Суперпользователь"{/if}><a href="{$baseURL}user/{$user.id}/">{$user.login}</a></li>
			{/foreach}
			<li class="add_another"><a href="{$baseURL}user/0/?group_id={$group.id}">Добавить пользователя</a></li>
			</ul>
	</li>
	{/foreach}
</ul>
<div class="addGroup">
	<a href="{$baseURL}group/0/" onclick="$('.addGroupForm').toggle();return false;">Добавить группу</a>
	<div class="addGroupForm"><form action="{$baseURL}group/0/" method="post">
	Название: <input type="text" name = "group[name]"/>
	<input type="submit" value="Сохранить" />
	</form></div>
</div>