{literal}
<style>
table.access_table {
	width:auto;
}
table.access_table td {
	border-bottom:1px solid #BAC1C9;
}
table span.table-name {
	cursor:pointer;
}
table span.table-name:hover {
	font-weight:bold;
}
#AccessTables td {
	vertical-align: top;
}
</style>
{/literal}
<br clear="all" />
<div class="home_messages">
<form action="{$formURL}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$user.id}" />
<table>
<tr>
	<td class="name">Логин</td>
	<td class="form"><input type="text" name="user[login]" value="{$user.login}" /></td>
</tr>
<tr>
	<td class="name">Пароль</td>
	<td class="form"><input type="password" name="user[password]" value="" /></td>
</tr>
<tr>
	<td class="name">Группа</td>
	<td class="form"><select name="user[group_id]" id="GroupSelect">
	{html_options options=$groups selected=$user.group_id}
	</select></td>
</tr>
<tr>
	<td class="name">Суперюзер</td>
	<td class="form"><input type="checkbox" name="user[superuser]" value="1" {if $user.superuser}checked="checked"{/if}/></td>
</tr>
</table>
<div class="sep" id="AccessTables">
{include file="access.html"}
</div>
<div class="sep">
    <input class="home_but_save" type="submit" value="" />
    {if $user.id} или <input type="submit" name="delete" value="Удалить" />{/if}
    <!-- input class="home_but_del" type="submit" name="delete" value="" / -->
</div>
</form>
</div>
{literal}
<script>
$('input.selectAll').click(function() {
	var number = this.value;
	if($(this).is(':checked')) {
		$(this).parent().parent().siblings('.data').each(function () {
			$(this).find('input').eq(number).attr('checked', 'checked');
		});
	} else {
		$(this).parent().parent().siblings('.data').each(function () {
			$(this).find('input').eq(number).removeAttr('checked');
		});
	}
});

function initCheckboxes() {
	$('span.table-name').click(function () {
		var tr = $(this).parent().parent();
		var checked = tr.find('input:checked');
		var check = false;
		var tableID = $(this).attr('title');
		var changeTableAccess = false;
		var isSectionSelector = $(this).parent().parent().hasClass('section');
		if(!isNaN(tableID) || isSectionSelector) {
			if(isSectionSelector) {
				changeTableAccess = confirm("Изменить доступ к соответствующим таблицам?"); 
			} else {
				var tableName = $('#t' + tableID + ' span.table-name').text();
				changeTableAccess = confirm("Изменить доступ к соответствующей таблице \"" + tableName + '"');
			}
		}
		if(checked.length == 3) {
			tr.find('input').removeAttr('checked');
			if(changeTableAccess) {
				$('#t' + tableID).find('input').removeAttr('checked');
			}
			check = false;
		} else {
			tr.find('input').attr('checked', 'checked');
			if(changeTableAccess) {
				$('#t' + tableID).find('input').attr('checked', 'checked');
			}
			check = true;
		}
		
		if(isSectionSelector) {
			var sectionID = tr.attr('id').replace('s', '');
			if(check) {
				$('tr[rel="' + sectionID + '"]').find('input').attr('checked', 'checked');
			} else {
				$('tr[rel="' + sectionID + '"]').find('input').removeAttr('checked');
			}
			
			if(changeTableAccess) {
				var spans = $('tr[rel="' + sectionID + '"]').find('span.table-name').each(function() {
					var tableID = $(this).attr('title');
					if(check) {				
						$('#t' + tableID).find('input').attr('checked', 'checked');
					} else {
						$('#t' + tableID).find('input').removeAttr('checked');
					}
					
				});
			}
			
		}
		
	});
}

	$('#GroupSelect').change(function () {
		var id = this.value;
		var url = window.location.pathname.replace(/user\/\d+/, 'group_access/' + id);
		$.get(url, function (html) {
			$('#AccessTables').html(html);
			initCheckboxes();
		});
	});
initCheckboxes();
</script>
{/literal}