{if $fieldDataError}<div class="home_eror" style="margin-bottom:10px;">{$fieldDataError}</div>{/if}
{if $saved}<div class="home_success" style="margin-bottom:10px;">Сохранено</div>{/if}

<div class="home_messages">
<form action="{$baseURL}/section/{$section.id}/{$page.id}/{$dependencyURL}edit/{if $data.id}{$data.id}{/if}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$data.id}" />
<table>
{foreach from=$fields item=field name=fields}
{if $field->isEditable()}
<tr>
	<td class="name">
	{if $field->isURLField()}<img class="url_field_icon" src="{$baseURL}/cms/images/url_field.png" alt="URL-поле" title="Это поле является URL-полем. Допустимы только латинские буквы, цифры, минус и знак подчеркивания. Должно быть уникальным. "/>{/if}
		{$field->getViewname()}
	</td>
	<td class="form">{$field->renderEdit($data)}{if $field->getHint()}<div class="field_hint">{$field->getHint()}</div>{/if}</td>
</tr>
{/if}
{/foreach}
<tr>
	<td class="name"><nobr><b>После сохранения</b></nobr></td>
	<td class="form">
	<select name="_afterSaveAction">
		<option value="edit" {if $_afterSaveAction == "edit"}selected="selected"{/if}>Редактировать запись</option>
		<option value="add" {if $_afterSaveAction == "add"}selected="selected"{/if}>Добавить ещё</option>
		<option value="add_the_same" {if $_afterSaveAction == "add_the_same"}selected="selected"{/if}>Добавить ещё такую же</option>
		<option value="show_table" {if $_afterSaveAction == "show_table"}selected="selected"{/if}>Показать таблицу</option>
	</select>
	</td>
</tr>
</table>
<div class="sep">
    <input class="home_but_save" type="submit" value="" />
    {if $data.id} или <input type="submit" name="delete" value="Удалить" onclick="return confirm('Вы действительно хотите удалить запись?');"/>{/if}
    <!-- input class="home_but_del" type="submit" name="delete" value="" / -->
</div>
</form>
</div>