<div class="c2 green">
<form action="{$baseURL}/section/{$sectionID}/{$pageID}/{$dependencyURL}group_edit/" method="post" enctype="multipart/form-data" id="GroupEditForm">
{foreach from=$items item=itemID}
<input type="hidden" name="_item[{$itemID}]" value="{$itemID}" /> 
{/foreach}
<input type="hidden" name="_field_name" value="{$field->getName()}" />
<table>
<tr>
	<td width="150"><b>{$field->getViewname()}</b></td>
	<td>{$field->renderEdit(null)}</td>
</tr>
<tr>
	<td class="bott"><label><input type="image" src="/cms/images.old/save.jpg" name="imageField"></label></td>
	<td class="bott"></td>
</tr>
</table>
</form>
</div>