<div class="home_messages">
<form action="{$formAction}" method="post" enctype="multipart/form-data" id="GroupEditForm">
<table>
    <tr>
        <td class="name">{$field->getViewname()}</td>
        <td class="form">{$field->renderEdit(null)}</td>
    </tr>
</table>
<div class="sep">
    <input class="home_but_save" type="submit" value="" />
</div>
{foreach from=$items item=itemID}
<input type="hidden" name="_item[{$itemID}]" value="{$itemID}" /> 
{/foreach}
<input type="hidden" name="tbl_action" value="group_operation" />
<input type="hidden" name="_field_name" value="{$field->getName()}" />
</form>
</div>