{{if items}}			
			<div class="LeftCilumTiteMiddel">
  				<h3>Специальное предложение:</h3>

				<div class="special-offer">
					<div class="arc"><img src="newImg/slider-arc.png"/></div>
					<div class="img-wrap">
						{{items}}
						<img {{if _is_first_}}class="active"{{endif}} src="{{image}}">
						{{/items}}
					</div>
	  				<div class="controls">
	  					<div class="progress"><span class="scroll"></span></div>
	  					<a href="#" class="prev"></a>
	  					<a href="#" class="next"></a>
	  				</div>
					<div class="content-wrap">
					
					
						{{items}}
						<div class="content {{if _is_first_}}active{{endif}}">
							<div class="name">
								<a href="{{url}}">{{title}}</a>
								<p>{{annotation_short}}</p>
							</div>
							<div class="description">
								{{annotation}}
							</div>
						</div><!-- .content -->
						{{/items}}
						
						
					</div>
					
				</div><!-- .special-offer -->
				
			</div><!-- .LeftCilumTiteMiddel -->
{{endif}}