/*html {
	font: 12px/1.4 "Tahoma";
	color: #000;
}*/

html, body {min-height: 100%;}

#auditors-modal a {color: #bb0000; text-decoration: none;}

#overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	background: url(/cms/images.auditors/overlayBg.png);
	z-index: 9;
}

#auditors-modal input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
	margin-right: 7px;
}

#auditors-modal {
	display: none;
/*	position: absolute;
	left: 50%;
	margin: 150px 0 0 -270px;*/
	width: 540px;
	border-radius: 5px;
	background: #fff;
	z-index: 150;
}
#auditors-modal .header {
	position: relative;
	padding: 13px 29px 13px 40px;
	color: #001d55;
	border-radius: 5px 5px 0 0;
	background: #f6f8fa;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f6f8fa), to(#d3dee8));
	background: -webkit-linear-gradient(#f6f8fa, #d3dee8);
	background: -moz-linear-gradient(#f6f8fa, #d3dee8);
	background: -ms-linear-gradient(#f6f8fa, #d3dee8);
	background: -o-linear-gradient(#f6f8fa, #d3dee8);
	background: linear-gradient(#f6f8fa, #d3dee8);
	-pie-background: linear-gradient(#f6f8fa, #d3dee8);
	behavior: url(css/PIE.htc);
}
#auditors-modal .header .closer {
	position: absolute;
	top: 0;
	right: 0;
	margin: 13px 14px;
	padding: 3px;
	width: 12px;
	height: 12px;
	background: url(/cms/images.auditors/modal-closer.png) center center no-repeat;
}
#auditors-modal .left-col {
	float: left;
	padding: 32px 0 32px 19px;
	width: 181px;
}
#auditors-modal .project-list {

}
#auditors-modal .project-list li {
	padding: 12px 13px;
}
#auditors-modal .project-list li.active {
	margin-bottom: 5px;
	padding: 12px 13px;
	border-radius: 2px 0 0 2px;
	background: #f4e6c4;
}
#auditors-modal .project-list a {
	padding-bottom: 1px;
	font-size: 14px;
	color: #0072bb;
	cursor: pointer;
	border-bottom: 1px dashed #0072bb;
}
#auditors-modal .project-list .active a {
	border-bottom: none;
	color: #000;
}
#auditors-modal .project-list a:hover {border-bottom: none;}
#auditors-modal .project-list .num {
	display: none;
	vertical-align: middle;
	margin: -2px 0 0 7px;
	width: 18px;
	height: 18px;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
	color: #fff;
	background: url(/cms/images.auditors/numBg.png) center center no-repeat;
}


#auditors-modal .content {
	overflow: hidden;
	padding: 10px 2px 10px 25px;
	border-left: 1px solid #c8d5e2;
}
#auditors-modal .check-filters {

}
#auditors-modal .check-filters li {
	display: inline-block;
	margin: 0 0 25px 20px;
}
#auditors-modal .check-filters a {font-size: 11px; border-bottom: 1px dashed #bb0000;}
#auditors-modal .check-filters a:hover {border-bottom: none;}
#auditors-modal .scroll-pane {
	height: 300px;
	margin-bottom: 30px;
	overflow-y: auto;
	outline: none;
}
#auditors-modal ::-webkit-scrollbar {width: 2px;}
 /* Track */
#auditors-modal ::-webkit-scrollbar-track {background: #fff;}
 /* Handle */
#auditors-modal ::-webkit-scrollbar-thumb:hover {background: #002866;}
#auditors-modal ::-webkit-scrollbar-thumb {background: #002866;}


#auditors-modal .auditors-list {
	margin-bottom: 20px;
	outline: none;
}
#auditors-modal .auditors-list li {margin-bottom: 15px;}
#auditors-modal .auditors-list li.disabled {
	position: relative;
	color: #868686;
}
#auditors-modal .auditors-list li.disabled:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	background: url(/cms/images.auditors/liDisableBg.png);
}
#auditors-modal .auditors-list span.you {margin-left: 9px; font-size: 10px;}
#auditors-modal .choose-panel {
	clear: both;
	padding: 15px 20px 15px 30px;
	border-radius: 0 0 5px 5px;
	background: #f4e6c4;
	behavior: url(css/PIE.htc);
}
#auditors-modal .choose-panel > p:first-child {
	margin-bottom: 10px;
	font-size: 11px;
	color: #9e8f6b;
}
#auditors-modal .aud-choose-list {
	margin-bottom: 25px;	
}
/*#auditors-modal .aud-choose-list li {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 25px;	
}*/
#auditors-modal .aud-choose-list span:before {
	content: ',';
	margin: 0 5px 0 -4px;
}
#auditors-modal .aud-choose-list li:first-child span:before {content: none;}
#auditors-modal .add-panel input[type=submit] {
	display: inline-block;
	vertical-align: top;
	padding-bottom: 7px;
	width: 174px;
	height: 44px;
	color: #fff;
	font-weight: bold;
	text-shadow: #2b6f16 0 -1px 1px;
	border: none;
	cursor: pointer;
	background: url(/cms/images.auditors/addAuditorsBg.png) no-repeat;
}
#auditors-modal .add-panel input[type=submit]:hover {background-position: left bottom;}
#auditors-modal .clear-auditors {
	float: right;
	margin-top: 10px;
	font-size: 11px;
	color: #9e8f6b;
	border-bottom: 1px dashed #9e8f6b
}
#auditors-modal .clear-auditors:hover {border-bottom: 0;}