ul.breadcrumbs {
	width:100%;
	font:bold 12px/49px Tahoma, Geneva, sans-serif;
	z-index: 999;
}

ul.breadcrumbs > li {
	float:left;
}
ul.breadcrumbs > li span.hint {
	color: #666666;
    display: block;
    font: 10px Arial;
    margin-top: -15px;
}
ul.breadcrumbs > li.delimeter {
	margin:0 4px;
}
ul.breadcrumbs > li:first-child {
	background:url(/cms/images/h1.gif) 0 24px no-repeat;
	padding-left:10px; 
	float:left;
}
ul.breadcrumbs > li.dependency > a{
	text-decoration: none;
	border-bottom: 1px dashed #013466;
}
ul.breadcrumbs > li.dependency > ul {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C1C1C1;
    line-height: 1.5em;
    margin-left: -10px;
	margin-top: -6px;
    padding: 0 10px 10px;
    position: absolute;
	display:none;
}
ul.breadcrumbs > li.dependency > ul  ul {
	padding-left: 10px;
}