* { margin: 0; padding: 0; outline: 0; font-size: 100.1%; }

html { height: 100%; }
body { font: normal 12px/14px Arial, Helvetica, sans-serif; color:#000; height: 100%;  }

table {	border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
img { border:0 }

input, select, button, textarea { margin: 0; font-size: 100%; }
input[type="text"], input[type="password"], textarea { padding: 0; border:1px solid #C6C6C6; background:#fff url(/cms/images/input.jpg) 0 0 repeat-x; }
input[type="checkbox"] { vertical-align: bottom; }
input[type="radio"] { vertical-align: text-bottom; }
input, select, button, textarea { font-family:Arial, Helvetica, sans-serif }
label, input[type="button"], input[type="submit"], button { cursor: pointer; height:inherit; }
input { height:18px; line-height:18px; }
select { background:#FFF; border:1px solid #A6A6A6; /*-moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px;*/ font-size:12px; behavior: url(PIE.htc); color:#000; height:21px; line-height:21px; width:165px; position:relative }

h1 { margin:0 0 0 10px; padding:0 0 0 10px; background:url(/cms/images/h1.gif) 0 37px no-repeat; font:bold 24px/71px Tahoma, Geneva, sans-serif; }
h2 { margin:0 0 0 10px; padding:0 0 0 9px; background:url(/cms/images/h1.gif) 0 27px no-repeat; font:bold 12px/55px Tahoma, Geneva, sans-serif; }

a { color:#013466; text-decoration: underline; }
a:hover { text-decoration: none; }

p { margin: 10px 0; }

.cl{ content: "."; display: block; float:none; clear:both; height:0; overflow: hidden; }

#wrapper { width: 100%; min-width: 1000px; min-height: 100%; height: auto !important; height: 100%; }


/* Header
-----------------------------------------------------------------------------*/
#header { height: 87px; background:url(/cms/images/bg.gif) 0 0 repeat-x; }

#header .logo { position:absolute; z-index:1; top:32px; left:38px; }

#header .user { position:absolute; z-index:2; top:15px; left:220px; height:21px; background:url(/cms/images/user_bg.gif) 0 0 repeat-x; }
#header .user div { background:url(/cms/images/user_left.gif) 0 0 no-repeat; }
#header .user div div { background:url(/cms/images/user_right.gif) 100% 0 no-repeat; }
#header .user div div a { display:block; color:#E6ECF2; font:bold 11px/21px Arial; padding:0 17px 0 27px; *position:relative; *top:-1px; }

#header .top_right { position:absolute; z-index:3; top:17px; right:30px;  }
#header .top_right .exit { float:left; background:url(/cms/images/exit.png) 0 0 no-repeat; margin:3px 0 0 20px; padding:0 0 0 18px; }
#header .top_right .exit a { color:#fff; }
#header .top_right .plus_white { float:left; width:22px; height:20px; background:url(/cms/images/plus_white.png) 0 0 no-repeat; margin:0 0 0 10px; text-align:center; }
#header .top_right .plus_events { background:url(/cms/images/warn-icon.png) 0 0 no-repeat;}

#header .check_all {
    border-bottom: 1px dashed;
    float: right;
    margin: 6px 8px 0 0;
    text-decoration: none;
}

#header .top_right .plus_white a { display:block; color:#003366; padding-top:2px; font-size:9px; }
html>/**/body #header .top_right .plus_white a , x:-moz-any-link { padding-top:1px; }
#header .top_right .plus { float:left; background:url(/cms/images/plus_bg.gif) 0 0 repeat-x; }
#header .top_right .plus div { background:url(/cms/images/plus_left.gif) 0 0 no-repeat; }
#header .top_right .plus div div { background:url(/cms/images/plus_right.gif) 100% 0 no-repeat; height:18px; }
#header .top_right .plus li { float:left; background:url(/cms/images/plus_sep.gif) 100% 0 no-repeat; line-height:18px; padding:0 8px; }
#header .top_right .plus li.none { background:none; }
#header .top_right .plus li a { font-size:11px; color:#003366; *position:relative; *top:-1px; }
#header .top_right .plus li a.red { color:#ff0000; }
#header .top_right .plus li a.green { color:#009900; }

.plus_white_container { position:absolute; width:398px; border:1px solid #B8C8D9; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
 -webkit-box-shadow: #adbdce -2px 2px 6px; -moz-box-shadow: #adbdce -2px 2px 6px; box-shadow: #adbdce -2px 2px 6px; behavior: url(PIE.htc); background:#FFF; z-index:9999; right:51px; top:23px;  overflow:hidden; display:none;
}
.plus_white_block { position:relative; width:366px; padding:0 0 0 15px; min-height:100px; }
.plus_white_block .close_btn { background:url(/cms/images/btn_close.png) no-repeat; width:16px; height:16px; position:absolute; right:-13px; top:5px; cursor:pointer; }
.plus_white_block ul { font: normal 11px Tahoma, Geneva, sans-serif; }
.plus_white_block li { background:url(/cms/images/plus_white_comments_sep.gif) 0 100% repeat-x; padding:15px 0 10px 0; }
.plus_white_block li a { color:#003366; }
.plus_white_block li.none { background:none; }
.plus_white_block li .plus_white_comments_user { background:url(/cms/images/plus_white_comments_user.gif) 0 0 no-repeat; padding:0 0 0 26px; line-height:21px; font-weight:bold; }
.plus_white_block li .plus_white_comments_user span { font-weight:normal; color:#808080; padding:0 0 0 10px; }
.plus_white_block li p { color:#000; font-size:12px; margin:2px 0 2px 26px; }
.plus_white_block li .plus_white_commnets_add { margin:6px 0 10px 5px; padding:0 0 0 20px; background:url(/cms/images/plus_white_comments_ico.gif) 0 2px no-repeat; font:bold 10px/14px arial; }

#header .menu { position:relative; top:44px; margin:0 10px 0 220px; }
#header .menu ul { height:40px; overflow:hidden; background:url(/cms/images/menu_bg.gif) repeat-x; }
#header .menu .tl { display:block; background:url(/cms/images/menu_left.gif) no-repeat; height:6px; width:6px; position:absolute; left:0; top:0; overflow:hidden; z-index:111; }
#header .menu .tr { display:block; background:url(/cms/images/menu_right.gif) no-repeat; height:6px; width:6px; position:absolute; right:0; top:0; overflow:hidden; }
#header .menu li { float:left; padding:0 0 0 20px; }
#header .menu li a { font:bold 12px/40px Tahoma, Geneva, sans-serif; display:block; color:#003366; }
#header .menu li a.active { color:#000; text-decoration:none; }
#header .menu li a:hover { color:#000; }


/* Middle
-----------------------------------------------------------------------------*/
#middle { width: 100%; padding: 0 0 52px; height: 1%; position: relative; }
#middle:after { content: '.'; display: block; clear: both; visibility: hidden; height: 0; }
#container { width: 100%; float: left; /*overflow: hidden;*/ }

#content { padding: 0 10px 0 220px; }


/* Sidebar Left
-----------------------------------------------------------------------------*/
#left { float: left; width: 220px; margin-left: -100%; margin-top:10px; position: relative; }

.menu_left { margin:0 0 0 10px; width:190px; overflow:hidden; background:url(/cms/images/menu_left_bg.gif) 0 0 repeat-y; }
.menu_left div { background:url(/cms/images/menu_left_top.gif) 0 0 no-repeat; }
.menu_left div div.padd { background:url(/cms/images/menu_left_bottom.gif) 0 100% no-repeat; padding:15px 10px 12px 10px; }
.menu_left li { font:bold 12px/14px Tahoma, Geneva, sans-serif; padding:4px 0 4px 12px; background:url(/cms/images/menu_left_li.gif) 3px 8px no-repeat; }
.menu_left li a { color:#003366; }
.menu_left li a.active { color:#000; text-decoration:none; }
.menu_left li a:hover { color:#000; }
.menu_left span { float:right; display:block; font:normal 9px Arial, Helvetica, sans-serif; }
.menu_left span a { color:#5C7999; display:block; line-height:14px; float:left; padding:0 0 0 5px; }
.menu_left span a.red { padding:0 7px 0 5px; background:url(/cms/images/menu_left_plus_sep.gif) right no-repeat; color:#ff0000; }
.menu_left span a.green { padding:0 7px 0 5px; background:url(/cms/images/menu_left_plus_sep.gif) right no-repeat; color:#009900; }
.menu_left .sep { background:url(/cms/images/menu_left_sep.gif) 0 0 repeat-x; overflow:hidden; height:1px; margin:12px 0 10px 0; }

.menu_left_b { margin:0 0 0 20px; width:170px; overflow:hidden; background:url(/cms/images/menu_left_b_bg.gif) 0 0 repeat-y; }
.menu_left_b .top_bg { background:url(/cms/images/menu_left_b_top.gif) 0 0 no-repeat; }
.menu_left_b .bottom_bg { background:url(/cms/images/menu_left_b_bottom.gif) 0 100% no-repeat; padding:5px 0 11px 11px; overflow:hidden; }
.menu_left_b .menu_left_b_block {background:#F8FAFC; border:1px solid #B8C8D9; width:148px; margin:10px 0 0 0; /*text-align:center;*/ }
.menu_left_b .menu_left_b_block .name { background:url(/cms/images/menu_left_b_block.gif) 0 0 no-repeat; font:normal 11px Tahoma, Geneva, sans-serif; line-height:18px; color:#fff; padding-left:3px;}
.menu_left_b .menu_left_b_block .txt { font:bold 10px/15px Tahoma, Geneva, sans-serif; color:#000; padding:3px;}
.menu_left_b .menu_left_b_block .txt span { color:#009900; font-weight:normal; }
.menu_left_b .menu_left_b_block .txt span.red { color:#990000; font-weight:normal; }


/* Footer
-----------------------------------------------------------------------------*/
#footer { margin: -32px auto 0; min-width: 1000px; height: 32px; background:url(/cms/images/footer.gif) 0 0 repeat-x; position: relative; text-align:center; color:#fff; font-size:11px; line-height:32px; }
/*#footer { bottom:0px; min-width: 1000px; height: 32px; background:url(/cms/images/footer.gif) 0 0 repeat-x; position: absolute; text-align:center; color:#fff; font-size:11px; line-height:32px; }*/
table.mytable {padding-bottom: 60px;}
.bablotable td {padding: 5px !important;}
