#EditForm {
	border:1px solid #E3EAF0;
	padding: 10px;
	background:#EFF4F9;
	display:none;
	margin-bottom:10px;
}

#EditForm input[type="text"] {
	width:40%;
}
#EditForm textarea {
	width:100%;
	height: 25em;
}