.standart-button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	padding: 0 40px;
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: #256191 0 0 2px;
	color: #fff;
	height: 33px;
	line-height: 31px;
	background: url(/cms/images/standartButtonSprite.png) 0 0 repeat-x;
}
.standart-button:before, .standart-button:after {
	content: '';
	position: absolute;
	top: 0;
	width: 8px;
	height: 33px;
	background: url(/cms/images/standartButtonSprite.png) 0 -36px repeat-x;
}
.standart-button:before {left: 0; margin-left: -8px;}
.standart-button:after {right: 0; margin-right: -8px; background-position: -12px -36px;}
.standart-button:hover {background-position: 0 -71px;}
.standart-button:hover:before{background-position: 0 -106px;}
.standart-button:hover:after {background-position: -12 -106px;}

.table-icons {
	display: inline-block;
	vertical-align: middle;
	background: url(/cms/images/tableSprite.png) no-repeat;
}
.table-icons.closer {
	margin-left: 5px;
	width: 12px;
	height: 12px;
	background-position: -1px -1px;
}

#overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	cursor: pointer;
	background: url(/cms/images/overlayBg.png);
	z-index: 120;
}

#header .top-search {
	position: absolute;
	z-index: 2;
	top: 13px;
	left: 380px;
}
#header .top-search input[type=text] {
	padding: 0 10px 0 30px;
	width: 182px;
	height: 24px;
	border: none;
	background: url(/cms/images/topSearchInput.png);
}
#header .top-search input[type=submit] {
	position: absolute;
	left: 0;
	top: 0;
	margin: 2px 0 0 1px;
	width: 24px;
	height: 20px;
	border: none;
	background: url(/cms/images/topSearchSubmit.png) center center no-repeat;
}
#header .done-button {
	float: left;
	position: relative;
	margin-top: -2px;
	margin-right: 15px;
	padding: 0 5px;
	height: 21px;
	line-height: 23px;
	font-size: 9px;
	text-transform: uppercase;
	text-decoration: none;
	color: #102a41;
	text-shadow: #fff 0 1px 1px;
	background: url(/cms/images/doneButtonSprite.png) left top;
}
#header .done-button:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	margin-left: -5px;
	width: 5px;
	height: 21px;
	background: url(/cms/images/doneButtonSprite.png) left bottom no-repeat;
}
#header .done-button:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	margin-right: -5px;
	width: 5px;
	height: 21px;
	background: url(/cms/images/doneButtonSprite.png) right bottom no-repeat;
}

.done-task-window {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px 0 0 -185px;
	padding: 5px 18px 13px;
	width: 375px;
	border-radius: 5px;
	border: 1px solid #c8d5e2;
	background: #f8f7ef;
	font: 12px/1.4 Tahoma;
	color: #4c4c4c;
	z-index: 140;
}
.done-task-window input[type=text], .done-task-window textarea, .done-task-window select {
	border-radius: 2px;
	border: 1px solid #e3e3eb;
	border-bottom-color: #e2e9ef;
	border-top-color: #aaadb4;
	font: 12px/1.4 Arial;
}
.done-task-window input[type=text], .done-task-window textarea {padding: 5px;}
.done-task-window input[type=text] {height: 22px;}
.done-task-window .modal-header {
	position: relative;
	margin-bottom: 20px;
}
.done-task-window .closer-modal {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 11px;
	color: #4a5f85;
	text-decoration: none;
}
.done-task-window .closer-modal span:first-child {border-bottom: 1px dashed #4a5f85;}
.done-task-window .closer-modal:hover span:first-child {border-bottom: none;}
.done-task-window .title {font-size: 18px;}
.done-task-window .description {
	display: block;
	margin-bottom: 10px;
	width: 100%;
	height: 51px;
	resize: none;
	color: #404040;
	font-style: italic;
}
.done-task-window .timing input {
	padding-left: 22px;
	height: 11px !important;
	background: #fff url(/cms/images/tableSprite.png) 3px -30px no-repeat;
}
.done-task-window .timing span {margin: 0 6px;}
.done-task-window .auditors {
	overflow: hidden;
	margin: 10px 0;
}
.done-task-window .auditors > span:first-child {
	float: left;
	display: block; 
	width: 80px;
	font-size: 11px;
	color: #000;
}
.done-task-window .auditors-final-list {
	display: block;
	margin: 5px 0 5px -10px;
}
.done-task-window .auditors-final-list li {
	display: inline-block;
	margin: 0 0 5px 10px;
	padding: 2px 10px;
	border: 1px solid #b8c8d9;
	border-radius: 9px;
	background: #eff4f9;
}
.done-task-window .auditors-final-list .delete-item {
	background: url(../uploadify/uploadifyCancel.png) center center no-repeat;
	float: right;
	margin: 2px 0 0 5px;
	height: 12px;
	text-indent: -9999px;
	width: 12px;
}
.done-task-window .auditors .add_ico {
	overflow: hidden;
	display: inline-block;
	font: normal 11px arial;
	padding: 2px 0 2px 12px;
	background: url(/cms/images/comments_add_ico.gif) 0 50% no-repeat;	
}
.done-task-window .standart-button {margin-right: 5px;}
.done-task-window .task-name {
	float: right;
	display: block;
	width: 213px;
	margin-left: 5px;
	font-size: 11px;
	color: #444444;
}
.done-task-window .task-name p {margin: 0;}
.done-task-window .task-name p:first-child {color: #7d7d7d;}

.leftTasksMenu {
	position: relative;
	margin: 10px 0 22px 10px;
	padding: 5px 11px;
	width: 168px;
	background: url(/cms/images/menu_left_bg.gif) 0 0 repeat-y;
}
.leftTasksMenu:before, .leftTasksMenu:after {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	width: 190px;
	background: url(/cms/images/leftTasksMenuSprite.png) no-repeat left top;
}
.leftTasksMenu:before {
	top: 0;
	margin-top: -10px;
	height: 10px;
}
.leftTasksMenu:after {
	bottom: 0;
	margin-bottom: -22px;
	height: 22px;
	background-position: 0 -18px;
}

.leftTasksMenu > ul {
	margin-bottom: 10px;
	padding-bottom: 15px;
	background: url(/cms/images/sep.gif) repeat-x left bottom;
}

.leftTasksMenu > ul > li {
	font: bold 12px/14px Tahoma, Geneva, sans-serif;
	padding: 4px 0 4px 12px;
	overflow: hidden;
	background: url(/cms/images/menu_left_li.gif) 3px 8px no-repeat;
}
.leftTasksMenu li > a {color: #003366;}
.leftTasksMenu li > a:hover, .leftTasksMenu li > a.active {color: #000;	text-decoration: none;}

.leftTasksMenu .taskNumbers {display: inline-block; float: right;}

.leftTasksMenu .taskNumbers li {
	display: inline-block;
}
.leftTasksMenu .taskNumbers a {
	font-size: 10px;
	font-weight: normal;
	color: #5c7999;
}
.leftTasksMenu .taskNumbers .new {color: #009900;}
.leftTasksMenu .taskNumbers li.sep:after {
	content: '';
	vertical-align: middle;
	margin: 0 2px 0 6px;
	font-weight: normal;
	color: #b8c8d9;
	padding: 0;
	border-left: 1px solid #b8c8d9;
	border-right: 1px solid #fff;
}
.leftTasksMenu .taskNumbers .done {}
.leftTasksMenu .taskNumbers .all {}
.leftTasksMenu .taskNumbers .all:before {content: '(';}
.leftTasksMenu .taskNumbers .all:after {content: ')';}

.table-control-panel {
	overflow: hidden;
}
.table-control-panel .sort {
	display: inline-block;
	vertical-align: middle;
	font: 11px/1.4 Arial;
}
.table-control-panel .sort select {
	font-size: 11px;
}
.table-control-panel .sort input[type=text] {
	width: 25px;
	height: 22px;
	line-height: 22px;
	text-align: center;
}
.table-control-panel .sort span {margin: 0 3px;}
.table-control-panel .sort .regions {
	margin-left: 40px;
	width: 245px;
}

.table-control-panel .requests {
	float: right;
	display: inline-block;
	vertical-align: top;
}
.table-control-panel .requests li {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.table-control-panel .requests .standart-button {
	padding: 0;
	width: 105px;
	text-align: center;
}

.nr1 td {
	position: relative;
}
/*.st .st_table table.nr1 td div:first-child {
	display: block;
	width: 100%;
	padding: 15px 5px 15px 25px;
	margin-left: -19px;
}
.st .st_table table.nr1 td div:first-child span {
	top: 17px;
	margin-left: 15px;
}

.st .st_table table.nr1 td div.stars,
.nr1 div.stars {
	position: absolute;
	right: 0;
	top: 0;
	width: 29px;
	padding: 0;
	line-height: 60px;
	height: 100%;
	text-align: center;
	color: #00174a;
	border-left: 1px solid #b8c8d9;
	background: url(/cms/images/starIcon.png) center 10px no-repeat;
}
.st .st_table table.nr1 td div.stars.green,
.nr1 div.stars.green {
	background-color: #ccff8f;
}

.st .st_table table.nr1 td div:first-child.error {
	padding: 15px 1px 15px 20px;
	border: 4px solid #ff3700;
}
.st .st_table table.nr1 td div:first-child.error span {
	margin-left: 11px;
}

.st .st_table table tr.events {background: #f8f7ef;}
.st .st_table table tr.events div {
	font-size: 12px;
	color: #00174a;
	font-family: Arial;
}
.st .st_table table.nr2 tr.events td.space {
	background: url(/cms/images/st_bg_left.png) 0 0 repeat-y;
}

.st .st_table table.nr2 .events .event-link {
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	color: #0034a7;
	text-decoration: none;
	
}
.st .st_table table.nr2 .events .event-link span {
	border-bottom: 1px dotted #0034a7;
}
.st .st_table table.nr2 .events .event-link:hover {
	border-bottom: none;	
}
.st .st_table table.nr2 .events .event-link.active {
	color: #fff;
	background: url(/cms/images/circleBg.png) center center no-repeat;
}
.st .st_table table.nr2 .events .event-link.active span {border-bottom: none;}
.st .st_table table.nr2 .events td {
	position: relative;
}

#events-modal-window {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 30px;
	margin-top: -7px;
	padding: 5px 18px 13px;
	width: 375px;
	border-radius: 5px;
	border: 1px solid #c8d5e2;
	background: #f8f7ef;
	font: 12px/1.4 Tahoma;
	color: #f8f7ef;
	text-align: left;
	box-shadow: #333 -1px 1px 10px;
	z-index: 100;
}
#events-modal-window:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 15px;
	margin-left: -15px;
	width: 15px;
	height: 35px;
	background: url(/cms/images/eventsModalAngle.png) no-repeat; 
}
#events-modal-window .modal-header {
	position: relative;
	margin-bottom: 20px;
}
#events-modal-window .closer-modal {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 11px;
	color: #4a5f85;
	text-decoration: none;
}
#events-modal-window .closer-modal span:first-child {border-bottom: 1px dashed #4a5f85;}
#events-modal-window .closer-modal:hover span:first-child {border-bottom: none;}
#events-modal-window .title {font-size: 18px; color: #000;}
#events-modal-window .events-list {

}
#events-modal-window .events-list li {
	margin-bottom: 10px;
	padding: 7px 12px;
	background-color: #f4e6c4;
	border-radius: 5px;
}
#events-modal-window .events-list a {
	color: #000;
}
#events-modal-window .events-list a:hover {
	text-decoration: none;
}
#events-modal-window .events-list .bof {
	background-color: #f4d7c4;
	color: #000;
}
#events-modal-window .events-list .bof a {
	color: #740000;
}*/

.requestCostButton {
	padding: 5px 0;
	width: 136px;
	height: 80px;
	text-align: center;
	color: #fff;
	text-shadow: #133177 0 -1px 1px;
	background: url(/cms/images/requestCostButton.png) left top no-repeat; 
}
.requestCostButton:hover {
	background: url(/cms/images/requestCostButton.png) left bottom no-repeat; 	
}