.passport { width:360px; overflow:hidden; background:url(/cms/images/passport_bg.gif) 0 0 repeat-y; }
.passport .top_bg { background:url(/cms/images/passport_top.gif) 0 0 no-repeat; }
.passport .bottom_bg { background:url(/cms/images/passport_bottom.gif) 0 100% no-repeat; padding:5px 0 24px 0; }
.passport table { margin:0 1px; }
.passport table td {font-size:11px; color:#000; border-bottom:1px solid #B8C8D9; }
.passport table tr.title td { line-height:44px; color:#5c7999; font-weight:normal; }
/*.passport table td span { color:#009900; font-weight:normal; }*/
.passport table td a.green { color:#009900; }
.passport table td a.blue { color:#003366; }
.passport table td.nr1 { width:140px; padding:10px 10px 10px 18px; }
.passport table td.nr2 { width:140px; padding:0 10px 0 0; font-weight:bold; }
.passport table td.nr3 { width:35px; padding:0 0 0 5px; }
.passport table tr.gray_bg_top { background:url(/cms/images/passport_bg_gray.gif) 0 0 repeat-x; }
.passport table tr.gray_bg { background:#EFF4F9; }

.project_menu { margin:0 0 30px 0; position:relative; background:url(/cms/images/project_menu_bg.gif) 0 0 repeat-x; overflow:hidden; }
.project_menu .left_bg { background:url(/cms/images/project_menu_left.gif) 0 0 no-repeat; }
.project_menu .right_bg { background:url(/cms/images/project_menu_right.gif) 100% 0 no-repeat; height:41px; }
.project_menu ul { padding:6px 0 0 0; }
.project_menu li { float:left; background:url(/cms/images/project_menu_sep.gif) 100% 0 no-repeat; padding:6px 2% 10px 2%; }
html>/**/body  .project_menu li, x:-moz-any-link { padding-top:5px; }
.project_menu li a { display:block; font:bold 12px Tahoma, Geneva, sans-serif; color:#eff4f9; }
.project_menu li:first-child a { float:left; }
.project_menu li a:hover { color:#fff; text-decoration:none; }
.project_menu li a.active { color:#fff; text-decoration:none; }
.project_menu .plus_white { float:left; width:22px; height:20px; background:url(/cms/images/plus_white.png) 0 0 no-repeat; margin:0 0 0 10px; text-align:center; }
.project_menu .plus_events { background:url(/cms/images/warn-icon.png) 0 0 no-repeat;}
.project_menu .plus_white a:hover { color:#003366; }
.project_menu .plus_white a {width:22px; text-align:center; display:block; font-weight:normal; color:#003366; padding-top:2px; font-size:9px; line-height:14px; }
html>/**/body .project_menu .plus_white a, x:-moz-any-link { padding-top:1px; }
.project_menu .plus { margin:0 0 0 20px;  float:left; background:url(/cms/images/plus_bg.gif) 0 0 repeat-x; }
.project_menu .plus div { background:url(/cms/images/plus_left.gif) 0 0 no-repeat; }
.project_menu .plus div div { background:url(/cms/images/plus_right.gif) 100% 0 no-repeat; height:18px; }
.project_menu .plus ul { padding:0; height:18px; }
.project_menu .plus li { float:left; background:url(/cms/images/plus_sep.gif) 100% 0 no-repeat; line-height:18px; padding:0 8px; }
.project_menu .plus li.none { background:none; }
.project_menu .plus li a { display:block; font:normal 11px/18px arial; color:#003366; *position:relative; *top:-1px; }
.project_menu .plus li a.red { color:#ff0000; }
.project_menu .plus li a.green { color:#009900; }
.project_menu .project_menu_but { position:absolute; top:6px; right:6px; width:159px; height:29px; background:url(/cms/images/project_menu_but.gif) 0 0 no-repeat; }

.path { padding: 22px 10px 21px 10px; font:bold 12px/26px tahoma; color:#000; }
.path li.path_level1 { background:url(/cms/images/path_level1.gif) 0 100% no-repeat; padding:0 0 0 17px; }
.path li.path_level2 { background:url(/cms/images/path_level2.gif) 5px 0 no-repeat; padding:0 0 0 33px; }
.path li.path_level2_5 { background:url(/cms/images/path_level2_5.gif) 5px 0 no-repeat; padding:0 0 0 33px; }
.path li.path_level3 { background:url(/cms/images/path_level3.gif) 22px 0 no-repeat; padding:0 0 0 49px; }
.path li a { color:#5c7999; position:relative; top:-2px; }

.project_menu_gray { height:46px; border:1px solid #B8C8D9; border-bottom:0; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; behavior: url(PIE.htc); background:url(/cms/images/project_menu_gray_bg.gif) 0 50% repeat-x; display:inline-block; *display:inline; zoom:1; z-index:2; position:relative; }
.project_menu_gray ul { position:relative; top:-1px; right:-1px; }
.project_menu_gray li { float:left; }
.project_menu_gray li div { height:46px; border-bottom:1px solid #B8C8D9; font:12px/45px Tahoma, Geneva, sans-serif; padding:0 10px; }
.project_menu_gray li a { color:#003366; }
.project_menu_gray li.active div { border:1px solid #B8C8D9; border-bottom:none; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; -khtml-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; behavior: url(PIE.htc); background:#fff url(/cms/images/project_menu_gray_active_bottom.jpg) 0 100% repeat-x; height:46px; position:relative; padding:0 20px; }
.project_menu_gray li.active:first-child { position:relative; left:-2px; }

.project_menu_gray li.active div a { font-weight:bold; color:#000; text-decoration:none; }

.project_container { overflow:hidden; }
.project_block_right { float:right; width:157px; overflow:hidden; padding:12px 23px 0 21px; }
.project_block_right .info_block { padding-bottom:150px; }
.project_block_right .info_block .title { font:bold 11px/44px arial; color:#5c7999; background:url(/cms/images/project_right_block_sep.gif) 0 100% no-repeat; margin: 0 0 3px; }
.project_block_right .info_block .name { font:normal 11px arial; color:#666666; padding:12px 0 2px 0; }
.project_block_right .info_block .txt { font:normal 12px arial; color:#000; }
.project_block_right .info_block .txt a { color:#003366; font:bold 12px tahoma; position:relative; top:-1px; }

.project_block_right .but_block { position:absolute; padding:21px 0; background:url(/cms/images/project_right_block_sep.gif) 0 0 no-repeat; bottom:0; }
.project_block_right .but_block a { display:block; margin:0 0 6px -2px; *margin-left:0; }

.project_content { overflow:hidden; padding:0 0 0 1px; }
.project_bg_top { background:#fff url(/cms/images/project_bg_top_gray.gif) 0 100% repeat-x; padding:20px 5px 10px 20px; *margin-bottom:10px; overflow:hidden; }
.project_block_dat { background:url(/cms/images/project_block_dat_b.gif) 0 0 repeat-x; min-width:148px; height:66px; margin:0 3px 10px 0; float:left; text-align:center; }
.project_block_dat_l { background:url(/cms/images/project_block_dat_l.gif) 0 0 no-repeat; }
.project_block_dat_r { background:url(/cms/images/project_block_dat_r.gif) 100% 0 no-repeat; padding:0 5px; }
.project_block_dat .name { height:18px; font:normal 11px/18px Tahoma, Geneva, sans-serif; color:#fff; }
html>/**/body .project_block_dat .name, x:-moz-any-link { line-height:16px; }
.project_block_dat .txt_nr1 { font:bold 18px/47px Tahoma; color:#000; }
.project_block_dat .txt_nr1 i { font-style:normal; font-weight:normal; color:#666666; }
.project_block_dat .txt_nr2 { font:bold 12px/14px tahoma; color:#009900; padding:9px 0 12px 0; }
.project_block_dat .txt_nr2 span { font-size:10px; color:#5c7999; display:block; }
.project_block_dat .txt_nr3 { font:bold 12px/47px tahoma; color:#000; }
.project_block_dat .txt_nr4 { font:normal 12px/47px tahoma; color:#5c7999; }

.project_block_dat .txt_nr5 { background:url(/cms/images/project_block_dat_sep.gif) 50% 0 no-repeat; height:47px; }
.project_block_dat .txt_nr5 .fire { width:74px; background:url(/cms/images/fire.png) 50% 7px no-repeat; text-align:center; font:normal 10px tahoma; color:#ff0000; padding:29px 0 0 0; float:left; }
.project_block_dat .txt_nr5 .new { float:left; width:74px; background:url(/cms/images/new.png) 50% 7px no-repeat; text-align:center; font:normal 10px tahoma; color:#009900; padding:29px 0 0 0; }
.project_block_dat .txt_nr6 { font:normal 11px/14px arial; color:#ff0000; padding:9px 0 9px 18px; background:url(/cms/images/attention.png) 0 50% no-repeat; display:inline-block; *display:inline; zoom:1; }
.project_block_dat .txt_nr6 span { display:block; font-size:9px; text-align:left; }
.project_block_dat .txt_nr7 { font:bold 12px/47px tahoma; color:#000; }
.project_block_dat .txt_nr8 { padding:13px 0 0 0; }

.project_bg_bottom { background: url(/cms/images/project_bg_bottom_gray.gif) 0 0 repeat-x; overflow:hidden; }

.project_des { border-bottom:1px solid #B8C8D9; padding:20px 0; overflow:hidden; }
.project_des .name { font:bold 11px arial; color:#5c7999; width:95px; float:left; padding:0 2%; }
.project_des .txt { color:#000; background:url(/cms/images/project_vertical_line.jpg) 0 0 repeat-y; padding:1px 2%; overflow:hidden; }

.project_des_h { border-bottom:1px solid #B8C8D9; padding:20px 0; overflow:hidden; }
.project_des_h .name { font:bold 11px arial; color:#5c7999; background:url(/cms/images/sep.gif) 0 100% repeat-x; padding:1px 0 16px 0; margin:0 2% 6px 2%;  }
.project_des_h .txt { color:#000; padding:0 2%; overflow:hidden; width: 60%; min-width: 550px; max-width: 1000px; }
.project_des_h .txt p { font: 12px/18px; margin-bottom: 20px; }
.project_des_h .txt div { font: 12px/18px; margin-bottom: 20px; }
.project_des_h .txt h1, .project_des_h .txt h2, .project_des_h .txt h3, .project_des_h h4  { background: none !important; padding: 0px; margin: 0px; color: #468; }
.project_des_h .txt h1 { font: normal 36px/70px Tahoma, Geneva, sans-serif; }
.project_des_h .txt h2 { font: normal 24px/28px Tahoma, Geneva, sans-serif; }
.project_des_h .txt h3 { font: normal 18px/28px Tahoma, Geneva, sans-serif; }
.project_des_h .txt h4 { font: normal 18px/28px Tahoma, Geneva, sans-serif; }
.project_des_h .txt h3 { font: normal 18px/28px Tahoma, Geneva, sans-serif; }
.project_des_h .txt ol { list-style: decimal; margin: 0px 0px 20px 40px; padding-left: 20px; }
.project_des_h .txt ul { list-style: disc; margin: 0px 0px 20px 40px; padding-left: 20px; }
.project_des_h .txt ul ul, .project_des_h .txt ul ul ul, .project_des_h .txt ol ol, .project_des_h .txt ol ol ol { list-style: inherit; }
.project_des_h .txt ul li, .project_des_h .txt ol li { padding-bottom: 10px; }
.project_des_h .txt hr { margin: 20px auto; height: 1px; background: none; border: none; border-bottom: 2px dashed #468; }


.project_responsible { border-bottom:1px solid #B8C8D9; padding:20px 0 15px 0; overflow:hidden; }
.project_responsible .name { font:bold 11px arial; color:#5c7999; width:95px; float:left; padding:0 2%; }
.project_responsible #user_block { background:url(/cms/images/project_vertical_line.jpg) 0 0 repeat-y; padding:0 2%; overflow:hidden; }
.project_responsible .user_block { width:183px; float:left; }
.project_responsible .user_block .user_name { font:normal 11px arial; color:#666666; padding-bottom:7px; }
.project_responsible .user_block .user { font:bold 11px/14px tahoma; padding:4px 0 4px 27px; background:url(/cms/images/project_user.gif) 0 50% no-repeat; margin:8px 0 0 0; }
.project_responsible .user_block .user a { color:#003366; text-decoration:none; }
.project_responsible .user_block .user a:hover { text-decoration:underline; }

.project_access {  padding:20px 0 10px 0; *margin-bottom:10px; overflow:hidden; }
.project_access .name { font:bold 11px arial; color:#5c7999; width:95px; float:left; padding:0 2%; }
.project_access .access_block_all { background:url(/cms/images/project_vertical_line.jpg) 0 0 repeat-y; padding:0 2%; overflow:hidden; }
.project_access .access_block { margin:0 3px 10px 0;  background:url(/cms/images/project_block_admin_bg.gif) 0 0 repeat-x; float:left; }
.project_access .access_block .left_bg { background:url(/cms/images/project_block_admin_left.gif) 0 0 no-repeat; }
.project_access .access_block .right_bg { background:url(/cms/images/project_block_admin_right.gif) 100% 0 no-repeat; height:83px; }
.project_access .access_block .access_name { font:bold 10px/18px arial; color:#fff; text-align:center; }
.project_access .access_block .insade_block { font:bold 11px/16px tahoma; margin:8px 15px 10px 16px;  }
.project_access .access_block .insade_block .bl1 { color:#5c7999; font-weight:normal; width:50px; float:left; }
.project_access .access_block .insade_block .bl2 { color:#5000; float:left; }
.project_access .access_block .insade_block .bl2 span{ color:#b8c8d9; font-weight:normal; }

.but_top { position:absolute; right:10px; top:13px; }
.but_bottom { text-align:right; margin:24px 0 0 0; }

.project { border-right:1px solid #B8C8D9; border-left:1px solid #B8C8D9;  }
.bg_nr7 .project { padding:9px 0 0 0; border-right:1px solid #B8C8D9; border-left:1px solid #B8C8D9;  }
.project table.general { width:100% }
.project table.general tr { }
.project table.general tr.paginator_top td { height:40px; vertical-align:top; border:none; }
.project table.general tr.paginator_top td .paginatot_left { float:left; font:11px arial; color:#666666; margin:8px 0 0 18px; }
.project table.general tr.paginator_top td .paginatot_left a { font:11px arial; color:#003366; padding:0 0 0 2px;  }
.project table.general tr.paginator_top td .paginatot_left a.active { background:#EFF4F9; color:#000; display:inline-block; *display:inline; zoom:1; line-height:16px; padding:0 5px; margin:0 0 0 2px; border:1px solid #B8C8D9; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; behavior: url(PIE.htc); text-decoration:none; font-weight:bold; position:relative }
.project table.general tr.paginator_top td .paginatot_right { float:right; font:11px arial; color:#666666; margin:8px 19px 0 0; }
.project table.general tr.paginator_top td .paginatot_right a { font:11px arial; color:#003366; padding:0 0 0 2px; }
.project table.general tr.paginator_top td .paginatot_right a.active { background:#EFF4F9; color:#000; display:inline-block; *display:inline; zoom:1; line-height:16px; padding:0 5px; margin:0 0 0 2px; border:1px solid #B8C8D9; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; behavior: url(PIE.htc); text-decoration:none; font-weight:bold; position:relative }
.project table.general tr.paginator_bottom td { height:39px; vertical-align:top; }
.project table.general tr.paginator_bottom td .paginatot_left { float:left; font:11px arial; color:#666666; margin:13px 0 0 18px; }
.project table.general tr.paginator_bottom td .paginatot_left a { font:11px arial; color:#003366; padding:0 0 0 2px;  }
.project table.general tr.paginator_bottom td .paginatot_left a.active { background:#EFF4F9; color:#000; display:inline-block; *display:inline; zoom:1; line-height:16px; padding:0 5px; margin:0 0 0 2px; border:1px solid #B8C8D9; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; behavior: url(PIE.htc); text-decoration:none; font-weight:bold; position:relative }
.project table.general tr.paginator_bottom td .paginatot_right { float:right; font:11px arial; color:#666666; margin:13px 19px 0 0; }
.project table.general tr.paginator_bottom td .paginatot_right a { font:11px arial; color:#003366; padding:0 0 0 2px; }
.project table.general tr.paginator_bottom td .paginatot_right a.active { background:#EFF4F9; color:#000; display:inline-block; *display:inline; zoom:1; line-height:16px; padding:0 5px; margin:0 0 0 2px; border:1px solid #B8C8D9; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px; behavior: url(PIE.htc); text-decoration:none; font-weight:bold; position:relative; *top:0; }
.project table.general td { height:54px; vertical-align:middle; border-top:1px solid #B8C8D9; }
.project table.general tr.form td { height:72px; }
.project table.general tr.form td div { font:11px arial; padding:0 0 7px 0; }
.project table.general tr.form td div a { color:#5c7999; }
.project table.general tr.form td div span { width:16px; margin:0 0 0 -1px; display:inline-block; *display:inline; zoom:1; }
.project table.general tr.form td div span a { padding:0 0 0 3px; }
.project table.general tr.form td input { width:100%; }
.project table.general tr.form td select { width:100%; }
.project table.general tr.form td.td1 { width:24.7%; }
.project table.general tr.form td.td1 .td1p { padding:0 8.3% 0 5.9%; display:block; *float:left; }
.project table.general tr.form td.td1 .td1p div { float:left; margin-right: 20px; }
.project table.general tr.form td.td2 { width:10.3%; }
.project table.general tr.form td.td2 .td2p { padding:0 19.8% 0 0%; display:block; *float:left; padding-top: 18px; }
.project table.general tr.form td.td3 { width:5.7%; }
.project table.general tr.form td.td3 .td3p { padding:0 35.6% 0 0; display:block; *float:left; }
.project table.general tr.form td.td4 { width:14.2%; }
.project table.general tr.form td.td4 .td4p { padding:0 14.4% 0 0; display:block; *float:left; }
.project table.general tr.form td.td5 { width:8.7%; }
.project table.general tr.form td.td5 .td5p { padding:0 23.6% 0 0; display:block; *float:left; }
.project table.general tr.form td.td6 { width:12.8%; }
.project table.general tr.form td.td6 .td6p { padding:0 16.7% 0 0; display:block; *float:left;}
.project table.general tr.form td.td7 { width:8.2%; }
.project table.general tr.form td.td7 .td7p { padding:0 25% 0 0; display:block; *float:left;}
.project table.general tr.form td.td8 { width:4.8%; }
.project table.general tr.form td.td8 .td8p { padding:0 36.7% 0 0; display:block; *float:left; }
.project table.general tr.form td.td9 { width:10.6%; text-align:right }
.project table.general tr.form td.td9 .td9p { padding:0 10px 0 0; display:block; *float:left; }
.project table.general tr.form td.td9 div div { text-align:center; }

.project table.level1 { margin:0; border-left:1px solid #fff; position:relative; width:100%; }
.project table.level1 td {  height:56px; vertical-align:middle; border:none; }
.project table.level1 tr td.td1 { width:24.7%; }
.project table.level1 tr td.td1 .td1p { padding:0 8.3% 0 5.9%; display:block; *float:left; }
.project table.level1 tr td.td1 .td1p a { font:bold 12px/14px arial; color:#003366; padding:0 0 0 21px; }
.project table.level1 tr td.td2 { width:10.3%; }
.project table.level1 tr td.td2 .td2p { padding:0 19.8% 0 0%; display:block; *float:left; font:bold 11px arial; text-align:center; color:#666666; }
.project table.level1 tr td.td2 .td2p a { padding:0 2px; }
.project table.level1 tr td.td2 .td2p a.red { color:#ff0000; }
.project table.level1 tr td.td2 .td2p a.green { color:#009900; }
.project table.level1 tr td.td2 .td2p a.blue { color:#003366; }
.project table.level1 tr td.td3 { width:5.7%; }
.project table.level1 tr td.td3 .td3p { padding:0 35.6% 0 0; display:block; *float:left; font:12px arial; color:#000; }
.project table.level1 tr td.td4 { width:14.2%; }
.project table.level1 tr td.td4 .td4p { padding:0 14.4% 0 0; display:block; *float:left; font:11px/14px arial; color:#000; }
.project table.level1 tr td.td5 { width:8.7%; }
.project table.level1 tr td.td5 .td5p { padding:0 23.6% 0 0; display:block; *float:left; font:bold 11px arial; color:#000; }
.project table.level1 tr td.td5 .td5p i { color:#666666; font-style:normal; }
span.diff_green {color: green;}
span.diff_red {color: red;}
.project table.level1 tr td.td6 { width:12.8%; }
.project table.level1 tr td.td6 .td6p { padding:0 16.7% 0 0; display:block; *float:left; }
.project table.level1 tr td.td6 .td6p a { font:12px/14px arial; color:#000; }
.project table.level1 tr td.td7 { width:8.2%; }
.project table.level1 tr td.td7 .td7p { padding:0 25% 0 0; display:block; *float:left;}
.project table.level1 tr td.td7 .td7p a { font:12px/14px arial; color:#000; }
.project table.level1 tr td.td8 { width:4.8%; }
.project table.level1 tr td.td8 .td8p { padding:0 36.7% 0 0; display:block; *float:left; color:#5c7999; font:11px/14px arial; text-align:center; }
.project table.level1 tr td.td9 { width:10.6%; text-align:right }
.project table.level1 tr td.td9 .td9p { padding:0 10px 0 0; display:block; *float:left; width:95px; }
.project table.level1 tr td.td9 .td9p img { margin:0 5px 0 0; }
.project table.level1 tr td.td9 .td9p input { margin:0 0 0 4px; }

.project table.general_i { width:100%; position:relative }
.project table.general_i tr.form td { height:77px; }
.project table.general_i tr.form td div { font:11px arial; padding:1px 0 7px 0; }
.project table.general_i tr.form td div a { color:#5c7999; }
.project table.general_i tr.form td div span { width:16px; margin:0 0 0 -1px; display:inline-block; *display:inline; zoom:1; }
.project table.general_i tr.form td div span a { padding:0 0 0 3px; }
.project table.general_i tr.form td input { width:100%; }
.project table.general_i tr.form td select { width:100%; }
.project table.general_i tr.form td.td1 { width:23.6%; }
.project table.general_i tr.form td.td1 .td1p { padding:0 8.6% 0 6.2%; display:block; *float:left; padding-top: 18px; }
.project table.general_i tr.form td.td2 { width:10.3%; }
.project table.general_i tr.form td.td2 .td2p { padding:16px 19.8% 0 0%; display:block; *float:left; }
.project table.general_i tr.form td.td4 { width:13.9%; }
.project table.general_i tr.form td.td4 .td4p { padding:0 14.7% 0 0; display:block; *float:left; }
.project table.general_i tr.form td.td5 { width:13.4%; }
.project table.general_i tr.form td.td5 .td5p { padding:0 15.2% 0 0; display:block; *float:left; }
.project table.general_i tr.form td.td6 { width:13.4%; }
.project table.general_i tr.form td.td6 .td6p { padding:0 15.2% 0 0; display:block; *float:left;}
.project table.general_i tr.form td.td7 { width:8.9%; }
.project table.general_i tr.form td.td7 .td7p { padding:0 23.1% 0 0; display:block; *float:left;}
.project table.general_i tr.form td.td8 { width:4.8%; }
.project table.general_i tr.form td.td8 .td8p { padding:0 36.7% 0 0; display:block; *float:left; }
.project table.general_i tr.form td.td9 { width:9.6%; text-align:right }
.project table.general_i tr.form td.td9 .td9p { padding:0 10px 0 0; display:block; *float:left; min-width:95px; }
.project table.general_i tr.form td.td9 .td9p div { text-align:center; padding:0; }

.project table.level2 { width:100%; }
.project table.level2 td {  height:69px; vertical-align:middle; border:none; }
.project table.level2 tr td.td1 { width:23.6%; padding: 5px 0; }
.project table.level2 tr td.td1 .td1p { padding:0 8.6% 0 0; display:block; *float:left; }
.project table.level2 tr td.td1 .td1p a { font:bold 12px/14px arial; color:#003366; padding:0 0 0 21px; display:block; }
.project table.level2 tr td.td2 { width:10.3%; }
.project table.level2 tr td.td2 .td2p { padding:0 19.8% 0 0%; display:block; *float:left; text-align:center; }
.project table.level2 tr td.td2 .td2p a.fire { display:block; float:left; margin:2px 0 0 5px;  }
.project table.level2 tr td.td2 .td2p a.fire_blue { display:block; float:left; margin:4px 0 0 7px;  }
.project table.level2 tr td.td2 .td2p a.new { display:block; float:left; margin:0 0 0 10px; }
.project table.level2 tr td.td2 .td2p a.new_none { display:block; float:left; margin:0 0 0 13px; }
.project table.level2 tr td.td2 .td2p a.plus_none { display:block; float:left; margin:2px 0 0 6px; }
.project table.level2 tr td.td2 .td2p .plus_blue { width:23px; height:21px; background:url(/cms/images/plus_blue.png) 0 0 no-repeat; color:#fff; font:9px arial; text-align:center; float:left; margin:2px 0 0 7px; padding:3px 0 0 0; }
html>/**/body .project table.level2 tr td.td2 .td2p .plus_blue , x:-moz-any-link { padding-top:2px; }
.project table.level2 tr td.td2 .td2p .plus_blue a { color:#fff; padding:0 1px 0 0; }
.project table.level2 tr td.td4 { width:13.9%; }
.project table.level2 tr td.td4 .td4p { padding:0 14.7% 0 0; display:block; *float:left; }
.project table.level2 tr td.td4 .td4p a { font:12px arial; color:#000; }
.project table.level2 tr td.td5 { width:13.4%; }
.project table.level2 tr td.td5 .td5p { padding:0 15.2% 0 0; display:block; *float:left; }
.project table.level2 tr td.td5 .td5p a { font:12px arial; color:#000; }
.project table.level2 tr td.td6 { width:13.4%; }
.project table.level2 tr td.td6 .td6p { padding:0 15.2% 0 0; display:block; *float:left; }
.attention { font:normal 11px/12px arial; color:#ff0000; padding:9px 0 9px 18px; background:url(/cms/images/attention.png) 0 50% no-repeat; display:inline-block; *display:inline; zoom:1; }
.attention span { display:block; font-size:9px; text-align:left; }
.project table.level2 tr td.td6 .td6p .time { padding:0 0 0 18px; font:11px/14px arial; color:#000; height:17px;}

.zero {background:url(/cms/images/deadline_0.png) 1px 50% no-repeat; padding-left: 12px;}
.quarter  {background:url(/cms/images/deadline_2.png) 1px 50% no-repeat; padding-left: 12px;}
.half {background:url(/cms/images/deadline_3.png) 1px 50% no-repeat; padding-left: 12px;}
.three_quarters  {background:url(/cms/images/deadline_4.png) 1px 50% no-repeat; padding-left: 12px;}
.whole {background:url(/cms/images/deadline_5.png) 1px 50% no-repeat; padding-left: 12px;}

.project table.level2 tr td.td7 { width:8.9%; }
.project table.level2 tr td.td7 .td7p { padding:0 23.1% 0 0; display:block; *float:left; text-align:left; }
.project table.level2 tr td.td8 { width:4.8%; }
.project table.level2 tr td.td8 .td8p { padding:0 36.7% 0 0; display:block; *float:left; color:#5c7999; font:11px/14px arial; text-align:center; }
.project table.level2 tr td.td9 { width:9.6%; text-align:right }
.project table.level2 tr td.td9 .td9p { padding:0 10px 0 0; display:block; *float:left; width:95px;  }
.project table.level2 tr td.td9 .td9p img { margin:0 5px 0 0; *float:left; }
.project table.level2 tr td.td9 .td9p input { margin:0 0 0 4px; *float:left; }

.project table.level3 { width:100%; }
.project table.level3 td {  height:69px; vertical-align:middle; border:none; }
.project table.level3 tr td.td1 { width:22.6%; }
.project table.level3 tr td.td1 .td1p { padding:0 8.6% 0 6.2%; display:block; *float:left; }
.project table.level3 tr td.td1 .td1p a { font:bold 12px/14px arial; color:#003366; padding:0 0 0 21px; display:block; }
.project table.level3 tr td.td2 { width:10.3%; }
.project table.level3 tr td.td2 .td2p { padding:0 19.8% 0 0%; display:block; *float:left; text-align:center; }
.project table.level3 tr td.td2 .td2p a.fire { display:block; float:left; margin:2px 0 0 5px;  }
.project table.level3 tr td.td2 .td2p a.fire_blue { display:block; float:left; margin:4px 0 0 7px;  }
.project table.level3 tr td.td2 .td2p a.new { display:block; float:left; margin:0 0 0 10px; }
.project table.level3 tr td.td2 .td2p a.new_none { display:block; float:left; margin:0 0 0 13px; }
.project table.level3 tr td.td2 .td2p a.plus_none { display:block; float:left; margin:2px 0 0 6px; }
.project table.level3 tr td.td2 .td2p .plus_blue { width:23px; height:21px; background:url(/cms/images/plus_blue.png) 0 0 no-repeat; color:#fff; font:9px arial; text-align:center; float:left; margin:2px 0 0 7px; padding:3px 0 0 0; }
html>/**/body .project table.level3 tr td.td2 .td2p .plus_blue , x:-moz-any-link { padding-top:2px; }
.project table.level3 tr td.td2 .td2p .plus_blue a { color:#fff; padding:0 1px 0 0; }
.project table.level3 tr td.td4 { width:13.9%; }
.project table.level3 tr td.td4 .td4p { padding:0 14.7% 0 0; display:block; *float:left; }
.project table.level3 tr td.td4 .td4p a { font:12px arial; color:#000; }
.project table.level3 tr td.td5 { width:13.4%; }
.project table.level3 tr td.td5 .td5p { padding:0 15.2% 0 0; display:block; *float:left; }
.project table.level3 tr td.td5 .td5p a { font:12px arial; color:#000; }
.project table.level3 tr td.td6 { width:13.4%; }
.project table.level3 tr td.td6 .td6p { padding:0 15.2% 0 0; display:block; *float:left; }
.project table.level3 tr td.td6 .td6p .attention { font:normal 11px/12px arial; color:#ff0000; padding:9px 0 9px 18px; background:url(/cms/images/attention.png) 0 50% no-repeat; display:inline-block; *display:inline; zoom:1; }
.project table.level3 tr td.td6 .td6p .attention span { display:block; font-size:9px; text-align:left; }
.project table.level3 tr td.td6 .td6p .time { padding:0 0 0 18px; background:url(/cms/images/time.png) 1px 50% no-repeat; font:11px/14px arial; color:#000; }
.project table.level3 tr td.td7 { width:8.9%; }
.project table.level3 tr td.td7 .td7p { padding:0 23.1% 0 0; display:block; *float:left; text-align:center; }
.project table.level3 tr td.td8 { width:4.8%; }
.project table.level3 tr td.td8 .td8p { padding:0 36.7% 0 0; display:block; *float:left; color:#5c7999; font:11px/14px arial; text-align:center; }
.project table.level3 tr td.td9 { width:9.6%; text-align:right;  }
.project table.level3 tr td.td9 .td9p { padding:0 10px 0 0; display:block; *float:left; width:95px; }
.project table.level3 tr td.td9 .td9p img { margin:0 5px 0 0; *float:left; }
.project table.level3 tr td.td9 .td9p input { margin:0 0 0 4px; *float:left; }

.project table.general tr.all td { height:60px; vertical-align:middle; font:11px arial; color:#000; text-align:right; padding:0 10px 0 0; }
.project table.general tr.all td select { margin:0 30px 0 7px; width:161px; }
.project table.general tr.all td input { margin:0 0 0 1px; position:relative; top:-1px; }

.post { position:relative;  }
.post .title {  position:relative; }

#plus_minus_none { background: url(/cms/images/btn_minu_none.png) no-repeat 15px 50%; }
.post .title span.plus_minus { position:absolute; left:15px; top:22px; cursor:pointer; width:11px; height:11px; background: url(/cms/images/btn_minus.png) no-repeat 0 0; display:block; font-size:0 }
.post .entry .title span.plus_minus { position:absolute; left:15px; top:29px; cursor:pointer; width:11px; height:11px; background: url(/cms/images/btn_minus.png) no-repeat 0 0; display:block; font-size:0 }
#content .inactive span.plus_minus { background: url(/cms/images/btn_plus.png) no-repeat 0 0; }


.entry { background:#EFF4F9 url(/cms/images/bg_level1_border.jpg) 0 0 repeat-y; position:relative; left:-2px; width:100.2%; }
.entry .bg_level1_top_bg { background: url(/cms/images/bg_level1_top_bg.gif) 0 0 repeat-x;  }
.entry .bg_level1_top { background: url(/cms/images/bg_level1_top.gif) 0 0 no-repeat; position:relative; }
.entry .bg_level1_bottom_bg { background: url(/cms/images/bg_level1_bottom_bg.gif) 0 100% repeat-x; position:relative; }
.entry .bg_level1_bottom { background: url(/cms/images/bg_level1_bottom.gif) 0 100% no-repeat; position:relative; padding:0 0 0 10px; }

.file { }
.file .file_bg_top { background:#fff url(/cms/images/project_bg_top_gray.gif) 0 100% repeat-x; padding:3px 5px 20px 20px; }
.file .file_data { font:bold 11px arial; color:#5c7999; padding:17px 0 12px 0; }
.file .file_block { width:200px; background: #e6ecf2 url(/cms/images/comments_file_bg.gif) 0 0 repeat-x; margin:0 3px 3px 0; float:left; border: #b8c8d9 solid 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.file .file_block .file_name { margin:0 0 0 9px; padding:10px 10px 10px 36px; background:url(/cms/images/doctype/unknown.gif) 1 10px no-repeat; font:normal 12px tahoma; }
.file .file_block .file_name span { display:block; font:normal 10px tahoma; color:#999999; padding:1px 0 0 0; }
.file_block_all .file_block .file_name { margin-left: 0 !important; padding-left: 36px;}

.file .file_bg_bottom { background: url(/cms/images/project_bg_bottom_gray.gif) 0 0 repeat-x; overflow:hidden; padding:20px 20px 16px 20px; }
.file .file_add .name { font:bold 11px arial; color:#5c7999; padding:1px 0 2px 1px; }
.file .file_add .file_add_block { height:43px; border:1px solid #B8C8D9; background:url(/cms/images/file_bg.gif) 0 0 repeat-x; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; behavior: url(PIE.htc); float:left; margin:0 0 3px 0; }
.file .file_add .file_add_block input { height:23px; margin:11px 10px 0 10px; float:left; }
.file .file_add .file_add_block .cart_ico { padding:0 0 0 11px; display:block; background:url(/cms/images/file_sep.gif) 0 0 no-repeat; height:43px; float:left; }
.file .file_add .file_add_block .cart_ico img { margin:11px 10px 0 0; }
/*.file .file_add */.add_ico { font:normal 11px arial; padding:2px 0 2px 12px; background:url(/cms/images/comments_add_ico.gif) 0 50% no-repeat; }
.remove_ico { font:normal 11px arial; padding:2px 0 2px 12px; background:url(/cms/images/remove_ico.gif) 0 50% no-repeat; }
.file .file_add .file_sep { margin:26px 0 15px 0; background:url(/cms/images/sep.gif) 0 100% repeat-x; height:1px; position:relative; }

.comments { }
.comments ul { font: normal 11px Tahoma, Geneva, sans-serif; padding:0 20px 0 20px; }
.comments li { background:url(/cms/images/plus_white_comments_sep.gif) 0 100% repeat-x; padding:21px 0 24px 0; }
.comments li.favorite {background-color: #FDFFE3;}
.comments li a { color:#003366; }
.comments li.none { background:none; }
.comments li .comments_user { background:url(/cms/images/plus_white_comments_user.gif) 0 0 no-repeat; padding:0 0 0 26px; line-height:21px; font-weight:bold; }
.comments li .comments_user span { font-weight:normal; color:#808080; padding:0 0 0 10px; }
.comments li p { color:#000; font-size:12px; margin:2px 0 2px 26px; }
.comments li .file_block_all { margin:9px 0 2px 26px; }
.comments li .file_block { width:200px; background: #e6ecf2 url(/cms/images/comments_file_bg.gif) 0 0 repeat-x; margin:0 3px 3px 0; float:left; border: #b8c8d9 solid 1px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.file_block .file_name { margin:0 0 0 9px; padding:10px 10px 10px 36px; background:url(/cms/images/doctype/unknown.gif) 0px 0 no-repeat; font:normal 12px tahoma; }
.file_block .file_name span { display:block; font:normal 10px tahoma; color:#999999; padding:1px 0 0 0; }
.file_block .preview, .file_block_all .file_block .preview {background-position: 2px center; padding-left: 46px;}

.task_files { margin-top: 20px; }
.task_files .file_block { height: 50px; width:160px; background:url(/cms/images/task_file_bg.gif) 0 0 no-repeat; margin:0 3px 3px 0; overflow:hidden; }
.task-files-block { float: right; width: 198px; }

.file_block .file_name.img,
.file_block .file_name.jpg,
.file_block .file_name.png,
.file_block .file_name.jpeg,
.file_block .file_name.gif,
.file_block .file_name.bmp
{ background:url(/cms/images/doctype/img.gif) 0 0 no-repeat; }
.file_block .file_name.doc{ background:url(/cms/images/doctype/doc.gif) 0 0 no-repeat; }
.file_block .file_name.xls{ background:url(/cms/images/doctype/xls.gif) 0 0 no-repeat; }
.file_block .file_name.rar{ background:url(/cms/images/doctype/rar.gif) 0 0 no-repeat;  }
.file_block .file_name.zip{ background:url(/cms/images/doctype/zip.gif) 0 0 no-repeat;  }
.file_block .file_name.gzip{ background:url(/cms/images/doctype/gzip.gif) 0 0 no-repeat;  }
.file_block .file_name.arch{ background:url(/cms/images/doctype/arch.gif) 0 0 no-repeat;  }
.file_block .file_name.txt{ background:url(/cms/images/doctype/txt.gif) 0 0 no-repeat;  }
.file_block .file_name.rtf{ background:url(/cms/images/doctype/rtf.gif) 0 0 no-repeat;  }
.file_block .file_name.psd{ background:url(/cms/images/doctype/psd.gif) 0 0 no-repeat;  }
.file_block .file_name.pdf{ background:url(/cms/images/doctype/pdf.gif) 0 0 no-repeat;  }

.comments .comments_bg_bottom { background: url(/cms/images/comments_bottom_bg.gif) 0 0 repeat-x; overflow:hidden; padding:24px 35px 9px 35px; }
.comments .file_add .name { font:bold 11px arial; color:#5c7999; padding:1px 0 2px 1px; }
.comments .file_add textarea { width:100%; border:1px solid #AFAFAF; margin:0 0 24px 0; min-height:78px; }
.comments .file_add .file_add_block { height:43px; border:1px solid #B8C8D9; background:url(/cms/images/file_bg.gif) 0 0 repeat-x; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; behavior: url(PIE.htc); float:left; margin:0 0 3px 0; }
.comments .file_add .file_add_block input { height:23px; margin:11px 10px 0 10px; float:left; }
.comments .file_add .file_add_block .cart_ico { padding:0 0 0 11px; display:block; background:url(/cms/images/file_sep.gif) 0 0 no-repeat; height:43px; float:left; }
.comments .file_add .file_add_block .cart_ico img { margin:11px 10px 0 0; }
.comments .file_add .add_ico { font:normal 11px arial; padding:2px 0 2px 12px; background:url(/cms/images/comments_add_ico.gif) 0 50% no-repeat; }
.comments .file_add .file_sep { margin:26px 0 15px 0; background:url(/cms/images/sep.gif) 0 100% repeat-x; height:1px; position:relative; }


.st { overflow:hidden; }
.st .st_block_top { padding:20px 2% 16px 2%; overflow:hidden; }
.st .st_block_top .st_info_block_all { overflow:hidden; }
.st .st_block_top .st_info_block { margin:0 3px 3px 0;  background:url(/cms/images/st_block_bg.gif) 0 0 repeat-x; float:left; }
.st .st_block_top .st_info_block .left_bg { background:url(/cms/images/st_block_left.gif) 0 0 no-repeat; }
.st .st_block_top .st_info_block .right_bg { background:url(/cms/images/st_block_right.gif) 100% 0 no-repeat; height:54px; }
.st .st_block_top .st_info_block .name { font:normal 11px/18px tahoma; color:#fff; text-align:center; }
.st .st_block_top .st_info_block .insade_block_nr1 { margin:7px 11px;  }
.st .st_block_top .st_info_block .insade_block_nr2 { font:normal 11px/35px arial; margin:0 11px; *width:300px; }
.st .st_block_top .st_info_block .insade_block_nr2 span { float:left; }
.st .st_block_top .st_info_block .insade_block_nr2 span.gray { color:#808080; background:none; padding:0 6px 0 8px; }
.st .st_block_top .st_info_block .insade_block_nr2 span img { margin:0 0 -3px 5px; cursor:pointer;}
.st .st_block_top .st_info_block .insade_block_nr2 .days { float:right; background:url(/cms/images/project_block_dat_sep.gif) 0 0 no-repeat; margin:0 0 0 10px; padding:0 0 0 9px; font:11px/35px tahoma; color:#808080; }
.st .st_block_top .st_info_block .insade_block_nr2 .days div { position:relative; top:-1px; }
.st .st_block_top .st_info_block .insade_block_nr2 .days input { width:29px; margin:0 0 0 5px; }
.st .st_block_top .st_info_block .insade_block_nr3 { margin:0 11px; padding-top:6px; height:29px; background:url(/cms/images/project_block_dat_sep.gif) 50% 0 no-repeat; }
.st .st_block_top .st_info_block .insade_block_nr3 span { padding:0 9px }
.st .st_block_top .st_info_block .insade_block_nr3 label { position:relative; bottom:-2px; padding:0 0 0 5px; }
.st .st_block_top .st_info_block .insade_block_nr4 { margin:9px 11px 0 11px; font:11px tahoma; }
.st .st_block_top .st_info_block .insade_block_nr4 label { position:relative; top:-3px; padding:0 0 0 5px; }

.st .st_block_top .sep { margin:17px 0 20px 0; background:url(/cms/images/sep.gif) 0 0 repeat-x; height:1px; position:relative; }
.st .st_block_top .st_but_show { float:left; margin:0 18px 0 0; }
.st .st_block_top .st_sort { font:11px arial; color:#5c7999; margin:5px 0 0 0; float:left; }
.st .st_block_top .st_sort select { margin:0 0 0 3px; }

.st .grafik { background: url(/cms/images/project_bg_bottom_gray.gif) 0 0 repeat-x; }
.st .grafik .st_grafik_bg { background: url(/cms/images/st_gr_bg_bottom.gif) 0 100% repeat-x; padding:11px 2% 21px 2%; }
.st .grafik .grafik_name { font:11px arial; color:#5c7999; margin:5px 0 7px 0; }
.st .grafik img { border:1px solid #B8C8D9; }

.st .st_table { background:url(/cms/images/st_bg_top.gif) 0 0 repeat-x; overflow:hidden; position:relative; }
.st .st_table .scroll-pane { background:url(/cms/images/st_bg_left.png) 0 0 repeat-y; border-left:1px solid #B8C8D9; }
.st .st_table table { float:left; margin:0 0 15px 0; }
.st .st_table table.nr1 { width:306px; }
.st .st_table table.nr1 td { padding:0 40px 0 19px; }
.st .st_table table.nr1 tr.data td { height:58px; vertical-align:top; }
.st .st_table table.nr1 tr.data td div { font:9px arial; color:#5c7999; padding:7px 0 11px 0; }
.st .st_table table.nr1 tr.data td span { font:11px arial; color:#000; }
.st .st_table table.nr1 tr.data td span.gray { color:#808080; padding:0 9px; }
.st .st_table table tr.total { background:url(/cms/images/st_bg_bottom.jpg) 0 0 repeat-x; }
.st .st_table table tr.total td { height:52px; }
.st .st_table table.nr1 tr.total td div {  background:url(/cms/images/st_total_bg.gif) 0 0 no-repeat; height:20px; width:204px; font:11px/20px arial; color:#fff; padding:0 8px; }
.st .st_table td { height:51px; vertical-align:middle; font-size:11px; color:#000; border-bottom:1px solid #B8C8D9;  }
.st .st_table tr.search img { margin:0 0 0 5px; }
.st .st_table table.nr1 td div { font:11px/14px arial; color:#000; padding:0 0 0 15px; position:relative; }
.st .st_table table.nr1 td div span { position:absolute; left:0; font:9px arial; color:#b8c8d9; }
.st .st_table table.nr2 td { min-width:24px; padding:0 2px 0 0; text-align:center; }
.st .st_table table.nr2 td.month_end { padding:0 0 0 3px; }
.st .st_table table.nr2 tr.data td { height:58px; vertical-align:top; background:url(/cms/images/st_li2.gif) 50% 100% no-repeat; }
.st .st_table table.nr2 tr.data td div { font:9px arial; color:#b8c8d9; padding:9px 0 9px 0; }
.st .st_table table.nr2 tr.data td span { font:11px arial; color:#000; }
.st .st_table table.nr2 tr.data td.weekend { background:url(/cms/images/st_li1.gif) 50% 100% no-repeat; }
.st .st_table table.nr2 tr.total td div {  background:url(/cms/images/st_total.gif) 0 0 no-repeat; height:20px; width:24px; font:11px/20px arial; color:#fff; text-align:center; }
.st .st_table table.nr2 td.space { padding:0 0 0 7px; }
.st .st_table table.nr2 tr.total td.space { background:url(/cms/images/st_bg_left.png) 0 0 repeat-y; padding:0 0 0 7px; }
.st .st_table table.nr2 td .green { color:#009900; *position:relative; }
.st .st_table table.nr2 td .blue { color:#B8C8D9; *position:relative; }
.st .st_table table.nr2 td .red { color:#cc0000; *position:relative; }
.st .st_table table.nr2 td .t1 { display:block; font:bold 12px/0px arial; }
.st .st_table table.nr2 td .t2 { display:block; font:8px/1px arial; }


.home_eror { border:1px solid #BAC1C9; background:#F5E5E5; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; behavior: url(PIE.htc); position:relative; padding:0 10px; font:12px/47px arial; color:#000; margin:13px 0 0 0; }
.home_success { border:1px solid #BAC1C9; background:#EAF5E5; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; behavior: url(PIE.htc); position:relative; padding:0 10px; font:12px/47px arial; color:#000; margin:13px 0 0 0; }

h2.home_h2 { background:url(/cms/images/h1.gif) 0 23px no-repeat; font:bold 12px/49px Tahoma, Geneva, sans-serif; }

.home_but_top { position:absolute; right:10px; margin-top:-39px; }
.home_but_top a { margin:0 0 0 27px; display:block; float:left; }
.home_but_top a.home_but_add { margin:8px 88px 0 0;}

.home_but_bottom { margin:10px 0 6px 0; text-align:right; }
.home_but_bottom a { margin:0 0 0 8px; }

.home { border-right:1px solid #B8C8D9; border-left:1px solid #B8C8D9; }
.home table { width:100%; }
.home table tr { }
.home table tr.paginator td { vertical-align:top; height:25px; border:none; }
.home table tr.paginator td.bottom { border-top:1px solid #B8C8D9; }
.home table tr.paginator td.bottom .paginatot_left { margin:7px 0 0 10px; }
.home table tr.paginator td.bottom .paginatot_right { margin:7px 10px 0 0; }
.home table tr.paginator td.bottom .paginatot_right a { font:10px arial; }
.home table tr.paginator td .paginatot_left { float:left; font:12px arial; color:#666666; margin:2px 0 0 10px; }
.home table tr.paginator td .paginatot_left a { font:12px arial; color:#003366; padding:0 0 0 2px;  }
.home table tr.paginator td .paginatot_left a.active { color:#000; text-decoration:none; font-weight:bold; }
.home table tr.paginator td .paginatot_right { float:right; font:12px arial; color:#666666; margin:2px 10px 0 0; }
.home table tr.paginator td .paginatot_right a { font:12px arial; color:#003366; padding:0 0 0 2px; }
.home table tr.paginator td .paginatot_right a.active { color:#000; text-decoration:none; font-weight:bold; }

.home table tr.gray td { background:#E5EAEF; }
.home table tr.green td { background:#EAF5E5; }

.home table td { height:31px; vertical-align:middle; border-top:1px solid #8C99A5; border-right:1px solid #BAC1C9; }
.home table td div { font:12px/14px arial; color:#000; padding:0 10px; }
.home table tr td.td1 { width:4.7%; text-align:center; font:12px arial; color:#666666; }
.home table tr td a { font:12px arial; color:#000; }
.home table tr td span.home_ico1 { height:9px; width:11px; display:inline-block; *display:inline; zoom:1; background:url(/cms/images/home_ico1.gif) 0 0 no-repeat; margin:0 0 0 5px; }
.home table tr td span.home_ico2 { height:9px; width:7px; display:inline-block; *display:inline; zoom:1; background:url(/cms/images/home_ico2.gif) 0 0 no-repeat; margin:0 0 0 5px; }
.home table tr td.td8 { width:10.9%; border-right:0; text-align:left; vertical-align:top; padding:5px 1px 0 10px;}
.home table tr td.td8 div { width:114px; margin:5px 1px 0 6px; padding:0; height:21px; overflow:hidden; float:right;  }
.home table tr td.td8 div a { margin:0 5px 0 0; }

.home table tr.title td { text-align:center; height:46px; background:#EAEAEA; border-top:1px solid #BAC1C9; }
.home table tr.title td a { font:bold 12px/14px arial; color:#003366; }
.home table tr.title td.td1 { width:4.7%; }
.home table tr.title td.td8 { width:10.9%; border-right:0; text-align:left; vertical-align:middle }
.home table tr.title td.td8 a { width:86px; display:block; padding:5px 0 5px 35px; background:url(/cms/images/btn6.png) 7px 50% no-repeat; }

.home table tr.form td { height:27px; }
.home table tr.form td div { padding:0 4px 0 2px; }
.home table tr.form td div input { width:100%; height:20px; line-height:20px; }
.home table tr.form td div select { width:100%; height:22px; line-height:22px; }
.home table tr.form td.td1 { width:4.7%; }
.home table tr.form td.td8 { width:10.9%; border-right:0; text-align:left; }
.home table tr.form td.td8 div { width:110px; margin:3px 1px 0 6px; height:21px; overflow:hidden; float:right; }
.home table tr.form td.td8 div a { margin:0 5px 0 0; }
.home table tr.form td.td8 div a.btn7 { margin:0 31px 0 0; } 

.home table tr.price td { height:31px; background:#EAEAEA; }
/*.home table tr.price div { padding:0 170px 0 0; font:12px arial; color:#666666; text-align:right; }*/
.home table tr.price div { padding:0 0 7px 14px; font:12px arial; color:#666666;}
.home table tr.price div span { font:bold 12px arial; color:#000; }

.home table tr.branch td { height:31px; background:#EAEAEA; }
.home table tr.branch div { margin:0 104px 0 0; padding:0 18px 0 0; font:12px arial; background:url(/cms/images/home_arrow.png) 100% 0 no-repeat; text-align:right; }
.home table tr.branch div a { padding:0 0 0 10px; margin:0 0 0 20px; background:url(/cms/images/home_li.png) 0 4px no-repeat; }

.home_messages { border:1px solid #BAC1C9; background:#EAF5E5; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; border-radius:5px; behavior: url(PIE.htc); /*position:relative;*/ padding:15px 10px 6px 10px; }
.home_messages table { width:100%; }
.home_messages table td { padding:5px 0; vertical-align:middle; }
.home_messages td.name { width:90px; padding:0 10px 0 0; text-align:right; font:12px/15px arial; color:#333333; }
.home_messages td.form { }
.home_messages td.form input[type="text"] { height:20px; line-height:20px; width:100%; }
.home_messages td.deadline_input input[type="text"] { height:20px; line-height:20px; width:198px;}
.home_messages td.deadline_input select.hours, .home_messages td.deadline_input select.minutes {width: 42px;}

.home_messages td.form textarea { width:100%; min-height:126px; }
.home_messages td.form textarea.markitup {width: 740px;}
.home_messages td.form input[type="checkbox"] { }
.home_messages td.form select { height:22px; line-height:22px; width:198px; position: static;}
.home_messages .sep { margin:5px 0 0; padding:11px 0 0 99px; background:url(/cms/images/home_but_sep.gif) 0 0 repeat-x; }
.home_messages .sep input.home_but_save { height:33px; width:97px; background:url(/cms/images/home_but_save.gif) 0 0 no-repeat; border:0; cursor:pointer; }
.home_messages .sep input.home_but_del { height:33px; width:92px; background:url(/cms/images/home_but_del.gif) 0 0 no-repeat; border:0; cursor:pointer; float:right; }
.home_messages form input {
	height: auto;
	line-height: auto;
}
.home_messages form label {
	display:inline;
}

.home_messages form label.associative_entity {display:block;}

.bg_nr1 { border:1px solid #B8C8D9; border-right:0; background:#EFF4F9 url(/cms/images/project_right_block_bg.gif) 100% 0 repeat-y; position:relative; margin-top:-1px; z-index:1; }
.bg_nr1 .top_right { background:url(/cms/images/project_right_block_top.gif) 100% 0 no-repeat; position:relative; top:-1px; }
.bg_nr1 .bottom_right { background:url(/cms/images/project_right_block_bottom.gif) 100% 100% no-repeat; position:relative; bottom:-2px; }
.bg_nr1 .bottom_left { background:url(/cms/images/project_bg_left_bottom.gif) 0 100% no-repeat; position:relative; bottom:-1px; *bottom:0; left:-1px; }

.bg_nr2 { border:1px solid #B8C8D9; background:#EFF4F9; -moz-border-radius:0 5px 5px 5px; -webkit-border-radius:0 5px 5px 5px; -khtml-border-radius:0 5px 5px 5px; border-radius:0 5px 5px 5px; behavior: url(PIE.htc); position:relative; margin-top:-1px; z-index:1; }

.bg_nr3 { border:1px solid #D0DBE6; background:#fff; -moz-border-radius:0 5px 5px 5px; -webkit-border-radius:0 5px 5px 5px; -khtml-border-radius:0 5px 5px 5px; border-radius:0 5px 5px 5px; behavior: url(PIE.htc); position:relative; margin-top:-1px; z-index:1; }

.bg_nr4 { border:1px solid #B8C8D9; background:#EFF4F9; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -khtml-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; behavior: url(PIE.htc); position:relative; margin:-1px 10px 0 10px; z-index:1; }

.bg_nr5 { border:1px solid #C8D5E2; background:#EFF4F9; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; -khtml-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; behavior: url(PIE.htc); }

.bg_nr6 { overflow:hidden; position:relative; }
.bg_nr6 .bg_top { background:url(/cms/images/bg_top.gif) 0 0 repeat-x; }
.bg_nr6 .bg_top_left { background:url(/cms/images/bg_top_left.gif) 0 0 no-repeat; }
.bg_nr6 .bg_top_right { background:url(/cms/images/bg_top_right.gif) 100% 0 no-repeat; }
.bg_nr6 .bg_bottom { background:url(/cms/images/bg_bottom.gif) 0 100% repeat-x; }
.bg_nr6 .bg_bottom_left { background:url(/cms/images/bg_bottom_left.gif) 0 100% no-repeat; }
.bg_nr6 .bg_bottom_right { background:url(/cms/images/bg_bottom_right.gif) 100% 100% no-repeat; padding:9px 0; position:relative; }

.bg_nr7 { overflow:hidden; position:relative; background:url(/cms/images/p.gif) 0 0 repeat-x; margin-top:-1px; z-index:1; }
.bg_nr7 .bg_bottom { background:url(/cms/images/bg_bottom.gif) 0 100% repeat-x; }
.bg_nr7 .bg_bottom_left { background:url(/cms/images/bg_bottom_left.gif) 0 100% no-repeat; }
.bg_nr7 .bg_bottom_right { background:url(/cms/images/bg_bottom_right.gif) 100% 100% no-repeat; padding:0 0 9px 0; position:relative; }
.bg_nr7 .bg_top_right { background:url(/cms/images/zad_bg_right.gif) 0 0 no-repeat; display:block; height:6px; width:6px; overflow:hidden; top:-1px; right:0; position:absolute; z-index:22;}

#GroupSelectSelector {display:inline;}
#GroupSelectFormContainer {display:none; margin:10px;}
.pr_login {
		float:left; 
		width:240px; 
		border:1px solid #BAC1C9; 
		padding:5px; 
		margin-right: 10px;
		margin-bottom:10px;
}
td.form .select {margin-bottom:5px;}
td.form .select img {vertical-align:middle;}
#TemplateLogin {display:none;}
#AddLoginButton {
	border: 1px solid #BAC1C9;
    float: left;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    width: 240px;
	background: none;
}
#AddLoginButton img {
	margin-top:50px;
}
table.query_pos td {
	width:20px;
}
table.query_pos td.name {
	width:auto;
}
table.query_pos td.green {
	color:green;
}
table.query_pos td.red {
	color:red;
}

table.query_pos tr:hover {
	background:#ccc;
}

option.delete {
	background-color: red;
	color:#FFF;
}

#GroupSelectContainer {display:none;}
optgroup option{
	margin-left:10px;
}

#EditSingleFieldForm {display:none;}
#Dependencies {
	border:1px solid #C1C1C1;
	background-color:#FFF;
	min-width: 200px;
	padding:4px;
	-moz-border-radius: 4px;
	position:absolute;
	display:none;
}
#Dependencies ul>li{	
	margin-bottom:4px;
	cursor: pointer;
}
#Dependencies ul>li>ul {
	margin-top:4px;
	background-color: #FFF;
	padding-left: 10px;
}
#Dependencies ul>li>a {
	white-space: nowrap;
	display:block;
	width:100%;
}
#Dependencies ul>li:hover{
	background-color:#eaeaea;
}
#Dependencies div.arrow {
	position: absolute; 
	right: -8px; 
	border-top: 1px solid rgb(193, 193, 193); 
	width: 8px; 
	top: 8px;
}
#Dependencies div.close {	
	position: absolute; 
	right: 16px;
	top: -23px;
	border: 1px solid rgb(193, 193, 193);	
	border-bottom:none;
	-moz-border-radius: 4px 4px 0 0;
	padding:4px;
	background-color:#FFF;
}

div.checklist li {
	padding:4px;
}
div.checklist li.with_children {
	border-bottom: 1px solid #ccc;
}
div.checklist li.with_children > label{
	font-weight: bold;
}
div.checklist ul>li>ul{
	margin-left: 20px;
}
div.checklist select {
	width:85px;
}
div.checklist select.ok {
	color:green;
}
div.checklist select.error {
	color:red;
}
span.quote {
	color: grey;
	font-size: 0.9em;
}
.project table.level2 tr td.td1 div.task_project_name {
	padding: 5px 0 !important;
	border-bottom: 1px dotted #CCC;
	margin: 0 21px;
}
div.activity_date {
	padding-left: 21px !important;
	color:#aaa;
	font:italic 9px Arial;
	padding-top: 5px !important;
}
div.rate {
	color:#aaa;
	font:normal 11px Arial;
	clear: left;
	text-align: left;
	margin-left: 5px;
}
.project table.level2 tr td.td1 div.task_project_name a { 
	color:#999;
	font:normal 11px Arial;
	padding: 0 !important;
}
.project table.level2 tr td.td1 div.task_project_name a:hover{
	color: #777 !important;
}
.jHtmlArea iframe {
	border:1px solid #AFAFAF;
}
.all_tasks_link {
	padding-left:33px;
}
.all_tasks_link a{
	color: #AAAAAA;
}

.bg_comments {
	margin-right:198px;
	margin-top: 4px;
}

.comments li a.comment_anchor,  .comments li a.comment_delete_button {
	color: #808080;
	text-decoration: none;
}
.comments .flag_icon a {
	background-image: url("/cms/images/mail_ru_icons.png");
	background-position: 0px -80px;
	background-repeat: no-repeat;
	width:15px;
	height: 15px;
	margin-bottom: -3px;
	display:inline-block;
}
.comments li.favorite .flag_icon a {
	background-position: -20px -80px;
}

.task-files-block {
	float:right;
	width:204px;
}

.pauseplay { margin-left: 10px; }

.txt ol li ol {list-style-type: lower-alpha !important}
.txt del {color: #808080}

div.diff ins {
	text-decoration: none;
	background-color: #66CC33;
}
div.diff del {
	text-decoration: none;
	background-color: #FF6666;
}

.form .add-table {
	clear: both;
}
.form .add-table div {
	float:left;
	margin-right: 14px;
}
.add-table .field {
	display:none;
}
.add-table.real  .field {
	display:block;
}
.add-table .options {
	display:none;
	padding-top:10px;
}
.add-table.real  .options {
	display:block;
}
.url_field_icon {
	margin-bottom: -3px;
}
.tooltip{
position:absolute;
z-index:999;
left:-9999px;
background-color:#dedede;
padding:5px;
border:1px solid #fff;
width:250px;
font-size:8px;
}
.tooltip p{
margin:0;
padding:0;
color:#fff;
background-color:#222;
padding:2px 7px;
}

.paste_preview {
	float:left;
}

/* красивая табличка */
table.pretty {
	border-collapse: collapse;	
}
table.pretty, table.pretty td {
	border:1px solid #B8C8D9;
}
table.pretty td {
	padding:4px;
}
table.pretty tr.head td {
	background-color: #CADFF4;
}

.to_favorite {
	background-image:url(/cms/images/favorite-button.png);
	height:33px;
	width: 162px;
}
.in_favorite {
	background-position: left bottom;
}

.superlogin {
	position: absolute;
	top: 15px;
	left: 615px;
	color: #FFF;
}
