@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0px none;outline:0;font-style:inherit;font-family:inherit;}:focus{outline:0}area{cursor:pointer}ol, ul{list-style:none;}table{border-collapse:separate;border-spacing:0}caption, th, td{font-weight:normal}blockquote:before, blockquote:after, q:before, q:after{}blockquote, q{}
a{color : #003366;text-decoration : underline; outline : none;}
a:hover, a.act{color : #990000; text-decoration : none;}



#all{
	min-width : 1000px;
	height : 310px;
	width : 100%;
	position : absolute;
	top : 50%;
	left : 0px;
	margin-top : -45px;
}
#all #top{
	height : 104px;
	background : #191970 url(/cms/images.old/all.jpg) repeat-x top;
	margin-bottom : 20px;
}
#all .c2{
	width : 850px;
	padding : 15px;
}

#enter{
	width : 850px;
	margin : 0px auto;
	height : 90px;
}
#enter img{
	float : left;
}
#enter div{
	width : 632px;
	height : 29px;
	float : right;
	margin-top : 32px;
	background : transparent url(/cms/images.old/fon_enter.png) no-repeat top;
	position : relative;
	font-size : 12px;
	padding-top : 11px;
	padding-left : 20px;
	
}
#enter input{
	margin-bottom : 2px;
}
#enter div input.tt{
	width : 146px;
	height : 16px;
	border : 1px solid Silver;
}
#enter div span{
	margin-right: 15px;
}

#enter div span#but{
	position : absolute;
	top : 5px;
	right : -5px;
}

p#copy{
	text-align : center;
	position : absolute;
	bottom : 10px;
	left : 50%;
	width : 350px;
	margin-left : -175px;
	font-size : 12px;
	color : #000000;
}
p#copy a{
	font-weight : normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
}
#wrapper{
	min-width : 1000px;
	width : auto;
	position:relative; 
	min-height:100%;
	height:auto !important;height:100%
}
#top{
	padding : 0px 20px;
	height : 92px;
	background : #003164 url(/cms/images.old/top_fon.jpg) repeat-x top;
}
#logo{
	float : left;
	width : 170px;
}
#top_right{
	position : relative;
	height : 77px;
	margin-left : 200px;
	padding-top : 15px;
}
#top_right p{
	color : #ccc;
	position : relative;
}
#top_right p span{
	color : #fff;
	font-weight : bold;
}
#top_right p a{
		position : absolute;
	top : 0px;
	right : 0px;
	color : White;
	padding : 0px 0px 0px 20px;
	background : transparent url(/cms/images.old/output.png) no-repeat left 4px;
	font-weight : normal;
}
#top_right p a:hover{
	color : White;
}
#top_right p a:after {
 content: "."; 
 color: #00487b; 
 clear : both;
}
#top_right ul{
	background : #DCDCDC url(/cms/images.old/top_menu.jpg) repeat-x center top;
	padding : 11px 20px 0;
	height : 32px;
	width : auto;
	margin-top : 21px;
}
#top_right ul li{
	display : inline;
	margin-right : 16px;
	margin-left : 0px;
	margin-bottom : 0px;
	line-height : 16px;
}
#top_right ul li a{
	padding-left : 10px;
	background : transparent url(/cms/images.old/a_bordo.gif) no-repeat left;
	font-weight : bold;
	line-height : 16px;
}
#content{
	position : relative;
	width : 100%;
}
.fon_menu{
	background : transparent url(/cms/images.old/left_menu_bott.gif) no-repeat bottom;
	padding-bottom : 18px;
	height : 1%;
}
/*
#left{
	width : 190px;
	padding : 0px 0px 0px 10px;
	position : absolute;
	top : 0px;
	left : 0px;
}
#left div.menu{
	background : transparent url(/cms/images.old/left_menu_top.gif) no-repeat top;
	padding-top : 15px;
}
#left div.menu p.one{
	list-style-type : none;
	border-top : 0px dotted #666e7e;
	padding : 7px 0px 8px;
	margin : 0px 10px;
	background : transparent url(/cms/images.old/punktir.gif) no-repeat center top;
}
#left p.menu p.end{
	background : transparent url(/cms/images.old/punktir.gif) no-repeat center bottom;
	padding : 6px 0px 7px;
}
#left div.menu p.one a{
	padding-left : 10px;
	background : transparent url(/cms/images.old/li_left.gif) no-repeat left;
	font-weight : bold;
}
#left div.menu p a.quest{
	padding-right: 15px  !important;
	background : transparent url(/cms/images.old/gray_quest.gif) no-repeat right 5px !important;
}

#left div.menu p.two{
	margin-left : 35px;
	border : none;
	padding : 0px 19px 3px 0px;
	margin-right: 0px;
	line-height : 12px;
	background-image : none;
}
#left div.menu p.two a{
	padding : 0px;
	background-image : none;
	font-weight : normal;
	line-height : 12px;
}

#left div.menu p.three{
	margin-left : 49px;
	border : none;
	padding : 0px 19px 3px 0px;
	margin-right: 0px;
	line-height : 12px;
	background-image : none;
}
#left div.menu p.three a{
	padding : 0px;
	background-image : none;
	font-weight : normal;
	line-height : 12px;
}
#left div.menu p a.act{
	font-weight : bold;
}
 
p.center{
	text-align : center;
}
#right{
	margin-left : 220px;
	padding : 10px 20px 0px 0px;
}
*/


html, body {margin:0px; padding:0px; font:12px Arial, Helvetica, sans-serif;}
.bodyTable {width:100%; margin-top:5px; border-collapse:collapse;}
.decorTd {width:10px; background-image:url(/cms/images.old/1.jpg); background-repeat:repeat-x }
.decorTdMiddle {width:20px; background-image:url(/cms/images.old/1.jpg); background-repeat:repeat-x}
.menuTd {background-image: url("/cms/images.old/logo.jpg");
background-position: 50% 50%;
background-repeat: no-repeat;
width: 190px;}
.firstTr {height:40px;}
.secondTr {height:42px; vertical-align:middle}
.ThirdTr, .ThirdTr td#sel{vertical-align:top !important;}
.helloTd {background-image:url(/cms/images.old/1a.jpg); background-repeat:repeat-x;}
.wellcome {text-align:left; float:left}
.wcText {color:#CCCCCC;}
.iam {font-weight:bold; color:#FFFFFF;}
.logout {text-align:right; float:right;}
.logout a {color:#FFFFFF; background:transparent url(/cms/images.old/output.png) no-repeat scroll left 2px; padding: 0 0 0 18px;}
.topMenuTdCenter{background-image:url(/cms/images.old/2b.jpg); background-repeat:repeat-x}
:root *> .topMenuTdLeft{background-image:url(/cms/images.old/lc.jpg); background-repeat:no-repeat; width:7px; margin:0px; padding:0px;}
.topMenuTdLeft{width: 2px\9; background-image:url(/cms/images.old/lc.jpg); background-repeat:no-repeat; margin:0px; padding:0px;}
:root *> .topMenuTdRight{background-image:url(/cms/images.old/rc.jpg); background-repeat:no-repeat; width:7px; margin:0px; padding:0px;}
.topMenuTdRight{background-image:url(/cms/images.old/rc.jpg); background-repeat:no-repeat; width:2px\9; margin:0px; padding:0px;}


.topMenuTdCenter ul{padding-left : 12px; }
.topMenuTdCenter ul li{display : inline; margin-right : 16px; margin-left : 0px;}
.topMenuTdCenter ul li a{padding-left : 10px; background : transparent url(/cms/images.old/a_bordo.gif) no-repeat 1px; font-weight : bold;}
#left{
	width: 190px;
	padding: 9px 0px 0px 0px;
	/*background-image: url("/cms/images.old/left_menu_top_r.gif");*/
	background-repeat: no-repeat;
	margin-top:9px;
	}
	
.fon_menu{
	background : transparent url(/cms/images.old/left_menu_bott.gif) no-repeat bottom;
	padding-bottom : 18px;
	height : 1%;
}
#left div.menu{
	background : transparent url(/cms/images.old/left_menu_top.gif) repeat-y top;
	padding-top : 15px;
}
#left div.menu p.one{
	list-style-type : none;
	border-top : 0px dotted #666e7e;
	padding : 7px 0px 8px;
	margin : 0px 10px;
	background : transparent url(/cms/images.old/punktir.gif) no-repeat center top;
}
#left p.menu p.end{
	background : transparent url(/cms/images.old/punktir.gif) no-repeat center bottom;
	padding : 6px 0px 7px;
}
#left div.menu p.one a{
	padding-left : 10px;
	background : transparent url(/cms/images.old/li_left.gif) no-repeat left;
	font-weight : bold;
}
#left div.menu p a.quest{padding-right: 15px  !important; background : transparent url(/cms/images.old/gray_quest.gif) no-repeat right 4px !important;}

#left div.menu p.two{margin-left: 35px; border: none; padding: 0px 19px 10px 0px; margin-right: 0px; line-height: 12px; background-image :none;}
#left div.menu p.two a{ padding : 0px; background-image : none; font-weight : normal; line-height : 12px;}

#left div.menu p.three{margin-left : 49px; border : none; padding : 0px 19px 9px 0px; margin-right: 0px; line-height : 12px; background-image : none;}
#left div.menu p.three a{padding: 0px; background-image: none; font-weight: normal; line-height: 12px;}
#left div.menu p a.act{font-weight : bold;}

#right{
	margin-left : 0;
	padding : 10px 0px 0px 0px;
}
.rose{
	background-color : #f4e0e0;
	border : 1px solid #c29999;
}
.blue{
#	background-color : #e0eaf4;
#	border : 1px solid #99adc2;
	background-color : #c29999;
	border : 1px solid #f4e0e0;
}
.green{
	background-color : #eaeaea;
	border : 1px solid #adadad;
}
.c2{
	padding : 10px 10px;
	margin : 10px auto 30px;
}
.c2#bot15{
	margin-bottom : 18px;
}
.c2 p{
	margin : 5px 0px 5px;
}
.gray{
	color : #666666;
}
.table{
	margin : 0px 0px 10px;
	padding : 0px;
}
.table p, .table li, .table ul, .table ol{
	margin : 0;
}
.table h1 {
	height : 33px;
	line-height : 27px;
	background : transparent url(/cms/images.old/razrabotka.gif) no-repeat left 12px;
	padding-left : 10px;
	font-size : 1em;
	position : relative;
	margin-bottom : 6px;
}
.table h1 img{
	position : absolute;
	top : 0px;
	right : 0px;
}
.table h1 input{
	position : absolute;
	top : 0px;
	right : 0px;
	cursor : pointer;
}
.table form table tr:hover {background-color:#eaeaea;}
.table_top{
	height : 35px;
	padding : 0px 15px 0 0px;
	background : transparent url(/cms/images.old/table_top_right.gif) no-repeat right top;
}
.table_top div{
	height : 35px;
	background : transparent url(/cms/images.old/table_top_left.gif) no-repeat left top;
	padding : 0px 0px 0 15px;
}
.table_top div p.lefter, .table_bott div p.lefter{
	float : left;
	width : 49%;
	line-height : 36px;
	color : #666666;
}
.table_top div p.righter, .table_bott div p.righter{
	float : right;
	width : 49%;
	line-height : 36px;
	text-align : right;
	color : #666666;
}
.table_bott div p.righter, .table_bott div p.lefter{
	line-height : 28px;
	color : #666666;
}
.table_bott div p.righter a, .table_bott div p.lefter a, .table_top div p.righter a, .table_top div p.lefter a {
	margin : 0px 2px;
	font-weight : normal;
}
.table_bott{
	height : 35px;
	padding : 0px 15px 0 0px;
	background : transparent url(/cms/images.old/table_bott_right.gif) no-repeat right bottom;
}
.table_bott div{
	height : 35px;
	background : transparent url(/cms/images.old/table_bott_left.gif) no-repeat left bottom;
	padding : 0px 0px 0 15px;
}

.table table{
	width : 100%;
	clear : both;
	margin : -1px 0 0 0;
}
.table table td, .table table th{
	padding : 3px 6px 2px;
	border-top : 1px solid #c1c1c1;
	border-bottom: 0px solid #c1c1c1;
	border-left : 1px solid #c1c1c1;
	border-right : 0px solid #c1c1c1;
	border-collapse : collapse;
}

.table table td.padd0 {
	padding : 0px;
}
.table table td.padd0 table td{
	border : none;
}
.table table tr.inp td{
	padding : 2px;
}
.table table tr.inp td input{
	width : 95%;
	margin : 0px auto;
	display : block;
}
.table table tr.inp td.width36 input{
	width : 95%;
	margin : 0px auto;
	display : block;
}
.table table tr.inp td select{
	width : 95%;
	margin : 0px auto;
	display : block;
}
.table table th{
	text-align : center;
	text-decoration : underline;
	font-weight : bold;
	color : #003366;
}

.table table th a{
	font-weight : bold;
}


.table table td.width124,  .table table th.width124{
	border-right : 1px solid #bac1c9;
	width : 121px;
	text-align : center;
}
td.width36{
	width : 6%;
	text-align : center;
	color : #666666;
}
td.width95{
	width : 13%;
}
/*td.width125{
	width : 18%;
}*/
td.width74{
	width : 10%;
}
td.width140{
	width : 16%;
}




.table table tr.th{
	background-color : #eaeaea;
}
tr.end{
	background-color : #eaeaea;
}
tr.end td{
	border-bottom: 1px solid #c1c1c1;
	background-color : #eaeaea;
	border-right : 1px solid #bac1c9;
	padding : 4px 4px;
}
.table table td ul{
	text-align : right;
	margin-right : 17%;
}
.table table td ul li{
	display : inline;
		padding-left: 15px;
	background : transparent url(/cms/images.old/fenechka.gif) no-repeat left;
	margin-left : 15px;
	line-height : 20px;
	text-align : right;
}
.table table tr.end td ul{
	text-align : center;
	margin-left : 10%;
}
.table table tr.end td ul li{
	display : inline;
	padding-right : 0px;
	margin-left : 15px;
	background-image : none;
	color : #666;
}
.table table tr.end td ul li span{
	font-weight : bold;
	color : Black;
}
.table table td img{
	margin : 0px 1px;
}
.table table td.width124 img{
	margin : 0px 2px;
	cursor : pointer;
}
.table table td ul li a{

	line-height : 18px;
	padding-right : 16px;
	background : transparent url(/cms/images.old/plus.gif) no-repeat right 2px;
}
.table table td ul li a:hover{
	font-weight : normal;
}
.table .hiden table{
	width : 100%;
}
.table .hiden  table td{
	border-right : 1px solid #bac1c9;
	background-color : #eaeaea;
	padding : 6px;
	background : #eaeaea url(/cms/images.old/strelka.gif) no-repeat 87%center;
}
#hide1, #hide2, #hide3, #hide4,#hide5,#hide6{
	display : none;
}
.green table{
	margin-top : 6px;
}

.button{
	text-align : right;
	margin : 10px 0 14px 0;
}
.button img{
	margin-left : 10px;
}
.download{
	background-image : url(/cms/images.old/download.gif);
	background-position : center center;
	background-repeat : no-repeat;
	min-height : 26px;
	margin:10px;
}
.c2 table{
	border : none;
	width : 100%;
	margin-bottom : -4px;
	position : relative;
}
.c2 table td{
	padding : 2px 6px 10px;
}
.c2 table td textarea{
	height : 125px;
	width : 100%;
}
.c2 table td input.tex{
	width : 100%;
}
.c2 table td.width100{
	width : 100px;
	text-align : right;
}
.text_right{
	text-align : right;
}
.c2 table td.bott{
	border-top : 1px dashed #5e7082;
	padding-bottom : 0px;
}
.bott table td{
	padding : 4px 0;
}
label{
	display : block;
}
.table table.td30 td{
	padding-top : 0px;
	padding-bottom : 0px;
	vertical-align : middle;
	height : 30px;
	line-height : 16px;
}
.table table.td30 td img{
	vertical-align : middle;
	margin : 0px 2px;
}
#wrapper .empty {
    height:40px;
}

/*.table table.noborder {
    border:none;
    border:0px;
}

.table table.noborder td{
    border:none;
    border:0px;
}*/

#bottom {
    position:relative;
    margin-top:-32px; 
    height:32px; 
    width: auto; 
    background: #191970 url(/cms/images.old/bottom_fon.jpg) repeat-x top;
    min-width : 1000px;
}
#bottom p{
	text-align : center;
	line-height : 32px;
	color : White;
	margin-bottom : 0px;
}
#bottom p a{
	color : White;
}
#bottom p a:hover{

	color : White;
	font-weight : normal;
}

.remember input { 
	vertical-align:middle;
}
.dop_funct{background-color:#eaeaea}
.hide { display:none}
.table_row_fix table.noborder tr td {border: 0 none }
.table_row_fix table.noborder tr td .div_table_fix .table tr td{
border-collapse:collapse !important;
border-color:#8C99A5 #BAC1C9 !important;
border-style:solid !important;
border-width:1px 0 0 1px !important;}

.table_row_fix table.noborder tr td .div_table_fix .table tr th.width124, .table_row_fix table.noborder tr td .div_table_fix .table tr td.width124  {
border-right:1px solid #BAC1C9 !important;
text-align:center !important;
width:121px !important;}

.table_row_fix table.noborder tr td .div_table_fix .table tr.end td {
background-color:#EAEAEA !important;
border-bottom:1px solid #8C99A5 !important;
border-right:1px solid #BAC1C9 !important;
padding:4px !important;
}

#ItemListTable td.first {width:60px;}
tr.goingToNextPage {border:1px solid #F00;}
.popupWindow {
	width:300px; 
	left:50%; 
	margin-left:-150px; 
	border:1px solid #000; 
	position:absolute; 
	top:50%;
	background: #F4E0E0;
	padding: 6px;
	display:none;
	text-align: center;
}
div.groupSelectActionButton {float:left;}
#GroupSelectContainer {display:none;}

div.make-design-result {color:green;}
div.make-design-result > p{margin-bottom:20px;}

.mytable {padding:2px; margin:2px;}
.mytable td {padding:2px;}

tr.sp-query-row:hover td {
	background-color:#eaeaea;
	border-top:1px solid #CCC; 
	border-bottom:1px solid #CCC; 
}
td.sp-site-name, td.sp-query-name{
	text-align:left;
}
td.sp-query-name {padding-left:10px;}
