.table{
	margin : 0px 0px 10px;
	padding : 0px;
}
.table select {
	position: static;
}
.table p, .table li, .table ul, .table ol{
	margin : 0;
}
.table h1 {
	height : 33px;
	line-height : 27px;
	background : transparent url(/cms/images.old/razrabotka.gif) no-repeat left 12px;
	padding-left : 10px;
	font-size : 1em;
	position : relative;
	margin-bottom : 6px;
}
.table h1 img{
	position : absolute;
	top : 0px;
	right : 0px;
}
.table h1 input{
	position : absolute;
	top : 0px;
	right : 0px;
	cursor : pointer;
}
.table table tr:hover {background-color:#eaeaea;}
.table_top{
	height : 35px;
	padding : 0px 15px 0 0px;
	background : transparent url(/cms/images.old/table_top_right.gif) no-repeat right top;
}
.table_top div{
	height : 35px;
	background : transparent url(/cms/images.old/table_top_left.gif) no-repeat left top;
	padding : 0px 0px 0 15px;
}
.table_top div p.lefter, .table_bott div p.lefter{
	float : left;
	width : 49%;
	line-height : 36px;
	color : #666666;
}
.table_top div p.righter, .table_bott div p.righter{
	float : right;
	width : 49%;
	line-height : 36px;
	text-align : right;
	color : #666666;
}
.table_bott div p.righter, .table_bott div p.lefter{
	line-height : 28px;
	color : #666666;
}
.table_bott div p.righter a, .table_bott div p.lefter a, .table_top div p.righter a, .table_top div p.lefter a {
	margin : 0px 2px;
	font-weight : normal;
}
.table_bott{
	height : 35px;
	padding : 0px 15px 0 0px;
	background : transparent url(/cms/images.old/table_bott_right.gif) no-repeat right bottom;
}
.table_bott div{
	height : 35px;
	background : transparent url(/cms/images.old/table_bott_left.gif) no-repeat left bottom;
	padding : 0px 0px 0 15px;
}

.table table{
	width : 100%;
	clear : both;
	margin : -1px 0 0 0;
}
.table table td, .table table th{
	padding : 3px 6px 2px;
	border-top : 1px solid #c1c1c1;
	border-bottom: 0px solid #c1c1c1;
	border-left : 1px solid #c1c1c1;
	border-right : 0px solid #c1c1c1;
	border-collapse : collapse;
}

.table table td.padd0 {
	padding : 0px;
}
.table table td.padd0 table td{
	border : none;
}
.table table tr.inp td{
	padding : 2px;
}
.table table tr.inp td input{
	width : 95%;
	margin : 0px auto;
	display : block;
}
.table table tr.inp td.width36 input{
	width : 95%;
	margin : 0px auto;
	display : block;
}
.table table tr.inp td select{
	width : 95%;
	margin : 0px auto;
	display : block;
}
.table table th{
	text-align : center;
	text-decoration : underline;
	font-weight : bold;
	color : #003366;
}

.table table th a{
	font-weight : bold;
}
.table span.no-photo {
	color: #AAA;
	font-style:  italic;
}


.table table td.width124,  .table table th.width124{
	border-right : 1px solid #bac1c9;
	width : 121px;
	text-align : center;
	white-space: nowrap;
}
td.width36{
	width : 6%;
	text-align : center;
	color : #666666;
}
td.width95{
	width : 13%;
}
/*td.width125{
	width : 18%;
}*/
td.width74{
	width : 10%;
}
td.width140{
	width : 16%;
}




.table table tr.th{
	background-color : #eaeaea;
}
tr.end{
	background-color : #eaeaea;
}
tr.end td{
	border-bottom: 1px solid #c1c1c1;
	background-color : #eaeaea;
	border-right : 1px solid #bac1c9;
	padding : 4px 4px;
}
.table table td ul{
	text-align : right;
	margin-right : 17%;
}
.table table td ul li{
	display : inline;
		padding-left: 15px;
	background : transparent url(/cms/images.old/fenechka.gif) no-repeat left;
	margin-left : 15px;
	line-height : 20px;
	text-align : right;
}
.table table tr.end td ul{
	text-align : center;
	margin-left : 10%;
}
.table table tr.end td ul li{
	display : inline;
	padding-right : 0px;
	margin-left : 15px;
	background-image : none;
	color : #666;
}
.table table tr.end td ul li span{
	font-weight : bold;
	color : Black;
}
.table table td img{
	margin : 0px 1px;
}
.table table td.width124 img{
	margin : 0px 2px;
	cursor : pointer;
}
.table table td ul li a{

	line-height : 18px;
	padding-right : 16px;
	background : transparent url(/cms/images.old/plus.gif) no-repeat right 2px;
}
.table table td ul li a:hover{
	font-weight : normal;
}
.table .hiden table{
	width : 100%;
}
.table .hiden  table td{
	border-right : 1px solid #bac1c9;
	background-color : #eaeaea;
	padding : 6px;
	background : #eaeaea url(/cms/images.old/strelka.gif) no-repeat 87%center;
}
#hide1, #hide2, #hide3, #hide4,#hide5,#hide6{
	display : none;
}
.green{
	background-color : #eaeaea;
	border : 1px solid #adadad;
}
.green table{
	margin-top : 6px;
}

.button{
	text-align : right;
	margin : 10px 0 14px 0;
}
.button img{
	margin-left : 10px;
}
.download{
	background-image : url(/cms/images.old/download.gif);
	background-position : center center;
	background-repeat : no-repeat;
	min-height : 26px;
	margin:10px;
}

.c2{
	padding : 10px 10px;
	margin : 10px auto 30px;
}

.c2 div.error,.c2 div.saved  {
	border:1px solid red;
	padding:10px;
	background-color: #FF8572;
	opacity: 0.8;
	border-radius: 4px;
 	-moz-border-radius: 4px;
	width:50%;
}
.c2 div.saved {
	border:1px solid #00FF43;
	background-color: #AFFFAA;
}
.c2 div.error p {
	font-weight: bold;
}

.c2#bot15{
	margin-bottom : 18px;
}
.c2 p{
	margin : 5px 0px 5px;
}

.c2 table{
	border : none;
	width : 50%;
	min-width: 500px;
	margin-bottom : -4px;
	position : relative;
}
.c2 table td{
	padding : 2px 6px 10px;
}
.c2 table td textarea{
	height : 125px;
	width : 100%;
}
.c2 table td input.tex{
	width : 100%;
}
.c2 table td.width100{
	width : 100px;
	text-align : right;
}
.text_right{
	text-align : right;
}
.c2 table td.bott{
	border-top : 1px dashed #5e7082;
	padding-bottom : 0px;
	padding-top: 10px;
}

.c2 table input 
 {
	height:auto;
	line-height: 14px;	
}
.c2 table input[type="text"], 
.c2 table input[type="password"],
.c2 table textarea {
	width:100%;
}
.bott table td{
	padding : 4px 0;
}
label{
	display : block;
}
.c2 label {
	display:inline;
}
.table table.td30 td{
	padding-top : 0px;
	padding-bottom : 0px;
	vertical-align : middle;
	height : 30px;
	line-height : 16px;
}
.table table.td30 td img{
	vertical-align : middle;
	margin : 0px 2px;
}

#form-filters input[type="text"],
#form-filters select {
	width:100%;
}

#ItemListTable td.first {width:60px;}
tr.goingToNextPage {border:1px solid #F00;}
.popupWindow {
	width:300px; 
	left:50%; 
	margin-left:-150px; 
	border:1px solid #000; 
	position:absolute; 
	top:50%;
	background: #F4E0E0;
	padding: 6px;
	display:none;
	text-align: center;
}

#container {
	/*overflow:auto;*/
}

tr.tr-data div.hidden_text {
	display:none;
}

div.field_access {
	margin-top: 15px;
}
div.field_access ul {
	margin: 5px 0 10px 0;
	font: bold 14px Arial;
}
div.field_access ul li{
	line-height: 21px;
	vertical-align: middle;
	margin-bottom: 4px;
}
div.field_access ul img{
	vertical-align: middle;
}
div.field_access span.table_name {
	font-style: italic;
}
div.field_hint {
	color: #888;
	font-style: italic;
}

span.home_ico1 { height:9px; width:11px; display:inline-block; *display:inline; zoom:1; background:url(/cms/images/home_ico1.gif) 0 0 no-repeat; margin:0 0 0 5px; }
span.home_ico2 { height:9px; width:7px; display:inline-block; *display:inline; zoom:1; background:url(/cms/images/home_ico2.gif) 0 0 no-repeat; margin:0 0 0 5px; cursor:pointer;}
.table .parent-field-loaded {
	position:absolute;
	background: #FFF;
	width: auto;
	border: 1px solid #C1C1C1;
	border-radius: 5px;
	padding:5px 10px 10px 10px;
	box-shadow: 0 0 10px #000;
}
.table .parent-field-loaded .title {
	height: 20px;
	cursor: move;
}
.table div.error p {
	color:red;
}
.parent-field-loaded .close_button {
	float:right;
	cursor:pointer;
	margin-bottom:5px;
	font-weight: bold;
}
.table .parent-field-loaded table {
	clear: both;
}
.table .td30 .parent-field-loaded td {
	height: auto;
	border-left:none;
	max-width:150px;
}
.table .td30 .parent-field-loaded td.name {
	font:normal 11px Arial;
}