<div class="home_messages">
<form action="{$smarty.server.REQUEST_URI}" method="post">
<p><strong>Я хочу экспортировать</strong><br /><br />
<input type="radio" name="part" value="all" id = "PartAll" checked="checked"/> 
<label for="PartAll">все страницы</label> 
<input type="radio" name="part" value="page" id = "PartPage"/> 
<label for="PartPage">текущую страницу</label><br /><br />
<input type="checkbox" name="include_id" value="1" id = "IncludeID"/> 
<label for="IncludeID">Включить в выгрузку ID записи</label><br />
</p>

	
{if !empty($fields)}
<table style="width:auto;">
<tr><th class="name">Поле</th><th>Выгрузить как</th></tr>
{foreach from=$fields item=field}
<tr>
	<td class="name">{$field->getViewname()}</td>
	<td>
		<select name="field[{$field->getName()}]">
			<option value="link">Ссылкой (для импорта)</option>
			<option value="value">Значением</option>
		</select>
	</td>
</tr>
{/foreach}
</table>
{/if}
<p>
	<input type="checkbox" value="1" name="get_as_file" id="GetAsFile" />
	<label for="GetAsFile">результат скачать файлом</label> 
</p>
<input type="submit" name="export" value="Экспортировать"/>
</form>
</div>
<br />