{if isset($errors)}
<div class="home_eror" style="margin-bottom:10px;font: 12px/24px arial;">
<strong>В процессе работы произошли ошибки:</strong>
<ul>
	{foreach from=$errors item=error key=key}
	<li>{$error}</li>
	{/foreach}
</ul>
</div>
{/if}
{if isset($successefullProcessed) && $successefullProcessed}
<div class="home_messages" style="margin-bottom:10px;">
<p>Успешно обработано {$successefullProcessed} строк(и) из {$totalImportRows}</p>
</div>
{/if}
<div class="home_messages">
<form action="{$smarty.server.REQUEST_URI}" method="post" enctype="multipart/form-data">
<p>
<label>Выберете файл для импорта:</label><br />
<input type="file" name="dump" /><br /><br />
<input type="checkbox" name="include_id" value="1" id = "IncludeID"/> 
<label for="IncludeID">Первая колонка в файле - ID записи</label><br />
</p>

	
{if !empty($fields)}
<table style="width:auto;">
<tr><th class="name">Поле</th><th>Интерпретировать как</th></tr>
{foreach from=$fields item=field}
<tr>
	<td class="name">{$field->getViewname()}</td>
	<td>
		<select name="field[{$field->getName()}]">
			<option value="link">Число-указатель на родительскую категорию</option>
			<option value="value">Текстовое значение</option>
		</select>
	</td>
</tr>
{/foreach}
</table>
{/if}
<p>
<input type="checkbox" name="make_backup" value="1" id = "MakeBackup"/> 
<label for="MakeBackup">Создать резервную копию таблицы</label><br />
</p>
<input type="submit" name="export" value="Загрузить"/>
</form>
</div>
<br />