<div id="overlay"></div>
<div class="done-task-window">
	<div class="modal-header">
		<a class="closer-modal" href="#"><span>Ой! Я ничего не делал!</span><span class="table-icons closer"></span></a>
		<p class="title">Я сделал:</p>
	</div>
	<form action="/backoffice/task/edit/" method="post" id="DoneTaskForm">
		<input type="hidden" name="task[executer_id]" value="{$user->getEmployeeID()}" />
		<input type="hidden" name="task[status]" value="222" />
		<input type="hidden" name="uploadify_number" value="0" />
		<textarea class="description" name="task[name]"></textarea>
		<div class="timing">
			<select name="task[project_id]">
				{html_options options=$projects selected=$project.id}
			</select>
			<span class="">за</span>
			<input class="timing" type="text">
			<input type="hidden" name="spent_time" value="">
		</div>
		<div class="uploading-files-wrap">
			<input type="file" name="file_upload" id="file_upload" />
		</div>
		<div class="auditors">
			<div class="add_ico"><a class="json-button" href="/informer/DoneWorkInformer/getUsersAsJson/">Редактировать список аудиторов:</a></div>
			<ul class="auditors-final-list">
				{foreach from=$project._coworkers item=auditor}
				<li><span>{$auditor.family} {$auditor.name}</span><input type="hidden" id="{$auditor.id}" name="coworkers[]" value="{$auditor.id}"></li>
				{/foreach}
			</ul>
		</div>
		<div class="bottom-panel">
			<div class="task-name">
				<p>Задача будет называться</p>
				<p id="IhadDone">«Я сделал: что-то, сам не знаю что»</p>
			</div>
			<a class="standart-button" href="#" onclick="sendDoneTaskForm();return false;">Я сделал!</a>
		</div>
	</form>
</div><!-- .done-task-window -->

{literal}
<script>
		function setcookie(name, value, expires, path, domain, secure) {
			expires instanceof Date ? expires = expires.toGMTString() : typeof(expires) == 'number' && (expires = (new Date(+(new Date) + expires * 1e3)).toGMTString());
			var r = [name + "=" + escape(value)], s, i;
			for(i in s = {expires: expires, path: path, domain: domain}){
				s[i] && r.push(i + "=" + s[i]);
			}
			return secure && r.push("secure"), document.cookie = r.join(";"), true;
		}

		$(function() {
			$('#file_upload').uploadify({
				'swf' : '/cms/js/uploadify/uploadify.swf',
				'uploader' : '/uploadify.php',
				'cancelImg' : '/cms/js/uploadify/cancel.png',
				'auto' : false,
				'width' : 24,
				'height' : 24
			});
			$('#file_upload-button').html('').css({
				'height' : '24px',
				'width' : '24px',
				'lineHeight' : '24px'
			});
		});
		
function sendDoneTaskForm() {
	var form = $('#DoneTaskForm');
	
	var microtime = new Date().getTime();
	
	$('#file_upload').uploadify('settings','formData', {uploadify_number : microtime});
	$('#file_upload').uploadify('upload','*');
	
	form.find('input[name="uploadify_number"]').val(microtime);
	
	var taskName  = form.find('textarea').val();
	
	if(taskName.length == 0 ) {
		alert("Укажите название задачи");
		return false;
	}
	
	var timestr = $(form).find('input.timing').eq(0).val();
	if(timestr.length >  0) {
		var regexp = /^(?:(\d+)\s+(?:день|дня|дней))?\s*(?:(\d+)\s+(?:час|часа|часов))?\s*(?:(\d+)\s+(?:минута|минуты|минут))?$/;
		var matches = regexp.exec(timestr);
		
		if(!matches) {
			alert("Вы допустили ошибку при указании потраченного времени");
			return false;
		}
		
		$(form).find('input[name="spent_time"]').val(matches[1] + '.' + matches[2] + '.' + matches[3]);
	}
	
	form.find('textarea').val('Я сделал:' + taskName);
	form.submit();
}
</script>
{/literal}