#index-slider {
	position: relative;
	/*overflow: hidden;*/
	margin-top: 25px;
	margin-bottom: 50px;
	width: 1045px;
	height: 299px;
	border: 1px solid #dedede;
	border-right-color: #fff;
	background: #fff;
}
#index-slider .borders:before, #index-slider .borders:after {
	content: '';
	position: absolute;
	display: block;
	right: 0;
	width: 800px;
	height: 1px;
	background: url({url_prefix}/slider-borderGrad.png) no-repeat;
}
#index-slider .borders:before {
	top: 0;
	margin-top: -1px;
}
#index-slider .borders:after {
	bottom: 0;
	margin-bottom: -1px;
}
#index-slider .special-offer {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 18px;
	margin-right: -16px;
	width: 15px;
	height: 65px;
	background: url({url_prefix}/slider-special.png) right top no-repeat;
}
#index-slider .prev, #index-slider .next {
	position: absolute;
	top: 50%;
	margin-top: -23px;
	padding: 10px;
	width: 35px;
	height: 51px;
	outline: none;
	background: url({url_prefix}/slider-prevNext-sprite.png) 10px 11px no-repeat;
}
#index-slider .prev {
	left: 0;
	margin-left: -30px;
}
#index-slider .next {
	right: 0;
	margin-right: -30px;
	background: url({url_prefix}/slider-prevNext-sprite.png) -55px 11px no-repeat;
}
#index-slider .prev.active, #index-slider .next.active {
	margin-top: -24px;
	height: 51px;
}
#index-slider .prev.active {
	margin-left: -45px;	
	background-position: 10px -59px;
}
#index-slider .next.active {
	margin-right: -45px;
	background-position: -55px -59px;
}
#index-slider .slide-overlay {
	overflow: hidden;
	width: 1045px;
}
#index-slider .slide {
	position: relative;
	padding: 36px 32px;
	width: 981px;
	height: 227px;
	background: #fff url(/img/fish/slider-slide1-bg.png) 230px 70px no-repeat;
}
#index-slider .slide .title {width: 225px;}
#index-slider .title h1 {
	display: block;
	width: 218px;
	height: 40px;
	text-indent: -9999px;
	background: url({url_prefix}/slider-buyWords.png) no-repeat;
}
#index-slider .title p {
	font: 15px "Myriad Pro";
	color: #363636;	
}
#index-slider .slide .abslink {
	position: absolute;
	font: 17px "Myriad Pro";
	text-decoration: underline;
}
#index-slider .slide .abslink:hover {text-decoration: none;}
#index-slider .abslink.pos1 {left: 590px; top: 33px;}
#index-slider .abslink.pos2 {left: 185px; top: 206px;}
#index-slider .abslink.pos3 {left: 470px; top: 227px;}
#index-slider .abslink.pos4 {left: 808px; top: 173px;}

.sliderTopShadow:before {
	content: '';
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	margin-top: -26px;
	margin-right: 50px;
	width: 522px;
	height: 26px;
	background: url({url_prefix}/slider-topShadow.png) no-repeat;
}
.sliderBottomShadow:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	margin-bottom: -38px;
	margin-right: 50px;
	width: 987px;
	height: 38px;
	background: url({url_prefix}/slider-bottomShadow.png) no-repeat;
}

/* lightbox 2 */
.lb-data {color: #252525;}
.lb-data .lb-caption {font-weight: normal;}
.lb-closeContainer {display: none;}
.lb-data .lb-number {display: none !important;}
.lb-outerContainer {border-radius: 0;}
.lb-dataContainer {
	padding-bottom: 15px;
	font: normal 13px/1.4 Arial;
	color: #252525;
	background: #fff;
}
.lb-prev {

}
.lb-next {

}
.lb-prev, .lb-next {
	position: absolute;
	top: 50%;
	margin-top: -23px;
	padding: 10px;
	width: 35px;
	height: 51px;
	outline: none;
	cursor: pointer;
	background: url({url_prefix}/slider-prevNext-sprite.png) 10px 11px no-repeat;
}
.lb-prev {
	left: 0;
	margin-left: -30px;
}
.lb-next {
	right: 0;
	margin-right: -30px;
	background: url({url_prefix}/slider-prevNext-sprite.png) -55px 11px no-repeat;
}
.lb-prev.active, .lb-next.active {
	margin-top: -24px;
	height: 51px;
}
.lb-prev.active {
	margin-left: -45px;	
	background-position: 10px -59px;
}
.lb-next.active {
	margin-right: -45px;
	background-position: -55px -59px;
}

.lb-nav {
	z-index: -1;
}
}