<h2>Поступил новый заказ с сайта kresla-otido.ru</h2>
<hr />
<p>Номер заказа <b>{{order.name}}</b> от <b>{{ DateFormat date="{{order.date}}" format="%d.%m.%Y" }}</b>.</p>

<h3>Заказанные товары:</h3>
<table border="1" cellpadding="4" style="border-collapse:collapse;" width="100%">
<tr>
  <td>Товар</td>
  <td>Цена, руб.</td>
  <td align="center">Кол-во</td>
  <td>Стоимость, руб.</td>
</tr>
{{goods}}
<tr>
<td>
<img src="http://kresla-otido.ru{{module.image.getimage src="goods.thumb.{{id}}.65x65" name="{{thumb}}"}}" /><br />
{{title}}<br /><i>Обивка:</i> {{upholstery.title}}<br/> <i>Декор:</i> {{arm.title}}</td>
<td>{{ priceFormat value="{{price}}" }}</td>
<td align="center">{{count}}</td>
<td>{{ priceFormat value="{{cost}}" }}</td>
</tr>
{{/goods}}
<tr>
  <td colspan="3" align="right">Общая стоимость:</td>
  <td><strong>{{ priceFormat value="{{order.goods_cost}}" }}</strong></td>
</tr>
</table>
<br />
<h3>Детали заказа:</h3>
<table border="1" cellpadding="4" style="border-collapse:collapse;">
<tr><td>Номер заказа:</td><td>{{order.name}}</td></tr>
<tr><td>Дата заказа:</td><td>{{order.date}}</td></tr>
<tr><td>Доставка:</td><td>{{order.delivery_type}}</td></tr>
<tr><td>Способ оплаты:</td><td>{{order.payment_type}}</td></tr>
<tr><td>Контактное лицо:</td><td>{{order.client_name}}</td></tr>
<tr><td>Электронная почта:</td><td>{{if order.client_email}}{{order.client_email}}{{else}}<span style="color:#aaa;font-style: italic;">Не указан</span>{{endif}}</td></tr>
<tr><td>Телефон:</td><td>{{if order.client_phone_number}}{{order.client_phone_number}}{{else}}<span style="color:#aaa;font-style: italic;">Не указан</span>{{endif}}</td></tr>
<tr><td>Мобильный телефон:</td><td>{{if order.client_cellphone}}{{order.client_cellphone}}{{else}}<span style="color:#aaa;font-style: italic;">Не указан</span>{{endif}}</td></tr>
{{if order.client_type  == "juridical"}}
<tr><td>Компания:</td><td>{{order.company_name}}</td></tr>
<tr><td>ИНН:</td><td>{{order.company_inn}}</td></tr>
<tr><td>КПП:</td><td>{{order.company_kpp}}</td></tr>
{{endif}}
<tr><td>Адрес доставки:</td><td>{{order.delivery_address}}</td></tr>
<tr><td>Комментарий к заказу:</td><td>{{order.comment}}</td></tr>
<tr><td>Промокод:</td><td>{{order.promocode}}</td></tr>
<tr><td>Стоимость доставки:</td><td>{{order.delivery_price_title}}</td></tr>
<tr><td>Итого к оплате с учётом доставки:</td><td>{{ priceFormat value="{{order.total_cost}}" }}</td></tr>
</table>