<form action="/basket/order_save/" method="POST" id="OrderForm" enctype="multipart/form-data">
      <input type="hidden" name="client_type" value="individual" id="client_type">
      <table cellpadding="0" cellspacing="0" width="100%" id="Individual">
        <tbody>
          <tr>
            <td class="tab-or-title">Номер заказа</td>
            <td class="tab-or-form">
              <strong>{{order.name}}</strong>
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Дата заказа</td>
            <td class="tab-or-form">
              <strong>{{ DateFormat date="{{order.date}}" format="%d %B %Y" rumonth="1" }}</strong>
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Доставка</td>
            <td class="tab-or-form">
              <select name="delivery_type_id" size="1" id="DeliveryType">
              {{deliveryTypes}}
              	<option value="{{id}}">{{title}}</option>                
              {{/deliveryTypes}}
              </select>
              <strong id="DeliveryPrice">{{deliveryPrice}}</strong>
              
              <script>
              	deliveryTypes = {{deliveryTypesJson}};
              </script>
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Способ оплаты</td>
            <td class="tab-or-form">
              <select name="payment_type_id" size="1" id="PaymentType">
              {{paymentTypes}}
                <option value="{{id}}">{{title}}</option>
              {{/paymentTypes}}
              </select>
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Контактное лицо <span class="red" title="Необходимо заполнить">*</span></td>
            <td class="tab-or-form">
              <input type="text" name="client_name" value="" style="width:99%;">
            </td>
          </tr>
          <tr class="juridical">
            <td class="tab-or-title">
              Название компании
              <br>
              (с указанием формы
              <br>
              собственности)
            </td>
            <td class="tab-or-form">
              <input type="text" name="company_name" value="" size="40">
            </td>
          </tr>
          <tr class="juridical">
            <td class="tab-or-title">ИНН</td>
            <td class="tab-or-form">
              <input type="text" name="company_inn" value="" size="40">
            </td>
          </tr>
          <tr class="juridical">
            <td class="tab-or-title">КПП</td>
            <td class="tab-or-form">
              <input type="text" name="company_kpp" value="" size="40">
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Электронная почта</td>
            <td class="tab-or-form">
              <input type="text" name="client_email" value="" size="40">
            </td>
          </tr>
          <tr>
            <td class="tab-or-title" valign="top">Телефон</td>
            <td class="tab-or-form">
              <div class="p-code">
                <input type="text" name="client_phone_code" size="5" value="">
                <br>
                код
              </div>
              <div class="p-code">
                <input type="text" name="client_phone_number" value="" size="30">
                <br>
                Номер
              </div>
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Мобильный телефон</td>
            <td class="tab-or-form">
              <input type="text" name="client_cellphone" value="" size="20">
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Адрес доставки</td>
            <td class="tab-or-form">
              <input type="text" name="delivery_address" value="" style="width:99%;">
            </td>
          </tr>
          <tr>
            <td class="tab-or-title" valign="top">Комментарии к заказу</td>
            <td class="tab-or-form">
              <textarea name="comment" rows="10" cols="40" style="width:99%;"></textarea>
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Прикрепить файл</td>
            <td class="tab-or-form">
              <input type="file" name="attach" value="" size="40">
            </td>
          </tr>
          <tr>
            <td class="tab-or-title">Промокод</td>
            <td class="tab-or-form">
              <input type="text" name="promocode" value="" size="6">
            </td>
          </tr>
          <tr>
            <td class="tab-or-title" valign="top">
              Итого к оплате
              <br>
              (с учетом доставки)
            </td>
            <td class="cost-or">
              <span class="cost" id="TotalCost">{{totalCostWithDelivery}}</span>
               руб.
	      <input type="hidden" name="BaseCost" id="BaseCost" value="{{totalCost}}">
            </td>
          </tr>
        </tbody>
      </table>
    </form>
