<div class="home_messages">
<form action="{$formURL}" method="post" enctype="multipart/form-data">
<input type="hidden" name="id" value="{$meta.id}" />
<table>
<tr>
	<td class="name">
			Кластер
	</td>
	<td class="form">
	{$table->getFields('cluster_id')->renderEdit($meta)}
	</td>
</tr>
<tr>
	<td class="name">
			Страница кластера
	</td>
	<td class="form">{$table->getFields('cluster_page_id')->renderEdit($meta)}</td>
</tr>
<tr id="URL_TR">
	<td class="name">URL</td>
	<td class="form">{$objectsHTML}</td>
</tr>
<tr>
	<td class="name">
			Title
	</td>
	<td class="form">{$table->getFields('title')->renderEdit($meta)}</td>
</tr>
<tr>
	<td class="name">
			Keywords
	</td>
	<td class="form">{$table->getFields('keywords')->renderEdit($meta)}</td>
</tr>
<tr>
	<td class="name">
			Description
	</td>
	<td class="form">{$table->getFields('description')->renderEdit($meta)}</td>
</tr>
<tr>
	<td class="name">
			H1
	</td>
	<td class="form">{$table->getFields('h1')->renderEdit($meta)}</td>
</tr>
<tr>
	<td class="name">
			Text
	</td>
	<td class="form">{$table->getFields('text')->renderEdit($meta)}</td>
</tr>
</table>
<div class="sep">
    <input class="home_but_save" type="submit" value="" />
     или <input type="submit" name="delete" value="Удалить" onclick="return confirm('Вы действительно хотите удалить запись?');"/>    <!-- input class="home_but_del" type="submit" name="delete" value="" / -->
</div>
</form>
</div>
<script>
{literal}
$('select[name="cluster_id"]').change(function () {
	$.get(window.location.pathname, {action_name: "get_objects", cluster_id: $(this).val()}, function (html) {
		$('#URL_TR td.form').html(html);
	});
});
{/literal}
</script>