@charset "utf-8";
/* Label Styles */
/** 
* @package Livetex Label
* @version 1.0
* @author andrey.g@livetex.ru Andrey Garbuzov 
* @company LiveTex http://livetex.ru Сервисы для коммуникации с посетителями сайта
*/
.lt-invite {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: 9999;
  padding: 0;
  margin: 0;
}
 
/* Label */
.lt-invite .lt-label {
  cursor: pointer;
  position: absolute;
  z-index: 2000;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat no-repeat;
}
.lt-invite .lt-logo {
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 100;
  bottom: 9px;
  left: 7px;
  margin: 0;
  padding: 0;
  background: url(../img/label/logo-anim.png) 0 0 no-repeat;
}
.lt-invite.lt-offline .lt-logo, .lt-invite.lt-lead .lt-logo {
  background: url(../img/label/livetex-logo-blue.png) 0 0 no-repeat;
}
/* Content */
.lt-invite .lt-content {
  width: 310px;
  height: 334px;
  position: absolute;
  overflow: hidden;
  z-index: 100;
  margin: 0;
  padding: 0;
  background-position: 100% 100%;
  background-repeat: no-repeat no-repeat;
  display: none;
}
.lt-invite .lt-operator {
  float: left;
  width: 68px;
  height: 78px;
  background: url(../img/label/photo-bg.png) no-repeat left top;
  margin: 13px 0 0 14px;
  padding: 0;
}
.lt-invite .lt-operator img {
  width: 60px;
  height: 70px;
  margin: 4px 0 0 4px;
  padding: 0;
}
.lt-invite .lt-op-info {
  float: left;
  margin: 0 0 0 10px;
  padding: 0;
  width: 200px;
  height: 90px;
  overflow: hidden;
}
.lt-invite .lt-op-name {
  float: left;
  font-size: 18px;
  text-align: left;
  line-height: 1.4em;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 8px 0 0 0;
  padding: 0;
  width: 210px;
  overflow: hidden;
}
.lt-invite .lt-op-depart {
  clear: left;
  float: left;
  text-align: left;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4em;
  color: #fff;
  margin: 0;
  padding: 0;
}
.lt-invite .lt-op-text {
  text-align: left;
  clear: both;
  margin: -10px 0 0 14px;
  padding: 0;
  width: 282px;
  height: 102px;
  overflow: hidden;
  background: url(../img/label/say.png) no-repeat left top;
}
.lt-invite .lt-op-text p {
  margin: 27px 10px 10px 10px;
  padding: 0;
  font-size: 14px;
  font-family: Arial,sans-serif;
  text-align: left;
  line-height: 16px;
  color: #333;
  height: 66px;
  overflow: hidden;
}
.lt-invite .lt-messagebox {
  position: relative;
  width: 282px;
  height: 75px;
  background: url(../img/label/textarea.png) 0 0 no-repeat;
  text-align: left;
  padding: 0;
  margin: 3px 0 0 14px;
}

.lt-invite .lt-messagebox textarea {
  width: 258px;
  height: 54px;
  position: absolute;
  border: 0;
  outline: none;
  overflow: hidden;
  margin: 10px;
  color: #333;
  font-size: 13px;
  font-family: Arial,sans-serif;
  text-align: left;
  background-color: transparent;
  resize: none;
  padding: 0;
  box-shadow: none;
}
.lt-invite .lt-cancel {  
  display: block;
  font-size: 14px;
  font-family: Arial,sans-serif;
  text-decoration: underline;
  color: #fff;
  width: 91px;
  cursor: pointer;
  float: left;
  margin: 20px 0 0 81px;
  padding: 0;
}
.lt-invite .lt-button {
  display: block;
  width: 116px;
  height: 38px;
  float: left;
  cursor: pointer;
  background: url(../img/label/button.png) no-repeat 0 0;
  margin: 10px 0 0 10px;
  padding: 0;
}
.lt-invite .lt-button:hover {
  background-position: left -38px;
}
.lt-invite .lt-button:active {
  background-position: left bottom;
}
/* Position Styles */
.lt-invite.lt-small .lt-label .lt-logo {
  display: none;
}
/* Left */
.lt-invite.lt-left {
  left: 0;
}
.lt-invite.lt-left .lt-label {
  top: 0;
  background-position: left top;
}
.lt-invite.lt-left.lt-small .lt-label {
  right: 0;
  width: 24px;
  height: 106px;
}
.lt-invite.lt-left.lt-big .lt-label{
  right: 2px;
  width: 40px;
  height: 178px;
}
.lt-invite.lt-left.lt-big .lt-logo {
  bottom: 10px;
  left: 7px;
}
.lt-invite.lt-left .lt-content {
  top: 0;
  background-position: right bottom;
}
.lt-invite.lt-left.lt-small .lt-content {
  right: 22px;
}
.lt-invite.lt-left.lt-big .lt-content {
  right: 38px;  
}

/* Right */
.lt-invite.lt-right {
  right: 0;
}
.lt-invite.lt-right .lt-label {
  left: 0;
  top: 0;
  background-position: right top;
}
.lt-invite.lt-right.lt-small .lt-label {
  width: 24px;
  height: 106px;
}
.lt-invite.lt-right.lt-big .lt-label {
  width: 40px;
  height: 178px;
}
.lt-invite.lt-right.lt-big .lt-logo {
  bottom: 9px;
  left: 9px;
}
.lt-invite.lt-right .lt-content {
  background-position: left bottom;
}
.lt-invite.lt-right.lt-small .lt-content {
  left: 22px;
}
.lt-invite.lt-right.lt-big .lt-content {
  left: 37px;
}

/* Top */
.lt-invite.lt-top {
  top: 0;
}
.lt-invite.lt-top .lt-label {
  bottom: 0;
  background-position: left bottom;
}
.lt-invite.lt-top.lt-small .lt-label {
  left: -1px;
  width: 106px;
  height: 25px;
}
.lt-invite.lt-top.lt-big .lt-label {
  left: -1px;
  width: 178px;
  height: 41px;
  z-index: 300;
}
.lt-invite.lt-top.lt-big .lt-logo {
  top: 6px;
  left: 10px;
}
.lt-invite.lt-top .lt-content {
  background-position: right bottom;
}
.lt-invite.lt-top.lt-small .lt-content {
  bottom: 21px;
  left: 0;
  height: 335px;
}
.lt-invite.lt-top.lt-big .lt-content {
  left: 1px;
  bottom: 37px;
  height: 335px;
}

/* Bottom */
.lt-invite.lt-bottom {
  bottom: 0;
}
.lt-invite.lt-bottom .lt-label {
  left: 0;
  top: 0;
  background-position: left top;
}
.lt-invite.lt-bottom.lt-small .lt-label {
  width: 106px;
  height: 24px;
}
.lt-invite.lt-bottom.lt-big .lt-label {
  width: 177px;
  height: 40px;
  z-index: 300;
}
.lt-invite.lt-bottom.lt-big .lt-logo {
  top: 7px;
  left: 8px;
}
.lt-invite.lt-bottom .lt-content {
  background-position: right top;
}
.lt-invite.lt-bottom.lt-small .lt-content {
  top: 22px;
  left: 1px;
}
.lt-invite.lt-bottom.lt-big .lt-content {
  left: 0;
  top: 37px;
}

/* None */
.lt-invite.lt-none {
  left: 0;
  top: 0;
}
.lt-invite.lt-none .lt-label {
  display: none;
  width: 21px;
  height: 27px;
  right: 0;
  bottom: 0;
}
.lt-invite.lt-none .lt-logo {
  display: none;
}
.lt-invite.lt-none .lt-content {
  width: 324px;
  height: 354px;
  right: 0;
  bottom: 0;
}

/* Контрастные цвета для белой темы */
.lt-invite.lt-white .lt-op-name, .lt-invite.lt-white .lt-op-depart, .lt-invite.lt-white .lt-cancel {
  color: #222;
}

/* Цветовые схемы */
/* Blue */
.lt-invite.lt-blue.lt-left.lt-small .lt-label{
  background-image: url(../img/label/blue/left/small-online.png);
}
.lt-invite.lt-blue.lt-left.lt-big .lt-label{
  background-image: url(../img/label/blue/left/online.png);
}
.lt-invite.lt-blue.lt-left .lt-content {
  background-image: url(../img/label/blue/left/background.png);
}
.lt-invite.lt-blue.lt-right.lt-small .lt-label{
  background-image: url(../img/label/blue/right/small-online.png);
}
.lt-invite.lt-blue.lt-right.lt-big .lt-label{
  background-image: url(../img/label/blue/right/online.png);
}
.lt-invite.lt-blue.lt-right .lt-content {
  background-image: url(../img/label/blue/right/background.png);
}
.lt-invite.lt-blue.lt-top.lt-small .lt-label{
  background-image: url(../img/label/blue/top/small-online.png);
}
.lt-invite.lt-blue.lt-top.lt-big .lt-label{
  background-image: url(../img/label/blue/top/online.png);
}
.lt-invite.lt-blue.lt-top .lt-content {
  background-image: url(../img/label/blue/top/background.png);
}
.lt-invite.lt-blue.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/blue/bottom/small-online.png);
}
.lt-invite.lt-blue.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/blue/bottom/online.png);
}
.lt-invite.lt-blue.lt-bottom .lt-content {
  background-image: url(../img/label/blue/bottom/background.png);
}
.lt-invite.lt-blue.lt-none .lt-label{
  background-image: url(../img/label/blue/none/online.png);
}
.lt-invite.lt-blue.lt-none .lt-content {
  background-image: url(../img/label/blue/none/background.png);
}

/* Green */
.lt-invite.lt-green.lt-left.lt-small .lt-label{
  background-image: url(../img/label/green/left/small-online.png);
}
.lt-invite.lt-green.lt-left.lt-big .lt-label{
  background-image: url(../img/label/green/left/online.png);
}
.lt-invite.lt-green.lt-left .lt-content {
  background-image: url(../img/label/green/left/background.png);
}
.lt-invite.lt-green.lt-right.lt-small .lt-label{
  background-image: url(../img/label/green/right/small-online.png);
}
.lt-invite.lt-green.lt-right.lt-big .lt-label{
  background-image: url(../img/label/green/right/online.png);
}
.lt-invite.lt-green.lt-right .lt-content {
  background-image: url(../img/label/green/right/background.png);
}
.lt-invite.lt-green.lt-top.lt-small .lt-label{
  background-image: url(../img/label/green/top/small-online.png);
}
.lt-invite.lt-green.lt-top.lt-big .lt-label{
  background-image: url(../img/label/green/top/online.png);
}
.lt-invite.lt-green.lt-top .lt-content {
  background-image: url(../img/label/green/top/background.png);
}
.lt-invite.lt-green.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/green/bottom/small-online.png);
}
.lt-invite.lt-green.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/green/bottom/online.png);
}
.lt-invite.lt-green.lt-bottom .lt-content {
  background-image: url(../img/label/green/bottom/background.png);
}
.lt-invite.lt-green.lt-none .lt-label{
  background-image: url(../img/label/green/none/online.png);
}
.lt-invite.lt-green.lt-none .lt-content {
  background-image: url(../img/label/green/none/background.png);
}

/* Orange */
.lt-invite.lt-orange.lt-left.lt-small .lt-label{
  background-image: url(../img/label/orange/left/small-online.png);
}
.lt-invite.lt-orange.lt-left.lt-big .lt-label{
  background-image: url(../img/label/orange/left/online.png);
}
.lt-invite.lt-orange.lt-left .lt-content {
  background-image: url(../img/label/orange/left/background.png);
}
.lt-invite.lt-orange.lt-right.lt-small .lt-label{
  background-image: url(../img/label/orange/right/small-online.png);
}
.lt-invite.lt-orange.lt-right.lt-big .lt-label{
  background-image: url(../img/label/orange/right/online.png);
}
.lt-invite.lt-orange.lt-right .lt-content {
  background-image: url(../img/label/orange/right/background.png);
}
.lt-invite.lt-orange.lt-top.lt-small .lt-label{
  background-image: url(../img/label/orange/top/small-online.png);
}
.lt-invite.lt-orange.lt-top.lt-big .lt-label{
  background-image: url(../img/label/orange/top/online.png);
}
.lt-invite.lt-orange.lt-top .lt-content {
  background-image: url(../img/label/orange/top/background.png);
}
.lt-invite.lt-orange.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/orange/bottom/small-online.png);
}
.lt-invite.lt-orange.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/orange/bottom/online.png);
}
.lt-invite.lt-orange.lt-bottom .lt-content {
  background-image: url(../img/label/orange/bottom/background.png);
}
.lt-invite.lt-orange.lt-none .lt-label{
  background-image: url(../img/label/orange/none/online.png);
}
.lt-invite.lt-orange.lt-none .lt-content {
  background-image: url(../img/label/orange/none/background.png);
}

/* Red */
.lt-invite.lt-red.lt-left.lt-small .lt-label{
  background-image: url(../img/label/red/left/small-online.png);
}
.lt-invite.lt-red.lt-left.lt-big .lt-label{
  background-image: url(../img/label/red/left/online.png);
}
.lt-invite.lt-red.lt-left .lt-content {
  background-image: url(../img/label/red/left/background.png);
}
.lt-invite.lt-red.lt-right.lt-small .lt-label{
  background-image: url(../img/label/red/right/small-online.png);
}
.lt-invite.lt-red.lt-right.lt-big .lt-label{
  background-image: url(../img/label/red/right/online.png);
}
.lt-invite.lt-red.lt-right .lt-content {
  background-image: url(../img/label/red/right/background.png);
}
.lt-invite.lt-red.lt-top.lt-small .lt-label{
  background-image: url(../img/label/red/top/small-online.png);
}
.lt-invite.lt-red.lt-top.lt-big .lt-label{
  background-image: url(../img/label/red/top/online.png);
}
.lt-invite.lt-red.lt-top .lt-content {
  background-image: url(../img/label/red/top/background.png);
}
.lt-invite.lt-red.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/red/bottom/small-online.png);
}
.lt-invite.lt-red.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/red/bottom/online.png);
}
.lt-invite.lt-red.lt-bottom .lt-content {
  background-image: url(../img/label/red/bottom/background.png);
}
.lt-invite.lt-red.lt-none .lt-label{
  background-image: url(../img/label/red/none/online.png);
}
.lt-invite.lt-red.lt-none .lt-content {
  background-image: url(../img/label/red/none/background.png);
}

/* Purple */
.lt-invite.lt-purple.lt-left.lt-small .lt-label{
  background-image: url(../img/label/purple/left/small-online.png);
}
.lt-invite.lt-purple.lt-left.lt-big .lt-label{
  background-image: url(../img/label/purple/left/online.png);
}
.lt-invite.lt-purple.lt-left .lt-content {
  background-image: url(../img/label/purple/left/background.png);
}
.lt-invite.lt-purple.lt-right.lt-small .lt-label{
  background-image: url(../img/label/purple/right/small-online.png);
}
.lt-invite.lt-purple.lt-right.lt-big .lt-label{
  background-image: url(../img/label/purple/right/online.png);
}
.lt-invite.lt-purple.lt-right .lt-content {
  background-image: url(../img/label/purple/right/background.png);
}
.lt-invite.lt-purple.lt-top.lt-small .lt-label{
  background-image: url(../img/label/purple/top/small-online.png);
}
.lt-invite.lt-purple.lt-top.lt-big .lt-label{
  background-image: url(../img/label/purple/top/online.png);
}
.lt-invite.lt-purple.lt-top .lt-content {
  background-image: url(../img/label/purple/top/background.png);
}
.lt-invite.lt-purple.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/purple/bottom/small-online.png);
}
.lt-invite.lt-purple.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/purple/bottom/online.png);
}
.lt-invite.lt-purple.lt-bottom .lt-content {
  background-image: url(../img/label/purple/bottom/background.png);
}
.lt-invite.lt-purple.lt-none .lt-label{
  background-image: url(../img/label/purple/none/online.png);
}
.lt-invite.lt-purple.lt-none .lt-content {
  background-image: url(../img/label/purple/none/background.png);
}

/* Gray */
.lt-invite.lt-gray.lt-left.lt-small .lt-label{
  background-image: url(../img/label/gray/left/small-online.png);
}
.lt-invite.lt-gray.lt-left.lt-big .lt-label{
  background-image: url(../img/label/gray/left/online.png);
}
.lt-invite.lt-gray.lt-left .lt-content {
  background-image: url(../img/label/gray/left/background.png);
}
.lt-invite.lt-gray.lt-right.lt-small .lt-label{
  background-image: url(../img/label/gray/right/small-online.png);
}
.lt-invite.lt-gray.lt-right.lt-big .lt-label{
  background-image: url(../img/label/gray/right/online.png);
}
.lt-invite.lt-gray.lt-right .lt-content {
  background-image: url(../img/label/gray/right/background.png);
}
.lt-invite.lt-gray.lt-top.lt-small .lt-label{
  background-image: url(../img/label/gray/top/small-online.png);
}
.lt-invite.lt-gray.lt-top.lt-big .lt-label{
  background-image: url(../img/label/gray/top/online.png);
}
.lt-invite.lt-gray.lt-top .lt-content {
  background-image: url(../img/label/gray/top/background.png);
}
.lt-invite.lt-gray.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/gray/bottom/small-online.png);
}
.lt-invite.lt-gray.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/gray/bottom/online.png);
}
.lt-invite.lt-gray.lt-bottom .lt-content {
  background-image: url(../img/label/gray/bottom/background.png);
}
.lt-invite.lt-gray.lt-none .lt-label{
  background-image: url(../img/label/gray/none/online.png);
}
.lt-invite.lt-gray.lt-none .lt-content {
  background-image: url(../img/label/gray/none/background.png);
}

/* Pink */
.lt-invite.lt-pink.lt-left.lt-small .lt-label{
  background-image: url(../img/label/pink/left/small-online.png);
}
.lt-invite.lt-pink.lt-left.lt-big .lt-label{
  background-image: url(../img/label/pink/left/online.png);
}
.lt-invite.lt-pink.lt-left .lt-content {
  background-image: url(../img/label/pink/left/background.png);
}
.lt-invite.lt-pink.lt-right.lt-small .lt-label{
  background-image: url(../img/label/pink/right/small-online.png);
}
.lt-invite.lt-pink.lt-right.lt-big .lt-label{
  background-image: url(../img/label/pink/right/online.png);
}
.lt-invite.lt-pink.lt-right .lt-content {
  background-image: url(../img/label/pink/right/background.png);
}
.lt-invite.lt-pink.lt-top.lt-small .lt-label{
  background-image: url(../img/label/pink/top/small-online.png);
}
.lt-invite.lt-pink.lt-top.lt-big .lt-label{
  background-image: url(../img/label/pink/top/online.png);
}
.lt-invite.lt-pink.lt-top .lt-content {
  background-image: url(../img/label/pink/top/background.png);
}
.lt-invite.lt-pink.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/pink/bottom/small-online.png);
}
.lt-invite.lt-pink.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/pink/bottom/online.png);
}
.lt-invite.lt-pink.lt-bottom .lt-content {
  background-image: url(../img/label/pink/bottom/background.png);
}
.lt-invite.lt-pink.lt-none .lt-label{
  background-image: url(../img/label/pink/none/online.png);
}
.lt-invite.lt-pink.lt-none .lt-content {
  background-image: url(../img/label/pink/none/background.png);
}

/* Black */
.lt-invite.lt-black.lt-left.lt-small .lt-label{
  background-image: url(../img/label/black/left/small-online.png);
}
.lt-invite.lt-black.lt-left.lt-big .lt-label{
  background-image: url(../img/label/black/left/online.png);
}
.lt-invite.lt-black.lt-left .lt-content {
  background-image: url(../img/label/black/left/background.png);
}
.lt-invite.lt-black.lt-right.lt-small .lt-label{
  background-image: url(../img/label/black/right/small-online.png);
}
.lt-invite.lt-black.lt-right.lt-big .lt-label{
  background-image: url(../img/label/black/right/online.png);
}
.lt-invite.lt-black.lt-right .lt-content {
  background-image: url(../img/label/black/right/background.png);
}
.lt-invite.lt-black.lt-top.lt-small .lt-label{
  background-image: url(../img/label/black/top/small-online.png);
}
.lt-invite.lt-black.lt-top.lt-big .lt-label{
  background-image: url(../img/label/black/top/online.png);
}
.lt-invite.lt-black.lt-top .lt-content {
  background-image: url(../img/label/black/top/background.png);
}
.lt-invite.lt-black.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/black/bottom/small-online.png);
}
.lt-invite.lt-black.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/black/bottom/online.png);
}
.lt-invite.lt-black.lt-bottom .lt-content {
  background-image: url(../img/label/black/bottom/background.png);
}
.lt-invite.lt-black.lt-none .lt-label{
  background-image: url(../img/label/black/none/online.png);
}
.lt-invite.lt-black.lt-none .lt-content {
  background-image: url(../img/label/black/none/background.png);
}

/* Yellow */
.lt-invite.lt-yellow.lt-left.lt-small .lt-label{
  background-image: url(../img/label/yellow/left/small-online.png);
}
.lt-invite.lt-yellow.lt-left.lt-big .lt-label{
  background-image: url(../img/label/yellow/left/online.png);
}
.lt-invite.lt-yellow.lt-left .lt-content {
  background-image: url(../img/label/yellow/left/background.png);
}
.lt-invite.lt-yellow.lt-right.lt-small .lt-label{
  background-image: url(../img/label/yellow/right/small-online.png);
}
.lt-invite.lt-yellow.lt-right.lt-big .lt-label{
  background-image: url(../img/label/yellow/right/online.png);
}
.lt-invite.lt-yellow.lt-right .lt-content {
  background-image: url(../img/label/yellow/right/background.png);
}
.lt-invite.lt-yellow.lt-top.lt-small .lt-label{
  background-image: url(../img/label/yellow/top/small-online.png);
}
.lt-invite.lt-yellow.lt-top.lt-big .lt-label{
  background-image: url(../img/label/yellow/top/online.png);
}
.lt-invite.lt-yellow.lt-top .lt-content {
  background-image: url(../img/label/yellow/top/background.png);
}
.lt-invite.lt-yellow.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/yellow/bottom/small-online.png);
}
.lt-invite.lt-yellow.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/yellow/bottom/online.png);
}
.lt-invite.lt-yellow.lt-bottom .lt-content {
  background-image: url(../img/label/yellow/bottom/background.png);
}
.lt-invite.lt-yellow.lt-none .lt-label{
  background-image: url(../img/label/yellow/none/online.png);
}
.lt-invite.lt-yellow.lt-none .lt-content {
  background-image: url(../img/label/yellow/none/background.png);
}

/* White */
.lt-invite.lt-white.lt-left.lt-small .lt-label{
  background-image: url(../img/label/white/left/small-online.png);
}
.lt-invite.lt-white.lt-left.lt-big .lt-label{
  background-image: url(../img/label/white/left/online.png);
}
.lt-invite.lt-white.lt-left .lt-content {
  background-image: url(../img/label/white/left/background.png);
}
.lt-invite.lt-white.lt-right.lt-small .lt-label{
  background-image: url(../img/label/white/right/small-online.png);
}
.lt-invite.lt-white.lt-right.lt-big .lt-label{
  background-image: url(../img/label/white/right/online.png);
}
.lt-invite.lt-white.lt-right .lt-content {
  background-image: url(../img/label/white/right/background.png);
}
.lt-invite.lt-white.lt-top.lt-small .lt-label{
  background-image: url(../img/label/white/top/small-online.png);
}
.lt-invite.lt-white.lt-top.lt-big .lt-label{
  background-image: url(../img/label/white/top/online.png);
}
.lt-invite.lt-white.lt-top .lt-content {
  background-image: url(../img/label/white/top/background.png);
}
.lt-invite.lt-white.lt-bottom.lt-small .lt-label{
  background-image: url(../img/label/white/bottom/small-online.png);
}
.lt-invite.lt-white.lt-bottom.lt-big .lt-label{
  background-image: url(../img/label/white/bottom/online.png);
}
.lt-invite.lt-white.lt-bottom .lt-content {
  background-image: url(../img/label/white/bottom/background.png);
}
.lt-invite.lt-white.lt-none .lt-label{
  background-image: url(../img/label/white/none/online.png);
}
.lt-invite.lt-white.lt-none .lt-content {
  background-image: url(../img/label/white/none/background.png);
}

/* Offline */
.lt-invite.lt-left.lt-small.lt-offline .lt-label{
  background-image: url(../img/label/gray/left/small-offline.png);
}
.lt-invite.lt-left.lt-big.lt-offline .lt-label{
  background-image: url(../img/label/gray/left/offline.png);
}
.lt-invite.lt-left.lt-offline .lt-content {
  background-image: url(../img/label/gray/left/background.png);
}
.lt-invite.lt-right.lt-small.lt-offline .lt-label{
  background-image: url(../img/label/gray/right/small-offline.png);
}
.lt-invite.lt-right.lt-big.lt-offline .lt-label{
  background-image: url(../img/label/gray/right/offline.png);
}
.lt-invite.lt-right.lt-offline .lt-content {
  background-image: url(../img/label/gray/right/background.png);
}
.lt-invite.lt-top.lt-small.lt-offline .lt-label{
  background-image: url(../img/label/gray/top/small-offline.png);
}
.lt-invite.lt-top.lt-big.lt-offline .lt-label{
  background-image: url(../img/label/gray/top/offline.png);
}
.lt-invite.lt-top.lt-offline .lt-content {
  background-image: url(../img/label/gray/top/background.png);
}
.lt-invite.lt-bottom.lt-small.lt-offline .lt-label{
  background-image: url(../img/label/gray/bottom/small-offline.png);
}
.lt-invite.lt-bottom.lt-big.lt-offline .lt-label{
  background-image: url(../img/label/gray/bottom/offline.png);
}
.lt-invite.lt-bottom.lt-offline .lt-content {
  background-image: url(../img/label/gray/bottom/background.png);
}

/* Leads */
.lt-invite.lt-small.lt-lead .lt-logo {
  margin: 0;
  background: url(../img/label/status.png) no-repeat left bottom;
}
/* Left */
.lt-invite.lt-left.lt-small.lt-lead .lt-label {
  padding: 0 0 6px 0;
  margin: 0;
  width: 24px;
  height: auto;
  background-position: right bottom;  
  right: 1px;
}
.lt-invite.lt-left.lt-small.lt-lead .lt-label-bg {
  height: auto;
  padding: 20px 0 0 2px;
  margin: 0;
  background-position: right top;
}
.lt-invite.lt-left.lt-small.lt-lead .lt-logo {
  display: block;
  position: absolute; 
  width: 11px;
  height: 11px;
  left: 6px;
  top: 7px;
}
.lt-invite.lt-left.lt-big.lt-lead .lt-label {
  padding: 0 0 9px 0;
  margin: 0;
  width: 39px;
  height: auto;
  background-position: right bottom;  
}
.lt-invite.lt-left.lt-big.lt-lead .lt-label-bg {
  height: auto;
  padding: 10px 0 28px 0;
  margin: 0;
  background-position: right top;
}
.lt-invite.lt-left.lt-big.lt-lead .lt-logo {
  position: absolute; 
  left: 7px;
  bottom: 9px;
}
/* Right */
.lt-invite.lt-right.lt-small.lt-lead .lt-label {
  padding: 0 0 6px 0;
  margin: 0;
  width: 24px;
  height: auto;
  background-position: left bottom;  
  left: 1px;
}
.lt-invite.lt-right.lt-small.lt-lead .lt-label-bg {
  height: auto;
  padding: 20px 0 0 2px;
  margin: 0;
  background-position: left top;
}
.lt-invite.lt-right.lt-small.lt-lead .lt-logo {
  display: block;
  position: absolute; 
  width: 11px;
  height: 11px;
  left: 6px;
  top: 7px;
}
.lt-invite.lt-right.lt-big.lt-lead .lt-label {
  padding: 0 0 9px 0;
  margin: 0;
  width: 40px;
  height: auto;
  background-position: right bottom;
}
.lt-invite.lt-right.lt-big.lt-lead .lt-label-bg {
  height: auto;
  padding: 10px 0 28px 0;
  margin: 0;
  background-position: right top;
  background-repeat: no-repeat;
}
.lt-invite.lt-right.lt-big.lt-lead .lt-logo {
  position: absolute; 
  left: 10px;
  bottom: 9px;
}
/* Top */
.lt-invite.lt-top.lt-small.lt-lead .lt-label {
  padding: 0 5px 0 0;
  margin: 0;
  height: 24px;
  width: auto;
  background-position: right bottom;
  bottom: 0;
}
.lt-invite.lt-top.lt-small.lt-lead .lt-label-bg {
  padding: 0 0 0 20px;
  margin: 0;
  width: auto;
  height: 24px;
  background-position: left bottom;
}
.lt-invite.lt-top.lt-small.lt-lead .lt-logo {
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 6px;
  top: 5px;
}
.lt-invite.lt-top.lt-big.lt-lead .lt-label {
  padding: 0 7px 0 0;
  margin: 0;
  height: 40px;
  width: auto;
  background-position: right bottom;
}
.lt-invite.lt-top.lt-big.lt-lead .lt-label-bg {
  padding: 0 0 0 34px;
  margin: 0;
  width: auto;
  background-position: left bottom;
}
.lt-invite.lt-top.lt-big.lt-lead .lt-logo {
  position: absolute;
  left: 7px;
  bottom: 9px;
}
/* Bottom */
.lt-invite.lt-bottom.lt-small.lt-lead .lt-label {
  padding: 0 5px 0 0;
  margin: 0;
  height: 22px;
  width: auto;
  background-position: right bottom;
  bottom: 0;
}
.lt-invite.lt-bottom.lt-small.lt-lead .lt-label-bg {
  width: auto;
  height: 20px;
  padding: 2px 0 0 20px;
  margin: 0;
  background-position: left bottom;
}
.lt-invite.lt-bottom.lt-small.lt-lead .lt-logo {
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 6px;
  top: 7px;
}
.lt-invite.lt-bottom.lt-big.lt-lead .lt-label {
  padding: 0 7px 0 0;
  margin: 0;
  height: 37px;
  width: auto;
  overflow-y: hidden;
  background-position: right top;
}
.lt-invite.lt-bottom.lt-big.lt-lead .lt-label-bg {
  padding: 0 0 0 34px;
  margin: 0;
  width: auto;
  background-position: left bottom;
}
.lt-invite.lt-bottom.lt-big.lt-lead .lt-logo {
  position: absolute;
  left: 7px;
  bottom: 9px;
}

/* Lead Texts */
/* Text 0 */
.lt-invite.lt-left.lt-small .lt-text-0, .lt-invite.lt-right.lt-small .lt-text-0  {
  background: url(../img/lead/vertical/small/0.png) no-repeat left top;
  width: 20px;
  height: 98px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-small .lt-text-0, .lt-invite.lt-bottom.lt-small .lt-text-0  {
  background: url(../img/lead/horizontal/small/0.png) no-repeat left top;
  width: 98px;
  height: 20px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-left.lt-big .lt-text-0, .lt-invite.lt-right.lt-big .lt-text-0  {
  background: url(../img/lead/vertical/big/0.png) no-repeat left top;
  width: 40px;
  height: 117px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-big .lt-text-0, .lt-invite.lt-bottom.lt-big .lt-text-0  {
  background: url(../img/lead/horizontal/big/0.png) no-repeat left top;
  height: 40px;
  width: 117px;
  margin: 0;
  padding: 0;
}
/* Text 1 */
.lt-invite.lt-left.lt-small .lt-text-1, .lt-invite.lt-right.lt-small .lt-text-1 {
  background: url(../img/lead/vertical/small/1.png) no-repeat left top;
  width: 20px;
  height: 112px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-small .lt-text-1, .lt-invite.lt-bottom.lt-small .lt-text-1 {
  background: url(../img/lead/horizontal/small/1.png) no-repeat left top;
  height: 20px;
  width: 112px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-left.lt-big .lt-text-1, .lt-invite.lt-right.lt-big .lt-text-1 {
  background: url(../img/lead/vertical/big/1.png) no-repeat left top;
  width: 40px;
  height: 138px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-big .lt-text-1, .lt-invite.lt-bottom.lt-big .lt-text-1 {
  background: url(../img/lead/horizontal/big/1.png) no-repeat left top;
  height: 40px;
  width: 138px;
  margin: 0;
  padding: 0;
}
/* Text 2 */
.lt-invite.lt-left.lt-small .lt-text-2, .lt-invite.lt-right.lt-small .lt-text-2 {
  background: url(../img/lead/vertical/small/2.png) no-repeat left top;
  width: 20px;
  height: 128px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-small .lt-text-2, .lt-invite.lt-bottom.lt-small .lt-text-2 {
  background: url(../img/lead/horizontal/small/2.png) no-repeat left top;
  height: 20px;
  width: 128px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-left.lt-big .lt-text-2, .lt-invite.lt-right.lt-big .lt-text-2 {
  background: url(../img/lead/vertical/big/2.png) no-repeat left top;
  width: 40px;
  height: 155px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-big .lt-text-2, .lt-invite.lt-bottom.lt-big .lt-text-2 {
  background: url(../img/lead/horizontal/big/2.png) no-repeat left top;
  height: 40px;
  width: 155px;
  margin: 0;
  padding: 0;
}

/* Text 3 */
.lt-invite.lt-left.lt-small .lt-text-3, .lt-invite.lt-right.lt-small .lt-text-3 {
  background: url(../img/lead/vertical/small/3.png) no-repeat left top;
  width: 20px;
  height: 159px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-small .lt-text-3, .lt-invite.lt-bottom.lt-small .lt-text-3 {
  background: url(../img/lead/horizontal/small/3.png) no-repeat left top;
  height: 20px;
  width: 159px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-left.lt-big .lt-text-3, .lt-invite.lt-right.lt-big .lt-text-3 {
  background: url(../img/lead/vertical/big/3.png) no-repeat left top;
  width: 40px;
  height: 189px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-big .lt-text-3, .lt-invite.lt-bottom.lt-big .lt-text-3 {
  background: url(../img/lead/horizontal/big/3.png) no-repeat left top;
  height: 40px;
  width: 189px;
  margin: 0;
  padding: 0;
}
/* Text 4 */
.lt-invite.lt-left.lt-small .lt-text-4, .lt-invite.lt-right.lt-small .lt-text-4 {
  background: url(../img/lead/vertical/small/4.png) no-repeat left top;
  width: 20px;
  height: 129px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-small .lt-text-4, .lt-invite.lt-bottom.lt-small .lt-text-4 {
  background: url(../img/lead/horizontal/small/4.png) no-repeat left top;
  height: 20px;
  width: 129px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-left.lt-big .lt-text-4, .lt-invite.lt-right.lt-big .lt-text-4 {
  background: url(../img/lead/vertical/big/4.png) no-repeat left top;
  width: 40px;
  height: 155px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-big .lt-text-4, .lt-invite.lt-bottom.lt-big .lt-text-4 {
  background: url(../img/lead/horizontal/big/4.png) no-repeat left top;
  height: 40px;
  width: 155px;
  margin: 0;
  padding: 0;
}
/* Text 5 */
.lt-invite.lt-left.lt-small .lt-text-5, .lt-invite.lt-right.lt-small .lt-text-5 {
  background: url(../img/lead/vertical/small/5.png) no-repeat left top;
  width: 20px;
  height: 145px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-small .lt-text-5, .lt-invite.lt-bottom.lt-small .lt-text-5 {
  background: url(../img/lead/horizontal/small/5.png) no-repeat left top;
  height: 20px;
  width: 145px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-left.lt-big .lt-text-5, .lt-invite.lt-right.lt-big .lt-text-5 {
  background: url(../img/lead/vertical/big/5.png) no-repeat left top;
  width: 40px;
  height: 179px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-big .lt-text-5, .lt-invite.lt-bottom.lt-big .lt-text-5 {
  background: url(../img/lead/horizontal/big/5.png) no-repeat left top;
  height: 40px;
  width: 179px;
  margin: 0;
  padding: 0;
}
/* Text 6 */
.lt-invite.lt-left.lt-small .lt-text-6, .lt-invite.lt-right.lt-small .lt-text-6 {
  background: url(../img/lead/vertical/small/6.png) no-repeat left top;
  width: 20px;
  height: 136px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-small .lt-text-6, .lt-invite.lt-bottom.lt-small .lt-text-6 {
  background: url(../img/lead/horizontal/small/6.png) no-repeat left top;
  height: 20px;
  width: 136px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-left.lt-big .lt-text-6, .lt-invite.lt-right.lt-big .lt-text-6 {
  background: url(../img/lead/vertical/big/6.png) no-repeat left top;
  width: 40px;
  height: 163px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-big .lt-text-6, .lt-invite.lt-bottom.lt-big .lt-text-6 {
  background: url(../img/lead/horizontal/big/6.png) no-repeat left top;
  height: 40px;
  width: 163px;
  margin: 0;
  padding: 0;
}
/* Text 7 */
.lt-invite.lt-left.lt-small .lt-text-7, .lt-invite.lt-right.lt-small .lt-text-7 {
  background: url(../img/lead/vertical/small/7.png) no-repeat left top;
  width: 20px;
  height: 153px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-small .lt-text-7, .lt-invite.lt-bottom.lt-small .lt-text-7 {
  background: url(../img/lead/horizontal/small/7.png) no-repeat left top;
  height: 20px;
  width: 153px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-left.lt-big .lt-text-7, .lt-invite.lt-right.lt-big .lt-text-7 {
  background: url(../img/lead/vertical/big/7.png) no-repeat left top;
  width: 40px;
  height: 191px;
  margin: 0;
  padding: 0;
}
.lt-invite.lt-top.lt-big .lt-text-7, .lt-invite.lt-bottom.lt-big .lt-text-7 {
  background: url(../img/lead/horizontal/big/7.png) no-repeat left top;
  height: 40px;
  width: 191px;
  margin: 0;
  padding: 0;
}


/* Leads color themes */
/* Blue */
.lt-invite.lt-blue.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/blue/left/lead-small-bottom.png);
}
.lt-invite.lt-blue.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/blue/left/lead-small-top.png);
}
.lt-invite.lt-blue.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/blue/left/lead-big-bottom.png);
}
.lt-invite.lt-blue.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/blue/left/lead-big-top.png);
}
.lt-invite.lt-blue.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/blue/right/lead-small-bottom.png);
}
.lt-invite.lt-blue.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/blue/right/lead-small-top.png);
}
.lt-invite.lt-blue.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/blue/right/lead-big-bottom.png);
}
.lt-invite.lt-blue.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/blue/right/lead-big-top.png);
}
.lt-invite.lt-blue.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/blue/top/lead-small-bottom.png);
}
.lt-invite.lt-blue.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/blue/top/lead-small-top.png);
}
.lt-invite.lt-blue.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/blue/top/lead-big-bottom.png);
}
.lt-invite.lt-blue.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/blue/top/lead-big-top.png);
}
.lt-invite.lt-blue.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/blue/bottom/lead-small-bottom.png);
}
.lt-invite.lt-blue.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/blue/bottom/lead-small-top.png);
}
.lt-invite.lt-blue.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/blue/bottom/lead-big-bottom.png);
}
.lt-invite.lt-blue.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/blue/bottom/lead-big-top.png);
}

/* Green */
.lt-invite.lt-green.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/green/left/lead-small-bottom.png);
}
.lt-invite.lt-green.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/green/left/lead-small-top.png);
}
.lt-invite.lt-green.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/green/left/lead-big-bottom.png);
}
.lt-invite.lt-green.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/green/left/lead-big-top.png);
}
.lt-invite.lt-green.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/green/right/lead-small-bottom.png);
}
.lt-invite.lt-green.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/green/right/lead-small-top.png);
}
.lt-invite.lt-green.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/green/right/lead-big-bottom.png);
}
.lt-invite.lt-green.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/green/right/lead-big-top.png);
}
.lt-invite.lt-green.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/green/top/lead-small-bottom.png);
}
.lt-invite.lt-green.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/green/top/lead-small-top.png);
}
.lt-invite.lt-green.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/green/top/lead-big-bottom.png);
}
.lt-invite.lt-green.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/green/top/lead-big-top.png);
}
.lt-invite.lt-green.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/green/bottom/lead-small-bottom.png);
}
.lt-invite.lt-green.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/green/bottom/lead-small-top.png);
}
.lt-invite.lt-green.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/green/bottom/lead-big-bottom.png);
}
.lt-invite.lt-green.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/green/bottom/lead-big-top.png);
}

.lt-invite.lt-orange.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/orange/left/lead-small-bottom.png);
}
.lt-invite.lt-orange.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/orange/left/lead-small-top.png);
}
.lt-invite.lt-orange.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/orange/left/lead-big-bottom.png);
}
.lt-invite.lt-orange.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/orange/left/lead-big-top.png);
}
.lt-invite.lt-orange.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/orange/right/lead-small-bottom.png);
}
.lt-invite.lt-orange.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/orange/right/lead-small-top.png);
}
.lt-invite.lt-orange.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/orange/right/lead-big-bottom.png);
}
.lt-invite.lt-orange.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/orange/right/lead-big-top.png);
}
.lt-invite.lt-orange.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/orange/top/lead-small-bottom.png);
}
.lt-invite.lt-orange.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/orange/top/lead-small-top.png);
}
.lt-invite.lt-orange.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/orange/top/lead-big-bottom.png);
}
.lt-invite.lt-orange.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/orange/top/lead-big-top.png);
}
.lt-invite.lt-orange.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/orange/bottom/lead-small-bottom.png);
}
.lt-invite.lt-orange.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/orange/bottom/lead-small-top.png);
}
.lt-invite.lt-orange.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/orange/bottom/lead-big-bottom.png);
}
.lt-invite.lt-orange.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/orange/bottom/lead-big-top.png);
}

.lt-invite.lt-red.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/red/left/lead-small-bottom.png);
}
.lt-invite.lt-red.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/red/left/lead-small-top.png);
}
.lt-invite.lt-red.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/red/left/lead-big-bottom.png);
}
.lt-invite.lt-red.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/red/left/lead-big-top.png);
}
.lt-invite.lt-red.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/red/right/lead-small-bottom.png);
}
.lt-invite.lt-red.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/red/right/lead-small-top.png);
}
.lt-invite.lt-red.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/red/right/lead-big-bottom.png);
}
.lt-invite.lt-red.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/red/right/lead-big-top.png);
}
.lt-invite.lt-red.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/red/top/lead-small-bottom.png);
}
.lt-invite.lt-red.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/red/top/lead-small-top.png);
}
.lt-invite.lt-red.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/red/top/lead-big-bottom.png);
}
.lt-invite.lt-red.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/red/top/lead-big-top.png);
}
.lt-invite.lt-red.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/red/bottom/lead-small-bottom.png);
}
.lt-invite.lt-red.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/red/bottom/lead-small-top.png);
}
.lt-invite.lt-red.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/red/bottom/lead-big-bottom.png);
}
.lt-invite.lt-red.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/red/bottom/lead-big-top.png);
}

.lt-invite.lt-purple.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/purple/left/lead-small-bottom.png);
}
.lt-invite.lt-purple.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/purple/left/lead-small-top.png);
}
.lt-invite.lt-purple.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/purple/left/lead-big-bottom.png);
}
.lt-invite.lt-purple.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/purple/left/lead-big-top.png);
}
.lt-invite.lt-purple.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/purple/right/lead-small-bottom.png);
}
.lt-invite.lt-purple.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/purple/right/lead-small-top.png);
}
.lt-invite.lt-purple.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/purple/right/lead-big-bottom.png);
}
.lt-invite.lt-purple.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/purple/right/lead-big-top.png);
}
.lt-invite.lt-purple.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/purple/top/lead-small-bottom.png);
}
.lt-invite.lt-purple.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/purple/top/lead-small-top.png);
}
.lt-invite.lt-purple.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/purple/top/lead-big-bottom.png);
}
.lt-invite.lt-purple.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/purple/top/lead-big-top.png);
}
.lt-invite.lt-purple.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/purple/bottom/lead-small-bottom.png);
}
.lt-invite.lt-purple.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/purple/bottom/lead-small-top.png);
}
.lt-invite.lt-purple.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/purple/bottom/lead-big-bottom.png);
}
.lt-invite.lt-purple.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/purple/bottom/lead-big-top.png);
}

.lt-invite.lt-gray.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/gray/left/lead-small-bottom.png);
}
.lt-invite.lt-gray.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/gray/left/lead-small-top.png);
}
.lt-invite.lt-gray.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/gray/left/lead-big-bottom.png);
}
.lt-invite.lt-gray.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/gray/left/lead-big-top.png);
}
.lt-invite.lt-gray.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/gray/right/lead-small-bottom.png);
}
.lt-invite.lt-gray.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/gray/right/lead-small-top.png);
}
.lt-invite.lt-gray.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/gray/right/lead-big-bottom.png);
}
.lt-invite.lt-gray.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/gray/right/lead-big-top.png);
}
.lt-invite.lt-gray.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/gray/top/lead-small-bottom.png);
}
.lt-invite.lt-gray.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/gray/top/lead-small-top.png);
}
.lt-invite.lt-gray.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/gray/top/lead-big-bottom.png);
}
.lt-invite.lt-gray.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/gray/top/lead-big-top.png);
}
.lt-invite.lt-gray.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/gray/bottom/lead-small-bottom.png);
}
.lt-invite.lt-gray.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/gray/bottom/lead-small-top.png);
}
.lt-invite.lt-gray.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/gray/bottom/lead-big-bottom.png);
}
.lt-invite.lt-gray.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/gray/bottom/lead-big-top.png);
}

.lt-invite.lt-pink.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/pink/left/lead-small-bottom.png);
}
.lt-invite.lt-pink.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/pink/left/lead-small-top.png);
}
.lt-invite.lt-pink.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/pink/left/lead-big-bottom.png);
}
.lt-invite.lt-pink.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/pink/left/lead-big-top.png);
}
.lt-invite.lt-pink.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/pink/right/lead-small-bottom.png);
}
.lt-invite.lt-pink.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/pink/right/lead-small-top.png);
}
.lt-invite.lt-pink.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/pink/right/lead-big-bottom.png);
}
.lt-invite.lt-pink.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/pink/right/lead-big-top.png);
}
.lt-invite.lt-pink.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/pink/top/lead-small-bottom.png);
}
.lt-invite.lt-pink.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/pink/top/lead-small-top.png);
}
.lt-invite.lt-pink.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/pink/top/lead-big-bottom.png);
}
.lt-invite.lt-pink.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/pink/top/lead-big-top.png);
}
.lt-invite.lt-pink.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/pink/bottom/lead-small-bottom.png);
}
.lt-invite.lt-pink.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/pink/bottom/lead-small-top.png);
}
.lt-invite.lt-pink.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/pink/bottom/lead-big-bottom.png);
}
.lt-invite.lt-pink.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/pink/bottom/lead-big-top.png);
}

.lt-invite.lt-black.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/black/left/lead-small-bottom.png);
}
.lt-invite.lt-black.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/black/left/lead-small-top.png);
}
.lt-invite.lt-black.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/black/left/lead-big-bottom.png);
}
.lt-invite.lt-black.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/black/left/lead-big-top.png);
}
.lt-invite.lt-black.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/black/right/lead-small-bottom.png);
}
.lt-invite.lt-black.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/black/right/lead-small-top.png);
}
.lt-invite.lt-black.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/black/right/lead-big-bottom.png);
}
.lt-invite.lt-black.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/black/right/lead-big-top.png);
}
.lt-invite.lt-black.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/black/top/lead-small-bottom.png);
}
.lt-invite.lt-black.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/black/top/lead-small-top.png);
}
.lt-invite.lt-black.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/black/top/lead-big-bottom.png);
}
.lt-invite.lt-black.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/black/top/lead-big-top.png);
}
.lt-invite.lt-black.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/black/bottom/lead-small-bottom.png);
}
.lt-invite.lt-black.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/black/bottom/lead-small-top.png);
}
.lt-invite.lt-black.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/black/bottom/lead-big-bottom.png);
}
.lt-invite.lt-black.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/black/bottom/lead-big-top.png);
}

.lt-invite.lt-yellow.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/yellow/left/lead-small-bottom.png);
}
.lt-invite.lt-yellow.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/yellow/left/lead-small-top.png);
}
.lt-invite.lt-yellow.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/yellow/left/lead-big-bottom.png);
}
.lt-invite.lt-yellow.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/yellow/left/lead-big-top.png);
}
.lt-invite.lt-yellow.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/yellow/right/lead-small-bottom.png);
}
.lt-invite.lt-yellow.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/yellow/right/lead-small-top.png);
}
.lt-invite.lt-yellow.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/yellow/right/lead-big-bottom.png);
}
.lt-invite.lt-yellow.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/yellow/right/lead-big-top.png);
}
.lt-invite.lt-yellow.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/yellow/top/lead-small-bottom.png);
}
.lt-invite.lt-yellow.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/yellow/top/lead-small-top.png);
}
.lt-invite.lt-yellow.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/yellow/top/lead-big-bottom.png);
}
.lt-invite.lt-yellow.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/yellow/top/lead-big-top.png);
}
.lt-invite.lt-yellow.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/yellow/bottom/lead-small-bottom.png);
}
.lt-invite.lt-yellow.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/yellow/bottom/lead-small-top.png);
}
.lt-invite.lt-yellow.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/yellow/bottom/lead-big-bottom.png);
}
.lt-invite.lt-yellow.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/yellow/bottom/lead-big-top.png);
}

.lt-invite.lt-white.lt-left.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/white/left/lead-small-bottom.png);
}
.lt-invite.lt-white.lt-left.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/white/left/lead-small-top.png);
}
.lt-invite.lt-white.lt-left.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/white/left/lead-big-bottom.png);
}
.lt-invite.lt-white.lt-left.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/white/left/lead-big-top.png);
}
.lt-invite.lt-white.lt-right.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/white/right/lead-small-bottom.png);
}
.lt-invite.lt-white.lt-right.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/white/right/lead-small-top.png);
}
.lt-invite.lt-white.lt-right.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/white/right/lead-big-bottom.png);
}
.lt-invite.lt-white.lt-right.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/white/right/lead-big-top.png);
}
.lt-invite.lt-white.lt-top.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/white/top/lead-small-bottom.png);
}
.lt-invite.lt-white.lt-top.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/white/top/lead-small-top.png);
}
.lt-invite.lt-white.lt-top.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/white/top/lead-big-bottom.png);
}
.lt-invite.lt-white.lt-top.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/white/top/lead-big-top.png);
}
.lt-invite.lt-white.lt-bottom.lt-small.lt-lead .lt-label {
  background-image: url(../img/label/white/bottom/lead-small-bottom.png);
}
.lt-invite.lt-white.lt-bottom.lt-small.lt-lead .lt-label-bg {
  background-image: url(../img/label/white/bottom/lead-small-top.png);
}
.lt-invite.lt-white.lt-bottom.lt-big.lt-lead .lt-label {
  background-image: url(../img/label/white/bottom/lead-big-bottom.png);
}
.lt-invite.lt-white.lt-bottom.lt-big.lt-lead .lt-label-bg {
  background-image: url(../img/label/white/bottom/lead-big-top.png);
}