a:hover {text-decoration: none;}
.icon {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2px;
	background: url(../newImg/iconSprite.png);	
}
.icon.mat-icon1 {width:13px; height:14px; background-position:0 0;}
.icon.mat-icon2 {width:13px; height:14px; background-position:-25px 0;}
.icon.mat-icon3 {width:13px; height:12px; background-position:-50px 0;}
.icon.mat-icon4 {width:14px; height:14px; background-position:-75px 0;}
.icon.mat-icon5 {width:14px; height:14px; background-position:-100px 0;}
.icon.mat-icon6 {width:14px; height:14px; background-position:-125px 0;}
.icon.mat-icon7 {width:10px; height:14px; background-position:-150px 0;}

.icon.hint {width:; height:; background-position:;}

.icon.color-icon1 {width:18px; height:18px; background-position:0 -50px;} /*чёрный*/
.icon.color-icon2 {width:18px; height:18px; background-position:-25px -50px;} /*серый*/
.icon.color-icon3 {width:18px; height:18px; background-position:-50px -50px;} /*коричневый*/
.icon.color-icon4 {width:18px; height:18px; background-position:-75px -50px;} /*бежевый*/
.icon.color-icon5 {width:18px; height:18px; background-position:-100px -50px;} /*синий*/
.icon.color-icon6 {width:18px; height:18px; background-position:-125px -50px;} /*зеленый*/
.icon.color-icon7 {width:18px; height:18px; background-position:-150px -50px;} /*красный*/
.icon.color-icon8 {width:18px; height:18px; background-position:0 -75px;} /*оранжевый*/
.icon.color-icon9 {width:18px; height:18px; background-position:-25px -75px;} /*разноцветный*/
.icon.color-icon10 {width:18px; height:18px; background-position:-50px -75px;} /*маска*/
.icon.color-icon11 {width:18px; height:18px; background-position:-75px -75px;} /*розовый*/
.icon.color-icon12 {width:18px; height:18px; background-position:-100px -75px;} /*шоколадный*/
.icon.color-icon13 {width:18px; height:18px; background-position:-125px -75px;} /*белый*/
.icon.color-icon14 {width:18px; height:18px; background-position:-150px -75px;} /*кремовый*/
.icon.color-icon15 {width:18px; height:18px; background-position: 0px -410px;} /*салатовый*/
.icon.color-icon16 {width:18px; height:18px; background-position:-25px -410px;} /*бордовый*/
.icon.color-icon17 {width:18px; height:18px; background-position:-50px -410px;} /*желтый*/

.icon.lider {width:78px; height:15px; background-position: 0 -130px;}
.icon.discont {width:71px; height:15px; background-position: -95px -130px;}

.icon.size1 {margin-left:5px; width:12px; height:23px; background-position: 0 -100px;}
.icon.size2 {margin-left:5px; width:13px; height:22px; background-position: -25px -100px;}
.icon.size3 {margin-left:5px; width:18px; height:17px; background-position: -50px -100px;}

.icon.cards {width:9px; height:9px; background-position: 0 -190px;}
.active .icon.cards {background-position: 0 -206px;}
.icon.table {width:9px; height:8px; background-position: -25px -190px;}
.active .icon.table {background-position: -25px -207px;}

.icon.regulation {width:12px; height:9px; background-position: -100px -100px;}
.icon.weight {width:12px; height:14px; background-position: -125px -100px;}

.icon.smallCloser {margin-right:5px; width:9px; height:9px; background-position: -100px -25px;}

.m-pdn_tp_40 {
	padding-top: 40px;
}
.m-wdth_200 {width: 200px !important;}
.m-wdth_210 {width: 210px !important;}
.m-wdth_220 {width: 220px !important;}

.b-hint {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 14px;
	height: 14px;
	background: url(../newImg/iconSprite.png) 0 -25px no-repeat;	
}
.b-hint {
	position: relative;
}
.b-hint div {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	margin: -35px 0 0 25px;
	border: 1px solid #3b4450;
	padding: 7px 10px;
	width: 280px;
	cursor: default;
	color: #fff;
	background: #000 url(../newImg/podMenuLine.png);
	z-index: 2;
}
.b-hint div:before {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 7px;
	margin-left: -4px;
	width: 4px;
	height: 7px;
	background: url(../newImg/iconSprite.png) -75px -25px no-repeat;
}
.b-hint div b {color: #ffb200;} 

.b-moreItems {
	display: inline-block;
	vertical-align: top;
	padding: 3px 0 5px;
	width: 125px;
	text-align: center;
	color: #546986;
	border-radius: 3px;
	text-decoration: none;
	background-color: #1b283a;
}
	.b-moreItems span {border-bottom: 1px dotted #546986;}
	.b-moreItems:hover span {border-bottom: none;}

.partitionMenuLine {
	margin-top: -8px;
	margin-right: 10px;
	height: 8px;
	background: url(../newImg/podMenuLine.png);
	
}
.partitionMenu {
	margin-right: 10px;
	padding: 15px 18px 10px;
	font-size: 14px/1.4 "Times New Roman";
	border: 1px solid #545b65;
}
	.partitionMenu a {
		display: inline-block;
		vertical-align: top;
	}
	.partitionMenu a:hover {color: #fff;}
	.partitionList {
		margin-left: -3%;
	}
	.partitionMenu .partition {
		display: inline-block;
		vertical-align: top;
		margin-left: 3%;
	}

	.partitionMenu .partition:first-child {width: 42%;}
	.partitionMenu .partition + .partition {width: 31%;}
	.partitionMenu .partition + .partition + .partition {width: 17%;}

	.partition .title {
		margin-bottom: 14px;
		font: 12px/1.4 "Times New Roman";
	}
	.partition ul {margin-left: -18px;}
	.partition li {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 28px;
		margin-bottom: 10px;
		min-width: 100px;
	}
	.partition li:before {
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		margin: -2px 0 0 -10px;
		width: 4px;
		height: 4px;
		background-color: #474f59;
	}

.m-width-100 {width: 100px;}
.m-width-110 {width: 110px;}
.m-width-120 {width: 120px;}
.m-width-130 {width: 130px;}
.m-width-140 {width: 140px;}
.m-width-150 {width: 150px;}
.m-width-160 {width: 160px;}
.m-width-170 {width: 170px;}


.index-search {
	margin-top: 39px;
}
	.index-search input[type=text] {
		padding: 2px 5px 2px 23px;
		width: 165px;
		height: 18px;
		font: italic 11px/1.4 Arial;
		color: #858a91;
		border: 1px solid #e3e3eb;
		border-top-color: #aaadb2;
		border-bottom-color: #e2e9ef;
		background: #fff url(../newImg/loop.png) 5px 6px no-repeat;
	}
	.index-search input[type=text]:focus {
		font: normal 12px/1.4 Arial;
		color: #282828;
	}

.outerLink {color: #cbdbf2;}
.outerLink:after {
	content: '';
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
	width: 11px;
	height: 11px;
	background: url(../newImg/outLinkIcon.png) no-repeat;
}

.readyDecision {
	position: relative;
	width: 26%;
	margin-left: 70%;
	margin-bottom: 32px;
}
	.readyDecision h3 {margin-bottom: 18px;}
	.readyDecision li {margin-bottom: 10px;}
	.readyDecision .list-wrap {
		position: relative;
		height: 210px;
		overflow-y: scroll;
	}
	.readyDecision .b-mask {
		position: absolute;
		display: none;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 58px;
		background: url(../newImg/jscrollGrad.png) repeat-x;
		z-index: 10;
	}

.special-offer {
	position: relative;
	margin-top: 16px;
	min-width: 664px;
	max-width: 864px;
	height: 210px;
	background: url(../img/bgRightPix.gif) top right repeat;
}
	.special-offer .controls {
		position: absolute;
		width: 55%;
		left: 40%;
		z-index: 2;
		height: 10px;
	}
	.special-offer .progress {
		position: absolute;
		width: 100%;
		height: 2px;
		top: 14px;
		background: rgba(255, 255, 255, 0.5);
	}
		.special-offer .progress .scroll {
			position: absolute;
			width: 90px;
			height: 2px;
			top: 0;
			left: 0;
			background: rgba(255, 178, 18, 0.6);
		}
		.special-offer .prev,
		.special-offer .next {
			position: absolute;
			display: block;
			top: 45px;
			width: 36px;
			height: 16px;
			background: url(../newImg/controlsPrevNext.png) left top no-repeat;
		}
		.special-offer .prev {
			left: -20px;
		}
		.special-offer .next {
			right: -20px;
			background-position: left bottom;
		}
	.special-offer:after {
		content: '';
		position: absolute;
		display: block;
		width: 22px;
		height: 210px;
		right: 0;
		top: 0;
		background: url(../img/rightBlokBox.gif) no-repeat;
	}
	.special-offer:before {
		content: '';
		position: absolute;
		display: block;
		width: 22px;
		height: 210px;
		left: 0;
		top: 0;
		background: url(../img/leftBlokBox.gif) no-repeat;
	}
	.special-offer .img-wrap {
		position: relative;
		overflow: hidden;
		float: left;
		margin-right: 5%;
		width: 253px;
		height: 210px;
	}
		.special-offer .img-wrap img {display: none;}
		.special-offer .img-wrap img.active {display: block;}
	.special-offer .content-wrap {
		position: absolute;
		width: 55%;
		left: 40%;
		height: 179px;
	}
	.special-offer .content {
		display: none;
		padding-top: 16px;
		width: 100%;
	}
	.special-offer .content.active {display: block;}
		.special-offer .name {
			padding: 18px 0 14px 0;
			font: 14px Verdana, Arial, Helvetica, sans-serif;
			color: #FFFFFF;
			text-align: center;
			background-color: #0a1422;
		}
			.special-offer .name a {
				font: 36px Arial, Tahoma, Helvetica, sans-serif;
				color: #ffb200;
			}
			.special-offer .name p {}
		.special-offer .description {
			margin: 12px auto 0 auto;
			font: 12px Arial, Helvetica, sans-serif;
			color: #858a91;
		}
		
		.special-offer .arc{
			float: left;
			position: absolute;
			z-index: 999;
		}
		.special-offer .arc img{
			margin: 0;
		}

.company-advantage {margin-bottom: 30px;}
	.company-advantage ul {margin-left: -45px;}
		.company-advantage li {
			display: inline-block;
			vertical-align: top;
			margin: 0 0 45px 55px;
			width: 40%;
		}
			.company-advantage .icon {
				float: left;
				margin-right: 20px;
				width: 64px;
				height: 64px;
				background: url(../newImg/chairIconCap.png) no-repeat;
			}
			
			.company-advantage .icon1 {
				background: url(../img/delivery.png) no-repeat;
			}
			.company-advantage .icon2 {
				background: url(../img/flag.png) no-repeat;
			}
			.company-advantage .icon3 {
				background: url(../img/documents.png) no-repeat;
			}
			.company-advantage .icon4 {
				background: url(../img/service.png) no-repeat;
			}
			.company-advantage .icon5 {
				background: url(../img/qualify.png) no-repeat;
			}
			.company-advantage .icon6 {
				background: url(../img/testdrive.png) no-repeat;
			}
			.company-advantage .icon.icon1 {background-position: 0 0;}
			.company-advantage .decsr {
				overflow: hidden;
				padding-top: 8px;
				font: 16px/1.4 "Times New Roman";
			}
			.company-advantage .decsr p {margin-bottom: 5px;}

.MiniIcins {margin-left: -120px;}
	.MiniIcins a {
		display: inline-block;
		vertical-align: top;
		margin-left: 110px;
	}

.b-filter {
	position: relative;
	margin-bottom: 35px;
	padding-left: 15px;
	width: 300px;
}
#Footer h3{
	font: normal 16px "Times New Roman", Times, serif;
}
.b-filter .b-hint {
	cursor: pointer;
	/*z-index: 10;*/
}
	.b-filter-resulSearch {
		position: absolute;
		display: none;
		left: 330px;
		margin-top: -8px;
		padding: 9px 14px 9px 17px;
		width: 197px;
		height: 20px;
		color: #000;
		background: url(../newImg/resultSearchBg.png) no-repeat;
		z-index: 3;
	}
		.b-filter-resulSearch a {
			float: right;
			color: #000;
		}
.b-filter-text {
		font: 16px/1.4 "Times New Roman";
		color: #6f7a89;
	}
	h3 {
		margin: 15px 0 30px;
		font: 24px/1.4 "Times New Roman";
	}
	.b-filter-price {
		margin-bottom: 20px;
	}
		.b-filter .b-filter-inputs {
			float: right;
		}
		.b-filter input[type=text] {
			padding: 0 17px 0 3px;
			width: 46px;
			height: 20px;
			font: 12px/20px Arial;
			border: 1px solid #e3e3eb;
			border-top-color: #aaadb2;
			border-bottom-color: #e2e9ef;
			background: #fff url(../newImg/iconSprite.png) -101px -171px no-repeat;
		}
		.b-filter-price input[type=text] {
			background: #fff url(../newImg/iconSprite.png) 55px -169px no-repeat;
		}
		.ui-widget-content {
			border: none;
			background: url(../newImg/ui-widget-content-bg.png) repeat-x;
		}
		.ui-slider-horizontal {height: 6px;}
		.ui-slider-horizontal .ui-slider-range {height: 5px;}
		.ui-state-default,
		.ui-widget-content .ui-state-default,
		.ui-widget-header .ui-state-default {
			border: none;
			background: url(../newImg/ui-widget-slider-bg.png) center 3px no-repeat;
			font-weight: bold;
			color: #1c94c4;
		}
		.b-slider-scale {
			overflow: hidden;
			clear: both;
			margin: 20px 0 5px;
			font: 10px Arial;
			color: #858a91;
			text-align: center;
		}
			.b-slider-scale .ui-slider-min {float: left;}
			.b-slider-scale .ui-slider-medium {}
			.b-slider-scale .ui-slider-max {float: right;}
			.ui-handle {
				position: absolute;
				display: none;
				top: 7px;
				/*margin-left: -15px;*/
				padding: 2px 6px;
				color: #000;
				border-radius: 2px;
				background-color: #999;
				z-index: 2;
			}

		.b-checkbox {
			margin-bottom: 5px;
		}
		.b-checkbox.m-bottomCheckbox {
			position: relative;
			margin: 20px 0;
			padding: 20px 0;
			border-top: 1px solid #393d44;
		}
		.b-checkbox.m-bottomCheckbox:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			margin-top: -2px;
			width: 100%;
			height: 1px;
			background-color: #282b31;
		}
		.b-checkbox.m-bottomCheckbox label {
			display: block;
			margin-bottom: 10px;
		}
		.b-checkbox.m-bottomCheckbox input[type=checkbox] {
			display: inline-block;
			vertical-align: middle;
			margin-top: -1px;
		}
		.b-checkbox.m-bottomCheckbox .m-hintLabel {
			margin-bottom: 3px;	
		}
		.b-checkbox.m-bottomCheckbox .m-hintLabel label {
			display: inline-block;
			vertical-align: top;
			color: #cbdbf2;
		}
		.b-checkbox.m-bottomCheckbox .m-hintLabel input[type=checkbox]:checked + label {color: #fff;}
		.b-checkbox.m-bottomCheckbox span {
			font: 14px/1.4 "Times New Roman";
			color: #cbdbf2;
			white-space: nowrap;
		}
		.b-checkbox.m-bottomCheckbox input[type=checkbox]:checked + span {color: #fff;}


		.b-filterContent {
			display: none;
			padding: 0 5px;
			margin-bottom: 10px;
		}
		.b-filterContent.b-sliderWrap {
			margin-bottom: 20px;
		}
			.b-filter .b-title-name {
				position: relative;
				font: bold 16px/1.4 "Times New Roman";
				text-decoration: none;
				color: #fff;
				border-bottom: 1px dotted #808080;
			}
			.b-filter .b-title-name:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -4px;
				margin-left: -15px;
				width: 4px;
				height: 7px;
				background: url(../newImg/iconSprite.png) -50px -25px;
			}
			.b-filter .b-title-name.active:before {
				margin-top: -2px;
				margin-left: -15px;
				width: 7px;
				height: 4px;
				background: url(../newImg/iconSprite.png) -25px -25px;
			}
			.b-filter .b-title-name:hover {border-bottom: none;}
			.b-checkbox .b-list {
				margin-left: -25px;
			}
				.b-checkbox .b-list label {
					display: inline-block;
					vertical-align: top;
					margin-bottom: 10px;
					width: 130px;
					margin-left: 25px;
				}
				.b-checkbox .b-list input[type=checkbox] {
					float: left;
					margin-right: 5px;
				}
				.b-checkbox .b-list label > span {
					margin-left: 18px;
					display: block;
					font: 14px/1.4 "Times New Roman";
					color: #cbdbf2;
					white-space: nowrap;
				}
				.b-checkbox .b-list input[type=checkbox]:checked + span {color: #fff;}

				.m-wide, .m-deep, .m-height {margin-bottom: 20px;}
				
				.b-list label .hit{position: static;}
				.b-list label .prod{position: static;}
				.b-list label .newest{position: static;}
				.b-list label .saleyar{position: static;}
				.b-list label .specialprice{position: static;}
				.b-list label .relaxyar{position: static;}
				.b-list label .transyar{position: static;}
				.b-list label .deliveryar{position: static;}
												

.ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }

  .b-filter input[type=submit] {
	display: inline-block;
	vertical-align: top;
	width: 246px;
	height: 66px;
	text-align: center;
	border: none;
	cursor: pointer;
	background: url(../newImg/submitFilterSprite.png) left top no-repeat;
  }
  .b-filter input[type=submit]:hover {
  	background-position: 0 -85px;
  }
  .b-filter input[type=submit]:active {
  	height: 66px;
  	background-position: 0 -170px;
  }
.b-catalog-list .b-item .b-name{
		display: block;
		margin: 0 auto;	
		text-align: center;

	}
	
.b-catalog-list .b-item .b-amount{
		display: block;
		text-align: center;
	}
	
	.b-catalog-list .b-item .b-price { 
		text-align: center;
		display: block;
		
	}
.b-recentlyViewed {
	position: relative;
	padding: 30px 25px 25px 15px;
	width: 255px;
	color: #000;
	background: #fff url(../newImg/recViewTopBg.png) top center no-repeat;
}
.b-recentlyViewed.m-product {
	float: right;
	background: #fff;
	color: #000;
}
.b-recentlyViewed:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
	width: 295px;
	height: 8px;
	background: url(../newImg/recViewBottomBg.png) top center no-repeat;
}
.b-recentlyViewed.m-product:after {content: none;}
	.b-recentlyViewed h3 {
		margin-bottom: 10px;
		color: #000;
		font: 24px/1.4 "Times New Roman", Times;
	}
	.b-recentlyViewed .b-list {}
	.b-recentlyViewed .b-item {
		margin-bottom: 30px;
		
	}
	.b-recentlyViewed .b-item-link:hover + .b-content .b-name {text-decoration: none;}
	.b-recentlyViewed .b-item img {
		float: left;
		margin-right: 10px;
	}
	.b-recentlyViewed .b-item .b-content {
		overflow: hidden;
	}
	.b-recentlyViewed .b-item .b-name {
		
		display: inline-block;
		margin: 0 10px 10px 0;
		color: #28528d;
	}
	
	.b-recentlyViewed .b-item .b-price {
		font-weight: bold;
	}
	
	
	.b-recentlyViewed .b-item .b-time {
		float: right;
		font-family: Arial;
		font-size: 11px;
		color: #8f8f8f;
		display: none;
	}
	.b-recentlyViewed .b-item .b-colors {
		margin: 7px 0;
	}
	.b-recentlyViewed .b-item .b-colors .icon {
		margin: 0;
	}
	.b-recentlyViewed .b-item .b-materials {
		margin-bottom: 10px;
	}
	.b-recentlyViewed .b-more-wrap {
		text-align: center;
	}
	.b-recentlyViewed .b-more {
		font: 11px/1.4 Arial;
		color: #28528d;
		text-decoration: none;
		border-bottom: 1px dotted #28528d;
	}
	.b-recentlyViewed .b-more:hover {border-bottom: none;}

.l-catalog {
	position: relative;
	margin-bottom: 100px;
	padding: 0 42px 30px;
	line-height: 1.4;
	color: #858a83;
	background: #fff;
}
.l-catalog:before {
	content: '';
	position: absolute;
	display: block;
	height: 32px;
	width: 100%;
	top: -31px;
	left: 0;
	background: url(../newImg/catalogModalTopBg.png) top center no-repeat;
}
.l-catalog:after {
	content: '';
	position: absolute;
	bottom: -26px;
	left: 0;
	width: 100%;
	height: 27px;
	background: url(../newImg/catalogModalBottomBg.png) top center no-repeat;
}
	.l-catalog h3 {
		margin-bottom: 30px;
		font-size: 24px;
		text-align: center;
		color: #000;
	}
	.b-catalog-list {
		margin-bottom: 50px;
		margin-left: -1%;
	}
		.b-catalog-list .b-item {
			margin: 0 0 30px 2%;
			position: relative;
			display: inline-block;
			/*vertical-align: bottom; может показаться странным, но если его совсем не указыватЬ, то все ок в опере и FF*/ 
			width: 22%;
			/*min-width: 180px;*/
			text-align: left;
		}
		@media all and (max-width: 1200px) {
			.b-catalog-list .b-item {
				min-width: 160px;
				width: 30%;
			}
		}
		.b-catalog-list .b-item img {
			margin: 0 auto;
			display: block;
		}
		.b-catalog-list .b-item .b-name {
			color: #28528d;
		}
		.b-catalog-list .b-item .b-price {
			margin: 5px 0;
			font-size: 16px;
			color: #000;
		}
		.b-catalog-list .b-item .b-line {
			margin-bottom: 10px;
			width: 100%;
			height: 3px;
			background: url(../newImg/iconSprite.png) 0 -160px repeat-x;
		}
		.b-catalog-list .b-item .b-category {
			font: 12px/1.4 Arial;
			color: #858a91;
			display: block;
			text-align: center;
		}
		.b-catalog-list .b-item .b-matitials {
			float: left;
			width: 35%;
			text-align: left;
		}
		.b-catalog-list .b-item .b-colors {
			float: right;
			width: 60%;
			text-align: right;
		}
		.b-catalog-list .b-matitials .icon {margin: 0 2px 7px;}
		.b-catalog-list .b-colors .icon {margin: 0 0 5px;}
		
		
.footerMenu a {
	position: relative;
}
.footerMenu a:before {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -1px;
	left: -1px;
	width: 3px;
	height: 3px;
	background-color: #474f59;
}
.razdelFooter {
	margin: 15px 0;
}
.razdelFooter .partitionMenuLine {
	height: 9px;
	margin: 0 0 0 -30px;
	border: none;
}
.razdelFooter .yellowLine {
	margin-left: -30px;
}

.b-dillers {
	float: right;
	margin-top: -15px;
	margin-right: 50px;
	padding: 17px 10px 10px 53px;
	width: 85px;
	height: 24px;
	background: url(../newImg/forDillersBg.png) no-repeat;
}

.RightIndexColumTop.m-inside {
	padding-top: 15px;
	background: #0a1422;
}
	.RightIndexColumTop.m-inside .TopPhone {
		display: inline-block;
		vertical-align: middle;
		margin: 30px 19% 0 4%;
		padding: 0;
	}
	.RightIndexColumTop.m-inside .cart-top {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}
	.RightIndexColumTop.m-inside .yellowLine {
		overflow: hidden;
		margin: 40px 0 0;
		width: 100%;
		height: 10px;
		background-color: #ffb200;
	}

.menuBlok a.active {

}
.l-catalog.m-inside {
	color: #0a1422;
}
	.l-catalog.m-inside h3 {
		display: inline-block;
	}
	.l-catalog.m-inside h1 {
		display: inline-block;
	}
	.b-catalog-filters {
		float: right;
		font-size: 10px;
		color: #777;
	}
	.b-catalog-filters a {
		margin: 0 5px;
	}
	.b-catalog-filters a.active {
		color: #777;
		text-decoration: none;
	}
	.b-catalog-filters div {
		margin-bottom: 5px;
	}
	.b-catalog-title label {
		margin-left: 10px;
		color: #197b30;
		font-size: 12px;
	}
		.b-catalog-title label input[type=checkbox] {
			display: inline-block;
			vertical-align: middle;
			margin-top: 1px;
		}
	.l-catalog.m-inside .b-catalog-list {
		margin-top: 30px;
	}
	.l-catalog.m-inside .b-item {
		margin-bottom: 75px;
	}
	.prod, .hit, .newest, .saleyar, .specialprice, .transyar, .deliveryar {
		font-size: 10px;
		color: #FFFFFF;
		padding: 1px 5px;
		
		left: 50%;
		margin-left: -20px;
		top: -25px;
	}
	.hit {background-color: #197b30;}
	.hit span {background: url(../newImg/iconSprite.png) -17px -434px  no-repeat;}
	.prod {background-color: #872d91;}
	.prod span {background: url(../newImg/iconSprite.png) -2px -434px  no-repeat;}
	.newest {background-color: #ff0000;}
	.newest span {background: url(../newImg/iconSprite.png) -32px -434px  no-repeat;}
	.saleyar {background-color: #ff7e93;}
	.saleyar span {background: url(../newImg/iconSprite.png) -77px -434px  no-repeat;}
	.specialprice {background-color: #ffa500;}
	.specialprice span {background: url(../newImg/iconSprite.png) -47px -434px  no-repeat;}
	.transyar {background-color: #964b00;}
	.transyar span {background: url(../newImg/iconSprite.png) -92px -434px  no-repeat;}
	.deliveryar {background-color: #0000ff;}
	.deliveryar span {background: url(../newImg/iconSprite.png) -62px -434px  no-repeat;}
	.b-filterContent span.deliveryar {width: 130px;}

	.hit span, .prod span, .newest span, .saleyar span, .specialprice span, .transyar span, .deliveryar span  {
		position: absolute;
		left: 20px;
		top: 15px;
		width: 5px;
		height: 5px;
	}

.MiniIcins a img {margin-top: 0;}

.l-catalog.m-modal {
	display: none;
	position: relative;
	margin-top: 100px;
	padding: 0 32px 10px;
	width: 886px;
}
	.l-catalog.m-modal {
		background: #fff;
	}
	.l-catalog.m-modal:before {
		content: '';
		position: absolute;
		display: block;
		height: 32px;
		width: 950px;
		top: -31px;
		left: 0;
		background: url(../newImg/catalogModalTopBg.png) top center no-repeat;
	}
	.l-catalog.m-modal:after {
		bottom: -26px;
		height: 27px;
		background: url(../newImg/catalogModalBottomBg.png) top center no-repeat;
	}
	.l-catalog.m-modal h3 {
		margin-bottom: 50px;
	}
	.l-catalog.m-modal .b-item .b-time {
		margin-bottom: 40px;
		font: 11px/1.4 Arial;
		color: #8f8f8f;
	}
	.l-catalog.m-modal .prod, .l-catalog.m-modal .hit, .l-catalog.m-modal .newest, .l-catalog.m-modal .saleyar, .l-catalog.m-modal .specialprice, .l-catalog.m-modal .transyar, .l-catalog.m-modal .deliveryar {top: 30px;}

.l-catalog.m-categories {}
	.l-catalog.m-categories h3 {
		margin-bottom: 10px;
		text-align: left;
	}
	.l-catalog.m-categories h4 {
		margin-bottom: 20px;
		font-size: 14px;
		font-weight: normal;
		color: #858a83;
	}
	.l-catalog.m-categories .b-catalog-list {
		/*margin-left: -12px;*/
		margin-bottom: 10px;
	}
	.l-catalog.m-categories .b-item {
		margin-left: 1%;
		padding-bottom: 20px;
		min-width: 160px;
		width: 23%;
		vertical-align: bottom;
		color: #000;
		border-bottom: 1px solid #cccccc;
	}
	.l-catalog.m-categories .b-item:after {
		content: '';
		position: absolute;
		bottom: -36px;
		left: 50%;
		margin-left: -74px;
		width: 148px;
		height: 35px;
		background: url(../newImg/categItemShadow.png) no-repeat;
	}
	
	@media all and (max-width: 1200px) {
		.l-catalog.m-categories .b-catalog-list {
			margin-left: 12px;
			margin-bottom: 10px;
		}
		.l-catalog.m-categories .b-item {
			margin-left: 2%;
			padding-bottom: 20px;
			min-width: 160px;
			width: 30%;
			vertical-align: bottom;
			color: #000;
			border-bottom: 1px solid #cccccc;
		}
	}

	.l-catalog.m-categories .b-item img {
		display: block;
		margin-bottom: 10px;
	}
	.l-catalog.m-categories .b-item .b-name {
		
		margin-bottom: 7px;
	}
	.l-catalog.m-categories .b-item .b-amount {font-weight: bold;}
	.l-catalog.m-categories .b-item .b-price {font-size: 12px;}

	.b-catalog-wrapper {
		display: inline-block;
		vertical-align: top;
	}

	.b-catalog-specOffer {
		margin: 0 0 30px 10px
	}
		.l-catalog .b-catalog-specOffer .b-item {
			display: block;
			margin: 0 0 8px 0;
			padding: 5px 10px;
			width: 260px;
			font-size: 13px;
			line-height: 1.4;
			color: #000;
			border: none;
			cursor: pointer;
			text-decoration: none;
			background-color: #fff1ce;
			border-radius: 1px;
			box-shadow: 1px 1px 3px #999;
		}
		.l-catalog .b-catalog-specOffer .b-item:hover {background-color: #ffaf00;}
		.l-catalog .b-catalog-specOffer .b-item a {color: #28528d;}
		.l-catalog .b-catalog-specOffer .b-item a:hover {text-decoration: underline;}

	.b-catalog-bottomText {
		color: #858a83;
	}

.lightBoxImg {
	position: relative;
	display: inline-block;
}
	.lightBoxImg .zoom {
		content: '';
		
		position: absolute;
		right: 10px;
		top: 10px;
		width: 28px;
		height: 28px;
		background: url(../newImg/iconSprite.png) 0 -220px  no-repeat;
	}

.sertificates {
	position: relative;
	display: inline-block;
}

.b-prodProp {
	/*margin-bottom: 150px;*/
	min-height: 350px;
}
	.b-prodProp a {color: #28528d;}
	.b-prodProp-tabs {
		position: relative;
		overflow: hidden;
		/*border-bottom: 1px solid #858a91;*/
	}
	.b-prodProp-tabs:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: #858a91;
	}
		.b-prodProp-tabs .b-item {
			float: left;
			position: relative;
			margin-left: 21px;
			padding: 4px 0;
			text-align: center;
			text-decoration: none;
			color: #28528d;
			border-top: 1px solid #858a91;
			background-color: #e3e6ea;
		}
		.b-prodProp-tabs .b-item.active {
			color: #000;
			background-color: #fff;
			border-bottom: 1px solid #fff;
		}
		.b-prodProp-tabs .b-item:before, .b-prodProp-tabs .b-item:after {
			content: '';
			position: absolute;
			top: -1px;
			width: 15px;
			height: 25px;
			background: url(../newImg/iconSprite.png) no-repeat;
		}
		.b-prodProp-tabs .b-item:before {
			left: -15px;
			background-position: -50px -220px;
		}
		.b-prodProp-tabs .b-item:after {
			right: -15px;
			background-position: -75px -220px;
		}
		.b-prodProp-tabs .b-item.active:before {
			left: -15px;
			background-position: -100px -220px;
		}
		.b-prodProp-tabs .b-item.active:after {
			right: -15px;
			background-position: -125px -220px;
		}
		.b-prodProp-tabs .b-item {z-index: 4;}
		.b-prodProp-tabs .b-item + .b-item {z-index: 3;}
		.b-prodProp-tabs .b-item + .b-item + .b-item {z-index: 2;}
		.b-prodProp-tabs .b-item + .b-item + .b-item + .b-item {z-index: 1;}
		.b-prodProp-tabs .b-item.active {z-index: 5 !important;}
	.b-prodProp-panes {}
		.b-prodProp-panes .b-item {
			display: none;
			padding: 15px 0;
		}
		.b-prodProp-panes .b-item.active {display: block;}
	.b-prodProp .b-propTable {
		width: 100%;
	}
		.b-prodProp .b-propTable tr {}
		.b-prodProp .b-propTable td {
			padding: 7px 15px;
			border-bottom: 1px solid #fff;
			background-color: #f2f4f7;
		}
		.b-prodProp .b-propTable td:first-child {
			width: 50%;
			color: #858a91;
		}
	.b-prodProp .b-review {
		margin: 10px 0;
		padding: 8px 10px;
		font: 12px/1.4 "Helvetica";
		border-radius: 2px;
		border: 1px solid #ffb200;
		background-color: #fff7e3;
	}
		.b-prodProp .b-review .b-name {margin-bottom: 15px;}
		.b-review .b-name span {color: #858a91;}
		.b-review .b-name .time {text-decoration: underline;}
		.b-prodProp .b-review .b-text {
		}
	.b-prodProp .b-sertList {}
		.b-prodProp .b-sertList li {}
		.b-prodProp .b-sertList a {}

	.b-addReview {
		display: none;
		overflow: hidden;
		margin: 10px 0 20px;
		padding: 5px 10px;
		width: 540px;
		font: 12px/1.4 Arial;
		color: #858a91;
	}
		.b-addReview .b-rightText {
			float: right;
			width: 190px;
		}
		.b-addReview .b-content {
			overflow: hidden;
		}
		.b-addReview-form {}
			.b-addReview-form label {
				display: block;
			}
			.b-addReview-form input[type=text], .b-addReview-form textarea {
				margin-bottom: 5px;
				padding: 3px 7px;
				color: #000;
				border: 1px solid #e3e3eb;
				/*border-top-color: #aaadb2;*/
			}
			.b-addReview-form input[type=text] {
				width: 216px;
			}
			.b-addReview-form textarea {
				width: 316px;
				height: 75px;
				resize: none;
			}
			.b-addReview-form input[type=submit] {
				width: 160px;
				height: 35px;
				line-height: 35px;
				font-size: 14px;
				text-align: center;
				border: none;
				cursor: pointer;
				background: url(../newImg/iconSprite.png) 0 -280px no-repeat;
			}
			.b-addReview-form input[type=submit]:hover {
				background-position: 0 -330px;
			}
			.b-addReview-link {
				position: relative;
				margin-left: 12px;
				font-size: 14px;
				text-decoration: none;
				border-bottom: 1px dotted #28528d;
			}
			.b-addReview-link:before {
				content: '';
				position: absolute;
				top: 3px;
				left: -10px;
				width: 5px;
				height: 9px;
				background: url(../newImg/iconSprite.png) -150px -25px no-repeat;
			}
			.b-addReview-link.active {color: #28528d !important;}
			.b-addReview-link:hover {
				border-bottom: none;
			}
				.b-addReview-link.active:before {
					top: 5px;
					left: -12px;
					width: 9px;
					height: 5px;
					background-position: -125px -25px;
				}
.b-moreLink {
	text-decoration: none;
	color: #28528d;
	border-bottom: 1px dotted #28528d;
}
.b-moreLink:hover {border-bottom: none;}

.b-indLink {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	width: 205px;
	font-size: 9px;
	color: #858a91;
}
	.b-indLink .pic {
		display: block;
		float: left;
		margin-right: 5px;
	}
	.b-indLink .title {
		display: block;
		font-size: 14px;
	}
	.b-indLink .pic:hover + .title {text-decoration: none;}

.b-indLink.m-table .title {text-decoration: none;}
.b-indLink.m-table .title span {border-bottom: 1px dashed #28528d;}
.b-indLink.m-table .pic:hover + .title span,
.b-indLink.m-table .title:hover span {border-bottom: none;}

.b-sertList {
	margin-left: -10px;
}
	.b-sertList li {
		display: inline-block;
		vertical-align: top;
		width: 160px;
		margin-left: 20px;
	}
	.b-sertList a {
		position: relative;
		display: inline-block;
	}
	.b-sertList a:after {
		content: '';
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		bottom: 13px;
		right: 10px;
		background: url(../newImg/iconSprite.png) -25px -250px no-repeat;
	}
	.b-sertList span {
		display: block;
		font: 12px/1.4 "PT Sans";
	}
.b-priceBlock {
	clear: both;
	margin-top: 20px;
	margin-bottom: 30px;
}
	.b-priceBlock-old {
		margin-bottom: 5px;
		color: #858a91;
	}
		.b-priceBlock-old span:first-child {
			margin-right: 15px;
			font-size: 18px;
			color: #000;
			text-decoration: line-through;
		}
	.b-priceBlock-new {}
		.b-priceBlock-new span:first-child {
			font-size: 18px;
			font-weight: bold;
		}
	.b-priceBlock-descr {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;
		padding: 6px 10px 7px;
		background-color: #ffb200;
	}
	.b-priceBlock-descr:before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: -14px;
		width: 14px;
		height: 28px;
		background: url(../newImg/iconSprite.png) 0 -370px no-repeat;
	}

.servicesInfo {
	padding: 5px 5px 130px;
}
	.servicesInfoItem {}
	.servicesInfo .b-description {
		display: none;
	}
	.servicesInfoItem .itemContent {
		padding: 10px;
		background-color: #fff;
	}
	.servicesInfoItem:hover {}
	.servicesInfoItem:hover .itemContent {
		position: relative;
		box-shadow: 1px 1px 5px #666;
		z-index: 3px;
	}
	.servicesInfoItem .b-description {
		margin-left: 87px;
		margin-top: 30px;
		font: 11px/1.4 Tahoma;
	}
	.servicesInfoItem:hover .b-description {display: block;}
	.servicesInfoItem .b-description a {color: #28528d;}

.b-freeGift {
	width: 470px;
}
	.b-freeGift img {
		float: left;
		display: block;
		margin-right: 10px;
	}
	.b-freeGift .b-description {
		overflow: hidden;
		font-size: 12px;
		color: #858a91;
		text-align: left;
	}

	.b-description-header {
		font-size: 18px;
			font-weight: bold;
			color: #000;
			margin-bottom: 10px;
	}
		.b-freeGift h4 {
			font-size: 18px;
			font-weight: bold;
			color: #000;
		}
		.b-freeGift p {}
		.b-freeGift a {
			color: #28528d;
		}

.b-outLink:after {
	content: '';
	display: inline-block;
	vertical-align: top;
	margin-left: 3px;
	width: 10px;
	height: 10px;
	background: url(../newImg/iconSprite.png) -25px -370px no-repeat;
}

.b-thisType {
	overflow: hidden;
	margin: 30px 50px 0 50px;
}
	.b-thisType .b-catalog-list {
		margin: 50px 0;
		text-align: center;
	}
	.b-thisType .b-item {}
	.b-thisType-header {
		margin-bottom: 10px;
		text-align: center;
		color: #000;
		font: 24px/1.4 "Times New Roman", Times;
	}
	.b-thisType h3 {
		margin-bottom: 10px;
		text-align: center;
		color: #000;
		font: 24px/1.4 "Times New Roman", Times;
	}

.MiniIcins.m-right {
	margin: 40px 0 0 320px; 
}

.b-catalog-table {}
	.b-catalog-table table {
		width: 100%;
	}
	.b-catalog-table th {
		padding: 10px;
		width: 50%;
		text-align: center;
		font-size: 12px;
		color: #686c72;
		border-bottom: 2px solid #dadcde;
		border-left: 1px solid #dadcde;
	}
	.b-catalog-table th + th {width: 14%;}
	.b-catalog-table th + th + th {width: 22%;}
	.b-catalog-table th + th + th + th {width: 14%;}
	.b-catalog-table th:first-child {border-left: none;}
	.b-catalog-table tbody tr {}
	.b-catalog-table td {
		padding: 10px;
		text-align: center;
		vertical-align: top;
		border-bottom: 1px solid #dadcde;
		border-left: 1px solid #dadcde;
	}
	.b-catalog-table td + td + td + td {text-align: right; padding-right: 0;}
	.b-catalog-table td:first-child {border-left: none; text-align: left; text-align: left; padding-left: 0;}
	.b-catalog-table p {margin-top: 25px;}
	.b-catalog-table p:first-child {margin-top: 0;}
	.b-catalog-table .b-price {
		font-size: 18px;
	}
	.b-catalog-table .b-item {
		margin-bottom: 0 !important;
	}
		.b-catalog-table .b-item .b-pic {
			display: inline-block;
			vertical-align: top;
			margin-right: 15px;
		}
		.b-catalog-table .b-item .b-content {
			display: inline-block;
			vertical-align: top;
			width: 200px;
		}
		.b-catalog-table .b-item .b-name {
			display: block;
			margin-top: 5px;
			margin-bottom: 20px;
			color: #28528d;
		}
		.b-catalog-table .b-item .b-pic:hover + .b-content .b-name {text-decoration: none;}
		.b-catalog-table .b-matitials {
			float: right;
		}
		.b-catalog-table .b-colors .icon {margin: 0;}
		
		.b-thisType .b-catalog-to-left{
			text-align: left;
		}
/*new style 20.10.2013*/
.otido-contacts {
    position: relative;
}

.otido-contacts h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 27px;
}

.otido-contacts> p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.yellow {
    color: #ffb200;
}

.otido-contacts-tabs {
    position: relative;
    margin-bottom: 15px;
    margin-top: -20px;
    zoom: 1;
}
.otido-contacts-tabs.full-width {
	margin-left: -2%;
}

.otido-contacts-tabs:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.otido-contacts-tabs-right {
    float: right;
    font-size: 12px;
    height: 276px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 54px;
    position: relative;
    width: 27%;
}

.otido-contacts-tabs-right-phone {
    font-size: 16px;
    margin-bottom: 12px;
    min-height: 39px;
}

.otido-contacts-tabs-right p {
    margin-bottom: 2px;
}

.otido-contacts-tabs-right-warn {
    line-height: 16px;
    margin-top: 54px;
    text-indent: -7px;
}

.otido-contacts-tabs-menu {
    display: table;
    float: left;
    /*max-width: 600px;*/
/*     padding-left: 2px; */
    padding-top: 5px;
    position: relative;
    z-index: 9;
    width: 100%;
}

.otido-contacts-tabs-wrap {
    display: table-cell;
    width: 25%;
    line-height: 18px;
    cursor: pointer;
    background: url("/img/bottom-shadow1.png") repeat-x 0 100% #f4f1e8;
}
.otido-contacts-tabs-wrap + .otido-contacts-tabs-wrap {
	border-left: 1px solid #b7b4ae;
}

.otido-contacts-tabs-wrap.active {
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
    background: #fff;
    position: relative;
    z-index: 10;
}

.otido-contacts-tabs-item {
    min-height: 266px;
    padding: 12px 13px 67px;
    position: relative;
}

.otido-contacts-tabs-item-head {
    font-size: 14px;
    color: #545454;
    margin-bottom: 7px;
}

.otido-contacts-tabs-item-name {
    font-size: 16px;
    margin-bottom: 9px;
    color: #000;
}

.otido-contacts-tabs-item-name span {
    border-bottom: 1px dashed #000;
}

.otido-contacts-tabs-item-text-italic {
    font-style: italic;
    font-size: 12px;
    color: #907652;
    margin-bottom: 13px;
}

.otido-contacts-tabs-item-text-min {
    color: #999999;
    font-family: Arial;
    font-size: 9px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.otido-contacts-tabs-item-gr {
    overflow: hidden;
    margin-bottom: 18px;
}

.otido-contacts-tabs-item-gr-item {
    overflow: hidden;
    margin-bottom: 4px;
    color: #545454;
    font-size: 11px;
}

.otido-contacts-tabs-item-gr-item-right {
    display: inline-block;
    font-size: 14px;
    text-align: right;
    vertical-align: bottom;
    width: 48%;
}

.otido-contacts-tabs-item-gr-item-left {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.col-red {
    color: #ed5f5f;
}

.otido-contacts-tabs-item-phone {
    margin-bottom: 10px;
    overflow: hidden;
}

.otido-contacts-tabs-item-phone-item-left {
    display: inline-block;
    width: 49%;
    vertical-align: top;
    color: #545454;
    font-size: 14px;
}

.otido-contacts-tabs-item-phone-item-right {
    display: inline-block;
    font-size: 14px;
    text-align: right;
    vertical-align: top;
    width: 48%;
    color: #545454;
}

.otido-contacts-tabs-item-phone .otido-contacts-tabs-item-text-min {
    margin-bottom: 1px;
}

.otido-contacts-tabs-item-phone-item-tel {
    margin-bottom: 4px;
}

@media only screen and (max-width: 1200px),
only screen and (max-device-width: 1200px) {
    .otido-contacts-tabs-item-phone-item-tel, .otido-contacts-tabs-item-gr-item-right,
    .otido-contacts-tabs-item-gr-item-right {
        font-size: 12px;
    }
}

.otido-contacts-tabs-item-fotos {
    bottom: 15px;
    height: 50px;
    left: 14px;
    overflow: hidden;
    position: absolute;
    width: 95%;
    opacity: 0.5;
}

.otido-contacts-tabs-item-fotos-item {
    position: relative;
    float: left;
    overflow: hidden;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 64px;
    height: 49px;
}

.otido-contacts-tabs-item-fotos-item a {
    display: block;
    width: 60px;
    height: 45px;
    border: 2px solid transparent;
    border-radius: 2px;
}

.otido-contacts-tabs-item-fotos-item a:hover {
    border-color: #ffb200;
}

.arr-b-bg {
    background: url("/img/arr-b-bg.png") no-repeat scroll 0 0 transparent;
    bottom: -38px;
    height: 39px;
    left: 50%;
    margin-left: -24px;
    position: absolute;
    width: 48px;
    display: none;
}

.otido-contacts-tabs-wrap.active .arr-b-bg {
    display: block;
}

.otido-contacts-tabs-wrap.active {
    cursor: default;
}

.col-green {
    color: #277f00;
}

.otido-contacts-tabs-item-gr .otido-contacts-tabs-item-text-min {
    margin-bottom: 1px;
}

.otido-contacts-tabs-wrap.active .otido-contacts-tabs-item-fotos {
    opacity: 1;
}

.otido-contacts-tabs-content {
    clear: both;
    margin-bottom: 15px;
    margin-left: 2px;
    position: relative;
}

.otido-contacts-tabs-content>div {
    display: none;
}

.otido-contacts-tabs-content>div.active {
    display: block;
}

.otido-contacts-map {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 500px;
    height: 70vh;
    background: #e9e5dc;
}

.map-info {
    position: absolute;
    z-index: 1;
    bottom: 17px;
    left: 17px;
}

.skoro {
    background: url("/img/skoro.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 14px;
    height: 77px;
    line-height: 16px;
    overflow: hidden;
    padding-top: 22px;
    position: absolute;
    right: -23px;
    text-align: center;
    top: -31px;
    width: 91px;

    z-index: 10;
}

.skoro div {
    font-weight: bold;
    font-size: 12px;
    padding-top: 7px;
}

*+html .otido-contacts-tabs-wrap {
    float: left;
}

*+html .otido-contacts-tabs-item-phone-item-left {
    display: inline;
}

*+html .otido-contacts-tabs-item-phone-item-right {
    display: inline;
}

.MiddelLeft .readySet { display: block; margin: 20px 0 20px 40px; padding: 0; }
.MiddelLeft .readySet h2 { font-size: 12px; font-weight: bold; color: #CCCCAA; margin: 0 0 0 20px; }
.MiddelLeft .readySet h3 { font: 11px Arial, Helvetica, sans-serif; font-weight: bold; color: #CCCCAA; margin: 0 0 0 20px; }
.MiddelLeft .readySet ul { display: block; margin: 0 0 12px 0; padding: 0; list-style: none; }
.MiddelLeft .readySet ul li { margin: 3px 0 3px 20px; padding: 0 0 0 12px; border-left: 1px solid #CCCCAA; }
.MiddelLeft .readySet ul li a { color: #CCCCAA; font-size: 11px; }
.MiddelLeft .readySet a.more { display: inline-block; margin-left: 18px; padding: 6px 12px 8px 12px; cursor: pointer; -webkit-border-radius: 3px;-moz-border-radius: 3px; border-radius: 3px; background: rgba(255,255,255,.1); position: relative; color: #CCCCAA; }
.MiddelLeft .readySet a.more:after {
		content: '';
		display: block;
		position: absolute; bottom: 4px; left: 12px; right: 12px;
		height: 1px;
		border-top: 1px dashed #CCCCAA;
	}
.MiddleLeft .readySet a.more:hover { color: #ffb200; }
.MiddleLeft .readySet a.more:hover:after { border-top: transparent; }