html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0px none;outline:0;font-style:inherit;font-family:inherit;}
:focus{outline:0}
area{cursor:pointer}
ol, ul{list-style:none;}
table{border-collapse:separate;border-spacing:0}
caption, th, td{font-weight:normal}
blockquote:before, blockquote:after, q:before, q:after{}
blockquote, q{}
hr{border:solid #e5e5e5; border-width:1px 0 0 0; height:1px;}
body{line-height:1;height:100%; background-color:#0a1422; font-family:Arial, sans-serif; color:#ffffff; font:12px Arial, Helvetica, sans-serif}
a{font-family:Arial, Tahoma, Helvetica, sans-serif; color:#ffb200}
h1{font:normal 24px "Times New Roman", Times, serif; line-height:30px} 
h2{font-size:26px; font-weight:bold;} 
h3{font:normal 16px "Times New Roman", Times, serif; color:#FFFFFF}
.clear{clear:both}
#conteiner{ min-width:1000px; max-width:1440px; margin:0 auto; overflow:hidden;}
.RightIndexColumTop{ width:75%; background:url(../img/TopBgIndex.jpg) left top no-repeat; float:right; position:relative; padding-top:327px;}
.RightIndexColumTop{ background:url(../img/TopBgIndex.jpg) left top no-repeat; }
/*.RightIndexColumTop{ background:url(../img/TopBgIndexNY.jpg) left top no-repeat; } */
#ny-text {display:none; background: url(../img/header-ny-text.png) 0 0 no-repeat;padding: 6px 0 0 7px;position: absolute;width: 351px;height: 157px;top: 56px;left: 146px;font-family: Tahoma;}
#ny-text .red {color: #8c000f;}
#ny-text .black {color: #0b1423; margin: 5px 0;}


.inDexPusto{ height:317px; border-bottom:10px solid #ffb200; position:absolute; left:25%; width:75%; top:0;}
.menuBlok{height:58px; padding:1px 0 8px 0; background:url(../img/BgUzor.gif) left bottom  repeat-x; margin-right:10px}
.menuBlok ul{width:80%; margin-left:5%;}
.menuBlok ul li{float:left; padding:18px 6% 0 0 ; display:block}
.menuBlok ul li a{font: bold 16px Arial, Helvetica, sans-serif; color:#FFFFFF}
.menuBlok ul li a:hover{ color:#ffb200}
.podMenu {border:1px solid #545b65; padding:6px 5px 8px 5px; margin-right:10px;}
.podMenu .active {font:12px Verdana, Arial, Helvetica, sans-serif; margin-right:12px; padding:0 0 0 8px; background:url(../img/pixLeftInto.gif) left 6px no-repeat; text-decoration:none;}
.podMenu a{font:12px Verdana, Arial, Helvetica, sans-serif; color:#ffb200; padding:0 0 0 8px; background:url(../img/pixLeftInto.gif) left 6px no-repeat; margin-right:12px; line-height:20px;}
.podMenu a:hover{ color:#ffffff}
.menuBlok .selektMenu{ background:url(../img/MenuSelektLeft.gif); height:60px; padding:6px 2% 0 3%; margin:0 0 -11px 0; position:relative; top:1px; left:-3%}
.menuBlok .selektMenu a{ cursor:default; font:36px "Times New Roman", Times, serif; text-decoration:none; color:#FFFFFF;}
.menuBlok .selektMenu span{ background-image:url(../img/MenuSelektRight.gif); width:10px; height:55px; display:block; position:absolute; right:-1px; top:1px}
.menuBlok .selektMenu a:hover{ color:#FFFFFF}



.LeftIndexColumTop{width:21%; text-align:center; float:left; padding-top:45px; position:relative; left:2%;}
.TopPhone{ font-size:11px; color:#FFFFFF; margin:60px 0 0 0; padding-bottom:35px}
.TopPhone img{ margin-top:9px; font-weight:bold; font-size:14px}
.miniMenu{ height:30px; display:block; width:210px; margin:38px auto 0 auto;}
.miniMenu li{ width:70px; display:block; height:30px; text-align:center; float:left; padding:0;list-style: none; }
.miniMenu li img{float:left; margin:9px 0 0 30px}
.miniMenu li a{line-height:0px;}
.miniMenu li.select{ background:url(../img/m.gif) top center no-repeat;}

#lineStatus{ color:#858a91; font:11px Arial, Helvetica, sans-serif;margin:20px 0 20px 29%}
#lineStatus a{color:#858a91;}
.miniNwes{ font-size:12px; }
.miniNwes p{ margin-bottom:13px; padding-top:14px; line-height:15px}
.rightCilumTiteMiddel{ width:28%; margin-left:65%; padding-bottom:32px;}
.LeftCilumTiteMiddel{ float:left; width:60%; position:relative; left:3%; margin-bottom:32px;}
.LeftCilumTiteMiddel h3{margin-left:22px}
.BgMenuSpez{ background: url(../img/bgRightPix.gif) top right repeat; height:210px; margin-top:16px}
.insideBgSpez{margin:0 5% 0 43%; position:relative; top:16px}
.insideBgMenuSpez{ background-color:#0a1422;  padding:18px 0 14px 0; font:14px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; text-align:center}
.insideBgMenuSpez h1{ font:36px "Times New Roman", Times, serif; color:#FFFFFF; line-height:36px; }
.MenuSpezText{ font:12px Arial, Helvetica, sans-serif; color:#858a91; margin:12px auto 0  auto; width:100%}

.MiddelStandartBlok{
	padding: 0 30px;
	min-width: 1000px;
}
.MiddelLeft{
	display: inline-block;
	vertical-align: top;
	position:relative;
	width: 32%;
	min-width: 300px;
	margin-right: 1%;
}
.MiniIcins a{font:18px Arial, Helvetica, sans-serif; color:#d49503; text-decoration:none;}
.MiniIcins a:hover{ color:#FFFFFF}
.MiniIcins a img{margin-top:63px}

/*.MiddelRight{width:66%; margin-left:29%}*/
.MiddelRight{
	width: 66%;
	display: inline-block;
	vertical-align: top;
}
.cusockKatalog{ background:#ffffff url(../img/TOPduga.jpg) top center no-repeat; padding:62px 0 0px 0; position:relative; margin-top:5px; width:100%; float:left; margin-bottom:50px} 
.cusockKatalog .BotDuga{ width:100%; left:0; bottom:-1px; background:url(../img/botDuga.jpg) top center no-repeat; height:43px; float:left}
.cusockKatalog ul{background-color:#FFFFFF; width:90%; position:relative; margin:0 auto}
.cusockKatalog li{height:170px; float:left; position:relative; width:33%; margin:0;}
.cusockKatalog li a{ display:block; width:100px; height:150px; position:relative; margin:0 auto; text-align:center; text-decoration:none; background:url(../img/botMiniKat.gif) left bottom repeat-x; padding-bottom:5px;}
.cusockKatalog li a span{ color:#28528d; font:bold 12px Arial, Helvetica, sans-serif; width:150px; position:relative; margin:0 -25px; display:block; text-align:center; text-decoration:underline; cursor: pointer; height:16px; }
.cusockKatalog li a:hover span{ color:#ffb200}
.cusockKatalog li a span span{ margin:0; width:100%; position:absolute; left:0; bottom:0; height:auto}
.cusockKatalog li a font{ display:block; text-align:right; font:16px "Times New Roman", Times, serif; padding-right:3px; color:#000000;}
.cusockKatalog li a:hover{background:none; border-bottom:5px solid #ffb200; padding:0;}

.dopMenuFooter{height:70px; padding-top:43px}
.dopMenuFooter ul{width:90%; margin:0 auto; position:relative; left:5%}
.dopMenuFooter ul li{ float:left; width:25%; position:relative; margin:0 0 0 -1px;}
.dopMenuFooter a{font:18px Arial, Helvetica, sans-serif; color:#d49503; text-decoration:none;}
.dopMenuFooter a:hover{ color:#FFFFFF}

/*#Footer{ margin-left:29%; padding-top:60px; height:186px}*/
#Footer{ margin-left:430px; padding-top:60px; height:186px}
.footerMenu a{ padding-left:8px; background:url(../img/footerPixel.gif) left 6px no-repeat; font:11px Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; margin-right:10px; position:relative; left:-8px}
.footerMenu a:hover{ color:#ffb200}
.razdelFooter{margin-bottom:15px;}
.razdelFooter, { position:relative; width:100%; height:18px; background: url(../img/footerLine.gif) bottom left repeat-x; }
.razdelFooter .yellowLine {border-bottom:2px solid #ffb200;}
.razdelFooter div{ margin-bottom:-2px; left:-30px}
.chetchic{ padding:0 12px; position:relative; float:left; border:1px solid #545b65; height:44px; padding-top:14px;}
.chetchic a{margin:0 5px}
.schLeft{position:absolute; left:-5px; top:-1px}
.schRight{position:absolute; right:-1px; top:-1px;}
#Footer h3{ margin-bottom:25px}
.otdis{ float:right; position:relative; left:-6%; font:12px Arial, Helvetica, sans-serif; color:#FFFFFF; top:-7px; line-height:14px}
.otdis 	a{font:12px Arial, Helvetica, sans-serif; color:#ffb200}
.otdis 	a:hover{ color:#FFFFFF}
.otdis img{margin-top:10px;}

.RightColumTop{width:75%; float:right; position:relative; }
.RightTopPhone{ height:118px; border-bottom:10px solid #ffb200;}
.RightTopPhone .TopPhone{margin:0 0 0 -2px; padding-bottom:0; width:190px; text-align:center; position:absolute; left:4%; top:32px}


.creslo1{ background:url(../img/TopCkeslo1.jpg) 71% bottom  no-repeat}
.creslo2{ position:absolute; right: 1%; top:17px }

.topDugaCatalog{ background:#ffffff url(../img/TOPduga.jpg) top center no-repeat; padding-top:37px}
.menuInsideCatalog{text-align:center; margin:16px 0;}
.menuInsideCatalog a{color:#28528d; margin:0 15px}
.menuInsideCatalog a:hover{ color:#ffb200; }
.botDugaCatalog{ height:43px; background:url(../img/botDuga.jpg) top center no-repeat}
.blokCatalog {width:90%; position:relative; margin:0 auto; clear:both;}
.CatalogTopBord{ border-top:1px solid #848990; background:url(../img/katalogPixel.gif) left top repeat-x; padding-top:5px; position:relative;min-height:44px;}
*html .CatalogTopBord{height:44px;}

.catalogSpisok{position:relative;padding:0 8%; margin-top:80px;}
.catalogZagolovok{position:absolute; font:24px  "Times New Roman", Times, serif; color:#0a1422; left:0px; top:14px; }
.catalogSpisok li{ text-align:center; position:relative; height:210px; width:25%; float:left; position:relative; margin-left:-1px; left:4px; }
.catalogSpisok li.table {width:33%;}

.prod,.hit,.newest, .saleyar, .specialprice, .transyar, .deliveryar{font-size:10px; color:#FFFFFF;  padding:1px 5px; position:absolute; left:50%; margin-left:-20px; top:-25px;}
.hit{ background-color:#197b30;}
.hit span,.prod span, .newest span, .saleyar span, .specialprice span, .transyar span, .deliveryar span {position:absolute; left:20px; top:15px; width:5px; height:5px;}
.hit span{background:url(../img/hit.gif) top no-repeat}
.prod{background-color:#872d91;}
.prod span{background:url(../img/prod.gif) top no-repeat}


.catalogSpisok li a{display:block; width:100px; position:relative; margin:0 auto; text-align:center; text-decoration:none; background:url(../img/botMiniKat.gif) left bottom repeat-x; padding-bottom:5px; height:40px}
.catalogSpisok li a span{ color:#28528d; font:bold 12px Arial, Helvetica, sans-serif; width:150px; position:relative; margin:0 -25px; display:block; text-align:center; text-decoration:underline; cursor: pointer; height:16px; }
.catalogSpisok li a span span{ margin:0; width:100%; position:absolute; left:0; bottom:0; height:auto}
.catalogSpisok li a font{ display:block; text-align:right; font:16px "Times New Roman", Times, serif; padding-right:3px; color:#000000;}
.catalogSpisok li a:hover{background:none; border-bottom:5px solid #ffb200; padding:0;}
.catalogSpisok li img {cursor:pointer;}

.BekInCat{ position:relative;padding-bottom:0px; margin-left:15%; top:-10px}
.BekInCat a{font:14px Arial, Helvetica, sans-serif; color:#28528d; text-decoration:none; }
.BekInCat a:hover{ color:#ffb200}
.rightVizText{float:right; color:#000000; width:44%; right:5%; position:relative; padding-top:43px;padding-bottom:30px}
.rightVizText .green{color:#197b30}
.rightVizText h1 {
	display: inline;
	position:relative;
	left:-11px;
	margin-bottom:15px;
	padding-left:11px;
	/background:url(../img/pixel2.gif) left 13px no-repeat;
}
.rightVizText h1:before {
	content: '';
	position: absolute;
	display: block;
	left: -5px;
	top: 50%;
	margin-top: -3px;
	width: 5px;
	height: 5px;
	background-color: #7f7f7f;
}
.rightVizText .titleText span{font:bold 12px Arial, Helvetica, sans-serif; margin-left: 15px;}
.leftVisImg{ width:50%; text-align:center; padding-top:30px; padding-bottom:30px}
.selectPik{ /*margin:33px 0 0;*/ overflow: hidden; width: 410px; margin: 33px auto 0 auto; }
.selectPik li{ width:96px; height:100px; float:left; text-align:center; padding-top:6px; margin-right:6px; cursor:pointer}
.selectPik li.selekt{ background-image:url(../img/selectPik.gif); cursor:default}
.zena{ font:36px "Times New Roman", Times, serif; color:#000000; width:100%; float:left; padding-top:36px}
.zena span{ font-size:16px; }


.colorAndTextur{width:90%; margin:0 auto; position:relative; right:-4%; height:170px}
.colorAndTextur li{ width:74px; float:left; margin-right:30px; position:relative}
.colorAndTextur li .inpront{ display:block; height:72px; width:52px; margin:0 auto; padding-top:4px}
.colorAndTextur li .inpront a{ width:14px; height:16px; display:block; float:left; margin:0 1px 1px 1px}
.poisnenia{ color:#7f7f7f; font:12px Arial, Helvetica, sans-serif; width:100px !important; text-align:right; margin-right:20px !important;line-height:12px}
.poisnenia font{display:block; height:40px;font:12px Arial, Helvetica, sans-serif; margin-top:18px; line-height:12px}
.imgopron{ width:56px; height:56px; display:block; position:relative; position:absolute; left:0; top:0;  background-image:url(../img/ramka.png)}
.imgopron_arms{ width:56px; height:56px; display:block; position:relative; position:absolute; left:0; top:0;  background-image:url(../img/ramka_a.png)}
#vIzbrannoe{ position: relative; right:2%; float:right; top:-62px; color:#ffda83; font:24px "Times New Roman", Times, serif; width:217px; height:48px; background-image:url(../img/izbrannoe.png); padding:14px 0 0 2px; text-align:center; cursor:pointer; z-index:10; margin-bottom:-48px}
#vIzbrannoe span{position:absolute; left:46px; top:13px; color:#113c78}
#centerConent{ text-align:center; color:#848990; font:12px Arial, Helvetica, sans-serif; margin:0 217px; padding-top:16px; line-height:12px}

.SelectPerson{width:90%; margin:0 auto 24px auto;}
.NameCategori{ width:40%; float:left; text-align:right; padding-top:35px; padding-right:30px}
.NameCategori h1{color:#000000; padding-left:10px; background:url(../img/pixel3.gif) left 11px no-repeat; display:inline; font:24px "Times New Roman", Times, serif}
#rightSelektPerson{ width:55%; float:left; position:relative; margin-bottom:18px;}
#rightSelektPerson a{ margin:0 15px; position:relative; color:#28528d; font:12px/48px  Arial, Helvetica, sans-serif;}
#rightSelektPerson a:hover{color:#ffb200}
.rightSelektPersonTop{height:52px; border-bottom:1px solid #c1c3c7; float:left; position:relative; top:1px; clear:both }
#personBottum{ width:174px; height:43px; float:left; position:relative; margin:0px -12px 0 0px; background-image:url(../img/personal.png); left:-26px; font:24px "Times New Roman", Times, serif; color:#ffda83; padding:9px 0 0 40px;}
#personBottum span{ position:absolute; left:40px; top:8px; color:#113c78; width:174px}
/* fix 30.08.2012 .rightSelektPersonBot{height:55px; border-top:1px solid #c1c3c7; float:left; padding:0 3px 0 0; position:relative; clear:both; width:400px;}*/
.rightSelektPersonBot{height:55px; border-top:1px solid #c1c3c7; float:left; padding:0 3px 0 0; position:relative; clear:both; width:440px;}
.rightSelektPersonTop .ferst, .rightSelektPersonBot .ferst{margin-left:24px !important; font-size:14px !important}
.hrefWrapper a{font:18px bold Arial !important; }
.hrefWrapper a:visited{font:18px bold Arial !important;}

#menedgBottum{width:201px; height:43px; float:left; position:relative; margin:0px -12px 0 0px; background-image: url(../img/menedg.png); left:-22px; font:24px "Times New Roman", Times, serif; color:#ffda83; padding:12px 0 0 38px;}
#menedgBottum span{position:absolute; left:38px; top:11px; color:#113c78; width:203px;}

#izbrannoe{ text-decoration:none; color:#28528d; font:24px Arial, Helvetica, sans-serif;}
#izbrannoe u{ background:url(../img/poloska.gif) 2px 23px repeat-x; text-decoration:none}

/*Стили для контента CANT TOUCH THIS!!!*/
.content{ padding-top:30px}
.content a:hover{ color:#ffffff}
.content p, h1, h2, h3, h4, h5 {margin-top: 10px; margin-bottom:10px}
.content p + ul, p + ol{
			margin-top: 5px;
			margin-bottom: 15px;
			margin-left: 17px;
			list-style: circle;
			color: bisque;
}


#leftColumContent{ position:relative; width:34%; margin-right:-34%; left:-40%; float:left; top:3px; text-align: center}
#leftColumContent img{ margin-bottom:5px}
.contentFooterUzor{ height:30px; background:url(../img/contentFooterUzor.gif) bottom left repeat-x; top:20px; position:relative; margin:0 4% 0 20%}

.nwesYears{ position:relative; height:35px;top:-15px; margin-top:-33px; left:20px}
.nwesYears ul{ float:right; position:relative;}
.nwesYears ul li{ width:96px; padding-top:8px; height:24px; text-align:center; float:left;}
.nwesYears ul .nwesSell{ background-image:url(../img/nwesSel.gif); font-weight:bold; color:#FFFFFF}

.polosaRazdela{ background:url(../img/BgUzor.gif) top left repeat-x;position:relative; height:58px; margin-top:50px; width:106%; left:-6%; margin-right:-6%}

.standartForm td{height:56px; line-height:22px; vertical-align:top}
.standartForm input{ height:18px; padding:2px 3px 2px 3px; background:#FFFFFF url(../img/inputIn.gif) right top no-repeat; border:0; float:left; font:13px Arial, Helvetica, sans-serif}
.standartForm .mr{ width:2px; height:22px; float:left; display:block; background-image:url(../img/inputBifore.gif);}
.standartForm .bigtext{ width:448px; height:108px; padding:2px; border:0; background:#FFFFFF url(../img/bigText.gif) left top no-repeat; overflow:auto}
*html  .standartForm .bigtext{ background-attachment:fixed}
.send{ background:#ffb302 url(../img/send.gif) left top no-repeat; width:144px; height:45px; display:block; float:left; color:#ffd36c; font:24px "Times New Roman", Times, serif; text-decoration:none; padding:10px 0 0 33px; margin-top:16px; position:relative}
.send span{color:#113c78; position:absolute; top:9px; left:33px; cursor:pointer}

*html .ss, *html .im-left, *html .im-right, *html .pngFix,*html .creslo2,*html .imgopron,*html .imgopron_arms,*html #vIzbrannoe { behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",this.src = "../img/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",this.runtimeStyle.backgroundImage = "none")),this.pngSet=true));
}
.dopInfo{ width:253px; height:59px; padding:2px; border:0; background:#FFFFFF url(../img/dopInfo.gif) left top no-repeat; overflow:auto}
*html .dopInfo{ background-attachment:fixed}
 .bigtext{ width:448px; height:108px; padding:2px; border:0; background:#FFFFFF url(../img/bigText.gif) left top no-repeat; overflow:auto}
*html  .bigtext{ background-attachment:fixed}
.normal li{
margin-left:10px;
padding-left:10px;
}
.hiddenImage {display:none;}

a.active, a.active:visited {color:#fff;}

/* Style for invalid input */
.invalidInput{
	border:1px dotted #F00;
	background-color: #FFECE6;
}

/* Style for valid input */
.validInput{
	border: 1px dotted #FF0000;
}
#hint { position:absolute; border:1px solid #000;height:20px; background:#EEFFFF; color:#000000;}


/* added by Nova */
a.back-link { font-family: Tahoma, Geneva, sans-serif; font-size: 14px; color: #28528d; text-decoration: underline; background: url('../img/arleft.gif') no-repeat 0px 2px; padding-left: 20px; margin-left: 10%; }
a.back-link:hover { color: #000; }

.for-oder-content { position: relative; margin: 50px auto 0 auto; width: 70%; }
.order-block-place { position: relative; border: 1px solid #dadcde; background: url('../img/orderback.gif'); text-align: center; padding: 20px; }
.order-block-place h1 { font-family: "Times New Roman", Times, serif; font-size: 24px; color: #000000; margin-bottom: 20px; }
.order-block-place div.order-num { background: url('../img/ordernumback.gif') no-repeat center; width: 256px; height: 58px; position: relative; margin: 0 auto; line-height: 58px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #848990; font-weight: bold; }
.order-block-place div.order-num span { font-family: "Times New Roman", Times, serif; font-size: 24px; color: #000; }
.order-text { position: relative; margin: 30px auto 0 auto; width: 60%; }
.order-text p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000; }
a.index-link { height: 40px; line-height: 40px; display: block; width: 100px; background: url('../img/indexlink.gif') no-repeat 0px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #113c78; padding-left: 50px; }

.im-left { float: left; }
.im-right { float: right; }

.cart-top { width: 158px; position: absolute; height: 86px; top: 16px; right: 2%; }
.cart-top-sub { height: 86px; left: 40%; position: absolute; top: 16px; min-width: 100%;}

.cart-content { float: left; background: url('../img/cart-back.gif') repeat-x; height: 86px; padding: 20px 5px 0 5px; }
.cart-content a.cart-title { font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; color: #FFF; }
.cart-content a.cart-title:hover { color:#ffb200; }
.cart-content p { font-family: "Times New Roman", Times, serif; font-size: 14px; color: #858a91; font-weight: normal; padding-bottom: 2px; }
.cart-content p span { color: #FFF; font-weight: bold; }

.cart-table { position: relative; margin-top: 35px; }
tr.cart-table-m td { border-bottom: 1px solid #f2f2f2; border-top: 1px solid #bfbfbf; padding: 10px 10px; }
tr.cart-table-m td a { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #28528d; font-weight: bold; }
tr.cart-table-m td a:hover { color: #ffb200; }
tr.cart-table-m td table td{ border:none; padding:0;}
td.ct-title { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #848990; line-height: 35px; height: 35px; }
.l-space { width: 10px; font-size: 0px; line-height: 0px; }
.cart-description { font-family: "Times New Roman", Times, serif; font-size: 12px; color: #848990; font-weight: bold; padding-top: 9px; padding-left: 7px; float: left; }
.cart-description span { font-size: 14px; color: #000; font-weight: normal; }
.cart-cost { font-family: "Times New Roman", Times, serif; font-size: 14px; color: #000; }
.cart-cost span { font-size: 24px; }
.cart-input { color: #000; }
.cart-input input { width: 20px; border-left: 1px solid #404040; border-top: 1px solid #404040; border-bottom: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0; }
tr.cart-table-m td.l-bor { width: 10px; padding: 0; border: 0; }
tr.cart-table-m td.r-bor { width: 10px; padding: 0; border: 0; }
.cart-calc { padding-top: 5px; text-align: center; height: 20px;}
.cart-calc a { color: #28528d; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 12px; } 
.cart-calc a:hover { color: #ffb200; }

tr.cart-table-m td.cost-itog { text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #848990; font-weight: bold; border-right: 0;}
tr.cart-table-m td.cost-itog span.cost { font-family: "Times New Roman", Times, serif; font-size: 36px; color: #000; }

a.goback-link { height: 40px; line-height: 40px; display: block; background: url('../img/indexlink.gif') no-repeat 0px 0px; font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #113c78; padding-left: 50px; margin-top: 20px; }
a.goback-link:hover { color: #ffb200; } 
#clast { border-right: 0px; }

.button-order-select { height: 58px; line-height: 58px; font-family: "Times New Roman", Times, serif; font-size: 30px; color: #000; margin-right: 15px; }
.button-order-select div { background: url('../img/orb1.gif') no-repeat left; float: left; padding: 0 5px 0 20px; }
.button-order { height: 58px; line-height: 58px; padding: 0 20px 0 0px; }
.button-order a { font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #113c78; }
.button-order a:hover { color: #ffb200; }

.tab-or-title { width: 25%; color: #0a1422; font-size: 12px; font-family: Arial, Helvetica, sans-serif; text-align: left; padding: 15px 0; }
.tab-or-form { text-align: left; font-size: 14px; font-family: Arial, Helvetica, sans-serif; color: #0a1422; }
.tab-or-form input, .tab-or-form file, .tab-or-form select, .tab-or-form textarea { background-color: #FFF; border-left: 1px solid #404040; border-top: 1px solid #404040; border-bottom: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0a1422; padding: 2px; }
.p-code { float: left; text-align: center; font-size: 10px; color: #848990; }
.cost-or { font-family: "Times New Roman", Times, serif; font-size: 18px; color: #000; text-align: left; }
.cost-or span { font-size: 36px; font-weight: bold; }



.select-block-mat { position: relative; display: block; border: 1px solid #bfbfbf; min-height: 64px; -height: 64px; clear:both;}
.select-block-mat img.sc1 { position: absolute; left: -1px; top: -1px; }
.select-block-mat img.sc2 { position: absolute; right: -1px; top: -1px; }
.select-block-mat img.sc3 { position: absolute; left: -1px; bottom: -1px; -bottom: -2px; }
.select-block-mat img.sc4 { position: absolute; right: -1px; bottom: -1px; -bottom: -2px; }

ul.sel-tabs { margin: 0; -margin: 0 0 5px 0; padding: 5px; overflow: hidden; }
ul.sel-tabs li { float: left; width: 85px; -width: 90px; height: 60px; text-align: center; position: relative; }
ul.sel-tabs li label { float: left; padding: 4px 0 0 9px; cursor: pointer; }
ul.sel-tabs li label img.ss { position: absolute; }
ul.sel-tabs li input { margin: 22px 0 0 0; -margin-top: 20px; padding: 0px 0 0 0; }
ul.sel-tabs li.selected { background: url('../img/sel-select.gif') no-repeat center; }

ul.sel-tabs2 { margin: 0; -margin: 0 0 5px 0; padding: 5px; overflow: hidden; }
ul.sel-tabs2 li { float: left; width: 70px; height: 60px; text-align: center; position: relative; }
ul.sel-tabs2 li img { float: left; padding: 4px 0 0 9px; cursor: pointer; }
ul.sel-tabs2 li img.ss { position: absolute; top: 0; left: 0; -left: 9px; -top: 4px; }


.sel-t-variants { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #848990; font-weight: bold; margin: 0; padding: 0 0 10px 15px; }
h3.sel-t { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #848990; font-weight: bold; margin: 0; padding: 0 0 10px 15px; }
.ar-sel { margin-left: 30px; margin-top: -1px; position: absolute; }
.sel-zena { font-family: "Times New Roman", Times, serif; font-size: 14px; color: #848990; padding-left: 15px; }
.sel-zena span { font-size: 24px; font-weight: bold; color: #000; }

.one-sel { width: 110px; min-height: 85px; background: url('../img/one_sel.gif') no-repeat left top; float: left; margin-right: 22px; margin-bottom:22px; position: relative; }
.one-sel.selected { width: 110px; min-height: 85px; background: url('../img/one_sel_select.gif') no-repeat left top; float: left; margin-right: 22px; position: relative; }
.one-sel label, .one-sel-select label { float: left; padding: 10px 0 0 16px; cursor: pointer; }
.one-sel label img.ss, .one-sel-select label img.ss { position: absolute; }
.one-sel input, .one-sel-select input { margin: 28px 0 0 4px; -margin: 24px 0 0 0; padding: 0px 0 0 0; cursor: pointer; }
.one-sel div.sel-zena, .one-sel-select div.sel-zena { margin-top: 45px; }

.one-sel2 { width: 110px; min-height: 85px; background: url('../img/one_sel.gif') no-repeat left top; float: left; margin-right: 22px; position: relative; }
.one-sel2 img { padding: 10px 0 0 23px; cursor: pointer; }
.one-sel2 img.ss { position: absolute; top: 0; left: 0; -left: 23px; -top: 10px; }
.one-sel2 div.sel-zena { margin-top: 22px; }


.incart { background: url('../img/incartb1.gif') no-repeat left; height: 86px; display: block; position: relative; }
.incart-button { position: absolute; right: 7px; top: 14px; }
.zena-incart { position: absolute; left: 8px; top: 20px; width: 140px; font-family: "Times New Roman", Times, serif; font-size: 18px; color: #000000; text-align: center; }
.zena-incart span { font-size: 36px; font-weight: bold; }
.form-amount { position: absolute; left: 160px; top: 31px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000; }
.form-amount input { background-color: #FFF; border-left: 1px solid #404040; border-top: 1px solid #404040; border-bottom: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0a1422; padding: 2px; width: 20px; }

.ajax_submit_button{ display: block; width: 175px; height: 60px; background: url(/img/incart_button.gif); }
.ajax_submit_button:hover{ background: url(/img/incart_button_o.gif); }

.incart2 { background: url('../img/incartb11.gif') no-repeat right; height: 86px; display: block; position: relative; }
.incart-phone { position: absolute; right: 20px; top: 25px; font-family: "Times New Roman", Times, serif; font-size: 30px; color: #000000; }
.tophone { position: absolute; left: 12px; top: 30px; font-family: "Times New Roman", Times, serif; font-size: 18px; color: #000000; }
#Recalc {color:#848990; display:none;}
img.hidden {display:none;}
.errorMessage {color:red;}
img.ss {position:absolute;}
/* чтобы в IE label работал */
li.selectable label span,li.selectable_p label span, div.selectable label span  {position:absolute;left:0; top:0; width:54px; height:54px;background: url(../img/_ss2.png) no-repeat -5000px;}

#sortCat { margin: 10px auto; text-align: right; color: #777; float: right; font-size: 80%; }
#sortCat span, #sortCat a { padding: 2px; margin: 0px 4px; }
#sortCat a.sel { color: #FFB200; font-size: 110%; font-weight: bold; }
#sortCat a:hover { color: #28528D; text-decoration: none; }
.pro{
		height: 90px;
        width: 270px;
        display: inline-block;
}
.tableWrap{
        width: 100%;

        color: #000;
        margin-bottom: 13px;
}
.tableWrap td{
        padding: 5px 0 20px;
        width: 33.3%;
        text-align: center;
        vertical-align: top;
}
.tableWrap td:first-child{
        text-align: left;
}
.tableWrap td:last-child{
        text-align: right;
}
.proPic{
        float:left;
        position: relative;
        width: 120px;
        height: 85px;
        text-align: center;
        overflow: hidden;
        margin-right: 10px;
}
.proPic img {
	width: 100%;
	min-height: 100%;
}
.proInfo{
        /*background: url("/images/proBord.png") repeat-x scroll 0 100% transparent;*/
        color: #000000;
        font-family: "Times New Roman",Times,serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 17px;
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        height: 85px;
}
.proInfo a{
        color: #28528D;
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        font-weight: bold;
}
.proInfo a:hover{
        text-decoration: none;
}
.proWrap{
        padding-top: 43px;
}
/* new_labels style */
.servicesInfo{
        margin: 0 auto;
        overflow: hidden;
        padding-bottom: 5px;
        padding-top: 46px;
        position: relative;
        width: 98%;
}
.servicesInfoItem{
        float: left;
        width: 49%;
        height: 80px;
        color: #000;
        font-size: 11px;
        line-height: 16px;
        text-align: left;
        padding-bottom: 20px;
}
.servicesInfoItem i{
        display: block;
        padding-right: 5px;
        font-style: normal;
        margin-left: 88px;
        padding-top: 16px;
}
.servicesInfoItem span{
        display: inline-block;
        width: 81px;
        height: 81px;
        float: left;      
        overflow: hidden;
}
.servicesInfoItem span img{
        vertical-align: top;
}

/* new style 23,11,2012*/
.delivery-box{
    position:relative;
    padding:55px 0 56px;
    margin:37px 0 0;
}
.delivery-box .head{
    position:relative;
    height:53px;
    margin-top:-53px;
    background:url("/new/delry-top-middle.png") repeat-x;
}
.delivery-box .head-left{
    position:absolute;
    left:0; top:0;
    width:50%; height:53px;
    background:url("/new/delry-top-left.png") no-repeat;
}
.delivery-box .head-right{
    position:absolute;
    right:0; top:0;
    width:50%; height:53px;
    background:url("/new/delry-top-right.png") no-repeat right top;
}
.delivery-box .footer{
    position:relative;
    height:31px;
    margin-bottom:-31px;
    background:#fff;
}
.delivery-box .footer .footer-left{
    position:absolute;
    left:0; top:0;
    width:50%; height:31px;
    background:url("/new/delry-bottom-left.png") no-repeat;
}
.delivery-box .footer .footer-right{
    position:absolute;
    right:0; top:0;
    width:50%; height:31px;
    background:url("/new/delry-bottom-right.png") no-repeat right top;
}
.delivery-box .body{
    font:12px "Arial";
    color:#0a1422;
    padding:6px 49px 6px 68px;
    background:#fff;
}
.columns{
    overflow:hidden;
}
.columns .w-25{
    float:left;
    width:24.9%;
}

.columns .w-25 .padding{
    position:relative;
    padding-right:15px;
}
.columns .w-25 .padding .pr img{
    width:100%;
}
.delivery-box .text{
    padding:15px 19px;
    line-height:18px;
}
.delivery-box hr{
    display:block;
    border:none;
    padding:0;
    height:3px;
    background:url("/new/hr.png") repeat-x;
}
.delivery-box small{
    line-height:17px;
}
.delivery-box small, .delivery-box .gray{
    color:#757779;
}
.delivery-box .green{
    color:#298500;
}
.delivery-box .show-to-ydx{
    font-size:11px;
    color:#28528d;
}
.delivery-box .metro{
    margin-bottom:-6px;
}
.moneybg-box{
    position:relative;
    margin:14px 0 11px -11px;
    border:1px solid #34aa00;
    background:url("/new/moneybg.png") no-repeat right center #e8f7e3;
    padding:5px 11px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    border-radius:10px;
}
.delivery-box .hand{ margin-bottom:-6px;}
.delivery-box .warn{
    margin-left:-20px;
    padding-left:20px;
    background:url("/new/warn.png") no-repeat 5px 4px;
}
.delivery-box .warn b{
    display:block;
    margin:0 0 2px;
}
.delivery-box h6{
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    -khtml-transition:all .5s;
    transition:all .5s;
    position:absolute;
    left:20px; bottom:17px;
    font:300 24px/24px "Times", sans-serif;
}
.pr{
    position:relative;
}
@media screen and (max-width: 1200px){
    .delivery-box h6{
        font:300 20px/20px "Times", sans-serif;
    }
}
/*end new style 23,11,2012*/

.hit1 {position: relative; overflow: hidden; top: 60px; left: -650px; background: url('../img/green_hits_bg.png'); width: 151px; height: 30px;}
.hit2 {position: relative; overflow: hidden; top: -10px; text-align: center;}
.paginator{ margin: 10px auto; display: block; }
.paginator li{ display: inline-block; margin: 0 2px 0 0; }
.paginator li a, .paginator li span { display: block; padding: 8px 10px; }
.paginator li a:hover { background: #fffbbf; }
.paginator li span.active { background: #0A1422; color: #FFB200; }


.serp-item{
	margin: 30px auto;
}

.serp-item .content{
	padding: 0;
	margin: 5px;
	
}
.serp-item .thumb{
	display: block;
	float: left;
	margin: 0 15px 15px 0;
}
.hide {
    display: none;
}

/* table-filters */
.filter-toggler:not(.active){
	color: #ffb200;
	border-bottom: 1px dashed #ffb200;
	cursor:pointer;
}
.hidden{
	display:none;
}
.filter-toggler:not(.active):hover{
	border-bottom: none;
}
.table-filter-item-left{
	width:78px;
	float:left;
	padding-top:6px;

}
.table-filter-item-right{
/* 	width:342px; */
	margin-left: 78px;
	/*float:right*/
}
.table-filter-item-right a:not(.entire-reset),.table-filter-item-right span{
 text-transform: lowercase;
}
.table-filter-item-right a, .table-filter-item-right span:not(.table-color){
padding: 6px;
display: inline-block;
}
.table-filter-item{
	margin-top:20px;
	margin-bottom:15px;
}
.tables-filter{
	width:420px;
	font-size: 13px;
}

.table-filter-item-right a.active,.table-filter-item-right span.active{
	background:#2c3c55;
	text-decoration: none;
	color:#fff;
	border-radius:6px;
}

.t-color-1{
	background-position: 0px 0px;
}
.t-color-2{
	background-position: -25px 0px;
}
.t-color-3{
	background-position: -50px 0px;
}
.t-color-4{
	background-position: -75px 0px;
}
.t-color-5{
	background-position: -100px 0px;
}
.t-color-6{
	background-position: -125px 0px;
}
.t-color-7{
	background-position: -150px 0px;
}
/*second*/
.t-color-8{
	background-position: 0px -25px;
}
.t-color-9{
	background-position: -25px -25px;
}
.t-color-10{
	background-position: -50px -25px;
}
.t-color-11{
	background-position: -75px -25px;
}
.t-color-12{
	background-position: -100px -25px;
}
.t-color-13{
	background-position: -125px -25px;
}
.t-color-14{
	background-position: -150px -25px;
}

.entire-reset{
	margin-bottom: 6px;
	
}

.table-filter-item-right .table-color{width: 19px;
margin-left: 2px;
height: 18px;
background-image: url(../img/iconSprite-new.png);
display: inline-block;
vertical-align: middle;
}

.b-colors .table-color {
width: 18px;
margin-left: 2px;
height: 18px;
background-image: url(../img/iconSprite-new.png);
display: inline-block;
vertical-align: middle;
}

.table-filter-item-right .reset-table-filter{
text-decoration: none;
font-weight: bold;
font-size: 14px;
line-height: 1px;
margin-top: 0px;
width: 8px;
padding: 5px 2px 6px 2px;
}
.table-filter-item-right .reset-table-filter:hover{
	background: #ffb200;
color: #fff;

}
.divh3{
	margin: 15px 0 30px;
font: 24px/1.4 "Times New Roman";
}
.searched-price{
	font-size:18px;
}

/* #99821 23.12.2015 by N.lubov */
tr.cart-table-m td:first-child {
	border-left: 1px solid #bfbfbf;
}

tr.cart-table-m td:last-child {
	border-right: 1px solid #bfbfbf;
}
tr.cart-table-m td.cost-itog {
	border: none;
	padding-bottom: 40px;
}
td.ct-title {
	padding-left: 10px;
}
.cart-tr-gr td {
	background: #f9f9f9;
	color: #000;
	padding: 10px;
	border-bottom: 1px solid #bfbfbf;
}
.cart-tr-gr td input {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.cart-tr-gr td label {
	cursor: pointer;
}

tr.cart-tr-gr td:first-child {
	border-left: 1px solid #bfbfbf;
}

tr.cart-tr-gr td:last-child {
	border-right: 1px solid #bfbfbf;
}
tr.cart-table-m td.cost-itog span.text {
	position: relative;
	margin-right: 10px;
} 
tr.cart-table-m td.cost-itog span.text:after {
	position: absolute;
	left: 0;
	top: 19px;
	content: "Цены указаны с учётом НДС";
	color: #7f7f7f;
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
}
.CatalogSlider {
	border: 1px solid #e9e9e9;
	position: relative;
	margin-bottom: 20px;
}

.CatalogSlider .catalogZagolovok {
	left: 30px;
	top: 7px;
	font-size: 20px;
}

.CatalogSlider .proWrap {
	padding-top: 55px;
}



.jcarousel-wrapper {
    margin: 0 30px 20px;
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    background: url(/img/slider-nav.png) 0 0 no-repeat;
    top: 50%;
    margin-top: -12px;
    width: 38px;
    height: 25px;
    color: #000;
    text-decoration: none;
    text-align: center;
    font: 21px/23px Arial, sans-serif;
}

.jcarousel-control-prev:hover,
.jcarousel-control-next:hover {
	background-position: 0 -31px;
}

.jcarousel-control-prev {
    left: -49px;
    text-indent: -3px; 
}

.jcarousel-control-next {
    right: -49px;
    text-indent: 3px; 
}

.basket-btn {
	display: none;
}

.pro:hover {
	cursor: pointer;
}

.pro:hover .basket-btn {
	display: block;
}

.basket-btn a {
	margin-top: 20px;
	display: block;
	width: 90px;
	height: 30px;
	background: url(/img/basket-btn.png);
}

.basket-btn .submitProduct {
	margin-top: 20px;
	display: block;
	width: 90px;
	height: 30px;
	background: url(/img/basket-btn.png);
	border: none;
}

.proInfo a {
	font-size: 12px;
	font-weight: normal;
}

.proPrice {
	font-family: Arial;
	color: #0a1422;
	font-size: 16px;
}

.CatalogOrderForms {
	margin: 40px 0;
	background-color: white;
	border: 1px solid #d4d4d4;
	box-shadow: 0 0 10px #e3e3e3;
	padding-top: 5px;
	color: #000;
}

.catalog-forms-wrap {
	background-color: white;
	border-top: 1px solid #d4d4d4;
	box-shadow: 0 0 10px #e3e3e3;
	padding: 0 20px 30px;
	position: relative;
}

.CatalogOrderForms .catalogZagolovok {
	position: relative;
	top: 0;
}

.order-info {
	position: absolute;
	right: 20px;
	top: 18px;
	color: #7f7f7f;
	font-size: 13px;
}

.order-info .num, .order-info .date {
	display: inline-block;
	margin-left: 30px;
}

.CatalogOrderForms .tabs {
	margin: 30px 0;
}

.CatalogOrderForms .tab {
	display: inline-block;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	width: 170px;
	background-color: white;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-align: center;

}

.CatalogOrderForms .tab.active {
	-webkit-box-shadow: 0 1px 5px #c7c7c7;
	-moz-box-shadow: 0 1px 5px #c7c7c7;
	box-shadow: 0 1px 5px #c7c7c7;
}

.CatalogOrderForms .tab span {
	color: #7f7f7f;
	border-bottom: 1px dashed #7f7f7f;
}

.CatalogOrderForms .tab.active span {
	border-bottom-color: transparent;
	color: #de9000;
	font-weight: bold;
}

.tab-content-jur {
	display: none;
}

.form .f-row {
	margin: 0 -15px;
}

.form .f-row:after {
	content: '';
	display: block;
	clear: both;
}

.form .f-col-33 {
	width: 33.33333333333%;
	padding: 0 15px;
	margin-bottom: 30px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .f-col-100 {
	width: 100%;
	padding: 0 15px;
	margin-bottom: 30px;

	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .col-mg {
	padding: 10px 0 0;
}

.form .col-mg-lg {
	padding: 50px 0 0;
}

.form label {
	display: block;
	color: #28528d;
	font-weight: bold;
	margin-bottom: 7px;
}

.form .label-note {
	font-weight: normal;
	display: block;
}

.form .required {
	color: red;
}

.form input[type="text"] {
	width: 100%;
	height: 30px;
	padding: 0 10px;
	border: 1px solid #d4d4d4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .delivery-cost, .form .delivery-cost-jur {
	position: absolute;
	color: #404040;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	margin-top: 5px;
	margin-left: 10px;
}

.form .input-file {
	height: 30px;
	padding: 5px 10px;
	border: 1px solid #d4d4d4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form input:focus {
	border: 1px solid #c4c4c4;
}

.form .cost-wrap {
	margin-top: 27px;
	position: relative;
	color: #7f7f7f;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
}

.tab-content-jur .cost-wrap {
	margin-top: 77px;
}

.form .cost {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	color: #000;
	display: inline-block;
	margin-left: 10px;
}

.form .note {
	display: inline-block;
	margin-top: -42px;
	color: #717171;
	font-family: Arial;
	font-size: 12px;
	font-style: italic;
	line-height: 20px;
	width: 66.66666666666%;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .select-style {
	padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 100%;
    height: 30px;
    background: #fff
    overflow: hidden;
    position: relative;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .select-style:after {
	content: "▼";
	position: absolute;
	right: 10px;
	top: 9px;
	font-size: 10px;
	color: #646464;
}

.form .select-style select {
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
            cursor: pointer;
}

.form .select-style select:focus {
    outline: none;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.productCard {
	margin-top: 40px;
	color: #000;
}

.productCard:after {
	display: block;
	content: '';
	clear: both;
}

.productCardLeft {
	float: left;
	width: 50%;
	position: relative;
}

.productCardRight {
	float: right;
	width: 50%;
}

.productCardRight h1 {
	display: inline-block;
	margin-right: 10px;
}

.productCardRight .cardOptions {
	display: inline-block;
}

.productCardRight .sborka {
	display: inline-block;
	margin-right: 10px;
	color: #858a91;
}

.productCardRight .ico-sborka {
	width: 16px;
	height: 16px;
	background: url(../newImg/catalog-sprite.png) 0 0 no-repeat;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: -3px;
}

.productCardRight .green {
	color: #197b30;
	font-weight: bold;
}

.fabricBlock {
	margin: 30px 0;
}

.fabricBlock .title {
	margin-bottom: 30px;
	color: #ffb200;
	font-family: Arial;
	font-size: 13px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
}

.cartBlock {
	margin-top: 50px;
	padding: 10px;
	position: relative;
	background-color: #ffc745;
}

.cartBlock:after {
	display: block;
	clear: both;
	content: '';
}

.cartPriceBlock {
	position: relative;
	background: #fff;
	width: 63%;
	float: left;
}

.cartPrice {
	display: inline-block;
	padding: 10px;
	color: black;
	font-size: 20px;
	font-weight: 700;
	vertical-align: top;
}

.cartPrice span {
	font-size: 26px;
}

.cartPrice a {
	display: inline-block;
	margin-top: 5px;
	color: #28528d;
	font-size: 13px;
	font-weight: 400;
	text-decoration: none;
	border-bottom: 1px dashed #28528d;
}

.cartPrice a:hover {
	border-bottom: 1px dashed transparent;
}

.cartAmount {
	display: inline-block;
	padding: 17px 10px 10px 10px;
	vertical-align: top;
}

.cartAmount input {
	background-color: white;
	border: 1px solid #eaeaea;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	padding: 10px 5px;
	width: 55px;
	height: 40px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cartAmount input.error {
	border: 1px solid #c33;
}

.cartAmount span.minus {
	display: block;
	float: left;
	width: 25px;
	height: 38px;
	margin-top: 1px;
	background-color: #efefef;
	-webkit-border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
	line-height: 38px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	color: #aaa;
	font-family: Arial;
	font-size: 15px;
	cursor: pointer;
}

.cartAmount span.plus {
	display: block;
	float: left;
	width: 25px;
	height: 38px;
	margin-top: 1px;
	background-color: #efefef;
	-webkit-border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	border-radius: 0px 3px 3px 0px;
	line-height: 38px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	color: #aaa;
	font-family: Arial;
	font-size: 15px;
	cursor: pointer;
}

.cartAmount span:hover {
	background-color: #eaeaea;
}

.cartBtnsBlock {
	position: relative;
	width: 37%;
	padding-left: 10px;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}

.cartBtnsBlock .ajax_submit_button {
	width: 100%;
	height: 50px;
	
	background: rgba(255,185,0,1);
	background: -moz-linear-gradient(top, rgba(255,185,0,1) 0%, rgba(245,168,13,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,185,0,1)), color-stop(100%, rgba(245,168,13,1)));
	background: -webkit-linear-gradient(top, rgba(255,185,0,1) 0%, rgba(245,168,13,1) 100%);
	background: -o-linear-gradient(top, rgba(255,185,0,1) 0%, rgba(245,168,13,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,185,0,1) 0%, rgba(245,168,13,1) 100%);
	background: linear-gradient(to bottom, rgba(255,185,0,1) 0%, rgba(245,168,13,1) 100%);	


	box-shadow: 0 -1px 8px #eb9500, inset 0 -2px 0 rgba(196, 103, 0, 0.41);
	
	color: #0a1422;
	font-family: Arial;
	font-size: 13px;
	font-weight: 700;
	line-height: 16px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.cartBtnsBlock .ajax_submit_button:hover {
	background: rgba(252,194,58,1);
	background: -moz-linear-gradient(top, rgba(252,194,58,1) 0%, rgba(242,173,36,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,194,58,1)), color-stop(100%, rgba(242,173,36,1)));
	background: -webkit-linear-gradient(top, rgba(252,194,58,1) 0%, rgba(242,173,36,1) 100%);
	background: -o-linear-gradient(top, rgba(252,194,58,1) 0%, rgba(242,173,36,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,194,58,1) 0%, rgba(242,173,36,1) 100%);
	background: linear-gradient(to bottom, rgba(252,194,58,1) 0%, rgba(242,173,36,1) 100%);
	
	box-shadow: 0 -1px 8px #ffb22a, inset 0 -2px 0 rgba(197, 141, 0, 0.41);
}

.cartFormLink {
	display: inline-block;
	margin-top: 10px;
	color: #0e1d31;
	font-family: Arial;
	font-size: 13px;
	font-weight: 700;
	line-height: 16px;
	text-align: center;
	text-decoration: underline;
}

.cartBlock + p {
	margin-top: 10px;
	color: #858a91;
	font-size: 13px;
	font-style: italic;
	line-height: 16px;
}

.hidden-form {
	display: none;
	background: #fff;
	border: 2px solid #eee;
	position: absolute;
	padding: 15px;
	top: -10px;
	left: 0;
	width: 240px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(238,238,238,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(238,238,238,1);
	box-shadow: 0px 0px 10px 0px rgba(238,238,238,1);
}

.hidden-form .form .f-col-100 {
	margin-bottom: 20px;
}

.hidden-form .form {
	margin-top: 20px;
}

.hidden-form .title {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 15px;
}

.productTabs {
	color: #000;
}

.orange-btn {
	background: #fdb502;
	margin: 0 -5px;
	border: none;
	padding: 0;
	height: 50px;
	margin-bottom: 5px;
	width: calc(100% + 10px);
	border-radius: 10px 10px 10px 10px / 50px 50px 50px 50px;
	
	text-shadow: 0 1px 0 rgba(196, 103, 0, 0.45);
	color: white;
	font-family: Arial;
	font-size: 15px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	
	cursor: pointer;
}

.orange-btn:hover, .hidden-form-close:hover {
	background: #F2AD24;
}

.hidden-form-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 44px;
	height: 34px;
	background-color: #ffb200;
	border-radius: 20px 20px 20px 20px / 50px 50px 50px 50px;
	
	color: white;
	font-size: 18px;
	line-height: 34px;
	text-align: center;
	
	cursor: pointer;
}

.productTabs .b-prodProp-tabs:after {
	background-color: #eeeeee;
}

.productTabs .b-prodProp-tabs .b-item:before,
.productTabs .b-prodProp-tabs .b-item:after {
	display: none;
}

.productTabs .b-prodProp-tabs .b-item {
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: #424141;
	border: none;
	background: none;
	margin-left: 0;
	margin-right: 20px;
}

.productTabs .b-prodProp-tabs .b-item:hover,
.productTabs .b-prodProp-tabs .b-item.active {
	border-bottom: 4px solid #ffb200;
}

.productTabs .b-prodProp-panes .b-item {
	font-size: 13px;
	line-height: 20px;
}

.productTabs .b-addReview-link,
.productTabs .b-addReview-form input[type=submit] {
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	border: none;
	width: 235px;
	padding: 10px 0;
	background: #ffb200;
	height: auto;
	margin: 20px 0;
}

.productTabs .b-addReview-link:hover,
.productTabs .b-addReview-form input[type=submit]:hover {
	background: #ffbf29;
}

.productTabs .b-addReview-link.active {
	color: #fff !important;
	background-color: #ffbf29;
}

.productTabs .b-addReview-link:before {
	display: none;
}

.productTabs .b-sertList li {
	text-align: center;
}

.productTabs .b-sertList span {
	display: block;
	margin-top: 5px;
	font-weight: bold;
}

.productTabs .errors {
	color: #ff533c;
}

.productTabs .b-prodProp .b-review {
	background: none;
	padding: 35px 0;
	border: none;
	border-bottom: 1px solid #eeeeee;
}

.productTabs .b-review {
	display: table;
}

.productTabs .b-review .b-name {
	display: table-cell;
	width: 170px;
}

.productTabs .b-review .b-text {
	display: table-cell;
}

.productTabs .b-review .b-name {
	font-weight: 700;
}

.productTabs .b-review .b-name .time {
	display: block;
	font-weight: 400;
	margin-top: 2px;
	text-decoration: none;
}

.productTabs .b-addReview {
	width: 670px;
}

.productTabs .b-addReview .b-rightText {
	width: 320px;
}

.advBlock {
	margin: 40px 0;
	padding: 20px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	display: table;
}

.advItem {
	position: relative;
	padding-left: 40px;
	padding-right: 10px;
	width: 25%;
	color: #858a91;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
	height: 32px;
	display: table-cell;
}

.advItem span {
	vertical-align: middle;
	display: inline-block;
}

.icon-adv-1,
.icon-adv-2,
.icon-adv-3,
.icon-adv-4 {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;	
	background: url(../newImg/catalog-sprite.png) 0 0 no-repeat;
	width: 30px;
	height: 30px;
}

.icon-adv-1 {
	background-position: 0 -41px;
}

.icon-adv-2 {
	background-position: 0 -103px;
	width: 32px;
}

.icon-adv-3 {
	background-position: 0 -160px;
	width: 32px;
}

.icon-adv-4 {
	background-position: 0 -206px;
	height: 36px;
}

.prodAdv {
	margin: 50px 0 20px;
}

.prodAdvItem {
	float: left;
	width: 50%;
	display: table;
	margin-bottom: 20px;
}

.prodAdvItem .pic {
	display: table-cell;
	width: 60px;
	text-align: center;
}

.prodAdvItem .pic img {
	max-width: 100%;
	display: inline-block;
}

.prodAdvText {
	padding-left: 10px;
	padding-right: 20px;
	display: table-cell;
	vertical-align: middle;
}

.prodAdvText a {
	color: #28528d;
}

.prodAdvText .small {
	display: block;
	margin-top: 5px;
	color: #858a91;
	font-size: 11px;
}


.materialBlock .select-block-mat{
	border: none;
}

.materialBlock ul.sel-tabs {
	padding: 0;	
}

.materialBlock ul.sel-tabs li {
	width: auto;
	height: auto;
	margin-right: 10px;
	margin-bottom: 10px;
}

.materialBlock ul.sel-tabs li input[type="radio"] {
	display: none;
}

.materialBlock ul.sel-tabs li label {
	width: 104px;
	height: 90px;
	
	padding: 10px 5px 5px;
	border: 1px solid #f0f0f0;
}

.materialBlock ul.sel-tabs li.selected {
	background: none;
	
}

.materialBlock ul.sel-tabs input[type="radio"]:checked + label {
	border: 1px solid #ffb200;
}

.materialBlock ul.sel-tabs li label .colorName {
	margin-top: 3px;
	color: #64686d;
	font-size: 11px;
	font-weight: 400;
	line-height: 14px;
}

.materialBlock .materialName {
	color: #858a91;
	margin-right: 10px;
}

.materialBlock  .materialPrice {
	margin-right: 10px;
	font-size: 18px;
	font-weight: bold;
}

.materialBlock  .materialOldPrice {
	margin-right: 10px;
	font-size: 18px;
	color: #000;
	text-decoration: line-through;
}

.materialBlock  .b-priceBlock-descr {
	margin-top: -2px;
}

.materialBlock .b-priceBlock {
	margin: 30px 0 10px; 
}

.materialBlock .b-priceBlock span {
	display: inline-block;
	margin-bottom: 10px;
}

.concCarousel .b-header,
.prodCarousel .b-header {
	margin: 0px 0 20px;	
	color: #424141;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	line-height: 13px;
	text-transform: uppercase;
}

.prodCarousel .b-header {
	margin: 40px 0;
	color: #424141;
	font-family: Arial;
	font-size: 16px;
	font-weight: 700;
	line-height: 13px;
	text-align: left;
	text-transform: uppercase;
	text-align: center;
}

.prodCarousel .jcarousel-control-prev, .prodCarousel .jcarousel-control-next,
.concCarousel .jcarousel-control-prev, .concCarousel .jcarousel-control-next {
	margin-top: -35px;
}

.prodCarousel .jcarousel-control-prev,
.concCarousel .jcarousel-control-prev {
	left: -20px;
} 

.prodCarousel .jcarousel-control-next,
.concCarousel .jcarousel-control-next {
	right: -20px;
}

.prodCarousel .b-catalog-list .b-item,
.concCarousel .b-catalog-list .b-item {
	width: 300px;
	margin: 0;
	padding: 25px 10px 0;
}

.jcarousel-wrapper .b-item .img-wrap {
	height: 150px;
	line-height: 150px;
}

.jcarousel-wrapper .b-item .img-wrap img {
	display: inline-block;
	vertical-align: bottom;
}

.prodCarousel .jcarousel-wrapper,
.concCarousel .jcarousel-wrapper {
	margin: 0 0 30px;
}

.jcarousel-wrapper .prod,
.jcarousel-wrapper .hit,
.jcarousel-wrapper .newest, 
.jcarousel-wrapper .saleyar,
.jcarousel-wrapper .specialprice,
.jcarousel-wrapper .transyar,
.jcarousel-wrapper .deliveryar {
	top: 0;
}

.jcarousel-wrapper .hit span,
.jcarousel-wrapper .prod span,
.jcarousel-wrapper .newest span,
.jcarousel-wrapper .saleyar span,
.jcarousel-wrapper .specialprice span,
.jcarousel-wrapper .transyar span,
.jcarousel-wrapper .deliveryar span {
	top: 12px;
}

.concLeft, .concRight {
	float: left;
}

.concLeft {
	width: calc(100% - 290px);
}

.concRight {
	width: 240px;
	padding-left: 50px;
}

.concRight a {
	display: block;
	font-size: 13px;
	margin-bottom: 10px;
	color: #28528d;
}

.catalogDivider {
	height: 9px;
	background: rgba(215,215,215,1);
	background: -moz-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(215,215,215,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(215,215,215,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(215,215,215,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	margin-bottom: 30px;
}

.cardCarousel .selectPik li.selekt {
	background: #fff;
	border: 1px solid #ffb200;
}

.cardCarousel .selectPik li {
	float: none;
	margin-bottom: 10px;
	padding: 5px;
	width: 110px;
	background: #fff;
	border: 1px solid #f0f0f0;
	text-align: center;
	line-height: 100px;
	position: relative;
}

.cardCarousel .selectPik li img {
	display: inline-block;
	vertical-align: middle;
}

.cardCarousel {
	width: 112px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.cardCarousel .jcarousel ul {
	width: 112px;
	height: 20000em;
}

.cardCarousel .jcarousel {
	height: 430px;
}

.cardCarousel .jcarousel-wrapper {
	margin: 0;
}

.cardCarousel .jcarousel-control-prev {
	background: url(../newImg/catalog-sprite.png) -64px -12px no-repeat;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
	left: 50%;
	margin-left: -18px;
	top: -19px;
	margin-top: 0;
}

.cardCarousel .jcarousel-control-prev:hover {
	background-position: -118px -12px;
}

.cardCarousel .jcarousel-control-next {
	background: url(../newImg/catalog-sprite.png) -64px -65px no-repeat;
	text-indent: -9999px;
	width: 36px;
	height: 36px;
	right: auto;
	top: auto;
	left: 50%;
	margin-left: -18px;
	bottom: -19px;
	margin-top: 0;
}

.cardCarousel .jcarousel-control-next:hover {
	background-position: -118px -65px;
}

.productPic {
	margin-left: 120px;
	height: 440px;
	text-align: center;
}

.lightBoxImg {
	width: 90%;
}


.lightBoxImg img {
	max-width: 100%;
}

.d-label {
	background: url(../newImg/3d-label.png) 50% 50% no-repeat;
	width: 100%;
	height: 33px;
	display: block;
	position: absolute;
	bottom: 10px;
	left: 0;
}